@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);
.font_pt{
    font-family: 'PT Sans', sans-serif;
    font-family: 400px;
}
/*-----------COLOR----------------------------*/
@blue_header: #198ac0;
@blue_dark: #1278a8;
/*------------------RESET-------------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  color: #000;
  background: #EAEAEA;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
a {
  outline: none; 
  -moz-outline: 0;
  border: none;
  border-width: 0;
  text-decoration: underline;
}
a:hover{text-decoration: none;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
img { border: none; border-width: 0px; }
p{
  margin-bottom:10px;
}
/* ----- h1- h6 ----- */
input:focus, textarea:focus, select:focus{outline: none!important;}
table { border-collapse: collapse; }
label{cursor: pointer;}
input { color: #575757; font-family: Arial;font-size: 14px; padding: 5px 6px;}
textarea {padding: 2px 6px; font-size: 14px; color: #575757; }
ul{list-style: none; margin: 0;}
.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  clear: both!important;
  visibility: hidden;
}
#wrapper {
  height: auto!important;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}
#header{
  min-height: 85px;
  min-width: 1210px;
  position: relative;
  background: @blue_header;
    .center{
        position: relative;
    }
}
.center{
  width: 1345px;
  margin: 0 auto;
}
//.cell.print_clinic {
//width: 38px;
//margin: 0 0 0 10px;
//}
.header__logo{
    width: 220px;
    height: 24px;
    display: block;
    position: absolute;
    left: 56px;
    top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    padding: 0 0 0 34px;
    .font_pt;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: url('../img/sprite_02.png') no-repeat -139px -4px;
            width: 24px;
            height: 24px
        }
}
.headerBtnMenu{
  background: url('../img/sprite_02.png') no-repeat;
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
    right: 21px;
    top: 28px;
}
.headerBtnMenu.active{
    background: #1278a8 url(../img/sprite_02.png) 28px 28px no-repeat;
    padding: 43px 42px;
    top: 0;
    right: -8px;
}
.menuWrap__hiddenMenu{
    border-bottom: 1px solid #146f9a;
    box-shadow:  0 5px 0 #cbe2ed;
    padding: 0 20px;
    background: #1278a8;
    display: none;
    position: relative;
    font-size: 0;
  li{
    .font_pt;
    font-size: 18px;
    display: inline-block;
  }
  .active{
      a{
          background: #198ac0;
      }
  }
    a{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 12px 23px;
            &:hover{
                background: #198ac0;
            }
    }
}
.cell.udpate{
    width: 45px;
}
.table .sort .status{
    width: 180px;
}
.menuWrap__reportMenu{
    padding: 26px 30px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}
.menuWrap__reportMenu__list{
    float: left;
    width: 72%;
    li{
        display: block;
        float: left;
        vertical-align: top;
        font-size: 14px;
        .font_pt;
        font-weight: bold;
        color: #FFF;
        a{
            color: #1278a8;
            display: block;
            padding: 11px 10px;
            transition: all .4s;
                &:hover{
                    border-bottom-color: transparent;
                    transition: all .4s;
                    color: #333;
                }
        }
        &:nth-child(3){
            margin-left: 20px;
        }
         &.active{
            background: #f2f2f2;
            color: #000;
             margin-left: 1px;
                a{
                    color: #333;
                    text-decoration: none;
                }
        }
    }
}
.menuWrap__reportMenu__list__btn{
     margin:0 1px 0 0 !important;
    a{
        background: @blue_header;
        position: relative;
        content: '';
        display: block;
        min-width: 40px;
        text-decoration: none;
        height: 40px;
        color: #FFF !important;
        text-align: center;
        &:hover{
            background: @blue_dark;
        }
    }
}
.menuWrap__reportMenu__selectBox{
  float: right;
  width: 28%;
    select{
      float: right;
      margin: 0 0 0 20px;
    }
    .menuWrap__reportMenu__selectBox__addBtn{
      float: right;
        display: inline-block;
        text-decoration: none;
        width: 49px;
        height: 43px;
        position: relative;
        background: #a6d079;
            &:before{
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                background: url('../img/sprite_02.png') no-repeat -64px -31px;
                width: 18px;
                height: 13px;
                margin: -7px 0 0 -9px;
            }
    }
}

.moneyInfo{
    padding: 10px 30px;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
    color: #C00;
    border-bottom: solid 1px #EAEAEA;
}


.row.caption{
    .affiliates{
        height: auto !important;
    }
    .successing{
        width: 104px;
    }
}
.row.sort{
//    .generalSum{
//        width: 90px;
//        min-width: 90px;
//        min-height: 1px;
//    }
//    .chosen-container-single .chosen-single{
//        height: 30px;
//        line-height: 30px;
//    }
}
.table{
    background: #fff;
//  .row{
//        padding: 0 30px;
//  }
//  .caption{
//    background: #f7f7f7;
//    color: #000;
//    text-align: center;
//    .font_pt;
//    font-weight: bold;
//          a{
//        background: #f7f7f7;
//        padding: 10px 0;
//        color: #000;
//        text-align: center;
//        .font_pt;
//        font-weight: bold;
//        text-decoration: none;
//          }
//  }
//  .sort{
//    text-align: center;
//    padding: 3px 30px 7px;
//      background: #f7f7f7;
//      border-bottom: 1px solid #e6e6e6;
//      .generalSum{
//        span{
//
//        }
//      }
//      .date{
//        span{
//          font-size: 12px;
//        }
//      }
//              select{
//            width: 100%;
//        }
//  }
  .cell{
    float: left;
    text-align: center;
//    vertical-align: top;
        input[type="text"]{
            width: 95%;
            float: left;
        }
  }
//  .legalName{
//    width: 380px;
//  }
.print_icon{
    margin: 0 -6px 0 41px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    position: relative;
        &:before{
            content: "";
            position: absolute;
            left: -18px;
            top: 3px;
            background: url('../img/sprite_02.png') no-repeat -156px -35px;
            width: 13px;
            height: 15px;
        }
}
//.print_clinic .import_exel_single{
//    color: #000;
//    font-weight: bold;
//    text-decoration: none;
//    position: relative;
//        &:before{
//            content: "";
//            position: absolute;
//            left: -18px;
//            top: 3px;
//            background: url('../img/sprite_02.png') no-repeat -156px -35px;
//            width: 13px;
//            height: 15px;
//        }
//}
  .actualName{
    width: 175px;
  }
//  .affiliates{
//    width: 90px;
//      a{
//        font-size: 14px;
//          color: #1278a8;
//          text-decoration: none;
//          border-bottom: 1px dashed #b7d6e5;
//          transition: all .4s;
//              &:hover{
//                  border-bottom-color: transparent;
//              }
//      }
//  }
  .recording{
    width: 75px;
  }
  .surviving{
    width: 105px;
      sup{
        font-size: 9px;
        position: relative;
        top: -5px;
      }
  }
.successing{
    width: 95px;
}
  .status{
    width: 190px;
  }
  .date{
    width: 75px;
  }
  .generalSum{
//    min-width: 90px;
      span{
        display: block;
      }
      .red{

      }
      .green{
        color: #629c44;
      }
  }
  .edit{
    max-width: 40px;
    min-width: 40px;
      display: none;
     .editBtn{
      display: inline-block;
      width: 24px;
      height: 24px;
       background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAVQAAAFUBceom8QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFASURBVEiJtZRNSgNBEEZfTYJCkoUg3kLBE3gH1y5cuTZ38BDuEqMJeAJXxqg5gCCIZ/ACgqB+LqYnzIw9v5001KZq5r2iCsokscnXXQfEzLaAY6AP3Er6XBUlBYWDPgNy8QrsruqBcAPuU/AkXoAdSUQBY+kotoyBn1z5EDgH2gnMbAAszGwoaQaceiQfQPMRAQOyMx+6/Anw7XJToNN4B/xfqE8ySeCNBA7+5IFnJPmotQMz6wN3wFHJZwfebM3OH0s6FzACIu//FfBeDfi4CF4qcPBFBfyqDF4oWBfcK3Dwhwr4pA68SHBZAb+uC88IiM9GD9gjvojB8LxgH5iXSG6awvOCMwfySaZt4HnBKNVtWnJB6raECN5zI5kD223BSXQBzCwiPsNvwJL4Yi4lfRH4zHWPmUWSfkOBhYJNvT8hH0WoBy10YAAAAABJRU5ErkJggge2cd625a5dfb068575d21960c945f744');
    }
  }
  .sortBtn{
    display: inline-block;
    background: url('../img/sprite_02.png') no-repeat -67px -49px;
    width: 12px;
    height: 10px;
    margin: 0 0 0 7px;
  }
}
.line{
    border-bottom: 1px solid #ebebeb;
  .cell{
    padding: 10px 0;
  }
  .legalName{
    text-align: left;
  }
  .actualName{
    text-align: left;
  }
//  .legalName{
//    padding: 10px 20px 10px 5px;
//  }
}
.hiddenRow{
  clear: both;
  width: 100%;
  border-top: none;
}


.line.active .status{
    display: none;
}

//.hiddenAffiliates__left__decription{
//  float: left;
//  width: 250px;
//  padding: 0 15px 0 0;
//    li{
//        margin: 0 0 40px;
//      span{
//        display: block;
//        font-size: 14px;
//        margin: 0 0 3px;
//          font-weight: normal;
//      }
//        strong{
//            font-weight: normal;
//        }
//      p{
//        font-size: 12px;
//          font-weight: normal;
//      }
//    }
//}
//.hiddenAffiliates__left__options{
//  float: left;
//  width: 682px;
//}

//.hiddenAffiliates__left__options__row{
//    margin: 0 0 10px;
//    padding-left: 20px;
//    position: relative;
//}
//.hiddenAffiliates__textWrapper{
//    margin: -11px 0 0;
//    position: relative;
//}
.legalName a{
    text-decoration: none;
    color: #000;
}
//.download_file_text{
//    padding:  0 0 10px 7px !important;
//}
//.download_file_text a{
//    color: #1278a8;
//    text-decoration: none;
//    border-bottom: 1px dashed #b7d6e5;
//        &:hover{
//            border-color: transparent;
//        }
//}
//.menuWrap__reportMenu__selectBox .chosen-container-single .chosen-single{
//    padding: 0 0 0 17px !important;
//}


//.hiddenAffiliates__right__bottom{
//  padding: 0 0 0 20px;
//  ul{
//    li{
//      margin: 0 0 5px;
//      padding: 5px 10px;
//    }
//    span{
//      float: left;
//      margin: 0 0 0 10px;
//      font-size: 14px;
//    font-weight: normal !important;
//        &:first-child{
//          margin: 0;
//          width: 33%;
//        }
//        &:nth-child(2){
//          width: 23%;
//          font-weight: bold;
//        }
//        &:last-of-type{
//          width: 33%;
//        }
//    }
//    .red{
//
//    }
//    .green{
//      color: #629c44;
//    }
//  }
//}
//.hiddenAffiliates__right__top__invoice{
//  width: 80px;
//    margin: 0 0 5px;
//}
.hiddenAffiliates__right__top__calendarWrap{
    display: none;
    position: relative;
    width: 120px;
    margin-top: 2px;
        input[type='text']{
            border: 1px solid  #EAEAEA;
            border-radius: 3px;
            height: 35px;
            padding: 8px 5px;
            display: block;
            text-align: center;
            font-weight: bold;
            width: 110px !important;
        }
        .save_status{
            cursor: pointer;
            font-size: 0;
            right: 0;
            top: 0;
            position: absolute;
            height: 35px;
            width: 32px;
            background: #a6d079;
            border-radius: 0 3px 3px 0;
                &:before{
                content: "";
                background: url('../img/sprite_02.png') no-repeat -64px -31px;
                width: 18px;
                height: 13px;
                    margin: -7px 0 0 -9px;
                position: absolute;
                left: 50%;
                top: 50%;
                }
        }
}
.hiddenAffiliates__right__top__price{
    font-size: 18px;
    color: #E76150 ;
    font-weight: bold;
    position: relative;
    width: 120px;
    text-align: center;
    margin: 20px 0;
      input[type='text']{
        width: 100%;
        border: 1px solid #ccc;
        padding: 5px 27px 5px 2px;
      }
  label{
    border-left: 1px solid #ccc;
    width: 26px;
    background: #e2ee79;
    height: 26px;
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 11px;
  }
}
.hiddenAffiliates__right__top__calendarWrap__close{
    padding: 0 23px 0 0;
    float: right !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #E76150 ; 
    border-left: 50px solid transparent;
    .hiddenAffiliates__right__top__btnClose{
        background: url(../img/sprite_02.png) no-repeat -100px -5px;
        width: 11px;
        height: 11px;
        position: absolute;
        left: -18px;
        top: -41px;
        display: block;
        }
}
.activeAffiliates{
  border: 1px solid #000;
    .affiliates{
      background: #ffeceb;
      border: 1px solid #fad2e0;
      border-bottom: none;
      position: relative;
      top: 2px;
    }
}
.hiddenWrap{
  display: none;
  overflow: hidden;
  clear: both;
}
.calendar_status {
    padding: 0;
    width: 55% !important;
}
.pagination{
    .center;
    width: 1350px;
    text-align: center;
    padding: 20px 0 60px;
    background: #fff;
}
.paginator{
    display: inline;
    text-align: center;
    .hidden{
        display: none;
    }
        li{
            display: inline-block;
                a{
                    font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    background: #F1F1F1;
                    padding: 7px 14px;
                    display: inline-block;
                    color: #333;
                        &:hover{
                            background: #e4e4e4;
                        }
                }
        }
        .selected{
                a{
                    color: #FFF;
                    background: #5485ab;
                }
            &:hover{
                a{
                    color: #FFF;
                    background: #5485ab;
                }
            }
        }
}
.menuWrap{
//    .chosen-container-single .chosen-single div b:before {
//        top: 19px;
//        border-top: 5px solid #000;
//    }
//    .chosen-container-single .chosen-single div b{
//        background: none !important;
//        border: none !important;
//    }
//    .chosen-container-single .chosen-single{
//        border: none !important;
//        background: #f2f2f2;
//    }
//    .chosen-container{
//        float: right;
//    }
//    .chosen-search{
//        display: none;
//    }
//    .chosen-container-single .chosen-single span{
//        font-size: 14px;
//        color: #000;
//    }
}
.menuWrap__reportMenu__selectBox {
    .chosen-container{
        width: 60px !important;
        margin: 0 0 0 2px;
        float: right;
    }
    .data_select_one{
        float: right;
        display: inline-flex;
        margin-left: 2px;
        input[type="button"]{
            background: url(../img/svg/iris.svg) center no-repeat #EAEAEA;
            border:none;
            padding: 10px 15px;
            display: inline-block;
            margin-left: 1px;
            cursor: pointer;
            &:hover{
                background: url(../img/svg/iris_fff.svg) center no-repeat #198ac0;
            }
        }
        input[type="text"]{
            width: 90px !important;
            margin: 0 0 0 1px;
            padding: 10px 0;
            display: inline-block;
            color: #333;
            font-size: 14px;
            text-align: center;
            border: none;
            background: #EAEAEA;
        }
    }
}
.sort .affiliates{
    a{
        visibility: hidden;
    }
}

.caption__statusExpense span{
  &:last-of-type{
      color: #96bf6a;
  }
}
.sort{
//    .chosen-container-single .chosen-single div {
//        width: 30px !important;
//    }
//    .chosen-container-single .chosen-single div b:before {
//        content: "";
//        position: absolute;
//        left: -20px;
//        top: 14px;
//        width: 0;
//        height: 0;
//        border-left: 4px solid transparent;
//        border-right: 4px solid transparent;
//        border-top: 5px solid #000;
//    }
//    .chosen-container-single .chosen-single div b:after{
//        content: "";
//        position: absolute;
//        right: 8px;
//        top: 10px;
//        background: url(../img/sprite_02.png) no-repeat -67px -49px;
//        width: 12px;
//        height: 10px;
//
//    }
//    .chosen-container-single .chosen-single span{
//        text-align: left;
//        padding: 0 32px 0 27px;
//        position: relative;
//        color: #000;
//        font-weight: normal;
//        font-size: 14px;
//    }
//    .chosen-container-single .chosen-single{
//        padding: 0;
//    }   
}
.row.line.active{
    position: relative;
//    background: #FFF   !important;
    padding: 10px 30px 0 30px;
    .hiddenRow {
        clear: both;
        width: 100%+60px;
        margin: 0 0 0 -30px;
        border-top: 0;
        font-weight: normal !important;
    }
   .affiliates{
        background: #f9f9f9;
        border: 1px solid #EAEAEA;
        border-bottom: none;
        position: relative;
        top: 4px;
        height: 36px !important;
    }
}
.hiddenAffiliates__right__top{
//    .chosen-container{
//        width: 170px !important;
//    }
//    .chosen-container-single .chosen-single div {
//        width: 36px !important;
//    }
//    .chosen-container-single .chosen-single div b:before{
//        display: none;
//    }
//    .chosen-container-single .chosen-single span{
//        padding: 0 27px;
//    }
//    .chosen-container-single .chosen-single div b:after{
//        //content: "";
//        position: absolute;
//        left: 50%;
//        top: 50%;
//        background: url('../img/sprite_02.png') no-repeat -100px -30px;
//        width: 13px;
//        height: 14px;
//        margin: -7px 0 0 -7px;
//    }
//    .chosen-container-single .chosen-single{
//        padding: 0;
//    }
//    .chosen-container-single .chosen-single span{
//        font-size: 14px;
//        color: #000;
//        font-weight: normal;
//    }
}
//.hiddenAffiliates__right__top__calendarWrap input[type=text]{
//    text-align: center;
//    font-weight: bold;
//    color: #000;
//}

//.hiddenRow {
//    .chosen-results{
////    li{
////        position: relative;
////            &:before{
////                content: "";
////                width: 10px;
////                height: 10px;
////                border-radius: 100px;
////                position: absolute;
////                left: 10px;
////                top: 12px;
////            }
////    }
//    li:nth-child(1):before{
//        background: #e8e8e8;
//    }
//    li:nth-child(2):before{
//        background: #ffd032;
//    }
//    li:nth-child(3):before{
//        background: #de2810;
//    }
//    li:nth-child(4):before{
//        background: #a6d079;
//    }
//}
//}
.status .circle{
    top: -20px;
}
.menuWrap__reportMenu__selectBox  li:before{
    display: none !important;
}
.status_color_1{
    .red{
        color: #000;
    }
//    .affiliates{
//        background: #fff !important;
//    }

    .hiddenAffiliates__left {
        border-color: #EAEAEA;
        background: #F9F9F9;
    }
//   .affiliates{
//        border-color: #EAEAEA !important;
//    }
    .hiddenAffiliates__right{
        border-color: #EAEAEA;
    }
}
.status_color_2{
    background: #fff9e5;
        .red{
            color: #000;
        }
    .affiliates{
//        background: #fff9e5 !important;
    }
    .hiddenAffiliates__left {
        border-color:  #F2E0A2;
    }
   .affiliates{
        border-color: #F2E0A2 !important;
    }
    .hiddenAffiliates__right{
        border-color: #F2E0A2;
    }
}
.status_color_3{
    background: #fff2f1;
        .red{
            color: #de2810;
        }
    .affiliates{
        background: #fff2f1 !important;
    }
}
.status_color_4{
    background: #f5feec;
        .affiliates{
            background: #f5feec !important;
        }
        .red{
            color: #acd382;
        }
    .affiliates{
        background: #e1fdc4;
    }
    .hiddenAffiliates__left {
        border-color:  #D4E8C0;
        border-color: #D4E8C0;
    }
   .affiliates{
        border-color: #D4E8C0 !important;
    }
    .hiddenAffiliates__right{
        border-color: #D4E8C0;
        box-shadow: inset 3px 0 0 #F0F9E7;
        background: #FAFFF4;
    }
}
//.table .chosen-container-single .chosen-single div b {
//background-color: #f8f8f8 !important;
//}
.line .affiliates{
    width: 99px;
}
//.substrLine{
//    color: #88bbd3;
//}
//.chosen-container .chosen-results li{
//    font-size: 14px !important;
//    font-weight: normal !important;
//    text-align: left !important;
//}
//.chosen-container .chosen-drop li{
//    padding: 10px 0 10px 30px !important
//}
.chosen-container .chosen-drop{
    background: #fff !important;
    top: 102% !important;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  background-image: none !important;
  box-shadow: none !important;
}
//.chosen-container-single .chosen-single span{
//    text-align: left !important;
//}
//.hiddenAffiliates__right__top__calendarWrap__selectDate{
//    clear: both;
//    text-align: center;
//    width: 160px;
//    margin: 10px 0 0 0;
//    cursor: pointer;
//        span{
//            font-weight: normal;
//            color: #1278a8;
//            font-size: 16px;
//            border-bottom: 1px dashed #4192b8;
//            transition: all .4s;
//            position: relative;
//            &:before{
//                content: "";
//                position: absolute;
//                left: -16px;
//                top: 50%;
//                background: url('../img/sprite_02.png') no-repeat -140px -57px;
//                width: 10px;
//                height: 11px;
//                margin: -5px 0 0;
//            }
//            &:hover{
//                border-bottom-color: transparent;
//                transition: all .4s;
//            }   
//        }
//}
.hiddenAffiliates__right__top__calendarWrap input[type=text]{
//    font-weight: normal !important;
    font-size: 14px;
    .font_pt;
}
.contactUser{
    font-size: 11px !important;
}
.nameUser, .phoneUser{
    font-size: 12px !important;
}
.addressClinic{
    font-size: 12px !important;
    font-weight: normal !important;
    color: #7f7c7b !important;
}
.clear{
    float: right;
    margin: 0 48px 0 0;
    background: url('../img/sprite_02.png') no-repeat -153px -54px;
    width: 19px;
    height: 15px;
    cursor: pointer;
        &:hover{
            background: url('../img/sprite_02.png') no-repeat -154px -74px;
            width: 19px;
            height: 15px;
        }
}
.difference{
    font-style: normal;
    font-size: 10px;
    position: absolute;
    margin: 1px 0 0 7px;
    font-weight: bold;
    color: #E76150;
    left: 35px;
}
.main_number{
    float: left;
}
.business-top-form{
    max-width: 800px;
    padding: 8px 0 0;
    margin: 0 auto;
        p{
            strong{
                font-size: 48px;
                font-family: 'PT Sans', sans-serif;
                font-weight: 700;
                text-align: center;
                margin: 0 0 29px;
                display: block;
            }
        }
}
.business-form-wrapper{

    padding: 8px 0 0;
    margin: 0 auto;
        .row{
            margin: 0 0 10px;
        }
        input[type='text']{
            width: 100%;
            border: 1px solid #dcdddd;
            height: 43px;
            padding: 3px 10px;
            font-size: 16px;
            color: #444;
        }
        textarea{
            max-width: 100%;
            min-width: 100%;
            border: 1px solid #dcdddd;
            height: 43px;
            padding: 10px;
            font-size: 16px;
            color: #444;
            font-size: 16px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            min-height: 113px;
        }
        ._save_btn{
            border: 1px solid #b01916;
            background: #f24841;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            padding: 7px 45px;
            cursor: pointer;
            margin: 0 12px 0 0;
            float: left;
                &:hover{
                    background: #b11916;
                }
        }
        .row_link{
            float: right;
            width: 200px;
                a{
                    display: block;
                    text-decoration: none;
                    border: 1px solid #124A0E;
                    background: #2CB571;
                    color: #fff;
                    font-family: 'PT Sans', sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    padding: 7px 45px;
                        &:hover{
                            background: #4DB581;
                        }
                }
        }
        .note-form{
            position: relative;
                &:before{
                    content: "";
                    width: 3px;
                    height: 41px;
                    background: #f24841;
                    border: 1px solid #d13630;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 2;
                }
        }
}
.is_error{
    background: #f24841;
    position: absolute;
    left: -105px;
    top: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    padding: 2px 8px;
        &:before{
            position: absolute;
            right: -5px;
            top: 5px;
            content: "";
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 5px solid #f24841;
            border-bottom: 5px solid transparent;
        }
}
@font-face {
  font-family: 'clear';
  src: url('../font/clear.eot?59753727');
  src: url('../font/clear.eot?59753727#iefix') format('embedded-opentype'),
       url('../font/clear.woff?59753727') format('woff'),
       url('../font/clear.ttf?59753727') format('truetype'),
       url('../font/clear.svg?59753727#clear') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'update';
  src: url('../font/update.eot?19507963');
  src: url('../font/update.eot?19507963#iefix') format('embedded-opentype'),
       url('../font/update.woff?19507963') format('woff'),
       url('../font/update.ttf?19507963') format('truetype'),
       url('../font/update.svg?19507963#update') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon"]:before, [class*=" icon"]:before {
  font-style: normal;
}
.iconclear:before { 
    content: '\e800'; 
    font-family: "clear";
    color: #dbdbdb;
    display: block;
    transition: all .4s;
} 
.iconupdate:before {
    content: '\e801'; 
    font-family: "update";
    color: #dbdbdb;
    display: block;
    transition: all .4s;
} 
.iconupdate:hover:before,
.iconclear:hover:before{
            color: #1278A8;
            transition: all .4s;
        }
.iconclear,
.iconupdate{
    text-decoration: none;
    font-size: 7px;
}
//.line .update{
//    width: 25px;
//}
//.line .deleted{
//    width: 50px;
//}
.table_law{
    .legalName {
        width: 165px;
    }
    .actualName {
        width: 190px;
    }
    .address{
        width: 160px;
    }
    .numb_agree{
        width: 160px;
    }
    .name{
        width: 205px;
        text-align: left;
    }
    .agreement{
        width: 150px;
    }
    .row{
        .status{
            margin-left: 30px !important;
        }
    }
    .filter-table{
        .cell{
            text-align: left;
        }
        .udpate{
            width: 33px;
            margin: 0 0 0 11px;
        }
    } 
}
.row.active{
    .hiddenRow {
        display: none;
    }
}

.summary{
    display: inline;
}
.exel_form{
    clear: both;
    padding: 38px 0 0 0;
        .import_exel {
            background: #f24841;
            color: #fff;
            font-family: 'PT Sans',sans-serif;
            font-weight: 700;
            font-size: 16px;
            padding: 7px 23px;
            cursor: pointer;
            margin: 0 25px 0 0;
                &:hover{
                    background: #b11916;
                }
        }
        label{
            margin: 0 10px 0 0;
            font-size: 16px;
            vertical-align: top;
        }
}
.check_wrapper{
    float: left;
}
.btn_wrapper_down {
    float: right;
        .import_exel{
            padding: 5px 20px !important;
            margin: 0 !important;
            background: #f2f2f2 !important;
            color: #000 !important;
            border: none !important;
            position: relative !important;
            font-size: 14px !important;
            transition: all .4s;
//                &:before{
//                    content: "";
//                    background: url('../img/sprite_02.png') no-repeat -156px -35px;
//                    width: 13px;
//                    height: 15px;
//                    position: absolute;
//                    left: 12px;
//                    top: 50%;
//                    margin: -7px 0 0 0;
//                }
                &:hover{
                    background: #1278a8 !important;
                    color: #fff !important;
                    transition: all .4s;
                        &:before{
                            background-position: -138px -35px;
                        }
                }
        }
}
.hiddenAffiliates__right__top {
    .chosen-single{
        position: relative;
//            &:before{
//                content: "";
//                width: 0;
//                height: 0;
//                border-left: 5px solid transparent;
//                border-right: 5px solid transparent;
//                border-top: 5px solid #000;
//                position: absolute;
//                right: 10px;
//                top: 50%;
//                margin: -3px 0 0 0;
//            }
    }
//    .chosen-container-single .chosen-single div b {
//        background: none !important;
//        border-left: none !important;
//    }
}
.text-uid{
    float: left;

}
._create_block  .text-uid:nth-child(even) {
margin: 0 0 10px 172px;
}

.text-dollar label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('http://a.medbooking.com/themes/apinew/css/../img/dollar.png') no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 0.2;
}
.text-pen label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('http://a.medbooking.com/themes/apinew/css/../img/dollar.png') no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 0.2;
}
.text-pencil label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('http://a.medbooking.com/themes/apinew/css/../img/pencil.png') no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 0.2;
}
.text-uid.text-phone{

    label{
            &:before{
                content: " ";
                height: 17px;
                left: 17px;
                position: absolute;
                top: 20px;
                width: 17px;
                background: url(../img/sprite.png)  -197px -274px no-repeat;
            }
    }
}
.text-uid.text-email label:before {
content: " ";
position: absolute;
left: 20px;
top: 20px;
width: 18px;
height: 19px;
background: url(http://a.medbooking.com/themes/apinew/css/../img/sprite.png) -263px -113px no-repeat;
}
.text-uid.text-pencil label:before {
content: '';
position: absolute;
left: 50%;
top: 50%;
background: url('http://a.medbooking.com/themes/apinew/css/../img/pencil.png') no-repeat;
width: 16px;
height: 16px;
margin: -8px 0 0 -8px;
opacity: 0.2;
}
.text-uid.text-dollar label:before {
content: '';
position: absolute;
left: 50%;
top: 50%;
background: url('http://a.medbooking.com/themes/apinew/css/../img/dollar.png') no-repeat;
width: 16px;
height: 16px;
margin: -8px 0 0 -8px;
opacity: 0.2;
}
//.row.line .update a, .row.line .deleted a{
//    display: block;
//    width: 100%;
//    height: 16px;
//}
 































































































/* iCheck plugin Polaris skin
----------------------------------- */
.icheckbox_polaris,
.iradio_polaris {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    background: url(../img/polaris.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_polaris {
    background-position: 0 0;
}
.icheckbox_polaris.hover {
    background-position: -31px 0;
}
.icheckbox_polaris.checked {
    background-position: -62px 0;
}
.icheckbox_polaris.disabled {
    background-position: -93px 0;
    cursor: default;
}
.icheckbox_polaris.checked.disabled {
    background-position: -124px 0;
}

.iradio_polaris {
    background-position: -155px 0;
}
.iradio_polaris.hover {
    background-position: -186px 0;
}
.iradio_polaris.checked {
    background-position: -217px 0;
}
.iradio_polaris.disabled {
    background-position: -248px 0;
    cursor: default;
}
.iradio_polaris.checked.disabled {
    background-position: -279px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_polaris,
    .iradio_polaris {
        background-image: url(../img/polaris@2x.png);
        -webkit-background-size: 310px 31px;
        background-size: 310px 31px;
    }
}
.skin:hover .arrows .top,.skin:hover .arrows .bottom{left:0}
.skin h3{position:relative;z-index:20;float:left;height:60px;padding:0 57px;line-height:58px;background:#fff;border:3px solid #ddd8ce;border-bottom:none;}
.skin h3:before{content:'';position:absolute;top:100%;left:0;width:100%;height:2px;margin-top:-1px;background:#fff}
.skin.skin-polaris h3{color:#cacdd1;background:#2c323c;}
.skin.skin-polaris h3:before{background:#2c323c}
.skin.skin-futurico h3{color:#c3c3c3;background:#2e3035;}
.skin.skin-futurico h3:before{background:#2e3035}
.skin dl{z-index:10;width:100%;margin:0}
.skin dt{position:relative;top:-53px;right:-3px;float:right;height:47px;margin-right:-3px;padding:0 57px;line-height:47px;border:3px solid #ddd8ce;cursor:pointer;}
.skin dt:hover{background:#f0ede7;border-bottom:3px solid #ddd8ce}
.skin dt.selected{height:50px;background:#fff;border-bottom:none;cursor:default;}
.skin dt.selected:before{content:'';position:absolute;top:100%;left:0;width:100%;height:2px;margin-top:-1px;background:#fff}
.skin.skin-polaris dt{color:#cacdd1;background:#647083;}
.skin.skin-polaris dt:hover{background:#4a5361}
.skin.skin-polaris dt.selected{background:#2c323c;}
.skin.skin-polaris dt.selected:before{background:#2c323c}
.skin.skin-futurico dt{color:#c3c3c3;background:#676c77;}
.skin.skin-futurico dt:hover{background:#4b4e56}
.skin.skin-futurico dt.selected{background:#2e3035;}
.skin.skin-futurico dt.selected:before{background:#2e3035}
.skin dd{position:relative;display:none;float:left;width:100%;margin:-3px -100% 0 0;overflow:hidden;color:#444;background:#fff;border:3px solid #ddd8ce;}
.skin dd.selected{display:block}
.skin dd a{color:#444;}
.skin dd a:hover{color:#111}
.skin.skin-polaris dd{color:#7a828b;background:#2c323c;}
.skin.skin-polaris dd a{color:#7a828b;border-bottom-color:#4e596b;}
.skin.skin-polaris dd a:hover{color:#a2a7ae}
.skin.skin-futurico dd{color:#888;background:#2e3035;}
.skin.skin-futurico dd a{color:#888;border-bottom-color:#545861;}
.skin.skin-futurico dd a:hover{color:#aaa}
.skin-section{float:left;padding:42px 0 31px 57px;line-height:18px;}
.skin-section h4{padding-bottom:18px;}
.skin-polaris .skin-section h4{color:#959ba2}
.skin-futurico .skin-section h4{color:#a0a0a0}
.skin-section .list{float:left;padding-right:60px;}
.skin-section .list li{position:relative;padding-bottom:15px}
.skin-minimal .skin-section .list li{padding-left:38px}
.skin-square .skin-section .list li{padding-left:42px}
.skin-flat .skin-section .list li,.skin-line .skin-section label{padding-left:40px}
.skin-line .skin-section h4{padding-bottom:24px}
.skin-line .skin-section .list{padding-right:40px;}
.skin-line .skin-section .list li{padding-bottom:10px}
.skin-polaris .skin-section .list li{padding-left:37px}
.skin-futurico .skin-section .list li{padding-left:36px}
.icheckbox_minimal,.icheckbox_minimal-red,.icheckbox_minimal-green,.icheckbox_minimal-blue,.icheckbox_minimal-aero,.icheckbox_minimal-grey,.icheckbox_minimal-orange,.icheckbox_minimal-yellow,.icheckbox_minimal-pink,.icheckbox_minimal-purple,.iradio_minimal,.iradio_minimal-red,.iradio_minimal-green,.iradio_minimal-blue,.iradio_minimal-aero,.iradio_minimal-grey,.iradio_minimal-orange,.iradio_minimal-yellow,.iradio_minimal-pink,.iradio_minimal-purple{position:absolute;top:1px;left:0}
.skin input[type=checkbox],.skin input[type=radio]{position:absolute;top:2px;left:0}
.icheckbox_square,.icheckbox_square-red,.icheckbox_square-green,.icheckbox_square-blue,.icheckbox_square-aero,.icheckbox_square-grey,.icheckbox_square-orange,.icheckbox_square-yellow,.icheckbox_square-pink,.icheckbox_square-purple,.iradio_square,.iradio_square-red,.iradio_square-green,.iradio_square-blue,.iradio_square-aero,.iradio_square-grey,.iradio_square-orange,.iradio_square-yellow,.iradio_square-pink,.iradio_square-purple{position:absolute;top:-1px;left:0}
.icheckbox_flat,.icheckbox_flat-red,.icheckbox_flat-green,.icheckbox_flat-blue,.icheckbox_flat-aero,.icheckbox_flat-grey,.icheckbox_flat-orange,.icheckbox_flat-yellow,.icheckbox_flat-pink,.icheckbox_flat-purple,.iradio_flat,.iradio_flat-red,.iradio_flat-green,.iradio_flat-blue,.iradio_flat-aero,.iradio_flat-grey,.iradio_flat-orange,.iradio_flat-yellow,.iradio_flat-pink,.iradio_flat-purple{position:absolute;top:0;left:0}
.icheckbox_polaris,.iradio_polaris{position:absolute;top:-4px;left:-6px}
.icheckbox_futurico,.iradio_futurico{position:absolute;top:2px;left:0}
.skin-states{float:right;padding-right:57px;padding-left:0;}
.skin-states .state{cursor:default !important}
.skin-states .list{padding-right:0}
.skin-minimal .skin-states .list li{padding-left:71px}
.skin-square .skin-states .list li{padding-left:79px}
.skin-flat .skin-states .list li{padding-left:75px}
.skin-line .skin-states .list{padding-right:0}
.skin-polaris .skin-states .list li{padding-left:69px}
.skin-futurico .skin-states .list li{padding-left:67px}
.skin-states .iradio_minimal,.skin-states .iradio_minimal-red,.skin-states .iradio_minimal-green,.skin-states .iradio_minimal-blue,.skin-states .iradio_minimal-aero,.skin-states .iradio_minimal-grey,.skin-states .iradio_minimal-orange,.skin-states .iradio_minimal-yellow,.skin-states .iradio_minimal-pink,.skin-states .iradio_minimal-purple{left:33px}
.skin-states .iradio_square,.skin-states .iradio_square-red,.skin-states .iradio_square-green,.skin-states .iradio_square-blue,.skin-states .iradio_square-aero,.skin-states .iradio_square-grey,.skin-states .iradio_square-orange,.skin-states .iradio_square-yellow,.skin-states .iradio_square-pink,.skin-states .iradio_square-purple{left:37px}
.skin-states .iradio_flat,.skin-states .iradio_flat-red,.skin-states .iradio_flat-green,.skin-states .iradio_flat-blue,.skin-states .iradio_flat-aero,.skin-states .iradio_flat-grey,.skin-states .iradio_flat-orange,.skin-states .iradio_flat-yellow,.skin-states .iradio_flat-pink,.skin-states .iradio_flat-purple{left:35px}
.skin-states .iradio_polaris{left:26px}
.skin-states .iradio_futurico{left:31px}
.colors{clear:both;padding:24px 0 9px;}
.skin-line .colors{padding-top:28px}
.colors strong{float:left;line-height:20px;margin-right:20px}
.colors li{position:relative;float:left;width:16px;height:16px;margin:2px 1px 0 0;background:#000;cursor:pointer;filter:alpha(opacity=50);opacity:.5;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s;}
.colors li:hover{filter:alpha(opacity=100);opacity:1}
.colors li.active{height:20px;margin-top:0;filter:alpha(opacity=75);opacity:.75}
.colors li.red{background:#d54e21}
.colors li.green{background:#78a300}
.colors li.blue{background:#0e76a8}
.colors li.aero{background:#9cc2cb}
.colors li.grey{background:#73716e}
.colors li.orange{background:#f70}
.colors li.yellow{background:#fc0}
.colors li.pink{background:#ff66b5}
.colors li.purple{background:#6a5a8c}
.skin-square .colors li.red{background:#e56c69}
.skin-square .colors li.green{background:#1b7e5a}
.skin-square .colors li.blue{background:#2489c5}
.skin-square .colors li.aero{background:#9cc2cb}
.skin-square .colors li.grey{background:#73716e}
.skin-square .colors li.yellow{background:#fc3}
.skin-square .colors li.pink{background:#a77a94}
.skin-square .colors li.purple{background:#6a5a8c}
.skin-square .colors li.orange{background:#f70}
.skin-flat .colors li.red{background:#ec7063}
.skin-flat .colors li.green{background:#1abc9c}
.skin-flat .colors li.blue{background:#3498db}
.skin-flat .colors li.grey{background:#95a5a6}
.skin-flat .colors li.orange{background:#f39c12}
.skin-flat .colors li.yellow{background:#f1c40f}
.skin-flat .colors li.pink{background:#af7ac5}
.skin-flat .colors li.purple{background:#8677a7}
.skin-line .colors li.yellow{background:#ffc414}
.skins-info{padding:13px 0 57px;font-size:16px;line-height:22px;text-align:center;}
.skins-info p{margin-bottom:17px}
.skins-info .skins-banner{margin:34px 0 3px;}
.skins-info .skins-banner a{display:block;width:728px;height:90px;margin:0 auto;overflow:hidden;text-indent:100%;white-space:nowrap;background:url(banner.jpg);-webkit-transition:opacity 0.4s ease;-moz-transition:opacity 0.4s ease;-o-transition:opacity 0.4s ease;transition:opacity 0.4s ease;border:none;}
.skins-info .skins-banner a:hover{opacity:.8;}
.skin-pre{padding:43px 60px 0}
.skin-usage{padding:19px 60px 8px;list-style:decimal outside;}
.skin-usage li{margin-bottom:23px}
.skin-usage .schemes{margin-bottom:-3px;padding:13px 0 0 20px;color:#888;}
.skin-usage .schemes ul{float:left;padding-right:60px}
.skin-usage .schemes li{margin:0;padding-bottom:3px}
.usage{position:relative;margin-bottom:80px;background:#fff;}
.usage a{border-bottom-color:#ddd}
.usage .self{border-bottom-color:#bbb}
.usage .arrows{top:0}
.usage:hover .arrows .top,.usage:hover .arrows .bottom{left:0}
.usage h2{color:#fff;background:#1f7f5c}
.usage h4{margin:26px 0 10px;}
.usage h4.indeterminate{margin-top:28px}
.usage p{margin-bottom:5px;}
.usage p.offset{margin-top:10px}
.usage p.callbacks-info{margin-bottom:19px}
.usage p.methods-info{margin-bottom:10px}
.usage p.methods-callback{margin-top:10px}
.usage p.issue-tracker{margin-top:31px}
.usage .markup{margin:9px 0 16px}
.usage .usage-inner{font-size:15px;line-height:23px;padding:41px 60px 39px}
.markup{margin:10px 0 18px;padding:8px 0 9px 17px;font:14px/20px 'MontserratRegular',Helvetica,Arial,sans-serif;color:#777;background:#e7e5e0;border-left:3px solid #d7d5cb;}
.markup .comment{color:#999;}
.markup .comment .self{color:#555;}
.markup .comment .self:hover{color:#333}
.skin-polaris .markup{background:#232830;border-left-color:#1f232a}
.skin-futurico .markup{background:#25262a;border-left-color:#202225}
.skin-polaris .markup .comment,.skin-futurico .markup .comment{color:#555}
.browsers{margin-bottom:74px;}
.browsers h2{margin-bottom:29px;font-size:24px}
.browsers-inner{padding:0 60px;font-size:15px;line-height:23px;}
.browsers-inner p{margin-bottom:15px}
.benefits{position:relative;margin-bottom:59px;color:#888;background:#232323;}
.benefits .arrows{top:0}
.benefits:hover .arrows .top,.benefits:hover .arrows .bottom{left:0}
.benefits h2{color:#fff;background:#6a5b8c}
.benefits a{color:#888;border-bottom-color:#444;}
.benefits a:hover{color:#aaa}
.benefits .mark{color:#777;background:#393939}
.benefits-inner{padding:41px 60px 29px;font-size:15px;line-height:23px;}
.benefits-inner p{margin-bottom:15px}
.benefits-inner ul{margin:-10px 0 15px}
.download{height:63px;text-align:center;}
.download a{display:block;height:60px;font-size:18px;line-height:58px;color:#fff;border-bottom:0 solid #e24f49;background:#e76b66;-webkit-transition:border-bottom .2s;-moz-transition:border-bottom .2s;-ms-transition:border-bottom .2s;-o-transition:border-bottom .2s;transition:border-bottom .2s;}
.download a:before{content:'';display:inline-block;width:26px;height:26px;margin-right:12px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAACYUlEQVR4Xr3VPWhTURjH4VOt0ES7ZRJbEJpsNsaimx9E0GpRCdgU/NhsRAdNBYcK0RirQcSkIIK2cRBRiragVayDhqBDLVWatFvsIKK2UMEp4KBcf8N/KNdwvcHWAw8c/rzvebk5yU2dZVnmf6wVNdb70Ca+5Rrkx0e8E/ZkyzCoAyuxBZu17/jXQV34jjwCytowjUk90Ywyo5q8errcDoriPgpoRhEj6MQrGHmpbARF1RbUG3Uz6Bae4iBacQNNSKEPRi4pa1JNq3pGcds+qNrXu4B1CKKCWtZqlPAZO/72RDGsRdKWh5ATIdOSpHpjbu6ojBfYBiPdOIQeHJMeZd0wsh1jKDsNakEc97AHo8o3IYCz2I1nGMYuZQHVGPXs1RlxtNgH+TCFtBpvIqua40ghqkGdOIp27VOqMcigX8PTKIKzWXwZDDbAQhDG5o6yx2iAkQY80T4HYxOEpbP/uCOnN+wq1Nlq6x3qrWp3NIcKJvAWV+FVzU804i6uwyNZZY34BaOeyzpjQmfOLR70DSGcwyxOIa7mAZzHQ+QxLHllCdUYnMYZzOqsjeBsPbp8QFZ7Lw7gCt4jhGu4qCEGa5SVVWPUM4Yjbn5HfrTjNYzk8AAZ5CSjbBBG3qjXr0CqX+YAviJpy6cQg9NKIoJBN6+gIGbwA16kMY5eeGDEo2xcNV71TCPo5qM7iX14hJIueB4XkICRhLJ51ZTUsx8n3AwawmGE8QUhRDR4J4yElUUQUm1YvUPOfxPO4khj66KL70W/m+Z6uF3P0YdJBRVlZqkHlbEezQo+YWHJB8mC1Lx+Ayeq7nRIoewwAAAAAElFTkSuQmCC");*background-image:url("ie/icon-options.png");vertical-align:middle}
.download a:hover{border-bottom-width:3px}
.license{color:#444;text-align:center;padding:30px 0 75px}
.footer{padding-top:28px;height:60px;color:#666;background:#e2dfd8;}
.footer ul{float:left;}
.footer ul li{float:left;padding:2px 10px 0 0}
.footer ul.local li{padding:0 30px 0 0}
.footer .code{float:right}
.footer a{color:#444;}
.footer a:hover{color:#222}
.footer-inner{width:930px;margin:0 auto;overflow:hidden}
.fork-me{position:fixed;*position:absolute;top:0;right:0;width:40px;height:40px;overflow:hidden;text-indent:100%;white-space:nowrap;background:#28545b url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnElEQVR4XqVSgQmEMAyszw/gCI7wK7iBblBHcISfxG6gG/gjuIGO0A3ygaYQCCG2HhweF+6aShsAcDcBJBpuvlwFagqGJwUf5EL6kgV2eEe2yIgc9QI73CMPs8AOywI7nHDSzCxYxcnJ6+hrFnQkJrb2nGclP3Fj+vf0IUV1AgCZHiS86lOObxD4qqSD5mtXmAq1e2fB3vqXact3f/JmXumJlVq1AAAAAElFTkSuQmCC") 50% no-repeat;*background-image:url("ie/icon-fork.png");}
.fork-me:hover{background-color:#1f7f5c}
.skin dt,.fork-me{-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
.icheckbox_polaris, .iradio_polaris{
    position: relative !important;
    left: 5px;
    margin: 0 0 0 -10px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    margin: 5px 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-radius: 0 !important;
    border-color: #ddd !important;
}
.ui-datepicker .ui-datepicker-header{
    background: #1278a8;
    color: #fff;
    border-radius: 0;
    font-weight: normal !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #f2f2f2 !important;
    color: #848484 !important;
    border: none !important;
    font-weight: normal !important;
    text-align: center !important;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
    margin-top: -12px !important;
}
.ui-icon-circle-triangle-e{
    background: url('../img/sprite_02.png') no-repeat -137px -75px !important;
    width: 9px !important;
    height: 14px !important;
}
.ui-icon-circle-triangle-w{
    background: url('../img/sprite_02.png') no-repeat -178px -75px !important;
    width: 9px !important;
    height: 14px !important;
}
.i-datepicker-prev:hover{
    background-color: transparent !important; 
}
.ui-datepicker .ui-datepicker-prev {
background: transparent !important;
border: none !important;
top: 3px !important;
left: 0 !important;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-next {
background: transparent !important;
border: none !important;
top: 3px !important;
right: 0 !important;
    cursor: pointer;
}
._create-block{
    .text-name{
        width: 798px;
            input[type='text']{
                width: 100%;
                border: 1px solid  #dcdddd !important;
                    &:focus{
                        border-color: #000 !important;
                    }
            }
    }
    .row{
        span{
            display: block;
        }
    }
    .label_comment{
        font-size: 12px;
        color: #000;
        font-style: italic;
    }
    ._save_btn{
        
    }
}
._application-content{
    font-size: 37px;
    max-width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 0 29px;
    .application-form input[type="text"] {
        width: 250px;
    }
}
.table_row{
    border: 1px solid #ccc;
    width: 513px;
    margin:20px auto;
}
.table_line{
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 10px;
    border-top: 1px solid #ccc;
        &:first-child{
            border: none;
        }
}
.order-left.full_block{
    width: 800px;
    margin: 0 auto;
    float: none;
    padding: 0;
        .order-description{
            margin: 20px auto;
        }
        .order-description-top{
            &:last-of-type{
                border: none;
            }
        }
}
.table_link{
    width: 800px;
    margin: 0 auto;
    text-align: center;
        a{
            float: none !important;
        }
}
.application-form{
    max-width: 800px;
    padding: 30px 0 0;
    margin: 0 auto;
        .active-label{
             border: 1px solid #000;
             background: none repeat scroll 0 0 #424242;
             box-shadow: 1px 1px 0 #000 inset; 
         }
        label{
            position: relative;
        }
        input[type="text"]{
            border: 1px solid #dcdddd;
            border-left: none;
            height: 43px;
            padding: 3px 10px;
            font-size: 16px;
            color: #444;
                &:focus{
                    border-color: #000;
                    color: #000;
                }
        }
    .row{
        margin: 0 0 10px;
        position: relative;
            &:last-of-type{
                margin: 0 0 150px;
            }
        div{
            
        }
    }
}
.application-form .row textarea {
width: 500px;
height: 300px;
border: 1px solid #dcdddd;
width: 798px;
min-width: 798px;
max-width: 798px;
font-style: normal;
height: 113px;
font-size: 16px;
margin: 0 0 5px;
color: #444;
float: left;
}
._application-content, ._create-block{
   
}
._save_btn {
    border: 1px solid #b01916;
    background: #f24841;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
}
.application-form .row.row_link {
float: right;
}
.application-form .row.row_link a {
margin: 0 10px;
}
._create-block .label_comment {
font-size: 12px;
color: #000;
font-style: italic;
}
.note-form{
    position: relative;
    &:before {
    content: "";
    width: 3px;
    height: 41px;
    background: #f24841;
    border: 1px solid #d13630;
    position: absolute;
    left: 0;
    top: 18px;
    z-index: 2;
    }
}
.ui-datepicker .ui-datepicker-buttonpane{
    display: none;
}
._create-block, .business-form-wrapper{
    .center;
    background: #fff;
    border-top: 1px solid #e6e6e6;
}
._application-content{
    margin: 17px 0 20px;
}
.text-email label {
width: 44px;
height: 43px;
float: left;
background: #e9e9e9;
border: 1px solid #d5d6d6;
position: relative;
}
.application-form input[type="text"] {
border: 1px solid #dcdddd;
border-left: none;
height: 43px;
padding: 3px 10px;
font-size: 16px;
color: #444;
}
.text-email {
width: 310px;
}
._header_bottom_menu{
    padding: 10px 0;
        .llink_wrap{
            margin: 0 0 5px;
            a{
                margin: 0 0 0 20px;
                    &:first-child{
                        margin: 0;
                    }
            }
        }
    input[type=checkbox] {
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: 1px solid #d5d6d6;
        vertical-align: middle;
    }
    label{
        margin: 0 20px 0 0;
            &:first-child{
                margin: 0;
            }
    }
    .import_exel{
        border: 1px solid #b01916;

        color: #fff;

        font-size: 18px;
        padding: 7px 45px;
        cursor: pointer;
        margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
    }
}
._create_block{
    .text-email{
        margin: 0 27px 0 0;
    }
}
.text-uid {

    input[type='text']{
        width: 266px;
    }
    label{
        width: 44px;
        height: 43px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                background: url('../img/sprite.png') no-repeat -230px -113px;
                width: 12px;
                height: 19px;
                margin: -10px 0 0 -6px;
            }
    }

}
.list_charts{
    .title{
        margin: 0 0 70px;
        padding: 50px 0 0;
    }
    canvas {
        margin: 0 0 70px;
    }
}
.exel_form{
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: 1px solid #d5d6d6;
        vertical-align: middle;
    }
    label{
        margin: 0 10px 0 0;
    }
    .import_exel{
        border: 1px solid #b01916;
 
        color: #fff;
        font-size: 18px;
        padding: 7px 45px;
        cursor: pointer;
        margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
    }
}
._width_header_bottom_menu{
    .table-api-main {
        width: 2075px;
    }
    .number_agree{
        a{
            white-space: nowrap;
        }
    }
}

._create_clinic{
   .text-email{
       margin: 0;
   }
    input[type="text"]{
        width: 100%;
        border-left: 1px solid #dcdddd;
    }
    .note-form:before{
        top: 0;
    }
    .text-uid {
        input[type='text']{
            width: 266px;
        }
    }
//    .chosen-container .chosen-drop li{
//        padding: 10px !important;
//    }
    .row-lb{
        &:before{
            top: 18px !important;
        }
        .is_error{
            top: 30px;
        }
        .chosen-results li:before{display: none !important;}
    }
    .title-calendar{
        display: block;
    }
}
.menuWrap__reportMenu__list__btn_K{
    a{
        font-size: 16px;
        text-align: center;
        color: #fff !important;
        &:before{
            display: none;
        }
        &:hover{
            background: @blue_dark;
        }
    }
    &.menu_icon_1{
        a{
            background: url(../img/svg/menu16_fff.svg) center no-repeat #198ac0;
            &:hover{
                background: url(../img/svg/menu16_fff.svg) center no-repeat @blue_dark;
            }
        }
    }
}
.hiddenAffiliates__left__options__p{
    font-size: 0;
    display: inline-block;
}
.content_prices{
    .table_law .name{
        width: 115px;
    }
    .table_law .agreement {
        width: 115px;
    }
    .create_time{
        width: 90px;
    }
    .table_law .numb_agree{
        width: 120px;
    }
    .table .sort .status {
        width: 180px;
        padding: 0 10px 0 0;
    }
    .table_law .legalName {
        width: 195px;
    }
    .table_law .actualName {
        width: 200px;
    }
    .row.line .name{
        text-align: center;
    }
    .row.line .status{
        width: 180px;
    }
}
//.hiddenAffiliates__left__options__cellName .iconupdate{
//    display: block;
//    margin: 5px 0;
//    position: absolute;
//    left: 0;
//    top: 0;
//}
//.print_plus {
//    margin: 0 0 0 23px;
//    font-size: 20px;
//    vertical-align: top;
//    font-weight: bold;
//} 
//.row.line .print_plus{
//    width: 15px;
//    margin: 0;
//       a{
//            text-decoration: none;
//            color: #000;
//       }
//}
._create_block{ 
    .application-form input[type="text"]{
        border: 1px solid #ccc;
    }
    .text-name{
        select{
            width: 800px;
        }
        .chosen-results li:before{display: none;}
    }
    .application-form{
        padding: 30px 0 10px;
        button{
            ._save_btn;
        }
    }
    .uploadFile{
        border: 1px solid #ccc;
        padding: 5px 0;
    }
}










/********** filter-table **********/
.table{
    .row.caption{
        background: #f7f7f7;
        .cell{
            display: block;
            float: left;
            font-weight: bold;
            padding: 5px 0 2px;
            a{
            color: #198ac0;
            text-decoration: none;
                &:hover{
                    border-bottom: solid 1px #198ac0;
                }
            }
            &.email{
                margin-left: 162px;
            }
        }
    }
    .hidden-form{
        .sort{
            background: #f7f7f7;
            border-bottom:solid 1px #EAEAEA;
            padding-bottom: 10px;
            .cell{
                &.status{
                    .chosen-container-single,
                    select#IntegratorClinicAll_status{
                        width: 120px !important;
                    }
                }
            }
        }
    }
    .row{
        padding: 2px 30px;
        .cell{
            sup{
                    font-weight: normal;
                    font-size: 11px;
                    color: #999;
            }
            a{
                color: #198ac0;
                &:hover{
                    transition: color 0.5s;
                }
            }
            &.number{
                width: 50px;
                text-align: center;
                font-weight: bold;
               margin-right: 10px;
            }
            &.email{
                width: 150px;
                text-align: left;
                font-size: 12px;
                color: #1278a8;
            }
            &.legalName {
                text-align: left;
                width: 320px;
                position: relative;
                padding-right: 10px;
                margin-left: 10px;
                font-size: 12px;
               a{
                   color: #333;
                   text-decoration: none;
                   &:hover{
                       text-decoration: underline;
                   }
               }
               .deleted,
               .update{
                   display: none;
               }
               &:hover{
                   .deleted,
                   .update{
                        position: absolute;
                        right: 0;
                        top: 13px;
                        display: block;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                       text-decoration: none;
                       &:hover{
                           text-decoration: none;
                       }
                       &:before{
                           display: block;
                           width: 16px;
                           height: 16px;
                       }
                   }
                   .update{
                       right: 20px;
                   }
                }
            }
            &.legalName_open{
                margin-left: 153px;
                font-weight: bold;
            }
            &.affiliates{
                width: 90px;
               padding: 8px 10px;
               a{
                   text-decoration: none;
                   border-bottom: dashed 1px;
                   font-weight: bold;
                   font-size: 12px;
                   &:hover{
                       color: #333;
                       border-bottom-color: transparent;
                   }
               }
            }
            &.recording,
            &.surviving,
            &.diagnostika,
            &.diagnostic,
            &.diagnosticSum,
            &.repeat,
            &.successing,
            &.generalSum,
            &.date {
                width: 60px;
                min-width: 60px;
                min-height: 1px;
                position: relative;
                text-align: center; 
            }
            &.data{
                margin-right: 20px;
            }
            &.generalSum{
               width: 90px;
           }
            &.status {
                width: 120px;
                margin-left: 10px;
            }
            &.download_file_text,
            &.print_plus, 
            &.print_clinic{
                padding: 5px 1px;
                width: 31px;
                a{
                    display: block;
                    margin-right: 2px;
                    padding: 7px 0;
                    width: 100%;
                    text-align: center;
                    background: #F1F1F1;
                    color: #333;
                    font-weight: bold;
                    text-decoration: none;
                    &:hover{
                        color: #FFF;
                        background: #555;
                        transition: none;
                    }
                }
            }
            &.download_file_text{
                display: block;
                width: 50px;
                margin-right: 12px;
                height: 33px;
                font-weight: normal;
                color: #555;
                span{
                    padding: 7px 10px;
                    font-weight: bold;
                    display: block;
                    color: #999;
                }
            }
        }
        &:nth-child(odd){
            background: #F9F9F9;
        }
        &.active{
            box-shadow: 0 -4px 0 rgba(0,0,0,0.05), 0 2px 0 rgba(0,0,0,0.03);
            background: none;
        }
        &.status_color_2{
            background: #FFFBEE;
            .print_clinic,
            download_file_text,
            .print_plus{
                a{
                    background: #FFE794;
                }
            }
        }
        &.status_color_2:nth-child(odd){
            background: #FFF9E4;
            .print_clinic,
            .download_file_text,
            .print_plus{
                a{
                    background: #FFE794;
                }
            }
        } 
        &.status_color_2.active{
            .affiliates,
            .hiddenAffiliates__left{
                background: #FFF8DF;
                .hiddenAffiliates__left__options__row:nth-child(even){
                    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,251,238,1) 32%);
                    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(32%,rgba(255,251,238,1)));
                    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,251,238,1) 32%);
                    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,251,238,1) 32%);
                    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,251,238,1) 32%);
                    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,251,238,1) 32%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fffbee',GradientType=1 );
                }
            }
            .hiddenAffiliates__right{
                background: #FFFBEE;
            }
        }
        &.no-agreement{
            background: #F4ECFF; 
            .print_clinic,
            .download_file_text,
            .print_plus{
                a{
                    background: #EBDCFF;
                }
            }
        }
    }
    .row.caption{
        .cell{
            font-weight: bold;
            font-size: 14px;
        }
    }
}

.table.admin_0{
    .row{
        .cell{
            &.email{
                width: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #333;
                font-weight: bold;
            }
            &.legalName{
                width: 300px;
            }
            &.legalName_open{
                width: 380px;
            }
            &.date{
                margin-right: 20px;
            }
        }
    }
    .row.caption{
        .email{
            margin-left: 153px;
        }
    }
    .hidden-form{
        .sort{
            .cell{
                &.email {
                    margin-left: 213px;
                }
            }
        }
    }
}
.table.table_clinic{
    .hidden-form {
        .sort{
            .cell.legalName{
                margin-left: 70px;
            }
        }
    }
    .row{
        .cell{
            &.legalName{
                padding-right: 50px;
                .update{
                    right: 30px;
                }
                .deleted{
                    right: 10px;
                }
            }
            &.address{
                width: 280px;
                font-size: 12px;
                text-align: left;
                color: #999; 
            }
            &.legalName{
                margin-left: 10px;
            }
            &.email{
                margin-left: 0;
            }
            &.phone{
                width: 140px;
                text-align: center;
                padding-right: 10px;
                font-weight: bold;
            }
            &.metro{
                width: 240px;
                overflow: hidden;
                font-size: 12px;
                text-align: left;
                color: #999;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &.caption{
            .cell{
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

.table.all_law{
    .hidden-form {
        .sort{
            .cell.legalName{
                margin-left: 70px;
            }
        }
    }
    .row{
        .cell{
            &.legalName{
                padding-right: 50px;
                margin-left: 10px;
                .update{
                    right: 30px;
                }
                .deleted{
                    right: 10px;
                }
            }
            &.address {
                text-align: left;
                font-size: 12px;
                color: #999;
                width: 180px;
            }
            &.name{
                width: 400px;
                font-size: 12px;
                padding-right: 20px;
                color: #999;
            }
            &.numb_agree{
                text-align: center;
                font-weight: bold;
                font-size: 12px;
            }
            &.agreement{
                width:70px;
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        &.caption{
            .cell{
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

.table.price{
     .row .cell.legalName {
          width: 160px !important;
          padding-right: 50px;
          margin-left: 10px;
    }
 
    .hidden-form {
        .sort{
            .cell.legalName{
                margin-left: 70px;
                width: 175px !important;
            }
        }
    }
    .row{
        .cell{
            &.legalName {
                width: 585px;
                padding-right: 50px;
                margin-left: 10px;
            }
            &.create_time,
            &.all_price,
            &.koll_success,
            &.koll_come,
            &.koll_record{
                width: 90px;
                text-align: center;
            }
            &.status {
                width: 180px;
                text-align: center;
                .chosen-container-single {
                    a.chosen-single span{
                        padding: 7px 0;
                        background: #EAEAEA;
                        border-color: transparent;
                        &:hover{
                            background: #CCC;
                            border-color: transparent;
                        }
                    }
                }
            }
        }
        &.caption{
            .cell{
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

.hiddenAffiliates__right{
    border-left: 1px solid #EAEAEA;
    float: left;
    width: 162px;
    height: 100%;
    padding: 0 0 55px 10px;
    margin-top: -20px;
    background: #fff;
    box-shadow: inset 3px 0 0 rgba(0,0,0,0.03);
    .hiddenAffiliates__right__top{
        margin-top: 20px;
        .hiddenAffiliates__right__top__sum{
            input[type="text"]{
                width: 118px;
            }
        }
        .hiddenAffiliates__right__top__calendarWrap__selectDate{
            text-align: center;
            width: 120px;
            margin: 1px 0 0 0;
            span{
                font-weight: normal;
                color: #1278a8;
                font-size: 14px;
                padding: 8px 10px 8px 20px;
                display: block;
                cursor: pointer;
                background: #E9F5FA ;
                position: relative;
                &:before{
                    content: "";
                    position: absolute;
                    background: url('../img/sprite_02.png') no-repeat -140px -57px;
                    width: 10px;
                    height: 11px;
                    margin: 3px 0 0 -16px;
                }
                &:hover{
                    border-bottom-color: transparent;
                    background: #d5effb;
                }   
            }
        }
    }
    .hiddenAffiliates__right__bottom{
        width: 120px;
        ul{
            li{
                margin: 2px 20px 2px 5px;
                padding: 0;
                text-align: left;
                position: relative;
                font-size: 12px;
                span.data_status,
                span.type_status{
                    display: inline-block;
                    width: 40px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                span.data_status{
                    text-align: right;
                    width: 45px;
                }
                .del_payment,
                .del_status{
                    position: absolute;
                    right: -20px;
                    top: 0;
                    margin: 0;
                }
            }
        }
        &.hiddenAffiliates__right__bottom_last{
            ul{
                li{
                    margin: 2px 0;
                    span.type_status{
                        width: 70px;
                    }
                    .del_payment{
                        right: 0;
                    }
                }
            }
        }
    }
}

.hiddenAffiliates__left{
    float: left;
    padding: 20px 0 0 104px;
    border-top: 1px solid #EAEAEA;
    background: #F9F9F9;
    background: -moz-linear-gradient(top,  #F9F9F9 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F9F9F9), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #F9F9F9 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #F9F9F9 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #F9F9F9 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #F9F9F9 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#ffffff',GradientType=0 );

    .hiddenAffiliates__left__decription{
        float: left;
        width: 200px;
        padding: 0 15px 0 0;
        li{
            margin: 0 0 40px;
            span{
                display: block;
                font-size: 14px;
                margin: 0 0 3px;
                font-weight: normal;
            }
            strong{
                font-weight: normal;
            }
            p{
                font-size: 11px;
                font-weight: normal;
                color: #777;
            }
        }
    }
    .hiddenAffiliates__left__options{
        float: left;
        width: 880px;
        .hiddenAffiliates__left__options__cell.none_order{
            text-align: center;
            padding: 20px 0;
            a{
                color: #198ac0;
            }
        }
        .hiddenAffiliates__left__options__row{
            padding: 10px 0 10px 20px;
            position: relative;
            &:nth-child(even){
                background: #FFF;
                background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 19%, rgba(255,255,255,1) 86%);
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(19%,rgba(255,255,255,1)), color-stop(86%,rgba(255,255,255,1)));
                background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 86%);
                background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 86%);
                background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 86%);
                background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 19%,rgba(255,255,255,1) 86%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
            }
            .delete_price_icon,
            .clone_price_icon{
                position: absolute;
                display: block;
                border-radius: 3px;
                border: solid 1px #EAEAEA;
                width: 18px;
                height: 30px;
                box-sizing: border-box;
                text-align: center;
                text-decoration: none;
                overflow: hidden;
                &.delete_price_icon{
                    right: 3px;
                    background: url(../img/svg/cross_icon.svg) center no-repeat;
                }
                &.clone_price_icon{
                    left: 0;
                    font-size: 16px;
                    color: #777;
                    padding-top: 3px;
                }
                &:hover{
                    background: #EAEAEA;
                    &.delete_price_icon{
                        background: url(../img/svg/cross_icon.svg) center no-repeat #EAEAEA;
                    }
                }
            }
            .hiddenAffiliates__left__options__cell{
                float: left;
                .download_file_text2{
                    .null{
                        color: #333;
                        margin-left: 5px;
                    }
                    a{
                        padding: 5px;
                        color: #333;
                        background: #EAEAEA;
                        font-weight: bold;
                        margin-left: 5px;
                        text-decoration: none;
                        &:hover{
                            background: #555;
                            color: #FFF;
                            text-decoration: none;
                        }
                    }
                }
            }
            .column_block_price{ 
                overflow: hidden;
                float: left;
                position: relative;
                padding:0 20px;
            }
            .hiddenAffiliates__left__options__cellName{
                width: 370px;
                p{
                    margin: 0 0 2px;
                    font-size: 12px;
                    line-height: 1;
                    a.import_exel_single{
                        color: #198ac0;
                        text-decoration: none;
                        width: 315px;
                        display: inline-block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
//                span{
//                    display: block;
//                }
                .iconupdate{
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 12px;
                    width: 16px;
                    height: 16px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: none;
                    }
                    &:before{
                        display: block;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .hiddenAffiliates__left__options__cell__num {
                width: 58px;
                margin-right: 2px;
                text-align: center;
                position: relative;
                input[type='text']{
                    text-align: center;
                    font-size: 14px;
                    .font_pt;
                    font-weight: bold;
                    color: #000;
                    border: 1px solid #a6d079;
                    padding: 5px;
                    text-align: center;
                    font-size: 14px;
                    font-family: 'PT Sans', sans-serif;
                    width: 50px;
                    background: #FFF;
                    border-radius: 3px;
                }
                label{
                  width: 15px;
                  background: #a6d079;
                  height: 31px;
                  display: inline-block;
                  position: absolute;
                  right: 3px;
                  top: 0;
                  border-radius: 0 3px 3px 0;
                    &:before{
                        content: "";
                        background: url(../img/sprite_02.png) no-repeat -66px -59px;
                        width: 10px;
                        height: 11px;
                        position: absolute;
                        right: 3px;
                        top: 10px;
                        z-index: 1;
                    }
                }
                a{
                    position: relative;
                    text-decoration: none;
                    color: #333;
                    border: solid 1px #EAEAEA;
                    padding: 5px;
                    display: block;
                    margin: 0;
                    border-radius: 3px;
                    &:hover{
                        transition: background 0.5s;
                        background: #EAEAEA;
                    }
                }
            }
            .hiddenAffiliates__left__options__cell__num__summ{
                width: 88px;
            }
            .none_order{
                text-align: center;
                width: 440px;
                a{
                    color: #198ac0;
                    text-decoration: none;
                    border-bottom: dotted 1px #D2E2EA;
                    &:hover{
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
}


.chosen-container-single{
    width: 120px !important;
    color: #575757;
    line-height: 1;
    a.chosen-single{
        line-height: 1;
        font-weight: bold;
        padding: 0;
        margin: 0;
        height: auto;
        border-color: #EAEAEA;
        background: #EAEAEA;
        span{
            margin: 0;
            padding: 10px 0;
            color: #333;
            font-size: 14px;
        }
        div{
            display: none;
        }
        &:hover{
            background: #CCC;
        }
        span.circle{
            display: none;
        }
    }
    .chosen-search{
        display: none;
    }
    .chosen-drop{
        border-radius:0 !important;
        border:none;
        ul.chosen-results{
            li{
                padding: 5px 0;
                text-align: center;
                font-weight: normal;
                font-size: 14px;
                &.highlighted,
                &:focus,
                &:active,
                &:hover{
                    border:none;
                }
            }
        }
    }
}
.chosen-container .chosen-drop,
.chosen-container-active.chosen-with-drop .chosen-single{
    border: none !important;
    background: #CCC;
}
.chosen-container .chosen-drop{
    background: #EAEAEA;
}

//.circle{
//    display: block !important;
//    width: 10px;
//    height: 10px;
//    position: absolute;
//    left: 10px;
//    top: 15px;
//    border-radius: 100px;
//    font-size: 0 !important;
//    padding: 0 !important;
//}
//.circle.gray{
//    background: #e8e8e8;
//}
//.circle.yelow{
//    background: #ffd032;
//}
//.circle.red{
//    background: #de2810;
//}
//.circle.green{
//    background: #a6d079;
//}
//.chosen-results{
//    li{
//        position: relative;
//        &:before{
//            content: "";
//            width: 10px;
//            height: 10px;
//            border-radius: 100px;
//            border:solid 2px #FFF;
//            position: absolute;
//            left: 10px;
//            top: 5px;
//        }
//    }
//    li:nth-child(1):before{display: none;}
//    li:nth-child(2):before{background: #e8e8e8;}
//    li:nth-child(3):before{background: #ffd032;}
//    li:nth-child(4):before{background: #de2810;}
//    li:nth-child(5):before{background: #a6d079;}
//}




// **************************************************************************** PARTNER ********************************************************************************** //
.footerNavigation,
.wrapper_p{
    width: 1350px;
    margin: 0 auto;
    background: #FFF;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    box-shadow: 0 -5px 5px rgba(0,0,0,0.1);
    &.footerNavigation{
        position: fixed;
        bottom: 0;
        border-top: solid 1px #EAEAEA;
        box-shadow: none;
        height: auto;
        padding:10px 20px;
        a{
            color: #5485ab;
            font-size: 12px;
            text-decoration: none;
            margin-left: 20px;
            position: relative;
            border-bottom-color: transparent;
            &:hover{
                color: #4B7BA0;
                border-bottom: solid 1px #DBECFA;
            }
            &:before{
                position: absolute;
                width: 16px;
                height: 16px;
                content: '';
                display: block;
                left: -20px;
                top: 0;
                background: url(../img/svg/checking16.svg) no-repeat;
            }
        }
    }
}
.header_p{
    width: 1350px;
    margin: 0 auto;
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .header__description{
        padding: 10px 0 20px;
        .vhr{
            margin: 0 5px;
            color: #FFF;
            border-left: solid 1px #CCC;
        }
        p{
            margin: 0 0 5px;
            display: inline;
            margin-left: 40px;
            padding-left: 25px;
            background: url("../img/svg/male16.svg") no-repeat;
            &:nth-child(2){
                background: url("../img/svg/clock16.svg") no-repeat;
            }
        }
        span{
            position: relative;
            margin-left: 30px;
            &.userInfo{
                width: 200px;
                display: inline-block;
                .userEmail{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    margin-bottom: -15px;
                    margin-left: 0;
                    font-size: 11px;
                    color: #999;
                    white-space: nowrap;
                }
                .logout{
                    color: #5485ab;
                }
            }
        }
        .gotoUser{
            display: inline-block;
            margin-left: 50px;
            border:solid 1px #d5d6d6;
            border-right: none;
            position: relative;
            padding-right: 160px;
            select{
                border:none;
                background: transparent;
                font-size: 14px;
                height: 19px;
                padding: 1px 0 0;
            }
            input[type="submit"]{
                position: absolute;
                right: 0;
                width: 160px;
                top: 0;
                margin-top: -1px;
                border: solid 1px #d5d6d6;
                padding: 2px 10px 3px;
                cursor: pointer;
                background: #f9f9f9;
                color: #999;
                font-size: 12px;
                &:hover{
                      color: #FFF;
                      border-color: #b01916;
                      background: #f24841;
                }
            }
            &.back{
                padding-right: 0; 
                border:none;
                input[type="submit"]{
                     position: relative;
                     width: 220px;
                 }
            }
        }
    }
    .header__description__rating{
        color: #911;
        font-weight: bold;
    }
    .header__sortBox{
        background: #F1F1F1;
        border-bottom: solid 1px #EAEAEA;
        border-top: solid 1px #EAEAEA;
        padding: 20px 40px;
        margin: 0 0 10px; 
        .left{
            width: 40%;
            &.data_billing{
                width: 28%;
            }
        }
        .right{
            width: 32%;
            .header__sortBox__row{
                margin: 0 0 5px;
            }
            input[type="text"]{
                height: 20px;
                width: 265px;
                text-align: center;
                padding: 14px 10px;
                font-size: 16px;
                border: solid 1px #d5d6d6;
            }
            input[type="submit"]{
                border: solid 1px #d5d6d6;
                padding:6px 20px;
                cursor: pointer;
                background: #f9f9f9;
                margin-left: -5px;
                color: #999;
                &:hover{
                    color: #FFF;
                    border-color: #b01916;
                    background: #f24841;
                }
            }
            .header__sortBox__row__titleReservation{
                width: 130px;
                display: inline-block;
            }
        }
    }
    .header__sortBox__row__titleTreatment,
    .header__sortBox__row__titleBild,
    .header__sortBox__row__title{
        font-weight: bold;
        color: #999;
        display: block;
        text-transform: uppercase;
        margin: 0 0 5px;
    }
    .header__sortBox__row__titleTreatment{
        padding-left: 20px;
        background: url(../img/svg/paper_icon12.svg) 0 2px no-repeat;
    }
    .header__sortBox__row__titleBild{
        padding-left: 20px;
        background: url(../img/svg/calendar_icons12.svg) 0 2px no-repeat;
    }
}
.wrapper_p{
    background: #fff;
    .header__sortBox__row_btnItems {
        margin: 0 0 5px;
        display: inline-block;
        overflow: hidden;
        li{
            display: block;
            float: left;
            a{
                background: #FFF;
                border: 1px solid #d5d6d6;
            }
            a{
                cursor: pointer;
                text-decoration: none;
//                background: #f24841;
//                border: 1px solid #b01916;
                background: #FFF;
                border: 1px solid #d5d6d6;
                border-right-color: transparent;
                padding: 5px 21px 5px 22px;
                display: inline-block;
//                color: #fff;
                color: #333;
                    &:hover{
                        background: #f24841;
                        color: #FFF;
                        border: solid 1px #b01916 !important;
                    }
            }
            &:last-of-type{
                a{
                    border-right: 1px solid #b01916;
                    border: 1px solid #d5d6d6;
                }
            }
        }
    }
    .header__sortBox__row__times{
        li{
            float: left;
            display: block;
            padding: 0;
            margin: 0;
            overflow: hidden;
            border: 1px solid #d5d6d6;
            background: #FFF;
            border-right-color: transparent;
            &:last-child{
                border-right-color: #d5d6d6;
            }
            a{
                font-size: 12px;
                padding: 2px 9px 4px;
                color: #333;
                display: block;
                text-decoration: none;
            }
            &:hover{
                background: #f24841;
                border-color: #b01916;
                a{
                    color: #FFF;
                }
            }
        }
    }
    .header__sortBox__row__titleBild{
      
    }
    .header__sortBox__rowCalendar{
        i{
            font-style: normal;
        }
        input[type="text"]{
            height: 20px;
            width: 110px;
            text-align: center;
            -moz-box-sizing:content-box;
            padding: 14px 10px 15px 10px;
            font-size: 16px;
            border: solid 1px #d5d6d6;
        }
        input[type="submit"]{
            border: solid 1px #d5d6d6;
            padding:6px 20px;
            cursor: pointer;
            background: url(../img/svg/eye_icon20.svg) center no-repeat #f9f9f9;
            &:hover{
                border-color: #b01916;
                background: url(../img/svg/eye_icon20w.svg) center no-repeat #f24841;
            }
        }
    }
    
    .header__showing{
        margin: 0 0 10px;
        padding: 0 40px;
        .left{
            width: 25%;
            i,.header__showing__titleShowing{
                font-family: 'PT Sans', sans-serif;
                font-style: italic;
                color: #999;
            }
            select{
                font-family: 'PT Sans', sans-serif;
                padding: 4px 4px 3px;
                border: solid 1px #d5d6d6;
                font-weight: bold;
                font-size: 16px;
                color: #333;
            }
            &.left_0{
                width: 15%;
                padding: 0;
            }
            .header__upload{
                button{
                    font-family: 'PT Sans', sans-serif;
                    padding: 6px 18px 6px 35px;
                    position: relative;
                    border: solid 1px #d5d6d6;
                    cursor: pointer;
                    background: #f9f9f9;
                    font-weight: bold;
                    font-size: 13px;
                    &:after{
                        content: '';
                        position: absolute;
                        left: 10px;
                        top: 6px;
                        width: 16px;
                        height: 16px;
                        display: block;
                        background: url(../img/svg/microsoft_excel16.svg) no-repeat;
                    }
                    &:hover{
                        border-color: #b01916;
                        background: #f24841;
                        color: #fff;
                        &:after{
                            background: url(../img/svg/microsoft_excel16w.svg) no-repeat;
                        }
                    }
                }
            }
        }
        .right{
            width: 60%;
            .header__showing__titleSearch{
                font-style: italic;
                color: #999;
            }
            input[type="text"]{
                width: 645px;
                height: 20px;
                font-size: 14px;
                font-weight: bold;
                padding: 14px 10px 15px;
                border: solid 1px #d5d6d6;
            }
        }
    }
}
.content_p{
    width: 1350px;
    margin: 0 auto;
}
.table_p{
    .caption{
        background: #5485ab;
        text-align: center;
        color: #9ABCD7;
        padding: 0 25px; 
        span{
            display: block;
            padding: 10px 2px;
        }
        a{
            color: #FFF;
            text-decoration: none;
            display: block;
            padding: 10px 2px;
            position: relative;
//            border-bottom: solid 1px rgba(255,255,255,0.2);
            &.desc,
            &.asc,
            &:hover{
                background: #6799BF;
//                border-bottom-color: transparent;
            }
            &.desc,
            &.asc{
                &:after{
                    content: '';
                    margin-bottom: -1px;
                    margin-left: 2px;
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    background: url(../img/svg/up16w.svg) no-repeat;
                }
            }
            &.desc{
                &:after{
                    margin-bottom: -3px;
                    transform: rotate(180deg);
                }
            }
        }
        .cell_05,
        .cell_07{
            font-size: 14px;
            padding-left: 0;
            a{
                padding-left: 10px;
            }
        }
    }
}
.row_p{
    padding: 10px 25px;
     background: #FFF;
        &:nth-child(even){
                 background: #f1f1f1;
        }
}
.cell_p{
    float: left;
    text-align: center;
}
.cell_01{
    width: 70px;
}
.cell_02{
    width: 170px;
}
.cell_03{
    width: 120px;
}
.cell_04{
    width: 70px;
}
.cell_05{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;
}
.cell_06{
    width: 120px;
}
.cell_07{
    width: 200px;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
}
.cell_08{
    width: 70px;
}
.cell_09{
    width: 120px;
}
.cell_10{
    width: 65px;
}
.cell_11{
    width: 90px;
    text-align: center;
}

.table[data-href*='status=4'] {
    .row.sort,
    .row.caption{
        background: #f9f9f9 !important;
        .cell.affiliates{
            background: transparent !important;
        }
    }
    .row:nth-child(odd) {
        background: #EEF7E6;
            .affiliates{
                background: #EEF7E6 !important;
            }
    }
    .status_color_4 .hiddenAffiliates__left {
        background: #FAFFF4;
    } 
    .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row:nth-child(even){
        background-color: transparent !important;
    }
    .row .cell.download_file_text a,  .row .cell.print_plus a, .row .cell.print_clinic a{
          background: #A7E075 !important;
    }
}





.table[data-href*='status=2'] {
     .row .cell.download_file_text a:hover,  .row .cell.print_plus a:hover,  .row .cell.print_clinic a:hover{
         background: #FFE794;
     }
}




.table[data-href*='status=3'] {
    .row:nth-child(odd) {
        background: #F9EDEC;
          .affiliates{
                background: #F9EDEC !important;
            }
    }
    .row.sort,
    .row.caption{
        background: #f9f9f9 !important;
        .cell.affiliates{
            background: transparent !important;
        }
    }
    .row .cell.download_file_text a,  .row .cell.print_plus a, .row .cell.print_clinic a{
          background: #E7BDBA !important;
    }
    .row .cell.download_file_text a:hover,  .row .cell.print_plus a:hover,  .row .cell.print_clinic a:hover{
         background: #E7BDBA;
     }
    .status_color_3 .hiddenAffiliates__left{
        background-color: #F9EDEC !important;
    }
    .status_color_3 .affiliates:nth-child(odd){
        background-color: #F9EDEC !important;
    }
    .hiddenAffiliates__right{
        background: #FCE6E4;
    }

}
.calendarTop {
    margin: 5px 0 0;
  width: 162px;
  clear: both;
  overflow: hidden;
  float: right;
    input[type="text"]{
        width: 100%;
        margin: 0 0 5px;
    }
    input[type="button"]{
        width: 100%;
    }
}
.summary__lavSecond{
    background: #fff;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 10px 30px;
}
.table_lawSecond {
    .row .cell.legalName {
      width: 200px !important;
      padding-right: 50px;
      margin-left: 10px;
    }
    .date_status_1{
        width: 70px;
    }
    .date_status_2{
        width: 100px;
    }
    .date_status_3{
        width: 70px;
    }
    .date_status_4{
        width: 70px;
    }
    .date_status_5{
        width: 70px;
    }
}
//-------------------------------------------createPage---------------------------------------------------------//
.createPage{
    
    .select-new{
        float: none !important;
    }
        .blueBox{
        background: #ecf4fa;    
    }
}