@green:#00bd8e;
@blue:#4c7ea7;
@navy-blue:#38678d;
@dark-blue:#42729a;
@light-blue:#7ea5c5;
@red:#f25255;
@gray: #a1a1a1;
@light-gray: #f4f7fa;
@dark-gray: #434343;
@blue-gray:#d0d8e0;
html{
	height: 100%;
	background: #f2f2f2;
}
body {
  min-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
//input, button { -webkit-appearance: none;}
input, textarea, button, img, select { outline: none; }
textarea{resize: none;}
input, textarea{
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}
a, a:visited, a:active, a:focus {
	text-decoration: none;
	outline: none;
	color: #333;
}
a:hover { border-bottom: none; }
img, fieldset{ border: none; }
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.left{
	float: left;
}
.right{
	float: right;
}
.btn_author{
	padding: 11px;
	background: @green;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
	&:hover{
		opacity: 0.8;
	}
	&:active{
		box-shadow: inset 2px 2px 10px rgba(0,0,0,.2);
		transition: all .2s;
	}
}
footer{
	display: inline-block;
	background: #eaeaea;
	height: 200px;
	width: 100%;
}
aside{ 
	position: fixed;
	float: left;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	.logo{
		background: @green;
		padding: 10px 25px;
		height: 80px;
		
		a{
			position: relative;
			display: inline-block;
			background: @green;
			z-index: 1;
		}
	}
	.radio_fixed{
		display: none;
		position: absolute;
		cursor: pointer;
		width: 10px;
		height: 10px;
		margin-top: 35px;
		margin-right: 60px;
		right: 0;
		top: 0;
		background:  url(../img/svg/radio_off.svg) no-repeat;
		&.active{
			background:  url(../img/svg/radio_on.svg) no-repeat;
		}
	}
	.separator{
		display: block;
		position: relative;
		width: 80px;
		height: 1px;
		background: @light-blue;
		margin: 15px 0px 15px 10px;
	}
	.nav_bar{
		position: static;
		background: @blue;
		height: 100%;
		padding-bottom: 75px;
		overflow: auto;
		width: 117%;
		.setting_menu{
			display: inline-block;
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 65px;
			left: 0;
			z-index: 11;
			background: @blue;
			.setting_img{
				display: block;
				padding: 25px 0 100px 73px;
				background: url(../img/svg/setting.svg) no-repeat 30px 15px;
				font-size: 12px;
				color: @light-blue;
				
			}
		}
		.bar_close{
			position: absolute;
			height: 100%;
			top: 77px;
			width: 120px;
			overflow-y: auto;
			box-sizing: border-box;
			padding-bottom: 150px;
//			transition: all 0.8s;
			&.active{
				display: none;
			}
			.menu{
				width: 100px;
				li{
					a{
						position: relative;
						display: block;
						height: 65px;
					}
				}
			}
			.stat_bar{
				background: url(../img/svg/line.svg) no-repeat center;
			}
			.add_bar{
				background: url(../img/svg/plus.svg) no-repeat center;
			}
			.open_bar{
				background: url(../img/svg/menu.svg) no-repeat center;
			}
			.servise_menu{
				li{
					display: block;
					position: relative;
					padding: 8px 20px;
					text-align: center;
					a{
						display: block;
						width: 60px;
						padding: 6px 15px;
						border-radius: 4px;
						border: 1px solid  @light-blue;
						color: #FFF;
						font-size: 20px;
						font-weight: bold;
					}
				}
			}
		}
		.bar_active{
			display: inline-block;
			position: relative;
			width: 245px;
			padding-bottom: 140px;
			margin-left: -350px;
			background: @blue;
			transition: all 0.15s;
			z-index: 1;
			.separator_cat{
				display: block;
				position: relative;
				padding: 18px 35px 5px 30px;
				font-size: 10px;
				text-transform: uppercase;
				color: @light-blue;
				&:after{
					content: '';
					position: absolute;
					height: 1px;
					margin-left: 15px;
					margin-top: 6px;
					width: 135px;
					background: @light-blue;
					
				}
			}
			.bar_active_list{
				position: relative;
				padding: 10px 30px;
				cursor: pointer;
				font-size: 16px;
				font-weight: bold;
				color: #FFF;
				&:before {
					content: "";
					position: absolute;
					background: url(../img/svg/keyboard.svg) no-repeat center;
					width: 7px;
					height: 10px;
					margin-top: 6px;
					right: 35px;
				}
				&:hover{
					background: @dark-blue;
				}
				&.active{
					background: @dark-blue;
					&:before {
						-moz-transform: rotate(-90deg); 
						-ms-transform: rotate(-90deg);
						-webkit-transform: rotate(-90deg);
						-o-transform: rotate(-90deg);
						transform: rotate(-90deg);
					}
				}
				.bar_notification{
					position: absolute;
					padding: 2px 6px;
					top: 12px;
					right: 65px;
					background: @red;
					font-size: 11px;
					border-radius: 50%;
				}
			}
			.bar_active_item{
				display: none;
				padding: 10px 0;
				background: @navy-blue;
				li{
					a{
						display: block;
						position: relative;
						padding: 7px 30px;
						cursor: pointer;
						font-size: 14px;
						color: #FFF;
					}
				}
			}
		}
	}
}
.content{
	background: #f2f2f2;
	margin-left: 100px;
	.head_content{
		padding: 10px 20px;
		background: #FFF;
		height: 80px;
		.block_message{
			float: left;
			.btn_add, .btn_message{
				display: inline-block;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				cursor: pointer;
				margin-right: 10px;
			}
			.btn_message{
				background: url(../img/svg/email.svg) no-repeat center @red;
			}			
			.btn_add{
				background: url(../img/svg/add.svg) no-repeat center @green;
			}
			.block_message_info{
				display: inline-block;
				vertical-align: top;
				margin-top: 13px;
				.block_message_num{
					font-size: 17px;
					font-weight: bold;
				}			
				.block_message_name{
					display: block;
					font-size: 14px;
					color: @gray;
					margin-bottom: 5px;
				}

			}
		}
		.block_user{
			float: right;
			.btn_logo{
				float: right;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				cursor: pointer;
				margin-left: 10px;
				background: url(../img/svg/royalty.svg) no-repeat center @blue;
			}
			.block_user_info{
				display: inline-block;
				vertical-align: top;
				margin-top: 13px;
				text-align: right;
				.block_user_name{
					font-size: 17px;
					font-weight: bold;
				}			
				.block_user_position{
					display: block;
					font-size: 14px;
					color: @gray;
					margin-bottom: 5px;
				}
			}
		}
	}
	.table_wrap{
		margin: 20px;
		background: #FFF;
		border: 1px solid @blue-gray;
		.table_head{
			.table_records_block{
				padding: 15px 30px;
				.table_title{
					font-size: 32px;
					font-weight: bold;
				}
				.table_records{
					font-size: 12px;
					color: @gray;
					
				}
			}
			.table_setting_block{
				float: right;
				position: relative;
				height: 40px;
				margin: 23px;
				input[type="text"]{
					width: 245px;
					padding: 11px 40px 11px 11px;
					background: url(../img/svg/search.svg) no-repeat center right 11px;
					border: 1px solid @blue-gray;
					border-radius: 3px;
					margin-right: 5px;
				}
				.btn_n, .btn_setting{
					display: inline-block;
					width: 40px;
					height: 40px;
					border-radius: 3px;
					vertical-align: middle;
					cursor: pointer;
					&:active,&.active{
						box-shadow: inset 2px 2px 10px rgba(0,0,0,.2);
						transition: all .2s;
					}
					
				}
				.btn_n{
					background: url(../img/setting_n.png) no-repeat center @blue-gray;
					margin-right: 5px;
						
				}
				.btn_setting{
					background: url(../img/svg/setting_btn.svg) no-repeat center @green;
					margin-right: 5px;
				}
				.setting_sub_menu{
					position: absolute;
					display: none;
					width: 250px;
					top: 50px;
					left: 94px;
					padding-top: 20px;
					background: #FFF;
					border: 1px solid #dededf;
					border-top: 5px solid @green;
					z-index: 10;
					&:after {
						content: ''; 
						position: absolute;
						right: 10px;
						top: -21px;
						border: 10px solid transparent;	
						border-bottom: 8px solid @green;
					}
					li{
						display: block;
						padding: 2px 10px 2px 35px;
						&:last-child{
							padding: 10px;
							margin-top: 15px;
							background: @light-gray;
							color: #adafb1;
							text-align: center;
							cursor: pointer;
							&:active{
								box-shadow: inset 2px 2px 10px rgba(0,0,0,.2);
								transition: all .2s;
							}
						}
					}
					.checkbox.nonbox{
						input[type="checkbox"] {
							&[type="checkbox"] + label {
								background: url(../img/svg/tick_gray.svg) center left no-repeat, url(../img/svg/crosss.svg) 6px no-repeat;
								color: @gray;
							}
							&[type="checkbox"]:checked + label {
								background: url(../img/svg/tick_gray.svg) center left no-repeat, url(../img/svg/crosss.svg) 6px no-repeat;
								color:@gray;
							}                        
						}
					}										
				}
			}
		}

		table{
			width: 100%;
			position: relative;
			border-collapse: collapse;
			thead{
				background: @blue;
				color: #FFF;
				tr{
					background: @blue;
					.separator_table{
						display: inline-block;
						position: absolute;
						right: -5px;
						width: 1px;
						height: 20px;
						background: @light-blue;
						&:after, &:before{
							content: '';
							position: absolute;
							display: inline-block;
							width: 1px;
							height: 20px;
							right: 2px;
							top: 0px;
							background: @light-blue;
						}						
						&:after{
							right: 2px;
						}						
						&:before{
							left: 2px;
						}
					}
					th{
						padding: 5px;
						&.size_s{
							width: 70px;
							min-width: 70px;
						}						
						&.size_m{
							width: 130px;
							min-width: 130px;
						}
						&.size_l{
							width: 145px;
							min-width: 145px;
						}
						&.size_xl{
							width: 360px;
							min-width: 100px;
						}
						.btn_ellipsis{
							position: relative;
							width: 23px;
							font-weight: bold;
							color: #FFF;
							&:after{
								content: ".";
								position: absolute;
								left: 9px;
								top: 3px;
							}							
							&:before{
								content: ".";
								position: absolute;
								left: 9px;
								bottom: 6px;
							}
						}
						span{
							display: block;
							position: relative;
							padding: 13px 0 18px;
							font-size: 18px;
							font-weight: normal;
						}

						.table_search_wrap{
							input{
								padding: 10px;
								width: 100%;
								border: none;
								border-radius: 3px;
							}
						}
					}
				}
			}
			tbody{
				text-align: center;
				tr{
					&:nth-child(2n) {background: @light-gray;}
					&:hover{
						background: @blue;
						color: #FFF;
						.edit_sub_menu{
							color: #333;
						}
						a{
							color: #FFF;
							&:visited{
								color:  #FFF;
							}
						}
						.btn_ellipsis{
							background: url(../img/svg/three_hover.svg) no-repeat center;
						}
						.checkbox {		
							input[type="checkbox"] {
								&[type="checkbox"] + label {
									color: #FFF;
								} 
								&[type="checkbox"]:checked + label {
									background: url(../img/svg/tick_cheked.svg) left center no-repeat;
									color: @green;
								} 
							}
						}
					}
					&.message{
							background: #fde5e6;
							color: #333;
							a{
								color: @blue;
								&:visited{
									color:  @blue;
								}
							}
							.btn_ellipsis{
								background: url(../img/svg/three_hover.svg) #f25255 no-repeat center;
							}
						&:hover{
							.checkbox {
								color: @green;
								input[type="checkbox"] {
									&[type="checkbox"] + label {
										background: url(../img/svg/tick_gray.svg) center left no-repeat;
										color: #4d4d4d;
									}
									&[type="checkbox"]:checked + label {
										background: url(../img/svg/tick_cheked.svg) left center no-repeat;
										color: @green;
									}                        
								}
							}
							
						}
						}
					td{
						padding: 0px 5px;
						height: 40px;
						&.size_s{
							width: 60px;
							min-width: 40px;
						}						
						&.size_m{
							width: 130px;
							min-width: 100px;
						}
						&.size_l{
							width: 145px;
							min-width: 100px;
						}
						&.size_xl{
							width: 360px;
							min-width: 100px;
						}
						&.menu_ellipsis{
							position: relative;
							padding: 0px;
							width: 20px;
							.edit_sub_menu{
								position: absolute;
								display: none;
								width: 200px;
								top: 50px;
								right: 0px;
								padding: 5px 0;
								background: #FFF;
								border: 1px solid #dededf;
								border-top: 5px solid @red;
								z-index: 10;
								&:hover{
									color: #333;
								}
								&:after {
									content: ''; 
									position: absolute;
									right: 0px;
									top: -21px;
									border: 10px solid transparent;	
									border-bottom: 8px solid @red;
								}
							}
							li{
								text-align: left;
								padding: 10px 10px 10px 65px;
								cursor: pointer;

								&.edit_ellipsis{
									background: url(../img/svg/pencil.svg) center left 25px no-repeat;
									&:hover{
										background: url(../img/svg/pencil_hover.svg) center left 25px no-repeat #EAEDF1;
									}
								}
								
								&.fast_ellipsis{
									background: url(../img/svg/writing.svg) center left 25px no-repeat;
									&:hover{
										background: url(../img/svg/writing_hover.svg) center left 25px no-repeat #EAEDF1;
									}
								}									
								&.view_ellipsis{
									background: url(../img/svg/view.svg) center left 25px no-repeat;
									&:hover{
										background: url(../img/svg/view_hover.svg) center left 25px no-repeat #EAEDF1;
									}
								}									
								&.delete_ellipsis{
									background: url(../img/svg/delete.svg) center left 25px no-repeat;
									&:hover{
										background: url(../img/svg/delete_hover.svg) center left 25px no-repeat #EAEDF1;
									}
								}

							}
						}
						a{
							color: @blue;
							&:visited{
								color:  @blue;
							}
							
						}
						.btn_ellipsis{
							position: relative;
							display: block;
							width: 23px;
							height: 40px;
							font-weight: bold;
							color: #FFF;
							background: url(../img/svg/three170.svg) no-repeat center;
							cursor: pointer;
						}
						.thread_text{
							white-space: nowrap;
							overflow: hidden;
							padding: 5px;
							text-overflow: ellipsis;
							width: 85%;
							display: block;
						}

//						.table_checkbox_corr, .table_checkbox_size {
//							display: inline-block;
//							input[type="checkbox"] {
//								position: absolute;
//								left: -9999px;
//								&[type="checkbox"] + label {
//									display: inline-block;
//									padding-left: 30px;
//									height: 25px;
//									border: none;
//									cursor: pointer;
//									color: #4d4d4d;
//									font-size: 16px;
//								}                      
//							}
//							span{
//								display: inline-block;
//								position: relative;
//								vertical-align: top;
//								margin-top: 4px;
//							}
//						}					
//						.table_checkbox_corr {
//							color: @green;
//							input[type="checkbox"] {
//								&[type="checkbox"] + label {
//									background: url(../img/svg/tick.svg) center no-repeat;
//								}
//								&[type="checkbox"]:checked + label {
//									background: url(../img/svg/tick_cheked.svg) center no-repeat;
//								}                        
//							} 
//						}					
//						.table_checkbox_size {
//							input[type="checkbox"] {
//								&[type="checkbox"] + label {
//									background: url(../img/svg/tick_gray.svg) center no-repeat;
//								}
//								&[type="checkbox"]:checked + label {
//									background: url(../img/svg/tick_gray_cheked.svg) center no-repeat;
//								}                        
//							}
//						}
					}
				}
			}
		}
	}
}

#popup_edit {
	display: block;
	position: fixed;
	background-color: @light-gray;
	margin-right: -730px;
	width: 715px;
	height: 100%;
	top: 0;
	right: 0;
	transition: all 0.15s;
	overflow: hidden;
	z-index: 99999;
	-webkit-box-shadow: -8px 0px 39px -3px rgba(0,0,0,0.21);
	-moz-box-shadow: -8px 0px 39px -3px rgba(0,0,0,0.21);
	box-shadow: -8px 0px 39px -3px rgba(0,0,0,0.21);
	.popup_head {
		background: @green;
		text-align: left;
		h2{
			display: inline-block;
			position: relative;
			padding: 5px 150px 5px 60px;
			font-size: 24px;
			color: #FFF;
		}
		i {
			position: absolute;
			background: url(../img/svg/cross.svg) no-repeat center;
			height: 18px;
			right: 0;
			top: 0;
			width: 18px;
			margin: 30px 70px;
			cursor: pointer;
		}
	}
	.popup_body {
		display: block;
		height: 95%;
		overflow-y: scroll;
		margin-right: -15px;
		padding-bottom: 138px;
		.checkbox {
			input[type="checkbox"] {
				&[type="checkbox"] + label {
					background: url(../img/svg/tick_gray.svg) center left no-repeat;
					color: #78797a;
					margin: 5px 0;
				}
				&[type="checkbox"]:checked + label {
					background: url(../img/svg/tick_cheked.svg) left center no-repeat;
					color: @green;
				}                        
			}
		}
		.title_text_edit{
			display: block;
			font-size: 14px;
			color: #78797a;
			margin-bottom: 5px;
		}
		.date_edit{
			position: relative;
			padding: 15px 60px;
			border-bottom: 1px solid @blue-gray;
			fieldset{
				display: inline-block;
				padding: 0;
				width: 48%;
				input[type="text"]{
					font-size: 16px;
					border: none;
					background: transparent;
				}
			}
		}
		.text_edit{
			padding: 20px 60px;
			.specifications{
				fieldset{
					display: inline-block;
					padding: 0;
					margin: 0;
					margin-right: 31px;
					width: 120px;
					&:last-child{
						margin: 0;
					}
					input{
						width: 120px;
						padding: 15px 20px;
						border: 1px solid @blue-gray;
						border-radius: 4px;
					}
				}
			}
			fieldset{
				padding: 15px 0 0 0;
				input, select, textarea{
					width: 100%;
					padding: 15px 20px;
					border: 1px solid @blue-gray;
					border-radius: 4px;
					font-family: 'Arial', sans-serif;
					
				}
				select{
					cursor: pointer;
				}
				textarea{
					resize: vertical;
				}
				.select_box{
					select{
						width: 175px;
						font-size: 18px;
						padding: 12px 20px;
						cursor: pointer;
					}
				}
			}
		}
		.link_edit{
			position: relative;
			padding: 15px 60px;	
			border-top: 1px solid @blue-gray;
			background: #fafbfd;
			fieldset{
				padding: 0;
				margin-top: 5px;
				input{
					width: 100%;
					padding: 15px 20px;
					border: 1px solid @blue-gray;
					border-radius: 4px;
				}
			}
			.checkbox{
				.title_text_edit{
					display: inline-block;
					position: relative;
					font-size: 14px;
					vertical-align: top;
					margin-top: 4px;
				}
			}
		}
		.btn_edit{
			text-align: center;
			padding: 24px;
			border-top: 1px solid @blue-gray;
			background: #f4f7fa;
			display: inline-block;
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 85px;
			padding-bottom: 20px;
			left: 0;
			z-index: 11;
			.btn_author{
				padding: 11px 40px;
			}
		}
	}	
}
#popup_message {
	display: block;
	position: fixed;
	background-color: @light-gray;
	margin-right: -730px;
	width: 715px;
	height: 100%;
	top: 0;
	right: 0;
	transition: all 0.15s;
	overflow: hidden;
	z-index: 99999;
	-webkit-box-shadow: -8px 0px 39px -3px rgba(0,0,0,0.21);
	-moz-box-shadow: -8px 0px 39px -3px rgba(0,0,0,0.21);
	box-shadow: -8px 0px 39px -3px rgba(0,0,0,0.21);
	.popup_head {
		background: @red;
		text-align: left;
		h2{
			display: inline-block;
			position: relative;
			padding: 5px 150px 5px 60px;
			font-size: 24px;
			color: #FFF;
		}
		i {
			background: url(../img/svg/cross.svg) no-repeat center;
			height: 18px;
			position: absolute;
			right: 0;
			top: 0;
			width: 18px;
			margin: 30px 70px;
			cursor: pointer;
		}
	}
	.popup_body {
		display: block;
		height: 95%;
		overflow-y: scroll;
		margin-right: -15px;
		padding-bottom: 120px;
		.message_item, .message_item_dialog{
			position: relative;
			padding: 30px 60px;
			&.new_message{
				&:after{
					content: 'новое';
					position: absolute;
					right: 60px;
					top: 30px;
					padding: 2px 5px;
					background: @red;
					font-weight: bold;
					color: #FFF;
					border-radius: 2px;
				}	
			}
			.user_name{
				font-size: 16px;
				font-weight: bold;
			}
			.user_position{
				display: block;
				font-size: 14px;
				color: #78797a;
			}
			.user_message{
				padding: 15px 0;
			}
			.time_message{
				font-size: 11px;
				color: #78797a;
			}
			.reply_message_link{
				position: relative;
				display: inline-block;
				color: @green;
				font-weight: bold;
				border-bottom: 1px solid #c0ebe3;
				margin: 15px 23px 0px 23px;
				cursor: pointer;
				&:before{
					content: '';
			 		position: absolute;
					width: 20px;
					height: 20px;
					top: -6px;
					left: -22px;
					background: url(../img/svg/curve_green.svg) no-repeat;
					-moz-transform: rotate(177deg);
					-ms-transform: rotate(177deg); 
					-webkit-transform: rotate(177deg);
					-o-transform: rotate(177deg); 
					transform: rotate(177deg);

				}
				&:hover{
					border-bottom: 1px solid transparent;
				}
			}
		}
		.reply_message{
			position: relative;
			display: none;
			padding: 50px 60px 15px 60px;	
			border-top: 1px solid @blue-gray;
			border-bottom: 1px solid @blue-gray;
			background: #fafbfd;
			text-align: center;
			margin-bottom: 15px;
			&:before{
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				top: 15px;
				left: 57px;
				background: url(../img/svg/curve_gray.svg) no-repeat;
				-moz-transform: rotate(-95deg);
				-ms-transform: rotate(-95deg); 
				-webkit-transform: rotate(-95deg);
				-o-transform: rotate(-95deg); 
				transform: rotate(-95deg);

			}
			textarea{
				position: relative;
				width: 100%;
				padding: 15px 20px;
				min-height: 130px;
				border: 1px solid @blue-gray;
				border-radius: 4px;
				resize: vertical;	
			}
			.btn_author{
				padding: 11px 40px;
				margin-top: 12px;
			}
			.reply_message_hide{
				position: absolute;
				display: block;
				right: 85px;
				top: 20px;
				width: 22px;
				height: 10px;
				background: url(../img/svg/up_arrow.svg) no-repeat center;
				cursor: pointer;
			}
		}
		.reply_message_dialog{
			position: relative;
			width: 590px;
			margin: 0 auto;
			padding: 15px 20px 30px 20px;
			background: #FFF;
			border: 1px solid #e7ebef;
			border-bottom: 4px solid #e7ebef;
			border-radius: 4px;
			&:before, &:after {
				content: '';
				position: absolute;
				right: 40px;
				bottom: -23px;
				border: 10px solid transparent;
				border-top: 10px solid #e7ebef;
			}
			&:after {
				border-top: 9px solid #fff;
				bottom: -19px;
			}
			p{
				margin-top: 0;
			}
			.time_message{
				position: absolute;
				left: 20px;
				bottom: 15px;
				font-size: 11px;
				color: #78797a;
			}
			.edit_message_dialog{
				position: absolute;
				right: 10px;
				top: 10px;
				width: 20px;
				height: 20px;
				background: url(../img/svg/pencil.svg) center no-repeat;
				cursor: pointer;
				
			}
		}
		.message_item_dialog{
			width: 590px;
			margin: 0 auto;
			padding: 30px;
			.user_name{
				position: relative;
				&:before{
					content: '';
			 		position: absolute;
					width: 20px;
					height: 20px;
					top: -6px;
					left: -22px;
					background: url(../img/svg/curve_red.svg) no-repeat;
					-moz-transform: rotate(177deg);
					-ms-transform: rotate(177deg); 
					-webkit-transform: rotate(177deg);
					-o-transform: rotate(177deg); 
					transform: rotate(177deg);

				}
			}
		}
		.date_edit{
			position: relative;
			padding: 15px 60px;
			border-bottom: 1px solid @blue-gray;
			fieldset{
				display: inline-block;
				padding: 0;
				width: 48%;
				input[type="text"]{
					font-size: 16px;
					border: none;
					background: transparent;
				}
			}
		}

		.btn_edit_message{
			text-align: center;
			padding: 24px;
			border-top: 1px solid @blue-gray;
			background: #fafbfd;
			display: inline-block;
			position: absolute;
			width: 100%;
			bottom: 0;
			height: 85px;
			padding-bottom: 20px;
			left: 0;
			z-index: 11;
			.btn_author{
				padding: 11px 40px;
			}
		}
	}	
}
.pagination {
	display: inline-block;
	margin: 0 20px;
	background: #FFF;
	border: 1px solid @blue-gray;
	.hidden {
		display: none;
	}
	ul{
        background: #FFF;
		list-style: none;
		li {
			position: relative;
			float: left;
            &:hover {
				background: #f4f7fa;
			}
			a {
				display: block;
				padding: 10px 15px;
				font: 700 18px Arial;
				color: @blue-gray;
			}
            &.selected {
				background: @green;
				color: #f4f7fa;
				cursor: pointer;
				&:hover {background: @green;}
                a{
                        color: #FFF;
                    }
			}
        }
	}	
}
.checkbox{
	display: inline-block;
	input[type="checkbox"] {
		position: absolute;
		left: -9999px;
		&[type="checkbox"] + label {
			display: inline-block;
			padding: 3px 0 3px 30px;
			height: 25px;
			border: none;
			cursor: pointer;
			color: #4d4d4d;
			font-size: 14px;
			background: url(../img/svg/tick_gray.svg) center left no-repeat;
		} 
		&[type="checkbox"]:checked + label {
				background: url(../img/svg/tick_cheked.svg) center left no-repeat;
			color: @green;
		}
	}
}	