@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic);

.font_pt {
    font-family: 'PT Sans', sans-serif;
    font-family: 400px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box
}

body, html {
    height: 100%;
    width: 100%
}

body {
    color: #000;
    background: #EAEAEA;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px
}

a {
    outline: 0;
    -moz-outline: 0;
    border: none;
    border-width: 0;
    text-decoration: underline
}

a:hover {
    text-decoration: none
}

a:active, a:focus {
    outline: 0;
    -moz-outline: 0
}

img {
    border: none;
    border-width: 0
}

p {
    margin-bottom: 10px
}

input:focus, select:focus, textarea:focus {
    outline: 0 !important
}

table {
    border-collapse: collapse
}

label {
    cursor: pointer
}

input {
    color: #575757;
    font-family: Arial;
    font-size: 14px;
    padding: 5px 6px
}

textarea {
    padding: 2px 6px;
    font-size: 14px;
    color: #575757
}

ul {
    list-style: none;
    margin: 0
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both !important;
    visibility: hidden
}

#wrapper {
    height: auto !important;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative
}

#header {
    min-height: 85px;
    min-width: 1210px;
    position: relative;
    background: #198ac0
}

#header .center {
    position: relative
}

.center {
    width: 1480px;
    margin: 0 auto
}

.header__logo {
    width: 220px;
    height: 24px;
    display: block;
    position: absolute;
    left: 56px;
    top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
    padding: 0 0 0 34px;
    font-family: 'PT Sans', sans-serif;
    font-family: 400px
}

.header__logo:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/sprite_02.png) -139px -4px no-repeat;
    width: 24px;
    height: 24px
}

.headerBtnMenu {
    background: url(../img/sprite_02.png) no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    position: absolute;
    right: 21px;
    top: 28px
}

.headerBtnMenu.active {
    background: url(../img/sprite_02.png) 28px 28px no-repeat #1278a8;
    padding: 43px 42px;
    top: 0;
    right: -8px
}

.menuWrap__hiddenMenu {
    border-bottom: 1px solid #146f9a;
    box-shadow: 0 5px 0 #cbe2ed;
    padding: 0 20px;
    background: #1278a8;
    display: none;
    position: relative;
    font-size: 0
}

.menuWrap__hiddenMenu li {
    font-family: 'PT Sans', sans-serif;
    font-family: 400px;
    font-size: 18px;
    display: inline-block
}

.menuWrap__hiddenMenu .active a {
    background: #198ac0
}

.menuWrap__hiddenMenu a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 23px
}

.menuWrap__hiddenMenu a:hover {
    background: #198ac0
}

.cell.udpate {
    width: 45px
}

.table .sort .status {
    width: 180px
}

.menuWrap__reportMenu {
    padding: 26px 30px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6
}

.menuWrap__reportMenu__list {
    float: left;
    width: 76%
}

.menuWrap__reportMenu__list li {
    display: block;
    float: left;
    vertical-align: top;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-family: 400px;
    font-weight: 700;
    color: #FFF
}

.menuWrap__reportMenu__list li a {
    color: #1278a8;
    display: block;
    padding: 11px 5px;
    transition: all .4s
}

.menuWrap__reportMenu__list li a:hover {
    border-bottom-color: transparent;
    transition: all .4s;
    color: #333
}

.menuWrap__reportMenu__list li.active {
    background: #f2f2f2;
    color: #000;
    margin-left: 1px
}

.menuWrap__reportMenu__list li.active a {
    color: #333;
    text-decoration: none
}

.menuWrap__reportMenu__sub {
    position: relative;
    border: 1px solid #b9dcec;
    padding: 0 15px;
    cursor: pointer
}

.menuWrap__reportMenu__sub.active {
    background: #1778a6 !important;
    margin-left: 0 !important
}

.menuWrap__reportMenu__sub.active a {
    color: #FFF !important
}

.menuWrap__reportMenu__sub.active:after, .menuWrap__reportMenu__sub.active:before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -11px;
    border: 5px solid transparent;
    border-top: 5px solid #1778a6
}

.menuWrap__reportMenu__sub.active:after {
    border-top: 5px solid #1778a6;
    bottom: -10px
}

.menuWrap__reportMenu__sub a {
    text-decoration: none;
    font-size: 26px;
    padding: 0 0 7px !important
}

.menuWrap__reportMenu__sub:after, .menuWrap__reportMenu__sub:before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -11px;
    border: 5px solid transparent;
    border-top: 5px solid #b9dcec
}

.menuWrap__reportMenu__sub:after {
    border-top: 5px solid #fff;
    bottom: -10px
}

.menuWrap__reportMenu__sub .menuWrap__reportMenu__sub__menu {
    position: absolute;
    display: none;
    top: 47px;
    left: -55px;
    width: 175px;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #178ac0;
    z-index: 9999
}

.menuWrap__reportMenu__sub .menuWrap__reportMenu__sub__menu li {
    display: block;
    width: 100%
}

.menuWrap__reportMenu__sub .menuWrap__reportMenu__sub__menu li.active, .menuWrap__reportMenu__sub .menuWrap__reportMenu__sub__menu li:hover {
    background: #1778a6
}

.menuWrap__reportMenu__sub .menuWrap__reportMenu__sub__menu li a {
    color: #FFF;
    padding: 10px 20px 10px 25px !important;
    font-size: 14px
}

.menuWrap__reportMenu__list__btn {
    margin: 0 1px 0 0 !important
}

.menuWrap__reportMenu__list__btn a {
    background: #198ac0;
    position: relative;
    content: '';
    display: block;
    min-width: 40px;
    text-decoration: none;
    height: 40px;
    color: #FFF !important;
    text-align: center
}

.menuWrap__reportMenu__list__btn a:hover {
    background: #1278a8
}

.menuWrap__reportMenu__selectBox {
    float: right;
    width: 24%
}

.menuWrap__reportMenu__selectBox select {
    float: right;
    margin: 0 0 0 20px
}

.menuWrap__reportMenu__selectBox .menuWrap__reportMenu__selectBox__addBtn {
    float: right;
    display: inline-block;
    text-decoration: none;
    width: 49px;
    height: 43px;
    position: relative;
    background: #a6d079
}

.menuWrap__reportMenu__selectBox .menuWrap__reportMenu__selectBox__addBtn:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/sprite_02.png) -64px -31px no-repeat;
    width: 18px;
    height: 13px;
    margin: -7px 0 0 -9px
}

h1.title_page {
    padding: 20px 30px;
    background: #FFF;
    font-size: 32px;
    border-bottom: solid 1px #EAEAEA
}

.moneyInfo {
    padding: 10px 30px;
    background: #FFF;
    font-size: 14px;
    color: #C00;
    border-bottom: solid 1px #EAEAEA
}

.moneyInfo span.vhr {
    color: #FFF;
    border-left: solid 1px #CCC
}

.row.caption .affiliates {
    height: auto !important
}

.row.caption .successing {
    width: 104px
}

.table {
    background: #fff
}

.table .cell {
    float: left;
    text-align: center
}

.table .cell input[type=text] {
    width: 95%;
    float: left
}

.table .print_icon {
    margin: 0 -6px 0 41px;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    position: relative
}

.table .print_icon:before {
    content: "";
    position: absolute;
    left: -18px;
    top: 3px;
    background: url(../img/sprite_02.png) -156px -35px no-repeat;
    width: 13px;
    height: 15px
}

.table .actualName {
    width: 175px
}

.table .recording {
    width: 75px
}

.table .surviving {
    width: 105px
}

.table .surviving sup {
    font-size: 9px;
    position: relative;
    top: -5px
}

.table .successing {
    width: 95px
}

.table .status {
    width: 190px
}

.table .date {
    width: 75px
}

.table .generalSum span {
    display: block
}

.table .generalSum .green {
    color: #629c44
}

.table .edit {
    max-width: 40px;
    min-width: 40px;
    display: none
}

.table .edit .editBtn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAVQAAAFUBceom8QAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFASURBVEiJtZRNSgNBEEZfTYJCkoUg3kLBE3gH1y5cuTZ38BDuEqMJeAJXxqg5gCCIZ/ACgqB+LqYnzIw9v5001KZq5r2iCsokscnXXQfEzLaAY6AP3Er6XBUlBYWDPgNy8QrsruqBcAPuU/AkXoAdSUQBY+kotoyBn1z5EDgH2gnMbAAszGwoaQaceiQfQPMRAQOyMx+6/Anw7XJToNN4B/xfqE8ySeCNBA7+5IFnJPmotQMz6wN3wFHJZwfebM3OH0s6FzACIu//FfBeDfi4CF4qcPBFBfyqDF4oWBfcK3Dwhwr4pA68SHBZAb+uC88IiM9GD9gjvojB8LxgH5iXSG6awvOCMwfySaZt4HnBKNVtWnJB6raECN5zI5kD223BSXQBzCwiPsNvwJL4Yi4lfRH4zHWPmUWSfkOBhYJNvT8hH0WoBy10YAAAAABJRU5ErkJggge2cd625a5dfb068575d21960c945f744)
}

.table .sortBtn {
    display: inline-block;
    background: url(../img/sprite_02.png) -67px -49px no-repeat;
    width: 12px;
    height: 10px;
    margin: 0 0 0 7px
}

.line {
    border-bottom: 1px solid #ebebeb
}

.line .cell {
    padding: 10px 0
}

.line .actualName, .line .legalName {
    text-align: left
}

.hiddenRow {
    clear: both;
    width: 100%;
    border-top: none
}

.line.active .status {
    display: none
}

.legalName a {
    text-decoration: none;
    color: #000
}

.hiddenAffiliates__right__top__calendarWrap {
    display: none;
    position: relative;
    width: 120px;
    margin-top: 2px
}

.hiddenAffiliates__right__top__calendarWrap input[type=text] {
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    height: 35px;
    padding: 8px 5px;
    display: block;
    text-align: center;
    font-weight: 700;
    width: 110px !important
}

.hiddenAffiliates__right__top__calendarWrap .save_status {
    cursor: pointer;
    font-size: 0;
    right: 0;
    top: 0;
    position: absolute;
    height: 35px;
    width: 32px;
    background: #a6d079;
    border-radius: 0 3px 3px 0
}

.hiddenAffiliates__right__top__calendarWrap .save_status:before {
    content: "";
    background: url(../img/sprite_02.png) -64px -31px no-repeat;
    width: 18px;
    height: 13px;
    margin: -7px 0 0 -9px;
    position: absolute;
    left: 50%;
    top: 50%
}

.hiddenAffiliates__right__top__price {
    font-size: 18px;
    color: #E76150;
    font-weight: 700;
    position: relative;
    width: 120px;
    text-align: center;
    margin: 20px 0
}

.hiddenAffiliates__right__top__price input[type=text] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px 27px 5px 2px
}

.hiddenAffiliates__right__top__price label {
    border-left: 1px solid #ccc;
    width: 26px;
    background: #e2ee79;
    height: 26px;
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 11px
}

.hiddenAffiliates__right__top__calendarWrap__close {
    padding: 0 23px 0 0;
    float: right !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 50px solid #E76150;
    border-left: 50px solid transparent
}

.hiddenAffiliates__right__top__calendarWrap__close .hiddenAffiliates__right__top__btnClose {
    background: url(../img/sprite_02.png) -100px -5px no-repeat;
    width: 11px;
    height: 11px;
    position: absolute;
    left: -18px;
    top: -41px;
    display: block
}

.activeAffiliates {
    border: 1px solid #000
}

.activeAffiliates .affiliates {
    background: #ffeceb;
    border: 1px solid #fad2e0;
    border-bottom: none;
    position: relative;
    top: 2px
}

.hiddenWrap {
    display: none;
    overflow: hidden;
    clear: both
}

.calendar_status {
    padding: 0;
    width: 55% !important
}

.pagination {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #fff
}

.paginator {
    display: inline;
    text-align: center
}

.paginator .hidden {
    display: none
}

.paginator li {
    display: inline-block
}

.paginator li a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background: #F1F1F1;
    padding: 7px 14px;
    display: inline-block;
    color: #333
}

.paginator li a:hover {
    background: #e4e4e4
}

.paginator .selected a, .paginator .selected:hover a {
    color: #FFF;
    background: #5485ab
}

.menuWrap__reportMenu__selectBox .chosen-container {
    width: 60px !important;
    margin: 0 0 0 2px;
    float: right
}

.menuWrap__reportMenu__selectBox .data_select_one {
    float: right;
    display: inline-flex;
    margin-left: 2px
}

.menuWrap__reportMenu__selectBox .data_select_one input[type=button] {
    background: url(../img/svg/iris.svg) center no-repeat #eaeaea;
    border: none;
    padding: 10px 15px;
    display: inline-block;
    margin-left: 1px;
    cursor: pointer
}

.menuWrap__reportMenu__selectBox .data_select_one input[type=button]:hover {
    background: url(../img/svg/iris_fff.svg) center no-repeat #198ac0
}

.menuWrap__reportMenu__selectBox .data_select_one input[type=text] {
    width: 90px !important;
    margin: 0 0 0 1px;
    padding: 10px 0;
    display: inline-block;
    color: #333;
    font-size: 14px;
    text-align: center;
    border: none;
    background: #EAEAEA
}

.sort .affiliates a {
    visibility: hidden
}

.caption__statusExpense span:last-of-type {
    color: #96bf6a
}

.row.line.active {
    position: relative;
    padding: 10px 30px 0
}

.row.line.active .hiddenRow {
    clear: both;
    width: 110%;
    margin: 0 0 0 -30px;
    border-top: 0;
    font-weight: 400 !important
}

.row.line.active .affiliates {
    background: #f9f9f9;
    border: 1px solid #EAEAEA;
    border-bottom: none;
    position: relative;
    top: 1px;
    height: 55px !important
}

.status .circle {
    top: -20px
}

.menuWrap__reportMenu__selectBox li:before {
    display: none !important
}

.status_color_1 .red {
    color: #000
}

.status_color_1 .hiddenAffiliates__left {
    border-color: #EAEAEA;
    background: #F9F9F9
}

.status_color_1 .hiddenAffiliates__right {
    border-color: #EAEAEA
}

.status_color_2 {
    background: #fff9e5
}

.status_color_2 .red {
    color: #000
}

.status_color_2 .hiddenAffiliates__left {
    border-color: #F2E0A2
}

.status_color_2 .affiliates {
    border-color: #F2E0A2 !important
}

.status_color_2 .hiddenAffiliates__right {
    border-color: #F2E0A2
}

.status_color_3 {
    background: #fff2f1
}

.status_color_3 .red {
    color: #de2810
}

.status_color_3 .affiliates {
    background: #fff2f1 !important
}

.status_color_4 {
    background: #f5feec
}

.status_color_4 .affiliates {
    background: #f5feec !important
}

.status_color_4 .red {
    color: #acd382
}

.status_color_4 .hiddenAffiliates__left {
    border-color: #D4E8C0
}

.status_color_4 .affiliates {
    border-color: #D4E8C0 !important
}

.status_color_4 .hiddenAffiliates__right {
    border-color: #D4E8C0;
    box-shadow: inset 3px 0 0 #F0F9E7;
    background: #FAFFF4
}

.line .affiliates {
    width: 99px
}

.chosen-container .chosen-drop {
    background: #fff !important;
    top: 102% !important
}

.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none !important;
    box-shadow: none !important
}

.hiddenAffiliates__right__top__calendarWrap input[type=text] {
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-family: 400px
}

.contactUser {
    font-size: 11px !important
}

.nameUser, .phoneUser {
    font-size: 12px !important
}

.addressClinic {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #7f7c7b !important
}

.clear {
    float: right;
    margin: 0 48px 0 0;
    background: url(../img/sprite_02.png) -153px -54px no-repeat;
    width: 19px;
    height: 15px;
    cursor: pointer
}

.clear:hover {
    background: url(../img/sprite_02.png) -154px -74px no-repeat;
    width: 19px;
    height: 15px
}

.difference {
    font-style: normal;
    font-size: 10px;
    position: absolute;
    margin: 1px 0 0 7px;
    font-weight: 700;
    color: #E76150;
    left: 35px
}

.main_number {
    float: left
}

.business-top-form {
    max-width: 800px;
    padding: 8px 0 0;
    margin: 0 auto
}

.business-top-form p strong {
    font-size: 48px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 0 29px;
    display: block
}

.business-form-wrapper {
    padding: 8px 0 0
}

.business-form-wrapper .row {
    margin: 0 0 10px
}

.business-form-wrapper input[type=text] {
    width: 100%;
    border: 1px solid #dcdddd;
    height: 43px;
    padding: 3px 10px;
    font-size: 16px;
    color: #444
}

.business-form-wrapper textarea {
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #dcdddd;
    height: 43px;
    padding: 10px;
    color: #444;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 113px
}

.business-form-wrapper ._save_btn {
    border: 1px solid #b01916;
    background: #f24841;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0;
    float: left
}

.business-form-wrapper ._save_btn:hover {
    background: #b11916
}

.business-form-wrapper .row_link {
    float: right;
    width: 200px
}

.business-form-wrapper .row_link a {
    display: block;
    text-decoration: none;
    border: 1px solid #124A0E;
    background: #2CB571;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 45px
}

.business-form-wrapper .row_link a:hover {
    background: #4DB581
}

.business-form-wrapper .note-form {
    position: relative
}

.business-form-wrapper .note-form:before {
    content: "";
    width: 3px;
    height: 41px;
    background: #f24841;
    border: 1px solid #d13630;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2
}

.is_error {
    background: #f24841;
    position: absolute;
    left: -105px;
    top: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    padding: 2px 8px
}

.is_error:before {
    position: absolute;
    right: -5px;
    top: 5px;
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid #f24841;
    border-bottom: 5px solid transparent
}

@font-face {
    font-family: clear;
    src: url(../font/clear.eot?59753727);
    src: url(../font/clear.eot?59753727#iefix) format('embedded-opentype'), url(../font/clear.woff?59753727) format('woff'), url(../font/clear.ttf?59753727) format('truetype'), url(../font/clear.svg?59753727#clear) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: update;
    src: url(../font/update.eot?19507963);
    src: url(../font/update.eot?19507963#iefix) format('embedded-opentype'), url(../font/update.woff?19507963) format('woff'), url(../font/update.ttf?19507963) format('truetype'), url(../font/update.svg?19507963#update) format('svg');
    font-weight: 400;
    font-style: normal
}

[class*=" icon"]:before, [class^=icon]:before {
    font-style: normal
}

.iconclear:before {
    content: '\e800';
    font-family: clear;
    color: #dbdbdb;
    display: block;
    transition: all .4s
}

.iconupdate:before {
    content: '\e801';
    font-family: update;
    color: #dbdbdb;
    display: block;
    transition: all .4s
}

.iconclear:hover:before, .iconupdate:hover:before {
    color: #1278A8;
    transition: all .4s
}

.iconclear, .iconupdate {
    text-decoration: none;
    font-size: 7px
}

.table_law .legalName {
    width: 165px
}

.table_law .actualName {
    width: 190px
}

.table_law .address, .table_law .numb_agree {
    width: 160px
}

.table_law .name {
    width: 205px;
    text-align: left
}

.table_law .agreement {
    width: 150px
}

.table_law .row .status {
    margin-left: 30px !important
}

.table_law .filter-table .cell {
    text-align: left
}

.table_law .filter-table .udpate {
    width: 33px;
    margin: 0 0 0 11px
}

.row.active .hiddenRow {
    display: none
}

.summary {
    display: inline
}

.exel_form {
    clear: both;
    padding: 38px 0 0
}

.exel_form .import_exel {
    background: #f24841;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700
}

.exel_form label {
    font-size: 16px;
    vertical-align: top
}

.check_wrapper {
    float: left
}

.btn_wrapper_down {
    float: right
}

.btn_wrapper_down .import_exel {
    padding: 5px 20px !important;
    margin: 0 !important;
    background: #f2f2f2 !important;
    color: #000 !important;
    border: none !important;
    position: relative !important;
    font-size: 14px !important;
    transition: all .4s
}

.btn_wrapper_down .import_exel:hover {
    background: #1278a8 !important;
    color: #fff !important;
    transition: all .4s
}

.btn_wrapper_down .import_exel:hover:before {
    background-position: -138px -35px
}

.hiddenAffiliates__right__top .chosen-single {
    position: relative
}

.text-uid {
    float: left
}

._create_block .text-uid:nth-child(even) {
    margin: 0 0 10px 172px
}

.text-dollar label:before, .text-pen label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(http://a.medbooking.com/themes/apinew/img/dollar.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: .2
}

.text-pencil label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(http://a.medbooking.com/themes/apinew/img/pencil.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: .2
}

.text-uid.text-phone label:before {
    content: " ";
    height: 17px;
    left: 17px;
    position: absolute;
    top: 20px;
    width: 17px;
    background: url(../img/sprite.png) -197px -274px no-repeat
}

.text-uid.text-email label:before {
    content: " ";
    position: absolute;
    left: 20px;
    top: 20px;
    width: 18px;
    height: 19px;
    background: url(http://a.medbooking.com/themes/apinew/img/sprite.png) -263px -113px no-repeat
}

.text-uid.text-pencil label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(http://a.medbooking.com/themes/apinew/img/pencil.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: .2
}

.text-uid.text-dollar label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(http://a.medbooking.com/themes/apinew/img/dollar.png) no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: .2
}

.icheckbox_polaris, .iradio_polaris {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    padding: 0;
    width: 29px;
    height: 29px;
    background: url(../img/polaris.png) no-repeat;
    border: none;
    cursor: pointer
}

.icheckbox_polaris {
    background-position: 0 0
}

.icheckbox_polaris.hover {
    background-position: -31px 0
}

.icheckbox_polaris.checked {
    background-position: -62px 0
}

.icheckbox_polaris.disabled {
    background-position: -93px 0;
    cursor: default
}

.icheckbox_polaris.checked.disabled {
    background-position: -124px 0
}

.iradio_polaris {
    background-position: -155px 0
}

.iradio_polaris.hover {
    background-position: -186px 0
}

.iradio_polaris.checked {
    background-position: -217px 0
}

.iradio_polaris.disabled {
    background-position: -248px 0;
    cursor: default
}

.iradio_polaris.checked.disabled {
    background-position: -279px 0
}

@media (-o-min-device-pixel-ratio: 5/4),(-webkit-min-device-pixel-ratio: 1.25),(min-resolution: 120dpi) {
    .icheckbox_polaris, .iradio_polaris {
        background-image: url(../img/polaris@2x.png);
        -webkit-background-size: 310px 31px;
        background-size: 310px 31px
    }
}

.skin:hover .arrows .bottom, .skin:hover .arrows .top {
    left: 0
}

.skin h3 {
    position: relative;
    z-index: 20;
    float: left;
    height: 60px;
    padding: 0 57px;
    line-height: 58px;
    background: #fff;
    border: 3px solid #ddd8ce;
    border-bottom: none
}

.skin h3:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background: #fff
}

.skin.skin-polaris h3 {
    color: #cacdd1;
    background: #2c323c
}

.skin.skin-polaris h3:before {
    background: #2c323c
}

.skin.skin-futurico h3 {
    color: #c3c3c3;
    background: #2e3035
}

.skin.skin-futurico h3:before {
    background: #2e3035
}

.skin dl {
    z-index: 10;
    width: 100%;
    margin: 0
}

.skin dt {
    position: relative;
    top: -53px;
    right: -3px;
    float: right;
    height: 47px;
    margin-right: -3px;
    padding: 0 57px;
    line-height: 47px;
    border: 3px solid #ddd8ce;
    cursor: pointer
}

.skin dt:hover {
    background: #f0ede7;
    border-bottom: 3px solid #ddd8ce
}

.skin dt.selected {
    height: 50px;
    background: #fff;
    border-bottom: none;
    cursor: default
}

.skin dt.selected:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background: #fff
}

.skin.skin-polaris dt {
    color: #cacdd1;
    background: #647083
}

.skin.skin-polaris dt:hover {
    background: #4a5361
}

.skin.skin-polaris dt.selected, .skin.skin-polaris dt.selected:before {
    background: #2c323c
}

.skin.skin-futurico dt {
    color: #c3c3c3;
    background: #676c77
}

.skin.skin-futurico dt:hover {
    background: #4b4e56
}

.skin.skin-futurico dt.selected, .skin.skin-futurico dt.selected:before {
    background: #2e3035
}

.skin dd {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin: -3px -100% 0 0;
    overflow: hidden;
    color: #444;
    background: #fff;
    border: 3px solid #ddd8ce
}

.skin dd.selected {
    display: block
}

.skin dd a {
    color: #444
}

.skin dd a:hover {
    color: #111
}

.skin.skin-polaris dd {
    color: #7a828b;
    background: #2c323c
}

.skin.skin-polaris dd a {
    color: #7a828b;
    border-bottom-color: #4e596b
}

.skin.skin-polaris dd a:hover {
    color: #a2a7ae
}

.skin.skin-futurico dd {
    color: #888;
    background: #2e3035
}

.skin.skin-futurico dd a {
    color: #888;
    border-bottom-color: #545861
}

.skin.skin-futurico dd a:hover {
    color: #aaa
}

.skin-section {
    float: left;
    padding: 42px 0 31px 57px;
    line-height: 18px
}

.skin-section h4 {
    padding-bottom: 18px
}

.skin-polaris .skin-section h4 {
    color: #959ba2
}

.skin-futurico .skin-section h4 {
    color: #a0a0a0
}

.skin-section .list {
    float: left;
    padding-right: 60px
}

.skin-section .list li {
    position: relative;
    padding-bottom: 15px
}

.skin-minimal .skin-section .list li {
    padding-left: 38px
}

.skin-square .skin-section .list li {
    padding-left: 42px
}

.skin-flat .skin-section .list li, .skin-line .skin-section label {
    padding-left: 40px
}

.skin-line .skin-section h4 {
    padding-bottom: 24px
}

.skin-line .skin-section .list {
    padding-right: 40px
}

.skin-line .skin-section .list li {
    padding-bottom: 10px
}

.skin-polaris .skin-section .list li {
    padding-left: 37px
}

.skin-futurico .skin-section .list li {
    padding-left: 36px
}

.icheckbox_minimal, .icheckbox_minimal-aero, .icheckbox_minimal-blue, .icheckbox_minimal-green, .icheckbox_minimal-grey, .icheckbox_minimal-orange, .icheckbox_minimal-pink, .icheckbox_minimal-purple, .icheckbox_minimal-red, .icheckbox_minimal-yellow, .iradio_minimal, .iradio_minimal-aero, .iradio_minimal-blue, .iradio_minimal-green, .iradio_minimal-grey, .iradio_minimal-orange, .iradio_minimal-pink, .iradio_minimal-purple, .iradio_minimal-red, .iradio_minimal-yellow {
    position: absolute;
    top: 1px;
    left: 0
}

.skin input[type=checkbox], .skin input[type=radio] {
    position: absolute;
    top: 2px;
    left: 0
}

.icheckbox_square, .icheckbox_square-aero, .icheckbox_square-blue, .icheckbox_square-green, .icheckbox_square-grey, .icheckbox_square-orange, .icheckbox_square-pink, .icheckbox_square-purple, .icheckbox_square-red, .icheckbox_square-yellow, .iradio_square, .iradio_square-aero, .iradio_square-blue, .iradio_square-green, .iradio_square-grey, .iradio_square-orange, .iradio_square-pink, .iradio_square-purple, .iradio_square-red, .iradio_square-yellow {
    position: absolute;
    top: -1px;
    left: 0
}

.icheckbox_flat, .icheckbox_flat-aero, .icheckbox_flat-blue, .icheckbox_flat-green, .icheckbox_flat-grey, .icheckbox_flat-orange, .icheckbox_flat-pink, .icheckbox_flat-purple, .icheckbox_flat-red, .icheckbox_flat-yellow, .iradio_flat, .iradio_flat-aero, .iradio_flat-blue, .iradio_flat-green, .iradio_flat-grey, .iradio_flat-orange, .iradio_flat-pink, .iradio_flat-purple, .iradio_flat-red, .iradio_flat-yellow {
    position: absolute;
    top: 0;
    left: 0
}

.icheckbox_polaris, .iradio_polaris {
    top: -4px
}

.icheckbox_futurico, .iradio_futurico {
    position: absolute;
    top: 2px;
    left: 0
}

.skin-states {
    float: right;
    padding-right: 57px;
    padding-left: 0
}

.skin-states .state {
    cursor: default !important
}

.skin-states .list {
    padding-right: 0
}

.skin-minimal .skin-states .list li {
    padding-left: 71px
}

.skin-square .skin-states .list li {
    padding-left: 79px
}

.skin-flat .skin-states .list li {
    padding-left: 75px
}

.skin-line .skin-states .list {
    padding-right: 0
}

.skin-polaris .skin-states .list li {
    padding-left: 69px
}

.skin-futurico .skin-states .list li {
    padding-left: 67px
}

.skin-states .iradio_minimal, .skin-states .iradio_minimal-aero, .skin-states .iradio_minimal-blue, .skin-states .iradio_minimal-green, .skin-states .iradio_minimal-grey, .skin-states .iradio_minimal-orange, .skin-states .iradio_minimal-pink, .skin-states .iradio_minimal-purple, .skin-states .iradio_minimal-red, .skin-states .iradio_minimal-yellow {
    left: 33px
}

.skin-states .iradio_square, .skin-states .iradio_square-aero, .skin-states .iradio_square-blue, .skin-states .iradio_square-green, .skin-states .iradio_square-grey, .skin-states .iradio_square-orange, .skin-states .iradio_square-pink, .skin-states .iradio_square-purple, .skin-states .iradio_square-red, .skin-states .iradio_square-yellow {
    left: 37px
}

.skin-states .iradio_flat, .skin-states .iradio_flat-aero, .skin-states .iradio_flat-blue, .skin-states .iradio_flat-green, .skin-states .iradio_flat-grey, .skin-states .iradio_flat-orange, .skin-states .iradio_flat-pink, .skin-states .iradio_flat-purple, .skin-states .iradio_flat-red, .skin-states .iradio_flat-yellow {
    left: 35px
}

.skin-states .iradio_polaris {
    left: 26px
}

.skin-states .iradio_futurico {
    left: 31px
}

.colors {
    clear: both;
    padding: 24px 0 9px
}

.skin-line .colors {
    padding-top: 28px
}

.colors strong {
    float: left;
    line-height: 20px;
    margin-right: 20px
}

.colors li {
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px 1px 0 0;
    background: #000;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.colors li:hover {
    filter: alpha(opacity=100);
    opacity: 1
}

.colors li.active {
    height: 20px;
    margin-top: 0;
    filter: alpha(opacity=75);
    opacity: .75
}

.colors li.red {
    background: #d54e21
}

.colors li.green {
    background: #78a300
}

.colors li.blue {
    background: #0e76a8
}

.colors li.aero {
    background: #9cc2cb
}

.colors li.grey {
    background: #73716e
}

.colors li.orange {
    background: #f70
}

.colors li.yellow {
    background: #fc0
}

.colors li.pink {
    background: #ff66b5
}

.colors li.purple {
    background: #6a5a8c
}

.skin-square .colors li.red {
    background: #e56c69
}

.skin-square .colors li.green {
    background: #1b7e5a
}

.skin-square .colors li.blue {
    background: #2489c5
}

.skin-square .colors li.aero {
    background: #9cc2cb
}

.skin-square .colors li.grey {
    background: #73716e
}

.skin-square .colors li.yellow {
    background: #fc3
}

.skin-square .colors li.pink {
    background: #a77a94
}

.skin-square .colors li.purple {
    background: #6a5a8c
}

.skin-square .colors li.orange {
    background: #f70
}

.skin-flat .colors li.red {
    background: #ec7063
}

.skin-flat .colors li.green {
    background: #1abc9c
}

.skin-flat .colors li.blue {
    background: #3498db
}

.skin-flat .colors li.grey {
    background: #95a5a6
}

.skin-flat .colors li.orange {
    background: #f39c12
}

.skin-flat .colors li.yellow {
    background: #f1c40f
}

.skin-flat .colors li.pink {
    background: #af7ac5
}

.skin-flat .colors li.purple {
    background: #8677a7
}

.skin-line .colors li.yellow {
    background: #ffc414
}

.skins-info {
    padding: 13px 0 57px;
    font-size: 16px;
    line-height: 22px;
    text-align: center
}

.skins-info p {
    margin-bottom: 17px
}

.skins-info .skins-banner {
    margin: 34px 0 3px
}

.skins-info .skins-banner a {
    display: block;
    width: 728px;
    height: 90px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(banner.jpg);
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
    border: none
}

.skins-info .skins-banner a:hover {
    opacity: .8
}

.skin-pre {
    padding: 43px 60px 0
}

.skin-usage {
    padding: 19px 60px 8px;
    list-style: decimal
}

.skin-usage li {
    margin-bottom: 23px
}

.skin-usage .schemes {
    margin-bottom: -3px;
    padding: 13px 0 0 20px;
    color: #888
}

.skin-usage .schemes ul {
    float: left;
    padding-right: 60px
}

.skin-usage .schemes li {
    margin: 0;
    padding-bottom: 3px
}

.usage {
    position: relative;
    margin-bottom: 80px;
    background: #fff
}

.usage a {
    border-bottom-color: #ddd
}

.usage .self {
    border-bottom-color: #bbb
}

.usage .arrows {
    top: 0
}

.usage:hover .arrows .bottom, .usage:hover .arrows .top {
    left: 0
}

.usage h2 {
    color: #fff;
    background: #1f7f5c
}

.usage h4 {
    margin: 26px 0 10px
}

.usage h4.indeterminate {
    margin-top: 28px
}

.usage p {
    margin-bottom: 5px
}

.usage p.offset {
    margin-top: 10px
}

.usage p.callbacks-info {
    margin-bottom: 19px
}

.usage p.methods-info {
    margin-bottom: 10px
}

.usage p.methods-callback {
    margin-top: 10px
}

.usage p.issue-tracker {
    margin-top: 31px
}

.usage .markup {
    margin: 9px 0 16px
}

.usage .usage-inner {
    font-size: 15px;
    line-height: 23px;
    padding: 41px 60px 39px
}

.markup {
    margin: 10px 0 18px;
    padding: 8px 0 9px 17px;
    font: 14px/20px MontserratRegular, Helvetica, Arial, sans-serif;
    color: #777;
    background: #e7e5e0;
    border-left: 3px solid #d7d5cb
}

.markup .comment {
    color: #999
}

.markup .comment .self {
    color: #555
}

.markup .comment .self:hover {
    color: #333
}

.skin-polaris .markup {
    background: #232830;
    border-left-color: #1f232a
}

.skin-futurico .markup {
    background: #25262a;
    border-left-color: #202225
}

.skin-futurico .markup .comment, .skin-polaris .markup .comment {
    color: #555
}

.browsers {
    margin-bottom: 74px
}

.browsers h2 {
    margin-bottom: 29px;
    font-size: 24px
}

.browsers-inner {
    padding: 0 60px;
    font-size: 15px;
    line-height: 23px
}

.browsers-inner p {
    margin-bottom: 15px
}

.benefits {
    position: relative;
    margin-bottom: 59px;
    color: #888;
    background: #232323
}

.benefits .arrows {
    top: 0
}

.benefits:hover .arrows .bottom, .benefits:hover .arrows .top {
    left: 0
}

.benefits h2 {
    color: #fff;
    background: #6a5b8c
}

.benefits a {
    color: #888;
    border-bottom-color: #444
}

.benefits a:hover {
    color: #aaa
}

.benefits .mark {
    color: #777;
    background: #393939
}

.benefits-inner {
    padding: 41px 60px 29px;
    font-size: 15px;
    line-height: 23px
}

.benefits-inner p {
    margin-bottom: 15px
}

.benefits-inner ul {
    margin: -10px 0 15px
}

.download {
    height: 63px;
    text-align: center
}

.download a {
    display: block;
    height: 60px;
    font-size: 18px;
    line-height: 58px;
    color: #fff;
    border-bottom: 0 solid #e24f49;
    background: #e76b66;
    -webkit-transition: border-bottom .2s;
    -moz-transition: border-bottom .2s;
    -ms-transition: border-bottom .2s;
    -o-transition: border-bottom .2s;
    transition: border-bottom .2s
}

.download a:before {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAACYUlEQVR4Xr3VPWhTURjH4VOt0ES7ZRJbEJpsNsaimx9E0GpRCdgU/NhsRAdNBYcK0RirQcSkIIK2cRBRiragVayDhqBDLVWatFvsIKK2UMEp4KBcf8N/KNdwvcHWAw8c/rzvebk5yU2dZVnmf6wVNdb70Ca+5Rrkx0e8E/ZkyzCoAyuxBZu17/jXQV34jjwCytowjUk90Ywyo5q8errcDoriPgpoRhEj6MQrGHmpbARF1RbUG3Uz6Bae4iBacQNNSKEPRi4pa1JNq3pGcds+qNrXu4B1CKKCWtZqlPAZO/72RDGsRdKWh5ATIdOSpHpjbu6ojBfYBiPdOIQeHJMeZd0wsh1jKDsNakEc97AHo8o3IYCz2I1nGMYuZQHVGPXs1RlxtNgH+TCFtBpvIqua40ghqkGdOIp27VOqMcigX8PTKIKzWXwZDDbAQhDG5o6yx2iAkQY80T4HYxOEpbP/uCOnN+wq1Nlq6x3qrWp3NIcKJvAWV+FVzU804i6uwyNZZY34BaOeyzpjQmfOLR70DSGcwyxOIa7mAZzHQ+QxLHllCdUYnMYZzOqsjeBsPbp8QFZ7Lw7gCt4jhGu4qCEGa5SVVWPUM4Yjbn5HfrTjNYzk8AAZ5CSjbBBG3qjXr0CqX+YAviJpy6cQg9NKIoJBN6+gIGbwA16kMY5eeGDEo2xcNV71TCPo5qM7iX14hJIueB4XkICRhLJ51ZTUsx8n3AwawmGE8QUhRDR4J4yElUUQUm1YvUPOfxPO4khj66KL70W/m+Z6uF3P0YdJBRVlZqkHlbEezQo+YWHJB8mC1Lx+Ayeq7nRIoewwAAAAAElFTkSuQmCC);
    *background-image: url(ie/icon-options.png);
    vertical-align: middle
}

.download a:hover {
    border-bottom-width: 3px
}

.license {
    color: #444;
    text-align: center;
    padding: 30px 0 75px
}

.footer {
    padding-top: 28px;
    height: 60px;
    color: #666;
    background: #e2dfd8
}

.footer ul {
    float: left
}

.footer ul li {
    float: left;
    padding: 2px 10px 0 0
}

.footer ul.local li {
    padding: 0 30px 0 0
}

.footer .code {
    float: right
}

.footer a {
    color: #444
}

.footer a:hover {
    color: #222
}

.footer-inner {
    width: 930px;
    margin: 0 auto;
    overflow: hidden
}

.fork-me {
    position: fixed;
    *position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnElEQVR4XqVSgQmEMAyszw/gCI7wK7iBblBHcISfxG6gG/gjuIGO0A3ygaYQCCG2HhweF+6aShsAcDcBJBpuvlwFagqGJwUf5EL6kgV2eEe2yIgc9QI73CMPs8AOywI7nHDSzCxYxcnJ6+hrFnQkJrb2nGclP3Fj+vf0IUV1AgCZHiS86lOObxD4qqSD5mtXmAq1e2fB3vqXact3f/JmXumJlVq1AAAAAElFTkSuQmCC) 50% no-repeat #28545b;
    *background-image: url(ie/icon-fork.png)
}

.fork-me:hover {
    background-color: #1f7f5c
}

.fork-me, .skin dt {
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.icheckbox_polaris, .iradio_polaris {
    position: relative !important;
    left: 5px;
    margin: 0 0 0 -10px
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-br, .ui-corner-right {
    margin: 5px 0;
    border-radius: 0 !important;
    border-color: #ddd !important
}

.ui-datepicker .ui-datepicker-header {
    background: #1278a8;
    color: #fff;
    border-radius: 0;
    font-weight: 400 !important
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #f2f2f2 !important;
    color: #848484 !important;
    border: none !important;
    font-weight: 400 !important;
    text-align: center !important
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
    margin-top: -12px !important
}

.ui-icon-circle-triangle-e {
    background: url(../img/sprite_02.png) -137px -75px no-repeat !important;
    width: 9px !important;
    height: 14px !important
}

.ui-icon-circle-triangle-w {
    background: url(../img/sprite_02.png) -178px -75px no-repeat !important;
    width: 9px !important;
    height: 14px !important
}

.i-datepicker-prev:hover {
    background-color: transparent !important
}

.ui-datepicker .ui-datepicker-prev {
    background: 0 0 !important;
    border: none !important;
    top: 3px !important;
    left: 0 !important;
    cursor: pointer
}

.ui-datepicker .ui-datepicker-next {
    background: 0 0 !important;
    border: none !important;
    top: 3px !important;
    right: 0 !important;
    cursor: pointer
}

._create-block .text-name {
    width: 798px
}

._create-block .text-name input[type=text] {
    width: 100%;
    border: 1px solid #dcdddd !important
}

._create-block .text-name input[type=text]:focus {
    border-color: #000 !important
}

._create-block .row span {
    display: block
}

._application-content {
    font-size: 37px;
    max-width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center
}

._application-content .application-form input[type=text] {
    width: 250px
}

.table_row {
    border: 1px solid #ccc;
    width: 513px;
    margin: 20px auto
}

.table_line {
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 10px;
    border-top: 1px solid #ccc
}

.table_line:first-child {
    border: none
}

.order-left.full_block {
    width: 800px;
    margin: 0 auto;
    float: none;
    padding: 0
}

.order-left.full_block .order-description {
    margin: 20px auto
}

.order-left.full_block .order-description-top:last-of-type {
    border: none
}

.table_link {
    width: 800px;
    margin: 0 auto;
    text-align: center
}

.table_link a {
    float: none !important
}

.application-form {
    max-width: 800px;
    padding: 30px 0 0;
    margin: 0 auto
}

.application-form .active-label {
    border: 1px solid #000;
    background: #424242;
    box-shadow: 1px 1px 0 #000 inset
}

.application-form label {
    position: relative
}

.application-form input[type=text]:focus {
    border-color: #000;
    color: #000
}

.application-form .row {
    margin: 0 0 10px;
    position: relative
}

.application-form .row:last-of-type {
    margin: 0 0 150px
}

.application-form .row textarea {
    border: 1px solid #dcdddd;
    width: 798px;
    min-width: 798px;
    max-width: 798px;
    font-style: normal;
    height: 113px;
    font-size: 16px;
    margin: 0 0 5px;
    color: #444;
    float: left
}

._save_btn {
    border: 1px solid #b01916;
    background: #f24841;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0
}

._save_btn:hover {
    background: #b11916
}

.application-form .row.row_link {
    float: right
}

.application-form .row.row_link a {
    margin: 0 10px
}

._create-block .label_comment {
    font-size: 12px;
    color: #000;
    font-style: italic
}

.note-form {
    position: relative
}

.note-form:before {
    content: "";
    width: 3px;
    height: 41px;
    background: #f24841;
    border: 1px solid #d13630;
    position: absolute;
    left: 0;
    top: 18px;
    z-index: 2
}

.ui-datepicker .ui-datepicker-buttonpane {
    display: none
}

._create-block, .business-form-wrapper {
    width: 1480px;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #e6e6e6
}

._application-content {
    margin: 17px 0 20px
}

.text-email label {
    width: 44px;
    height: 43px;
    float: left;
    background: #e9e9e9;
    border: 1px solid #d5d6d6;
    position: relative
}

.application-form input[type=text] {
    border: 1px solid #dcdddd;
    border-left: none;
    height: 43px;
    padding: 3px 10px;
    font-size: 16px;
    color: #444
}

.text-email {
    width: 310px
}

._header_bottom_menu {
    padding: 10px 0
}

._header_bottom_menu .llink_wrap {
    margin: 0 0 5px
}

._header_bottom_menu .llink_wrap a {
    margin: 0 0 0 20px
}

._header_bottom_menu .llink_wrap a:first-child {
    margin: 0
}

._header_bottom_menu input[type=checkbox] {
    width: 16px;
    height: 16px;
    border-radius: 0;
    border: 1px solid #d5d6d6;
    vertical-align: middle
}

._header_bottom_menu label {
    margin: 0 20px 0 0
}

._header_bottom_menu label:first-child {
    margin: 0
}

._header_bottom_menu .import_exel {
    border: 1px solid #b01916;
    color: #fff;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0
}

._header_bottom_menu .import_exel:hover {
    background: #b11916
}

._header_bottom_menu .import_exel:active {
    background: #9e1310;
    box-shadow: 2px 2px 0 #750d0a inset
}

._create_block .text-email {
    margin: 0 27px 0 0
}

.text-uid input[type=text] {
    width: 266px
}

.text-uid label {
    width: 44px;
    height: 43px;
    float: left;
    background: #e9e9e9;
    border: 1px solid #d5d6d6;
    position: relative
}

.text-uid label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url(../img/sprite.png) -230px -113px no-repeat;
    width: 12px;
    height: 19px;
    margin: -10px 0 0 -6px
}

.list_charts .title {
    margin: 0 0 70px;
    padding: 50px 0 0
}

.list_charts canvas {
    margin: 0 0 70px
}

.exel_form input[type=checkbox] {
    width: 16px;
    height: 16px;
    border-radius: 0;
    border: 1px solid #d5d6d6;
    vertical-align: middle
}

.exel_form label {
    margin: 0 10px 0 0
}

.exel_form .import_exel {
    border: 1px solid #b01916;
    color: #fff;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0
}

.exel_form .import_exel:hover {
    background: #b11916
}

.exel_form .import_exel:active {
    background: #9e1310;
    box-shadow: 2px 2px 0 #750d0a inset
}

._width_header_bottom_menu .table-api-main {
    width: 2075px
}

._width_header_bottom_menu .number_agree a {
    white-space: nowrap
}

._create_clinic .text-email {
    margin: 0
}

._create_clinic input[type=text] {
    width: 100%;
    border-left: 1px solid #dcdddd
}

._create_clinic .note-form:before {
    top: 0
}

._create_clinic .text-uid input[type=text] {
    width: 266px
}

._create_clinic .row-lb:before {
    top: 18px !important
}

._create_clinic .row-lb .is_error {
    top: 30px
}

._create_clinic .row-lb .chosen-results li:before {
    display: none !important
}

._create_clinic .title-calendar {
    display: block
}

.menuWrap__reportMenu__list__btn_K a {
    font-size: 16px;
    text-align: center;
    color: #fff !important
}

.menuWrap__reportMenu__list__btn_K a:before {
    display: none
}

.menuWrap__reportMenu__list__btn_K a:hover {
    background: #1278a8
}

.menuWrap__reportMenu__list__btn_K.menu_icon_1 a {
    background: url(../img/svg/menu16_fff.svg) center no-repeat #198ac0
}

.menuWrap__reportMenu__list__btn_K.menu_icon_1 a:hover {
    background: url(../img/svg/menu16_fff.svg) center no-repeat #1278a8
}

.menuWrap__reportMenu__list__btn_K.phone_icon a {
    background: url(../img/svg/telephone_icon16_fff.svg) center no-repeat #198ac0
}

.menuWrap__reportMenu__list__btn_K.phone_icon a:hover {
    background: url(../img/svg/telephone_icon16_fff.svg) center no-repeat #1278a8
}

.menuWrap__reportMenu__list__btn_K.partner_icon a {
    background: url(../img/svg/users_icon16_fff.svg) center no-repeat #198ac0
}

.menuWrap__reportMenu__list__btn_K.partner_icon a:hover {
    background: url(../img/svg/users_icon16_fff.svg) center no-repeat #1278a8
}

.hiddenAffiliates__left__options__p {
    font-size: 0;
    display: inline-block
}

.content_prices .table_law .agreement, .content_prices .table_law .name {
    width: 115px
}

.content_prices .create_time {
    width: 90px
}

.content_prices .table_law .numb_agree {
    width: 120px
}

.content_prices .table .sort .status {
    width: 180px;
    padding: 0 10px 0 0
}

.content_prices .table_law .legalName {
    width: 195px
}

.content_prices .table_law .actualName {
    width: 200px
}

.content_prices .row.line .name {
    text-align: center
}

.content_prices .row.line .status {
    width: 180px
}

._create_block .application-form input[type=text] {
    border: 1px solid #ccc
}

._create_block .text-name select {
    width: 800px
}

._create_block .text-name .chosen-results li:before {
    display: none
}

._create_block .application-form {
    padding: 30px 0 10px
}

._create_block .application-form button {
    border: 1px solid #b01916;
    background: #f24841;
    color: #fff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0
}

._create_block .application-form button:hover {
    background: #b11916
}

._create_block .uploadFile {
    border: 1px solid #ccc;
    padding: 5px 0
}

.table .row.caption {
    background: #f7f7f7
}

.table .row.caption .cell {
    display: block;
    float: left;
    padding: 5px 0 2px
}

.table .row.caption .cell a {
    color: #198ac0;
    text-decoration: none
}

.table .row.caption .cell a:hover {
    border-bottom: solid 1px #198ac0
}

.table .row.caption .cell.email {
    margin-left: 162px
}

.table .hidden-form .sort {
    background: #f7f7f7;
    border-bottom: solid 1px #EAEAEA;
    padding-bottom: 10px
}

.table .hidden-form .sort .cell.status .chosen-container-single, .table .hidden-form .sort .cell.status select#IntegratorClinicAll_status {
    width: 120px !important;
    margin-top: -10px;
    right: 12px
}

.table .row {
    padding: 2px 20px
}

.table .row .cell a {
    color: #198ac0
}

.table .row .cell a:hover {
    transition: color .5s
}

.table .row .cell.number {
    width: 40px;
    text-align: center;
    font-weight: 700
}

.table .row .cell.email {
    width: 150px;
    text-align: left;
    font-size: 12px;
    color: #1278a8
}

.table .row .cell.legalName {
    text-align: left;
    width: 320px;
    position: relative;
    padding-right: 10px;
    font-size: 12px
}

.table .row .cell.legalName a {
    color: #333;
    text-decoration: none
}

.table .row .cell.legalName a:hover {
    text-decoration: underline
}

.table .row .cell.legalName .deleted, .table .row .cell.legalName .update {
    display: none
}

.table .row .cell.legalName:hover .deleted, .table .row .cell.legalName:hover .update {
    position: absolute;
    right: -15px;
    top: 13px;
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    text-decoration: none
}

.table .row .cell.legalName:hover .deleted:hover, .table .row .cell.legalName:hover .update:hover {
    text-decoration: none
}

.table .row .cell.legalName:hover .deleted:before, .table .row .cell.legalName:hover .update:before {
    display: block;
    width: 16px;
    height: 16px
}

.table .row .cell.legalName:hover .update {
    right: 5px
}

.table .row .cell.legalName_open {
    font-weight: 700
}

.table .row .cell.affiliates {
    width: 80px;
    padding: 8px 10px
}

.table .row .cell.affiliates a {
    text-decoration: none;
    border-bottom: dashed 1px;
    font-weight: 700;
    font-size: 12px
}

.table .row .cell.affiliates a:hover {
    color: #333;
    border-bottom-color: transparent
}

.table .row .cell.analyz, .table .row .cell.analyzSum, .table .row .cell.date, .table .row .cell.diagnostic, .table .row .cell.diagnosticSum, .table .row .cell.diagnostika, .table .row .cell.insurance, .table .row .cell.recording, .table .row .cell.repeat, .table .row .cell.status, .table .row .cell.successing, .table .row .cell.surviving {
    width: 58px;
    min-width: 58px;
    min-height: 1px;
    position: relative;
    text-align: center
}

.table .row .cell.data {
    margin-right: 20px
}

.table .row .cell.generalSum {
    position: relative;
    width: 100px;
    text-align: center
}

.table .row .cell.analyzSum, .table .row .cell.analyzSum.analyz, .table .row .cell.diagnosticSum, .table .row .cell.diagnostikaSum.diagnostika, .table .row .cell.surviving.survivingSum {
    width: 90px
}

.table .row .cell.status {
    width: 95px;
    margin-left: 10px
}

.table .row .cell.download_file_text, .table .row .cell.print_clinic, .table .row .cell.print_plus {
    padding: 5px 1px;
    width: 31px
}

.table .row .cell.download_file_text a, .table .row .cell.print_clinic a, .table .row .cell.print_plus a {
    display: block;
    margin-right: 2px;
    padding: 7px 0;
    width: 100%;
    text-align: center;
    background: #F1F1F1;
    color: #333;
    font-weight: 700;
    text-decoration: none
}

.table .row .cell.download_file_text a:hover, .table .row .cell.print_clinic a:hover, .table .row .cell.print_plus a:hover {
    color: #FFF;
    background: #555;
    transition: none
}

.table .row .cell.download_file_text {
    display: block;
    width: 40px;
    margin-right: 5px;
    height: 33px;
    font-weight: 400;
    color: #555
}

.table .row .cell.download_file_text span {
    padding: 7px 10px;
    font-weight: 700;
    display: block;
    color: #999
}

.table .row:nth-child(odd) {
    background: #F9F9F9
}

.table .row.active {
    box-shadow: 0 -4px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .03);
    background: 0 0
}

.table .row.status_color_2 {
    background: #FFFBEE
}

.table .row.status_color_2 .print_clinic a, .table .row.status_color_2 .print_plus a, .table .row.status_color_2 download_file_text a {
    background: #FFE794
}

.table .row.status_color_2:nth-child(odd) {
    background: #FFF9E4
}

.table .row.status_color_2:nth-child(odd) .download_file_text a, .table .row.status_color_2:nth-child(odd) .print_clinic a, .table .row.status_color_2:nth-child(odd) .print_plus a {
    background: #FFE794
}

.table .row.status_color_2.active .affiliates, .table .row.status_color_2.active .hiddenAffiliates__left {
    background: #FFF8DF
}

.table .row.status_color_2.active .affiliates .hiddenAffiliates__left__options__row:nth-child(even), .table .row.status_color_2.active .hiddenAffiliates__left .hiddenAffiliates__left__options__row:nth-child(even) {
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fffbee 32%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(32%, #fffbee));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fffbee 32%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fffbee 32%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fffbee 32%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fffbee 32%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#fffbee', GradientType=1)
}

.table .row.status_color_2.active .hiddenAffiliates__right {
    background: #FFFBEE
}

.table .row.no-agreement {
    background: #F4ECFF
}

.table .row.no-agreement .download_file_text a, .table .row.no-agreement .print_clinic a, .table .row.no-agreement .print_plus a {
    background: #EBDCFF
}

.table .row.caption .cell {
    font-weight: 700;
    font-size: 14px
}

.table.admin_0.table_law .row .cell sup {
    position: absolute;
    bottom: 100%;
    left: 37%;
    font-weight: 400;
    font-size: 11px;
    color: #999
}

.table.admin_0.table_law .body-table .row .cell sup {
    bottom: 75%
}

.table.admin_0 .row {
    min-height: 43px
}

.table.admin_0 .row .cell.email {
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    font-weight: 700
}

.table.admin_0 .row .cell.legalName {
    width: 300px
}

.table.admin_0 .row .cell.legalName_open {
    width: 498px;
    text-align: center
}

.table.admin_0 .row .cell.date {
    margin-right: 20px
}

.table.admin_0 .row.caption .email {
    margin-left: 140px
}

.table.admin_0 .hidden-form .sort .cell.email {
    margin-left: 178px
}

.table.table_clinic .hidden-form .sort .cell.legalName {
    margin-left: 70px
}

.table.table_clinic .row .cell.legalName {
    padding-right: 50px
}

.table.table_clinic .row .cell.legalName .update {
    right: 30px
}

.table.table_clinic .row .cell.legalName .deleted {
    right: -10px
}

.table.table_clinic .row .cell.address {
    width: 280px;
    font-size: 12px;
    text-align: left;
    color: #999
}

.table.table_clinic .row .cell.legalName {
    margin-left: 10px
}

.table.table_clinic .row .cell.email {
    margin-left: 0
}

.table.table_clinic .row .cell.phone {
    width: 140px;
    text-align: center;
    padding-right: 10px;
    font-weight: 700
}

.table.table_clinic .row .cell.metro {
    width: 240px;
    overflow: hidden;
    font-size: 12px;
    text-align: left;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis
}

.table.table_clinic .row.caption .cell {
    font-size: 14px;
    font-weight: 700
}

.table.all_law .hidden-form .sort .cell.legalName {
    margin-left: 70px
}

.table.all_law .row .cell.legalName {
    padding-right: 50px;
    margin-left: 10px
}

.table.all_law .row .cell.legalName .update {
    right: 30px
}

.table.all_law .row .cell.legalName .deleted {
    right: 10px
}

.table.all_law .row .cell.address {
    text-align: left;
    font-size: 12px;
    color: #999;
    width: 180px
}

.table.all_law .row .cell.name {
    width: 400px;
    font-size: 12px;
    padding-right: 20px;
    color: #999
}

.table.all_law .row .cell.numb_agree {
    text-align: center;
    font-weight: 700;
    font-size: 12px
}

.table.all_law .row .cell.agreement {
    width: 70px;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.table.all_law .row.caption .cell {
    font-size: 14px;
    font-weight: 700
}

.table.table_payments .cell.name, .table.table_payments .cell.number {
    width: 24%;
    text-align: left;
    margin: 0;
    padding-left: 50px
}

.table.graduation .body-table .row .cell sup {
    position: absolute;
    display: inline-block;
    font-size: 11px;
    margin-top: 20px;
    margin-left: -24px;
    left: none;
    bottom: none
}

.table.graduation .table .row {
    min-height: 43px
}

.table.graduation .hidden-form .row .cell.legalName {
    width: 340px !important;
    position: relative;
    margin: 0;
    padding: 0
}

.table.graduation .hidden-form .row .cell.legalName input[type=text] {
    width: 100%
}

.table.graduation .hidden-form .row .cell.status {
    margin: 0 30px
}

.table.graduation .hidden-form .row .cell.status .chosen-container {
    width: 150px !important;
    margin-top: 0;
    left: 0
}

.table.graduation .hidden-form .row .cell.status .chosen-container .chosen-single {
    border: none
}

.table.graduation .hidden-form .row .cell.status .chosen-container .chosen-single span {
    padding: 7px 20px;
    border: 1px solid #CCC;
    border-left: none
}

.table.graduation .wrapper_nameCell .cellDinamic:nth-child(even) {
    background-color: #f9f9f9
}

.table.graduation .wrapper_nameCell .cellDinamic:nth-child(odd) {
    background-color: #fff
}

.table.graduation .cell.name, .table.graduation .cell.number {
    width: 70px;
    margin-right: 0;
    padding: 3px 10px
}

.table.graduation .cell.name:first-child, .table.graduation .cell.number:first-child {
    width: 340px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    padding-right: 20px;
    margin: 0
}

.table.graduation .cell.name:nth-child(2n), .table.graduation .cell.number:nth-child(2n) {
    color: #1C80B0 !important
}

.table.graduation .grad_index {
    display: block;
    position: relative;
    font-size: 11px;
    color: #C00
}

.table.price .row .cell.legalName {
    width: 160px !important
}

.table.price .hidden-form .sort .cell.legalName {
    margin-left: 70px;
    width: 175px !important
}

.table.price .row .cell.legalName {
    padding-right: 50px;
    margin-left: 10px
}

.table.price .row .cell.all_price, .table.price .row .cell.create_time, .table.price .row .cell.koll_come, .table.price .row .cell.koll_record, .table.price .row .cell.koll_success {
    width: 90px;
    text-align: center
}

.table.price .row .cell.status {
    width: 180px;
    text-align: center
}

.table.price .row .cell.status .chosen-container-single a.chosen-single span {
    padding: 7px 0;
    background: #EAEAEA;
    border-color: transparent
}

.table.price .row .cell.status .chosen-container-single a.chosen-single span:hover {
    background: #CCC;
    border-color: transparent
}

.table.price .row.caption .cell {
    font-size: 14px;
    font-weight: 700
}

.hiddenAffiliates__right {
    border-left: 1px solid #EAEAEA;
    float: left;
    width: 135px;
    height: 100%;
    padding: 0 0 55px 10px;
    margin-top: -20px;
    background: #fff;
    box-shadow: inset 3px 0 0 rgba(0, 0, 0, .03)
}

.hiddenAffiliates__right .hiddenAffiliates__right__top {
    margin-top: 20px
}

.hiddenAffiliates__right .hiddenAffiliates__right__top .hiddenAffiliates__right__top__sum input[type=text] {
    width: 118px
}

.hiddenAffiliates__right .hiddenAffiliates__right__top .hiddenAffiliates__right__top__calendarWrap__selectDate {
    text-align: center;
    width: 120px;
    margin: 1px 0 0
}

.hiddenAffiliates__right .hiddenAffiliates__right__top .hiddenAffiliates__right__top__calendarWrap__selectDate span {
    font-weight: 400;
    color: #1278a8;
    font-size: 14px;
    padding: 8px 10px 8px 20px;
    display: block;
    cursor: pointer;
    background: #E9F5FA;
    position: relative
}

.hiddenAffiliates__right .hiddenAffiliates__right__top .hiddenAffiliates__right__top__calendarWrap__selectDate span:before {
    content: "";
    position: absolute;
    background: url(../img/sprite_02.png) -140px -57px no-repeat;
    width: 10px;
    height: 11px;
    margin: 3px 0 0 -16px
}

.hiddenAffiliates__right .hiddenAffiliates__right__top .hiddenAffiliates__right__top__calendarWrap__selectDate span:hover {
    border-bottom-color: transparent;
    background: #d5effb
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom {
    width: 120px
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom ul li {
    margin: 2px 20px 2px 5px;
    padding: 0;
    text-align: left;
    position: relative;
    font-size: 12px
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom ul li span.data_status, .hiddenAffiliates__right .hiddenAffiliates__right__bottom ul li span.type_status {
    display: inline-block;
    width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom ul li span.data_status {
    text-align: right;
    width: 45px
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom ul li .del_payment, .hiddenAffiliates__right .hiddenAffiliates__right__bottom ul li .del_status {
    position: absolute;
    right: -20px;
    top: 0;
    margin: 0
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom.hiddenAffiliates__right__bottom_last ul li {
    margin: 2px 0
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom.hiddenAffiliates__right__bottom_last ul li span.type_status {
    width: 70px
}

.hiddenAffiliates__right .hiddenAffiliates__right__bottom.hiddenAffiliates__right__bottom_last ul li .del_payment {
    right: 0
}

.hiddenAffiliates__left {
    float: left;
    width: 1340px;
    padding: 20px 0 0 83px;
    border-top: 1px solid #EAEAEA;
    background: #F9F9F9;
    background: -moz-linear-gradient(top, #f9f9f9 0, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, #f9f9f9 0, #fff 100%);
    background: -o-linear-gradient(top, #f9f9f9 0, #fff 100%);
    background: -ms-linear-gradient(top, #f9f9f9 0, #fff 100%);
    background: linear-gradient(to bottom, #f9f9f9 0, #fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#ffffff', GradientType=0)
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription {
    float: left;
    width: 200px;
    padding: 0 15px 0 0
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription li {
    margin: 0 0 40px
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription li span {
    display: block;
    font-size: 14px;
    margin: 0 0 3px;
    font-weight: 400
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription li strong {
    font-weight: 400
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription li p {
    font-size: 11px;
    font-weight: 400;
    color: #777
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription .hiddenAffiliates__left__decription__contactComm span {
    font-size: 11px
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription .hiddenAffiliates__left__decription__contactComm textarea {
    max-width: 190px;
    height: 40px
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription .hiddenAffiliates__left__decription__contactComm a {
    display: inline-block;
    margin: 5px 40px;
    padding: 10px 20px;
    background: #198ac0;
    color: #FFF;
    font-weight: 700;
    text-decoration: none
}

.hiddenAffiliates__left .hiddenAffiliates__left__decription .hiddenAffiliates__left__decription__contactComm a:hover {
    background: #107AAB
}

.hiddenAffiliates__left .hiddenAffiliates__left__options {
    float: left;
    width: 1055px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__cell.none_order {
    text-align: center;
    padding: 20px 0
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__cell.none_order a {
    color: #198ac0
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row {
    padding: 10px 0 10px 20px;
    position: relative
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row:nth-child(even) {
    background: #FFF;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fff 19%, #fff 86%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0)), color-stop(19%, #fff), color-stop(86%, #fff));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fff 19%, #fff 86%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fff 19%, #fff 86%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0, #fff 19%, #fff 86%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff 19%, #fff 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1)
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .clone_price_icon, .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .delete_price_icon {
    position: absolute;
    display: block;
    border-radius: 3px;
    border: 1px solid #EAEAEA;
    width: 18px;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    overflow: hidden
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .clone_price_icon.delete_price_icon, .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .delete_price_icon.delete_price_icon {
    right: 3px;
    background: url(../img/svg/cross_icon.svg) center no-repeat
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .clone_price_icon.clone_price_icon, .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .delete_price_icon.clone_price_icon {
    left: 0;
    font-size: 16px;
    color: #777;
    padding-top: 3px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .clone_price_icon:hover, .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .delete_price_icon:hover {
    background: #EAEAEA
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .clone_price_icon:hover.delete_price_icon, .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .delete_price_icon:hover.delete_price_icon {
    background: url(../img/svg/cross_icon.svg) center no-repeat #eaeaea
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell {
    float: left
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell .download_file_text2 .null {
    color: #333;
    margin-left: 5px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell .download_file_text2 a {
    position: absolute;
    display: inline-block;
    padding: 5px;
    color: #333;
    background: #EAEAEA;
    font-weight: 700;
    margin-left: 5px;
    margin-top: 5px;
    text-decoration: none
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell .download_file_text2 a:hover {
    background: #555;
    color: #FFF;
    text-decoration: none
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .column_block_price {
    overflow: hidden;
    float: left;
    position: relative;
    padding: 0 0 0 30px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName {
    width: 315px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName p {
    margin: 0 0 2px;
    font-size: 12px;
    line-height: 1
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName p a.import_exel_single {
    color: #198ac0;
    text-decoration: none;
    width: 295px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName p a.import_exel_single:hover {
    text-decoration: underline
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName .iconupdate {
    display: block;
    position: absolute;
    left: 0;
    top: 12px;
    width: 16px;
    height: 16px;
    text-decoration: none
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName .iconupdate:hover {
    text-decoration: none
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cellName .iconupdate:before {
    display: block;
    width: 16px;
    height: 16px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num {
    width: 56px;
    margin-right: 2px;
    text-align: center;
    position: relative
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num input[type=text] {
    font-weight: 700;
    color: #000;
    border: 1px solid #a6d079;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    width: 50px;
    background: #FFF;
    border-radius: 3px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num label {
    width: 15px;
    background: #a6d079;
    height: 31px;
    display: inline-block;
    position: absolute;
    right: 3px;
    top: 0;
    border-radius: 0 3px 3px 0
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num label:before {
    content: "";
    background: url(../img/sprite_02.png) -66px -59px no-repeat;
    width: 10px;
    height: 11px;
    position: absolute;
    right: 3px;
    top: 10px;
    z-index: 1
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num a {
    position: relative;
    text-decoration: none;
    color: #333;
    border: 1px solid #EAEAEA;
    padding: 5px;
    display: block;
    margin: 0;
    border-radius: 3px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num a:hover {
    transition: background .5s;
    background: #EAEAEA
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num__summ {
    width: 100px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .hiddenAffiliates__left__options__cell__num__sum {
    width: 88px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .none_order {
    text-align: center;
    width: 440px
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .none_order a {
    color: #198ac0;
    text-decoration: none;
    border-bottom: dotted 1px #D2E2EA
}

.hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row .none_order a:hover {
    border-bottom-color: transparent
}

.chosen-container-single {
    width: 120px !important;
    color: #575757;
    line-height: 1
}

.chosen-container-single a.chosen-single {
    line-height: 1;
    font-weight: 700;
    padding: 0;
    margin: 0;
    height: auto;
    border-color: #EAEAEA;
    background: #EAEAEA
}

.chosen-container-single a.chosen-single span {
    margin: 0;
    padding: 10px 0;
    color: #333;
    font-size: 14px
}

.chosen-container-single a.chosen-single div {
    display: none
}

.chosen-container-single a.chosen-single:hover {
    background: #CCC
}

.chosen-container-single .chosen-search, .chosen-container-single a.chosen-single span.circle {
    display: none
}

.chosen-container-single .chosen-drop {
    border-radius: 0 !important;
    border: none
}

.chosen-container-single .chosen-drop ul.chosen-results li {
    padding: 5px 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px
}

.chosen-container-single .chosen-drop ul.chosen-results li.highlighted, .chosen-container-single .chosen-drop ul.chosen-results li:active, .chosen-container-single .chosen-drop ul.chosen-results li:focus, .chosen-container-single .chosen-drop ul.chosen-results li:hover {
    border: none
}

.chosen-container .chosen-drop, .chosen-container-active.chosen-with-drop .chosen-single {
    border: none !important;
    background: #CCC
}

.footerAgreement, .footerNavigation, .wrapper_p {
    width: 1350px;
    margin: 0 auto;
    background: #FFF;
    height: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, .1)
}

.footerAgreement.footerAgreement, .footerAgreement.footerNavigation, .footerNavigation.footerAgreement, .footerNavigation.footerNavigation, .wrapper_p.footerAgreement, .wrapper_p.footerNavigation {
    position: relative;
    bottom: 0;
    box-shadow: none;
    height: auto;
    padding: 20px;
    margin-bottom: 55px
}

.footerAgreement.footerAgreement a, .footerAgreement.footerNavigation a, .footerNavigation.footerAgreement a, .footerNavigation.footerNavigation a, .wrapper_p.footerAgreement a, .wrapper_p.footerNavigation a {
    color: #5485ab;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    border-bottom-color: transparent
}

.footerAgreement.footerAgreement a:hover, .footerAgreement.footerNavigation a:hover, .footerNavigation.footerAgreement a:hover, .footerNavigation.footerNavigation a:hover, .wrapper_p.footerAgreement a:hover, .wrapper_p.footerNavigation a:hover {
    color: #4B7BA0;
    border-bottom: solid 1px #DBECFA
}

.footerAgreement.footerAgreement a:before, .footerAgreement.footerNavigation a:before, .footerNavigation.footerAgreement a:before, .footerNavigation.footerNavigation a:before, .wrapper_p.footerAgreement a:before, .wrapper_p.footerNavigation a:before {
    position: absolute;
    width: 16px;
    height: 16px;
    content: '';
    display: block;
    left: -20px;
    top: 0;
    background: url(../img/svg/checking16.svg) no-repeat
}

.footerAgreement.footerAgreement .inlineList, .footerAgreement.footerNavigation .inlineList, .footerNavigation.footerAgreement .inlineList, .footerNavigation.footerNavigation .inlineList, .wrapper_p.footerAgreement .inlineList, .wrapper_p.footerNavigation .inlineList {
    list-style: none
}

.footerAgreement.footerAgreement .inlineList li, .footerAgreement.footerNavigation .inlineList li, .footerNavigation.footerAgreement .inlineList li, .footerNavigation.footerNavigation .inlineList li, .wrapper_p.footerAgreement .inlineList li, .wrapper_p.footerNavigation .inlineList li {
    float: left;
    margin: 10px 45px
}

.footerAgreement.footerAgreement, .footerNavigation.footerAgreement, .wrapper_p.footerAgreement {
    position: fixed;
    margin-bottom: 0
}

.footerAgreement.footerAgreement .pull-left, .footerNavigation.footerAgreement .pull-left, .wrapper_p.footerAgreement .pull-left {
    display: inline-block;
    margin-left: 64px
}

.header_p {
    width: 1350px;
    margin: 0 auto
}

.header_p .left {
    float: left
}

.header_p .right {
    float: right
}

.header_p .header__description {
    padding: 10px 0 20px
}

.header_p .header__description .vhr {
    margin: 0 5px;
    color: #FFF;
    border-left: solid 1px #CCC
}

.header_p .header__description p {
    margin: 0 0 5px 40px;
    display: inline;
    padding-left: 25px;
    background: url(../img/svg/male16.svg) no-repeat
}

.header_p .header__description p:nth-child(2) {
    background: url(../img/svg/clock16.svg) no-repeat
}

.header_p .header__description span {
    position: relative;
    margin-left: 30px
}

.header_p .header__description span.userInfo {
    width: 200px;
    display: inline-block
}

.header_p .header__description span.userInfo .userEmail {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -15px;
    margin-left: -60px;
    font-size: 11px;
    color: #999;
    white-space: nowrap
}

.header_p .header__description span.userInfo .logout {
    color: #5485ab
}

.header_p .header__description .gotoUser {
    display: inline-block;
    margin-left: 50px;
    border: 1px solid #d5d6d6;
    border-right: none;
    position: relative;
    padding-right: 160px
}

.header_p .header__description .gotoUser select {
    border: none;
    background: 0 0;
    font-size: 14px;
    height: 19px;
    padding: 1px 0 0
}

.header_p .header__description .gotoUser input[type=submit] {
    position: absolute;
    right: 0;
    width: 160px;
    top: 0;
    margin-top: -1px;
    border: 1px solid #d5d6d6;
    padding: 2px 10px 3px;
    cursor: pointer;
    background: #f9f9f9;
    color: #999;
    font-size: 12px
}

.header_p .header__description .gotoUser input[type=submit]:hover {
    color: #FFF;
    border-color: #b01916;
    background: #f24841
}

.header_p .header__description .gotoUser.back {
    padding-right: 0;
    border: none
}

.header_p .header__description .gotoUser.back input[type=submit] {
    position: relative;
    width: 220px
}

.header_p .header__description__rating {
    color: #911;
    font-weight: 700
}

.header_p .header__sortBox {
    background: #F1F1F1;
    border-bottom: solid 1px #EAEAEA;
    border-top: solid 1px #EAEAEA;
    padding: 20px 40px;
    margin: 0 0 10px
}

.header_p .header__sortBox .left {
    width: 40%
}

.header_p .header__sortBox .left.data_billing {
    width: 28%
}

.header_p .header__sortBox .right {
    width: 32%
}

.header_p .header__sortBox .right .header__sortBox__row {
    margin: 0 0 5px
}

.header_p .header__sortBox .right input[type=text] {
    height: 20px;
    width: 265px;
    text-align: center;
    padding: 14px 10px;
    font-size: 16px;
    border: 1px solid #d5d6d6
}

.header_p .header__sortBox .right input[type=submit] {
    border: 1px solid #d5d6d6;
    padding: 6px 20px;
    cursor: pointer;
    background: #f9f9f9;
    margin-left: -5px;
    color: #999
}

.header_p .header__sortBox .right input[type=submit]:hover {
    color: #FFF;
    border-color: #b01916;
    background: #f24841
}

.header_p .header__sortBox .right .header__sortBox__row__titleReservation {
    width: 130px;
    display: inline-block
}

.header_p .header__sortBox__row__title, .header_p .header__sortBox__row__titleBild, .header_p .header__sortBox__row__titleTreatment {
    font-weight: 700;
    color: #999;
    display: block;
    text-transform: uppercase;
    margin: 0 0 5px
}

.header_p .header__sortBox__row__titleTreatment {
    padding-left: 20px;
    background: url(../img/svg/paper_icon12.svg) 0 2px no-repeat
}

.header_p .header__sortBox__row__titleBild {
    padding-left: 20px;
    background: url(../img/svg/calendar_icons12.svg) 0 2px no-repeat
}

.wrapper_p {
    background: #fff
}

.wrapper_p .header__sortBox__row_btnItems {
    margin: 0 0 5px;
    display: inline-block;
    overflow: hidden
}

.wrapper_p .header__sortBox__row_btnItems li {
    display: block;
    float: left
}

.wrapper_p .header__sortBox__row_btnItems li a {
    cursor: pointer;
    text-decoration: none;
    background: #FFF;
    border: 1px solid #d5d6d6;
    border-right-color: transparent;
    padding: 5px 21px 5px 22px;
    display: inline-block;
    color: #333
}

.wrapper_p .header__sortBox__row_btnItems li a:hover {
    background: #f24841;
    color: #FFF;
    border: 1px solid #b01916 !important
}

.wrapper_p .header__sortBox__row_btnItems li:last-of-type a {
    border: 1px solid #d5d6d6
}

.wrapper_p .header__sortBox__row__times li {
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border: 1px solid #d5d6d6;
    background: #FFF;
    border-right-color: transparent
}

.wrapper_p .header__sortBox__row__times li:last-child {
    border-right-color: #d5d6d6
}

.wrapper_p .header__sortBox__row__times li a {
    font-size: 12px;
    padding: 2px 9px 4px;
    color: #333;
    display: block;
    text-decoration: none
}

.wrapper_p .header__sortBox__row__times li:hover {
    background: #f24841;
    border-color: #b01916
}

.wrapper_p .header__sortBox__row__times li:hover a {
    color: #FFF
}

.wrapper_p .header__sortBox__rowCalendar i {
    font-style: normal
}

.wrapper_p .header__sortBox__rowCalendar input[type=text] {
    height: 20px;
    width: 110px;
    text-align: center;
    -moz-box-sizing: content-box;
    padding: 14px 10px 15px;
    font-size: 16px;
    border: 1px solid #d5d6d6
}

.wrapper_p .header__sortBox__rowCalendar input[type=submit] {
    border: 1px solid #d5d6d6;
    padding: 6px 20px;
    cursor: pointer;
    background: url(../img/svg/eye_icon20.svg) center no-repeat #f9f9f9
}

.wrapper_p .header__sortBox__rowCalendar input[type=submit]:hover {
    border-color: #b01916;
    background: url(../img/svg/eye_icon20w.svg) center no-repeat #f24841
}

.wrapper_p .header__showing {
    margin: 0 0 10px;
    padding: 0 40px
}

.wrapper_p .header__showing .left {
    width: 25%
}

.wrapper_p .header__showing .left .header__showing__titleShowing, .wrapper_p .header__showing .left i {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: #999
}

.wrapper_p .header__showing .left select {
    font-family: 'PT Sans', sans-serif;
    padding: 4px 4px 3px;
    border: 1px solid #d5d6d6;
    font-weight: 700;
    font-size: 16px;
    color: #333
}

.wrapper_p .header__showing .left.left_0 {
    width: 15%;
    padding: 0
}

.wrapper_p .header__showing .left .header__upload button {
    font-family: 'PT Sans', sans-serif;
    padding: 6px 18px 6px 35px;
    position: relative;
    border: 1px solid #d5d6d6;
    cursor: pointer;
    background: #f9f9f9;
    font-weight: 700;
    font-size: 13px
}

.wrapper_p .header__showing .left .header__upload button:after {
    content: '';
    position: absolute;
    left: 10px;
    top: 6px;
    width: 16px;
    height: 16px;
    display: block;
    background: url(../img/svg/microsoft_excel16.svg) no-repeat
}

.wrapper_p .header__showing .left .header__upload button:hover {
    border-color: #b01916;
    background: #f24841;
    color: #fff
}

.wrapper_p .header__showing .left .header__upload button:hover:after {
    background: url(../img/svg/microsoft_excel16w.svg) no-repeat
}

.wrapper_p .header__showing .right {
    width: 60%
}

.wrapper_p .header__showing .right .header__showing__titleSearch {
    font-style: italic;
    color: #999
}

.wrapper_p .header__showing .right input[type=text] {
    width: 645px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 10px 15px;
    border: 1px solid #d5d6d6
}

.content_p {
    width: 1350px;
    margin: 0 auto
}

.table_p .caption {
    background: #5485ab;
    text-align: center;
    color: #9ABCD7;
    padding: 0 25px
}

.table_p .caption span {
    display: block;
    padding: 10px 2px
}

.table_p .caption a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px 2px;
    position: relative
}

.table_p .caption a.asc, .table_p .caption a.desc, .table_p .caption a:hover {
    background: #6799BF
}

.table_p .caption a.asc:after, .table_p .caption a.desc:after {
    content: '';
    margin-bottom: -1px;
    margin-left: 2px;
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url(../img/svg/up16w.svg) no-repeat
}

.table_p .caption a.desc:after {
    margin-bottom: -3px;
    transform: rotate(180deg)
}

.table_p .caption .cell_05, .table_p .caption .cell_07 {
    font-size: 14px;
    padding-left: 0
}

.table_p .caption .cell_05 a, .table_p .caption .cell_07 a {
    padding-left: 10px
}

.row_p {
    padding: 10px 25px;
    background: #FFF
}

.row_p:nth-child(even) {
    background: #f1f1f1
}

.cell_p {
    float: left;
    text-align: center
}

.cell_01 {
    width: 70px
}

.cell_02 {
    width: 170px
}

.cell_03 {
    width: 120px
}

.cell_04 {
    width: 70px
}

.cell_05 {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px
}

.cell_06 {
    width: 120px
}

.cell_07 {
    width: 200px;
    text-align: left;
    font-size: 12px;
    padding-left: 10px
}

.cell_08 {
    width: 70px
}

.cell_09 {
    width: 120px
}

.cell_10 {
    width: 65px
}

.cell_11 {
    width: 90px;
    text-align: center
}

.table[data-href*='status=4'] .row.caption, .table[data-href*='status=4'] .row.sort {
    background: #f9f9f9 !important
}

.table[data-href*='status=4'] .row.caption .cell.affiliates, .table[data-href*='status=4'] .row.sort .cell.affiliates {
    background: 0 0 !important
}

.table[data-href*='status=4'] .row:nth-child(odd) {
    background: #EEF7E6
}

.table[data-href*='status=4'] .row:nth-child(odd) .affiliates {
    background: #EEF7E6 !important
}

.table[data-href*='status=4'] .status_color_4 .hiddenAffiliates__left {
    background: #FAFFF4
}

.table[data-href*='status=4'] .hiddenAffiliates__left .hiddenAffiliates__left__options .hiddenAffiliates__left__options__row:nth-child(even) {
    background-color: transparent !important
}

.table[data-href*='status=4'] .row .cell.download_file_text a, .table[data-href*='status=4'] .row .cell.print_clinic a, .table[data-href*='status=4'] .row .cell.print_plus a {
    background: #A7E075 !important
}

.table[data-href*='status=2'] .row .cell.download_file_text a:hover, .table[data-href*='status=2'] .row .cell.print_clinic a:hover, .table[data-href*='status=2'] .row .cell.print_plus a:hover {
    background: #FFE794
}

.table[data-href*='status=3'] .row:nth-child(odd) {
    background: #F9EDEC
}

.table[data-href*='status=3'] .row:nth-child(odd) .affiliates {
    background: #F9EDEC !important
}

.table[data-href*='status=3'] .row.caption, .table[data-href*='status=3'] .row.sort {
    background: #f9f9f9 !important
}

.table[data-href*='status=3'] .row.caption .cell.affiliates, .table[data-href*='status=3'] .row.sort .cell.affiliates {
    background: 0 0 !important
}

.table[data-href*='status=3'] .row .cell.download_file_text a, .table[data-href*='status=3'] .row .cell.print_clinic a, .table[data-href*='status=3'] .row .cell.print_plus a {
    background: #E7BDBA !important
}

.table[data-href*='status=3'] .row .cell.download_file_text a:hover, .table[data-href*='status=3'] .row .cell.print_clinic a:hover, .table[data-href*='status=3'] .row .cell.print_plus a:hover {
    background: #E7BDBA
}

.table[data-href*='status=3'] .status_color_3 .hiddenAffiliates__left {
    background-color: #F9EDEC !important
}

.table[data-href*='status=3'] .status_color_3 .affiliates:nth-child(odd) {
    background-color: #F9EDEC !important
}

.table[data-href*='status=3'] .hiddenAffiliates__right {
    background: #FCE6E4
}

.calendarTop {
    margin: 5px 0 0;
    width: 162px;
    clear: both;
    overflow: hidden;
    float: right
}

.calendarTop input[type=text] {
    width: 100%;
    margin: 0 0 5px
}

.calendarTop input[type=button] {
    width: 100%
}

.summary__lavSecond {
    background: #fff;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 10px 30px
}

.table_lawSecond .row .cell.legalName {
    width: 200px !important;
    padding-right: 50px
}

.table_lawSecond .date_status_1 {
    width: 70px
}

.table_lawSecond .date_status_2 {
    width: 100px
}

.table_lawSecond .date_status_3, .table_lawSecond .date_status_4, .table_lawSecond .date_status_5 {
    width: 70px
}

.createPage .select-new {
    float: none !important
}

.createPage .blueBox {
    background: #ecf4fa
}

.table_phone .cell.deleted, .table_phone .cell.update {
    width: 50px
}

.table_phone .cell.deleted a, .table_phone .cell.update a {
    display: block
}

.table_phone .hidden-form {
    padding: 0 0 0 60px
}

.table_partner .cell.successing, .table_partner .cell.surviving {
    width: 200px !important
}

.table_partner .cell.deleted, .table_partner .cell.update {
    width: 50px
}

.table_partner .cell.deleted a, .table_partner .cell.update a {
    display: block
}

.table_partner .hidden-form {
    padding: 0 0 0 60px
}

.moneyFixed {
    position: fixed;
    left: 50%;
    top: 0;
    width: 1480px;
    padding: 8px 0;
    margin: 0 0 0 -740px;
    background: #fff;
    z-index: 10
}

.captionFixed {
    position: fixed;
    left: 50%;
    top: 38px;
    width: 1480px;
    margin: 0 0 0 -740px;
    background: #fff;
    z-index: 9;
    border-bottom: 1px solid #555
}

.tipsName {
    display: none;
    position: absolute;
    bottom: -69px;
    left: 0;
    background-color: #fff;
    z-index: 1;
    border: 1px solid #ccc;
    width: 150px;
    padding: 10px;
    min-height: 78px
}

.legalName {
    position: relative
}

.import_exel_single:hover .tipsName {
    display: block
}