@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic,cyrillic-ext);
* {margin: 0px; padding: 0px; outline: none; font-size:100.01%; text-decoration: none;} 

body {
	background: url(../img/bg.png) #627ba4;
    font-family: 'PT Sans', 'Arial' sans-serif;
    min-width: 900px;
    font-size: 14px;
    font-weight: normal;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.scrollFixed{
    position: fixed;
    width: 100%;    
    min-width: 1235px;
    left: 0;
    top: 0;
    z-index: 99;
}
.errorMessage {
	display: none !important;
	
}
.is_error{
	position: absolute;
	display:none;
	max-width: 400px;
	min-width: 350px;
	font-size: 12px;
	margin-top: -25px;
	margin-left: 105px;
	z-index: 1;
	color: #c55;

}

.wrapper {
	margin: 0 auto; 
	max-width: 900px;
}
.container {
	margin: 0 auto; 
	max-width: 1035px;
    min-width: 920px;
	color: #FFF;
    overflow: hidden;
    position: relative;
}
.errorMessage {
	position: absolute;
    max-width: 400px;
    min-width: 350px;
	font-size: 12px;
	margin-top: -25px;
	margin-left: 105px;
	z-index: 1;
    color: #cc5555;
}

.errors {
	display: none;
	position: absolute;
    max-width: 450px;
    min-width: 350px;
	font-size: 12px;
	margin-top: 55px;
	margin-left: 105px;
	z-index: 1;
}

.cpa_btn {
	width: 100%;
	padding: 24px 10px;
	border: 1px solid #abca5e;
	border-top: 1px solid #9cba6c;
	background-color: #bad478;
	background-image: none;
	color: #ffffff;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
	cursor: pointer;
	color: #ffffff;
	&:hover {opacity: 0.9;}
}
.input_enter {
	width: 74%;
	padding: 28px 35px 30px 105px;
	background: 
		url(../img/bg_gradient.png) repeat-y left,
		url(../img/sprite_reg.png) no-repeat left #fff;
	border: none;
	color: #333333;
    font-family: 'PT Sans', 'Arial' sans-serif;
}


header {
	margin: 0px;
	padding: 0px;
	.preview_stat{
        overflow: hidden;
        padding: 10px 0;
		background: #cd7163;
		border-bottom: 1px solid #fff;
		.right_stat,
        .left_stat {
			float: left;
            width: 50%;
        }
        .left_stat {
            text-align: left;
		}
        .right_stat {
            text-align: right;
        }
		.preview_bold {
			font-weight: bold;
		}
	}
	.personal_panel {   
        clear: both;
		background: #6279a4;
		.cpa_logo {
			display: inline-block;
			padding-top: 20px;
			margin-left: 40%;
			margin-right: -173px;
		}
		.nav {
			float: right;
			list-style: none;
			height: 60px;
			li {
				float: left;
				a {
					display: block;
					position: relative;
					padding: 30px 30px;
					border: none;
                }
                .nav_contract{
                    background: url(../img/svg/contract_active.svg) center no-repeat;
                    &:hover, &.active{
                        background: url(../img/svg/contract.svg)  #FFF center no-repeat;
                    }
                }
                .nav_modul{
                    background: url(../img/svg/server_active.svg) center no-repeat;
                    &:hover, &.active{
                        background: url(../img/svg/server.svg)  #FFF center no-repeat;
                    }    
                }
                .nav_docs{
                    background: url(../img/svg/google_active.svg) center no-repeat;
                    &:hover, &.active{
                        background: url(../img/svg/google.svg)  #FFF center no-repeat;
                    }
                }
                .nav_gear{
                    background: url(../img/svg/gear_active.svg) center no-repeat;
                    &:hover, &.active{
                        background: url(../img/svg/gear.svg)  #FFF center no-repeat;
                    }    
                }
                .nav_exit{
                    background: url(../img/svg/exit_active.svg) center no-repeat;
                    &:hover, &.active{
                        background: url(../img/svg/exit.svg)  #FFF center no-repeat;
                    }
                }
			}
		}
	}
}

.personal_menu {
	display: block;
	overflow: hidden;
	background: #5a7098;
	width: 100%;
    .userInfo {
        float: left;
        position: relative;
        font-size: 14px;
        padding: 11px 30px;
        &:before {
            content: "";
            position: absolute;
            background: url(../img/svg/user185.svg) center no-repeat;
            width: 18px;
            height: 18px;
            left: 0px;
        }
        a {
            color: #FFF;
            margin-right: 15px;
            border-bottom: 1px solid #FFF;
            &:hover {
                border-bottom: none;
            }
        }
        .userEmail {
            margin: 0 10px;
        }

    }
    .gotoUser {
        float: right;
        background: #46597c;
        form {

            select {
                padding: 0 20px;
                color: #FFF;
                background: #46597c;
                border: none;
                cursor: pointer;
            }
            input[name="gouserback"] {
                background: url(../img/svg/user185_back.svg) center no-repeat right 15px #46597c;
                color: #FFF;
                padding: 12px 45px 12px 15px;
                border: none;
                cursor: pointer;
                &:hover {
                    background: url(../img/svg/user185.svg) center no-repeat right 15px #a3acbe;
                }
            }
            input[name="gouser"] {
                background: url(../img/svg/iris.svg) center no-repeat #46597c;
                color: #FFF;
                padding: 12px 30px;
                border: none;
                cursor: pointer;
                border-left: 1px solid #6b7a96;
                &:hover {
                    background: url(../img/svg/iris_hover.svg) center no-repeat #46597c;
                }

            }
        }
    }
}

.menu {
	display: block;
	height: 60px;;
	background-color: #fff;
	.menu_left {
		float: left;
		list-style: none;
		height: 100%;
		li {
			float: left;
			a {
                display: block;
                padding: 21px 10px;
                font-size: 14px;
                font-weight: 700;
                color: #555;
                &:hover, &.active{
                    background: #e5f0f8;
                    color: #516995;
                }
			} 
		}
	}
	.menu_right {
		float: right;
		position: relative;
		list-style: none;
		li {
			float: left;
			height: 55px;
            &:first-child {
                height: 60px;
                background: #FFF;
                padding-right: 100px;
                
            }
			a {
				display: inline-block;
				padding: 27.5px 30px;
			}

            .menu_calendar{
                background: url(../img/svg/calendar_active.svg) center no-repeat;
                &:before{
                    content: "Дата биллинга";
                    position: absolute;
                    margin-left: 25px;
                    bottom: 20px;
                    font-weight: bold;
                    color: #d0796c;
                }
            }
            form {
                display: block;
                position: relative;
                box-sizing: border-box;
                margin-top: 8px;
                height: 44px;
                overflow: hidden;
                border: 1px solid #d0d7e4;
                .menu_search{
                    display: inline-block;
                    position: relative;
                    background: #FFF;
                    width: 310px;
                    padding: 13px 10px;
                    font-style: italic;
                    border: none;
                }
                label {
                    position: relative;
                    padding: 13px 29px;
                    background: url(../img/svg/search24.svg) center no-repeat #FFF;
                    cursor: pointer;
                } 
            }
		}
	}
}

footer {
	display: block;
	position: relative;
	margin-top: 50px;
	margin-bottom: 60px;
	font-size: 12px;
	color: #8fa5cd;
	text-align: left;
	a {
		font-weight: bold;
		font-size: 18px; 
		color: #8fa5cd;
	}
	p {
        width: 80%;
        margin: 10px 0; color: #8fa5cd;
        font-weight: bold;
        font-size: 12px;
        &:last-child{
            color: #FFF;
        }
    }
	span {
		color: #ffffff;
	} 

	.btn_support {
		float: right;
		display: inline-block; 
		padding: 10px 35px; 
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		&:hover{background-color: rgba(0, 0, 0, 0.1);
		}
	}
}


/***************Support & Enter & Register & Popup******************/


.form_header{
	display: block;
	position: relative;
	margin: 150px 0px 30px 150px;
	}
content {
	display: inline-block;
	width: 100%;
	max-width: 900px;
	min-width: 700px;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	.cpa_form_enter {
		float: left;
		width: 60%;
		min-width: 420px;
		max-width: 540px;
		border-radius: 3px;
		box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		input{
            .input_enter;
			&[name="LoginForm[username]"] {
				border-bottom: 1px solid #e0e4ed;
                background-position: 0 -225px;
                &:focus{opacity: 0.9;}
            }
            &[name="LoginForm[password]"] {
                background-position: 0 -45px;
                &:focus{opacity: 0.9;}
            }
			&[type="submit"]{.cpa_btn;}
		}
	}
	.cpa_sidebar {
		float: right;
		width: 35%;
		margin-top: 35px;
		list-style: none;
		li {padding: 5px 0;
			a {
				display: inline-block; 
				padding: 10px 35px; 
				color: #ffffff;
				&:hover, &.active{background-color: rgba(0, 0, 0, 0.1);}
                
			}
		}
	}
	.cpa_form_support {
		float: left;
		width: 60%;
		min-width: 420px;
		max-width: 540px;
		border-radius: 3px;
		box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
		overflow: hidden;
		.preview_text {
			display: block;
			position: absolute;
            max-width: 450px;
            min-width: 350px;
			font-size: 12px;
			margin-top: 165px;
			margin-left: 105px;
			color: #bfbfbf;
			z-index: 1;
		}
		input, textarea{
			.input_enter;
            display: block;
            position: relative;
            &[name="SupportForm[name]"] {background-position: 0 -165px;}
			&[name="SupportForm[phone]"] {
				border-bottom: 1px solid #e0e4ed;
				border-top: 1px solid #e0e4ed;
                background-position: 0 -105px;
			}
			&[name="SupportForm[message]"] {
				overflow: hidden;
				padding-top: 45px;
				padding-bottom: 5px;
				margin-bottom: -5px;
                background-position: 0 -350px;
			}
            &[name="SupportForm[message]"]:focus, &[name="SupportForm[phone]"]:focus, &[name="SupportForm[name]"]:focus{opacity: 0.9;}
			&[type="submit"]{.cpa_btn;
                &:hover{opacity: 0.9;}
            }
		}
	}
	.cpa_form_register {
		float: left;
        position: relative;
		width: 60%;
		min-width: 420px;
		max-width: 540px;
		border-radius: 3px;
		box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
		overflow: hidden;
        .preview_text {
            display: block;
            position: absolute;
            max-width: 450px;
            min-width: 350px;
            margin-left: 105px;
            margin-top: -25px;
            font-size: 12px;
            color: #999999;
        }
		.checkbox {
			width: 74%;
			padding: 28px 35px 30px 105px;
			background: 
				url(../img/bg_gradient.png) #fff repeat-y left;
			border: none;
			color: #999999;
			border-top: 1px solid #e0e4ed;
			input[type="checkbox"] {
				position: absolute;
                left: -9999px;
				&[type="checkbox"] + label {
					display: block;
					height: 23px;
					background: url(../img/chek.png) 0 -25px no-repeat;
					padding-left: 80px;
					margin-left: -83px;
					border: none;
					cursor: pointer;
					color: #333;
					font-size: 14px;
					a{color: #738bae}
				}
				&[type="checkbox"]:checked + label {
					background-position: 0 0;
				}
			}
		}
		input{
			position: relative;
			.input_enter;
			&[name="MbUser[fio]"] {
				background-position: 0 -165px;
                &:focus{opacity: 0.9;}
			}
			&[name="MbUser[email]"] {
				border-top: 1px solid #e0e4ed;
				background-position: 0 -225px;
                &:focus{opacity: 0.9;}
			}
			&[name="MbUser[password]"] {
				border-top: 1px solid #e0e4ed;
				background-position: 0 19px;
                &:focus{opacity: 0.9;}
			}
			&[name="MbUser[verifyPassword]"] {
				border-top: 1px solid #e0e4ed;
				background-position: 0 -42px;
                &:focus{opacity: 0.9;}
			}
			&[name="Partner[payment_number]"] {
                padding: 39px 35px 30px 105px;
				border-top: 1px solid #e0e4ed;
				background-position: 0 -283px;
				color: #999;
				&:focus{
                    color: #333;
                    opacity: 0.9;
                }
			}
			&[name="MbUser[telephone]"] {
				border-top: 1px solid #e0e4ed;
                background-position: 0 -105px;
				&:focus{opacity: 0.9;}
			}
			&[type="submit"]{.cpa_btn;}
		}
        select {
            position: absolute;
            margin-left: 73px;
            margin-top: 1px;
            padding: 2px 277px 0px 27px;
            background: transparent;
            border: none;
            color: #999999;
            font-weight: bold;
            border-bottom: 1px solid #e0e4ed;
            z-index: 1;
            cursor: pointer;
            option {
                background: #f8faff;
                &:hover {
                    background-color: #FFF;
                }
            }
        }
	}
}



#popup_reg {
	display: none;
	position: fixed;
	background-color: #fff;
	margin: 0 auto;
	width: 825px;
	height: 97%;
	border-radius: 3px;
	top: 2%;
	box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
	z-index: 15;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	overflow: hidden;
    z-index: 99999;
    
	.popup_head {
		background: #f6f8fe;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		h2{
			display: inline-block;
			position: relative;
			padding: 15px ;
			font-size: 20px;
			font-weight: bold;
			color: rgb( 51, 51, 51);
		}
		i {
			float: right;
			background: url(../img/close.png) no-repeat center;
			background-position: 0px 0px;
			height: 30px;
			width: 28px;
			margin: 12px;
			cursor: pointer;
		}
	}
	.popup_body {
		height: 90%;
		overflow: auto;
		h2 {margin: 0 20px; font-size: 20px;}
		h3 {font-size: 20px; }
		p { margin: 20px 20px;}
		span {
			font-weight: bold;
		}
		ul {
			margin: 20px 20px;
			list-style: none;
			li {
				margin: 20px 0;
			}
		}
	}

}

.overlay {
      background: #333;
      opacity: 0.3;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 12;
}


/**************Data-building*************/

.building {
	display: block;
	height: 55px;;
	background-color: #cd7163;
    .sort_times{
        float: left;
        list-style: none;
        li {
            float: left;
            display: block;
            a {
                display: block;
                padding: 19px 10px;
                color: #FFF;
                text-decoration: none;
                &:hover, &.active {
                    background: #fee8e3;
                    color: #d48174;
                }
            } 
        }
    }
	form {
		float: right;
		margin-top: 5px;
		margin-right: 107px;
		background: #fff;
		border-radius: 3px;
		border: 1px solid #ab5b4e;
        overflow: hidden;
		input {
            width: 100px;
            padding: 10px 0 13px 25px;
			border: none;
			&[type="submit"]{
				padding: 13px 10px;
				border: none;
				border-left: 1px solid #f4d0c9;
				background: #fee8e3;
				color: #cd7163;
				font: 14px Arial;
				font-weight: bold;
				cursor: pointer;
				&:hover {
                    background: #cd7163;
                    color: #FFF;
                }
				&:active {
                    background: #cd7163;
                    color: #FFF;
                    box-shadow: inset 15px 15px 3px -12px #904F45;
                    -webkit-box-shadow: inset 15px 15px 3px -12px #904F45;
                    -moz-box-shadow: inset 15px 15px 3px -12px #904F45;
                    -o-box-shadow: inset 15px 15px 3px -12px #904F45;
                }
			}
		}
        label {
            display: inline-block;
            background: #f3f3f3;
            padding: 12px 22px;
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            color: #545454;  
            &[for="date_2"] {
                border-left: 1px solid #c1c1c1;
                padding: 12px 18px;
            }
        }
	}
}

/**************header__showing***************/
.header__showing{
    max-width: 1300px;
    width: 100%;
    margin: 0px auto;
    padding: 10px 0;
    .header__upload {
        float: left;
        button{
            padding: 10px 7px 10px 32px;
            position: relative;
            border: 1px solid #cdcdcd;
            cursor: pointer;
            background: #FFF;
            font-weight: 700;
            font-size: 14px;
            color: #506385;
            font-family: 'PT Sans', sans-serif;
            &:hover {
                background: #6279a4;
                color: #FFF;
            }
            &:active {
                background: #6279a4;
                color: #FFF;
                box-shadow: inset 15px 15px 3px -12px #455573;
                -webkit-box-shadow: inset 15px 15px 3px -12px #455573;
                -moz-box-shadow: inset 15px 15px 3px -12px #455573;
                -o-box-shadow: inset 15px 15px 3px -12px #455573;
                
            }
            &:after {
                content: '';
                position: absolute;
                left: 10px;
                top: 10px;
                width: 16px;
                height: 16px;
                display: block;
                background: url(../img/svg/microsoft-excel.svg) center no-repeat;

            }
            &:hover:after{
                    background: url(../img/svg/microsoft_active.svg) center no-repeat;
            }
        }
    }
    .showing {
        float: right;
        margin-top: 5px;
        font-family: 'PT Sans',  sans-serif;
        select {
            padding: 5px;
            border: 1px solid #cdcdcd;
            cursor: pointer;  
        }
        span {
            margin-right: 5px;
            font-size: 14px;
            color: #666666;

        }
    }
}

/*******************TABS******************/

.groop-table {
	display: block;
	position: relative;
	padding-bottom: 30px;
	background: url(../img/back_table.png);
		.cpa_table {
            max-width: 1300px;
            width: 100%;
            margin: 0 auto 10px;
			border: 0;
			border-collapse: collapse;
			color: #333333;
			thead {
				background: #6279a4;
                color: rgba(255, 255, 255, 0.5);
				text-align: center;
				th {
                    border: none;
					a {
						display: block;
						position: relative;
						padding: 12px 5px;
						color: rgba(255, 255, 255, 0.5);
						font-size: 14px;
						font-weight: normal;
						text-transform: uppercase;
						&:hover {background: #516995; color: #ffffff;}
					}
                    span {
                        display: inline-block;
						position: relative;
						color: rgba(255, 255, 255, 0.5);
						font-size: 13px;
                        padding: 0 5px;
						font-weight: normal;
						text-transform: uppercase;
                    }
					.asc, .desc {
						background: #516995;
						color: #ffffff;
						&:after {
							content: "";
							position: absolute;
							bottom: -16px;
							left: 50%;
                            margin-left: -10px;
							border: 10px solid transparent;	
							border-top: 10px solid #516995;
						}
					}
				}
			}
			tbody {
				background: #fff;
				text-align: left;
				tr:nth-child(2n) {background: #f5f5f5;}
				td {
                    position: relative;
					padding: 10px;
					font-size: 13px;
					color: #333333;
					span{
						
						&:after {
							content: 'Р';
							position: absolute;
							font-size: 10px;
							top: 5px;
							margin-left: 2px;
						}
					}
                    &.no_services { color: #bababa}
				}
			}
		}
}

/***************Pagination****************/

.pagination {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
	.hidden {
		display: none;
	}
	ul{
		display: inline-block;
        background: #f2f2f2;
		list-style: none;
		li {
			position: relative;
			float: left;
            &:hover {background: #e6e6e6;}
			a {
				display: block;
				padding: 23px 26px;
				border-right: 1px solid #e6e6e6;
				color: #555555;
				font: 700 18px Arial;
			}
            &.selected {
				background: #516995;
				color: #ffffff;
				&:hover {background: #516995;}
				&:after {
                    content: "";
                    position: absolute;
                    bottom: 63px;
                    left: 50%;
                    margin-left: -10px;
                    border: 10px solid transparent;
                    border-bottom: 10px solid #516995;
                }
                a{
                        color: #FFF;
                    }
			}
        }
	}	
}

/******************Setting****************/
.setting {
	background: #5a7098;
	height: 700px;
	h3{
		display: inline-block;
		font-size: 18px;
		margin-top: 160px;
		font-weight: 400;
	}
	.setting_bar {
		display: block;
		position: relative;
		width: 645px;
		margin: auto;
		margin-top: 45px;
		list-style: none;
		.norm {
			display: block;
			position: relative;
			margin-top: 5px;
			width: 645px;
			height: 65px;
			&:hover { background: url(../img/edit.png) no-repeat right 38px center #6279a4;}
			&:nth-child(3):hover{background: #6279a4}
			span {
				display: block;
			    position: relative;
				width: 450px;
				margin-left: 25px;
				color: rgba(255, 255, 255, 0.2);
				font-size: 12px;
                margin-top: -8px;
			}
			input {
				padding: 15px 25px 10px 25px;
				width: 360px;
				background: rgba(0, 0, 0, 0.0);
				border: none;
				color: #fff;
				font-size: 18px;
                font-family: 'PT Sans', 'Arial' sans-serif;
			}
			a {
				float: right;
				padding: 22px 16px;
				color: rgba(0, 0, 0, 0.0);
				&:hover {
					background: url(../img/edit_hover.png) no-repeat center;
				} 
			}
			
		}
		.active{
			display: block;
			position: relative;
			overflow: hidden;
			width: 645px;
			height: 65px;
			margin-top: 5px;
			background: 
		url(../img/bg_gradient.png) repeat-y left,
		url(../img/sprite_reg.png) no-repeat left #fff;
			border: none;
			color: #333333;
			font-weight: bold;
			box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
			&:first-child{background-position: 0 -175px;}
			&:nth-child(2){background-position: 0 -235px;}
			&:nth-child(3){background-position: 0 -112px;}
            &:nth-child(4){background-position: 0 -296px;}
			&:last-child{background-position: 0 -50px;}
			span {
				display: inline-block;
			    position: relative;
				margin-left: 90px;
				color: #bfbfbf;
				font-size: 12px;
				font-weight: normal;
			}
			input {
				display:inline-block;
				padding: 15px 10px 0px 90px;
				width: 360px;
				background: rgba(0, 0, 0, 0.0);
				border: none;
				color: #000;
				font-size: 18px;
				font-weight: bold;
			}
			a {
				display: inline-block;
				float: right;
				padding: 19px 30px;
				border: 1px solid #abca5e;
				background-color: #bad478;
				background-image: none;
				color: #ffffff;
				font-size: 21px;
				font-weight: bold;
				text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
				cursor: pointer;
				color: #ffffff;
				&:hover {opacity: 0.9;}
			}
			
		}	
		
	}
}


/***************Modules****************/

.nav_modules {
    background: #FFF;
	border-bottom: 1px solid #d9d9d9;
	.nav_modules_wrap{
		margin: 0 auto;
		width: 1245px;
	}
    	.menu_modules {
		position: relative;
		list-style: none;
		li {
			height: 55px;
			border-bottom: 5px solid transparent;
			padding: 0;
			float: left;
			display: block;
			width: 12%;
			&:hover, &.active {
				border-bottom-color: #5abe9d;
				background: #FFF;
				box-shadow: 0px 3px 15px 0px rgba(201, 201, 201, 0.75);
			}
			a {
				display: inline-block;
				margin-top: 10px;
				font-size: 14px;
				font-weight: 700;
				color: #5a7098;
				text-align: center;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.modul {
    background: #f4f8fb;
    .wrapper_mod, .wrapper_mod_4, .wrapper_mod_7, {
        margin: 0 auto;
        max-width: 1245px; 
        min-width: 900px;
        position: relative;
        .modules {
			float: left;
			position: relative;
			width: 260px;
			height: 335px;
			margin: 30px 15px 30px 30px;
			background: #FFF;
			border: 1px solid #efefef;
			border-radius: 3px;
            h2 {
                display: block;
                margin: 15px 15px 0px 15px;
                color: #5a7098;
                font-size: 18px;
                font-weight: bold;
            }
			span {
                display: block;
                color: #5a7098;
                font-size: 14px;
				margin: 0 15px 20px;
			}
            img {
				display: block;
				height: 100px;
				width: 135px;
				margin: 0 auto;
            }
            p {
				margin: 35px 25px 15px;
				color: #555;
				font-size: 12px;
				max-height: 45px;
				overflow: hidden;
            }
            .modules_btn_wrapper {
                display: block;
                text-align: center;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                
                a {
                    display: inline-block;
                    margin: 15px 0;
                    padding: 7px 25px;
                    border-radius: 5px;
                    background-color: #5abe9d;
                    color: #fff;
                    font-size: 16px;
                    font-weight: bold;
                    text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
                    cursor: pointer;
                    &:hover {opacity: 0.9;}
                    
                }
            }
			&:hover {
				box-shadow: -6px -8px 29.4px 0.6px rgba(2, 3, 4, 0.2);
				transition: all 0.5s;
				-webkit-transition: all 0.5s;
				-moz-transition: all 0.5s;
			}
//		.big_modules:hover {
//			display: block;
//			width: 350px;
//			margin-left: -45px;
//			position: absolute;
//			background: #FFF;
//			z-index: 55;
//			box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
//			border-radius: 5px;
//            h2 {
//                display: block;
//                margin: 15px 15px 5px 15px;
//                color: #5a7098;
//                font-size: 18px;
//                font-weight: bold;
//            }
//			span {
//                display: block;
//                color: #5a7098;
//                font-size: 14px;
//				margin: 0 15px 10px;
//			}
//            img {
//                display: block;
//				height: 30%;
//				width: 90%;
//                margin-left: 15px;
//            }
//            p {
//                margin: 15px 15px 10px;
//                color: #898989;
//                font-size: 14px;
//				min-height: 100px;
//				max-height: 200px;
//            }
//            .modules_btn_wrapper {
//                background: #f8f8f8;
//                border-top: 1px solid #dcdcdc;
//                text-align: center;
//                border-bottom-left-radius: 3px;
//                border-bottom-right-radius: 3px;
//                
//                a {
//                    display: inline-block;
//                    margin: 15px 0;
//                    padding: 7px 25px;
//                    border-radius: 5px;
//                    background-color: #bad478;
//                    color: #fff;
//                    font-size: 16px;
//                    font-weight: bold;
//                    text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
//                    cursor: pointer;
//                    &:hover {opacity: 0.9;}
//                    
//                }
//            }
//            
//        }
            
        }   
		 
        .btn_support {
            display: inline-block; 
            margin: 15px 1px;
            padding: 15px 63px; 
            font-size: 20px;
            color: #ffffff;
            background: #6279a4;
            &:hover {opacity: 0.9;}
        }
        .modul_preview {
            display: block;
            width: 1090px;
            margin: 50px auto;
            background: #FFF;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            .browser_preview {
                background: #fff;
                img {
                    width: 100%;
                }
                .site_preview {
                    margin: 20px 60px;
                    img {
                        display: block;
                        margin: 20px 0;
                    }
                }
            }
        } 
    }
    .wrapper_mod_4 {
        max-width: 1450px;
        .modul_preview{
            width: 1450px;
            
        }
        .browser-wrapper {
            overflow: hidden;
            .content_browser {
                padding: 0 0 100px 10px;
                display: inline-block;
            }
        }
        #moduleSidebar {
            float: left;
        }
        #medbooking-doctor{
            float: left;
            width: 1090px;
            
        }
    }
	.content_browser_wrapper {
		text-align: center;
		.content_browser {
			display: inline-block;
		}
	}
    .wrapper_mod_7 {
        .content_browser {
            padding: 30px 0;
        }
    }
    .js_form_modul {
        border: 1px solid #d9d9d9;
        border-top: none;
        box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.1);
        background: #fbfbfb;
        .form_modul {
                width: 100%;
                .form_modul_preview {
                    float: left;
                    width: 250px;
                    h2 {
                        display: inline-block;
                        margin: 5px 0 0 20px;
                        color: #333;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    p {
                        margin: 15px 20px;
                        font-size: 12px;
                        color: #767676;

                    }
                    input[type="button"] {
                        margin-left: 20px;
                        padding: 10px 43px;
                        border-radius: 3px;
                        border: none;
                        background-color: #bad478;
                        color: #fff;
                        font-size: 18px;
                        font-weight: bold;
                        text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
                        cursor: pointer;
                        &:hover {opacity: 0.9;}
                    }
                }

                i {
                    display: block;
                    border-top: 1px solid #d9d9d9;
                }
            .form_setting{
                .vh {
                    visibility: hidden;
                }
                    .form_design {
                        display: inline-block;
                        position: relative;
                        border: none;
                        h3 {
                            margin-bottom: 10px;
                            margin-top: 10px;
                            font-size: 14px;
                            color: #6e6e6e;
                            font-weight: bold;

                        }
                        h2 {
                            display: inline-block;
                            color: #333;
                            font-size: 18px;
                            font-weight: bold;
                        }

                    }
                    .form_size, .form_size_4, .form_size_6, .form_size_7, .form_size_top {
                          width: 225px;
                          display: inline-block;
                          position: relative;
                          margin-left: 15px;
                          margin-top: 5px;
                          border: none;
                        h2 {
                            display: inline-block;
                            color: #333;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        h3 {
                            margin-top: 15px;
                            margin-bottom: 5px;
                            font-size: 14px;
                            color: #6e6e6e;
                            font-weight: bold;  
                        }
                        select {
                            display: inline-block;
                            box-sizing: border-box;
                            padding: 5px 10px;
                            height: 30px;
                            width: 168px;
                            border: 1px solid #e4e4e4;
                            color: #333;
                            cursor: pointer;
                            background: #fbfbfb;
                            option{
                                background: #fbfbfb;
                            }
                        }
                        label[for="menu"] {
                            display: inline-block;
                            box-sizing: border-box;
                            height: 30px;
                            padding: 5px 9px;
                            border: 1px solid #e4e4e4;
                            border-left: none;
                            background: #f4f4f4;
                            color: #b4b4b4;
                            font-size: 13.5px;
                        }
                        input[type="button"] {
                            margin-top: 30px;
                            padding: 10px 40px;
                            border-radius: 3px;
                            border: none;
                            background-color: #5abe9d;
                            color: #fff;
                            font-size: 18px;
                            font-weight: bold;
                            text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
                            cursor: pointer;
                            &:hover {opacity: 0.9;}
                        }
                        .color_picker {
                            height: 30px;
                        }
                        .bold, .italic, .underline {
                            display: inline-block;
                            padding: 7px;
                            color: #b2b2b2;
                            font-size: 14px;
                            font-family: Arial sans-serif;
                            cursor: pointer;
                            &.bold {font-weight: bold;}
                            &.italic {font-style: italic;}
                            &.underline {text-decoration: underline;}
                            &.active {
                                color: #FFF;
                                background: #5A7098;
                                font-weight: bold;
                            }
                        }
                        input[type="radio"] {
                            position: absolute;
                            display: inline-block;
                            left: -9999px;
                            &[type="radio"] + label {
                                display: inline-block;
                                margin: 6px 0;
                                padding-left: 27px;
                                background: url(../img/chek.png) 0 -69px no-repeat;
                                border: none;
                                cursor: pointer;
                                color: #818181;
                                font-size: 14px;
                            }
                            &[type="radio"]:checked + label {
                                background-position: 0 -50px;
                            }
                        }
                        input[type="checkbox"] {
                            position: absolute;
                            left: -9999px;
                            &[type="checkbox"] + label {
                                display: inline-block;
                                padding-left: 30px;
                                margin: 10px 0px;
                                background: url(../img/chek.png) 0 -130px no-repeat;
                                border: none;
                                cursor: pointer;
                                color: #4d4d4d;
                                font-size: 16px;
                            }
                            &[type="checkbox"]:checked + label {
                                background-position: 0 -88px;
                            }                        
                        } 
                        input[type="text"] {
                            border: 1px solid #e4e4e4;
                            font-family: 'PT Sans', sans-serif;
                            padding: 5px;
                            width: 193px;
                        }
                        #err-site-folder {
                            display: none;
                            position: absolute;
                            background: #CD7163;
                            width: 203px;
                            color: #fff;
                            text-align: center;
                            font-style: italic;
                            font-size: 12px;
                        }
                        #js-site-folder {
                            width: 203px;
                        }
                        .slider {
                            h3 {
                                display: inline-block;
                            }
                            input {
                                display: inline-block;
                                color: #000;
                                width: 20px;
                                font-weight: bold;
                                border: none;
                                background: #fbfbfb;
                            }
                            #slider-range-max {
                                width: 155px;
                                margin-left: 8px;
                                border: 1px solid #e4e4e4;
                                margin: 10px 0;
                                .ui-slider-range-max{
                                    background: #FFF;
                                    
                                }
                                .ui-state-default {
                                    background: #5a7098;
                                    border: 1px solid #e4e4e4;
                                    cursor: pointer;
                                }
                                
                            }
                        }
                        .chosen-container {
                            input {
                                width: 155px;
                            }
                            .chosen-single {
                                position: relative;
                                width: 203px;
                                height: 30px;
                                border: 1px solid #e4e4e4;
                                padding: 2px 0 0 8px;
                                box-shadow: none;
                                background: #fbfbfb;
                                border-radius: 0px;
                                div {
                                    width: 35px;
                                    background: url(../img/svg/male100.svg) center no-repeat #f4f4f4;
                                    border-left: 1px solid #e4e4e4;
                                    &:after {
										content: '';
                                        position: absolute;
                                        border: 3px solid transparent;	
                                        border-top: 6px solid black;
                                        top: 13px;
                                        right: 40px;
                                    }
                                }
                            }
                            .chosen-drop {
                                border: 1px solid #e4e4e4;
                                border-radius: 0px;
                                box-shadow: none; 
                            }
                            .chosen-container-active.chosen-with-drop .chosen-single {
                                height: 30px;
                                border: 1px solid #e4e4e4;
                                padding: 2px 0 0 8px;
                                box-shadow: none;
                                background: #fbfbfb;
                                border-radius: 0px;
                            }
                        }
                    }
                .form_size_top {
                    vertical-align: top;
                }
                .form_size_7 {
                    vertical-align: top;
                    .chosen-container {
                        .chosen-single {
                            width: 295px;
                        }
                    }
                    .chosen-drop{
                        width: 260px;
                        .chosen-results{
                            li{
                                padding: 5px;
                            }
                        }
                    }
                    input[type="text"] {
                        width: 245px;
                    }
					.type_diagnostics {
                        .chosen-container {
                            .chosen-single {
                                div {
                                    background: url(../img/svg/electrocard.svg) center no-repeat #f4f4f4;
                                }
                            }
                        }
					}
					.services_diagnostics {
                        .chosen-container {
                            .chosen-single {
                                div {
                                    background: url(../img/svg/list45.svg) center no-repeat #f4f4f4;
                                }
                            }
                        }
					}
                }
                .form_size_6 {
                        top: -28px;

                    }
                .form_size_4 {
                    width: 255px;
                }
                    .form_color {
                        display: inline-block;
                        position: relative;
                        border: none;
                        color: #b6b6b6;
                        font-size: 14px;
                        margin: 0px 50px;
                        h3 {
                            margin-top: 20px;
                            margin-bottom: 5px;
                            color: #6e6e6e;
                            font-weight: 700;
                        }
                    }
                    .form_tool, .form_tool_8, .form_tool_6, .form_tool_1, .form_tool_2,  .form_tool_4, .form_tool_7 {
                        float: right;
                        height: 205px;
                        width: 450px;
                        border: none;
//                        background: #f8f8f8;
//                        border-left: 1px solid #e4e4e4;
                        input[type="checkbox"] {
                            position: absolute;
                            left: -9999px;
                            &[type="checkbox"] + label {
                                display: inline-block;
                                padding-left: 30px;
                                margin: 30px 25px;
                                background: url(../img/chek.png) 0 -130px no-repeat;
                                border: none;
                                cursor: pointer;
                                color: #4d4d4d;
                                font-size: 16px;
                            }
                            &[type="checkbox"]:checked + label {
                                background-position: 0 -88px;
                            }                        
                        } 
                        .text_click {
                            display: block;
                            font-size: 12px;
                            color: #a6a6a6;
                            text-align: center;
                            padding: 0 50px;
                        }
                    }
                .form_tool_8 {
                    width: 259px;
                    input[type="checkbox"] {
                        &[type="checkbox"] + label {
                            margin: 13px 25px 0px 25px;
                        }
                    }
                    .text_click {
                        padding: 20px 23px;
                    }
                }                 
                .form_tool_2 {
                    input[type="checkbox"] {
                        &[type="checkbox"] + label {
                            margin: 45px 25px;;
                        }
                    }
                }                
                .form_tool_7 {
                    height: 160px;
                    width: 400px;
                    input[type="checkbox"] {
                        &[type="checkbox"] + label {
                            margin: 20px 15px;
                        }
                    }
                    .text_click {
                        padding: 20px 15px;
                    }

                }
                .form_tool_1 {
                    height: 160px;
                }
                .form_tool_4 {
                    height: 180px;
                }
                .form_tool_6 {
                    width: 259px;
                    input[type="checkbox"] {
                        &[type="checkbox"] + label {
                            margin: 40px 25px 0;
                        }
                    }
                    .text_click {
                        padding: 30px 23px;
                    }
                }
            } 
        }
    } 
}

#picker_back,  #picker_text{
    position: relative;
    display: inline-block;
    margin:0;
    padding:0;
    border:0;
    width:70px;
    height:20px;
    border-right:20px solid #bad478;
    color: #a2a2a2;
    background: #fbfbfb;
}
#picker_text {border-right:20px solid #FFF;}
label[for="picker_text"], label[for="picker_back"] {
    display: inline-block;
    position: absolute;
    border: 1px solid #e4e4e4;
    height:19px;
    width: 20px;
    margin-left: -21px;
    border-radius: 2px;
    cursor: pointer;

}
#popup_mod, #popup_mod_2 {
	display: none;
	position: fixed;
	width: 755px;
	margin-left: 50%;
	left: -377px;
	top: 10%;
	background-color: #fff;
	border-radius: 7px;
	box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
	z-index: 99999;
	.popup_head_mod {
		background: #6279a4;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
        color: #FFF;
		h2{
			display: inline-block;
			position: relative;
			margin: 10px 0 0px 20px;
			font-size: 18px;
			font-weight: bold;
		}
		span {
			display: block;
			margin: 0 20px;
			padding-bottom: 10px;
		}
		i {
			float: right;
			background: url(../img/close.png) no-repeat center;
			background-position: 0px -28px;
			height: 30px;
			width: 28px;
			margin: 15px;
			cursor: pointer;
		}
	}
	.popup_body-mod {
		form {
			.code_msg {
				margin: 15px;
                padding: 10px 15px;
                min-height: 100px;
                max-height: 500px;
                overflow: auto;
				border: none;
                background: #FFF;
                border: 1px solid #ccc;
                cursor: text;
                color: #000;
                line-height: 1.5em;
                font-size: 16px;
			}
			input[type="button"] {
				float: right;
				margin: 15px;
				padding: 10px 35px;
				border-radius: 3px;
				border: none;
				background-color: #bad478;
				color: #fff;
				font-size: 18px;
				font-weight: bold;
				text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
				cursor: pointer;
				&:hover {opacity: 0.9;}
			}
		}
	}
}
#popup_mod_2 {
    
}

    .code_msg_script_inner {padding-left: 15px;}
    .btn_copy {
        opacity: 0.75;
        cursor: default !important;
    }

/*************************Browzer****************************/

.browser-wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 4px 35px -10px rgba(0, 0, 0, 0.7);
  border: 1px solid #c6c6c6;
  font-family: 'Lucida Grande', 'helvetica Neue', 'helvetica', 'arial', 'sans-serif';
  font-size: 12px;
  line-height: 1em;
}

.row {
  clear: both;
  padding: 0.8em;
  background-color: lightGrey;
}

.row.small {
  padding: 0.5em;
  float: left;
  width: 100%;
  padding-bottom: 0;
}

.row.flex {
  display: flex;
}

.row.active {
  background-color: #f1f1f1;
}

.circle {
  width: 1em;
  height: 1em;
  background-color: blue;
  margin: 0.5em 0.5em 0 0.5em;
  float: left;
  border-radius: 50%;
  box-shadow: inset 1px 2px 5px -2px rgba(0, 0, 0, 0.3);
}

.close {
  background-image: radial-gradient(100% 100%, #ff6047 0%, #eb4932 50%, #9e2a00 100%);
  box-shadow: inset 1px 2px 5px -2px #941111;
}

.minify {
  background-image: radial-gradient(100% 100%, #ffd240 0%, #ebc548 50%, #e88700 100%);
  box-shadow: inset 1px 2px 3px #f59611;
}

.zoom {
  background-image: radial-gradient(100% 100%, #b3d952 0%, #97cf73 50%, #75ad57 100%);
  box-shadow: inset 1px 2px 5px -2px #577A3C;
}

.tab {
  font-size: 0.8em;
  border-bottom: 2em solid #F1F1F1;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  height: 0;
  float: left;
  margin-left: 0.5em;
  padding: 0 0.5em;
  margin-top: 0.5em;
  line-height: 2em;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  color: #333;
}

.button {
  width: 1.2em;
  height: 1.2em;
  margin: 0 1em 0 0;
  flex: none;
  position: relative;
}

.button.reload-button {
  border-radius: 50%;
  border: 0.3em solid grey;
  background-color: transparent;
  position: relative;
}

.button.forward, .button.back {
  width: 1.2em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid grey;
  position: absolute;
  right: -0.6em;
  top: 1px;
  padding: 0px;
  background-color: #F1F1F1;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.top-block, .bottom-block, .straight-block {
  height: 0.3em;
  width: 1em;
  background-color: grey;
  border-radius: 0.5em;
  position: absolute;
  top: -2px;
  right: 0;
  -webkit-transform: rotate(50deg);
  -webkit-transform-origin: center bottom;
  -moz-transform: rotate(50deg);
  -moz-transform-origin: center bottom;
  transform: rotate(50deg);
  transform-origin: center bottom;
}

.bottom-block {
  -webkit-transform: rotate(-50deg);
  -webkit-transform-origin: center top;
  -moz-transform: rotate(-50deg);
  -moz-transform-origin: center top;
  transform: rotate(-50deg);
  transform-origin: center top;
  top: 0.5em;
}

.straight-block {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  top: 0.15em;
  left: 0;
  width: 1em;
  height: 0.33em;
}

.back.button .top-block {
  top: 0.5em;
  left: 0;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

.back.button .bottom-block {
  top: -2px;
  left: 0;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
}

.back.button .straight-block {
  right: -1px;
  left: auto;
}

.button.forward, .button.back {
  margin-top: 0.8em;
}

.button.reload-button {
  margin-top: 0.3em;
}

.address-bar {
  background-color: white;
  flex-grow: 1;
  border: 1px solid lightGrey;
  box-shadow: inset 1px 2px 5px -2px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  line-height: 1.8em;
}

.favicon {
  width: 0.8em;
  height: 1em;
  background-color: lightGrey;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 0.2em;
}

.sandwich-button {
  width: 2.5em;
  padding-left: 1em;
  padding-top: 0.2em;
}

.sandwich-line {
  height: 0.3em;
  width: 100%;
  background-color: grey;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
}

.sandwich-line:last-child {
  margin-bottom: 0;
}

.content_browser {
  padding: 30px;
  line-height: 2em;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
}
.site_block{
	display: block;
	height: 50px;
	background: #DBDADD;
	border-bottom: 2px solid #C6C6C5;
	.site_block_logo {
		float: left;
		position: relative;
		padding: 9px 20px;
		margin: 10px 25px;
		background: #C6C6C5;
		border-radius: 5px;
		color: #E3E3E3;
		font-weight: bold;
		font-size: 16px;		
	}	
	.site_block_log {
		display: inline-block;
		position: relative;
		height: 30px;
		width: 40px;
		margin: 10px 40px;
		border-radius: 5px;
		background: #C6C6C5;
		&:after, &:before{
			content: " ";
			position: absolute;
			height: 30px;
			width: 40px;
			left: 50px;
			border-radius: 5px;
			background: #C6C6C5;
		}		
		&:before{left: -50px;}		
	}
	.site_block_search{
		display: inline-block;
		position: relative;
		background: #FFF;
		height: 28px;
		width: 350px;
		margin: 10px 20px;
		border-radius: 5px;
		border: 1px solid #C6C6C5;
		&:after {
            content: " ";
            position: absolute;
            background: #FFF;
            height: 28px;
            width: 150px;
            border-radius: 5px;
            border: 1px solid #C6C6C5;
            right: -180px;
            top: -1px;
		}
	}
}
.site_block_1 {
	position: relative;
	display: inline-block;
	height: 70px;
	width: 230px;
	border: 1px solid #E3E3E3;
	margin: 20px 50px;
	border-radius: 5px;
	overflow: hidden;
	&:after, &:before {
		content: " ";
		position: absolute;
		width: 260px;
		border: 1px solid #E3E3E3;
        -webkit-transform: rotate(-15deg);
        -moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
		left: -6px;
		top: 34px;
	}	
	&:before {        
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
		transform: rotate(15deg);
    }
}



/*******************Agreement*************************/

.agreement{
    background: #FFF;
    .container {
        color: #000;
        padding: 50px 0;
        h2 {margin: 0 20px; font-size: 20px;}
        h3 {font-size: 20px; }
        p { margin: 20px 20px;}
        span {
            font-weight: bold;
        }
        a {
            color: #5a7098;
        }
        ul {
            margin: 20px 20px;
            list-style: none;
            li {
                margin: 20px 0;
            }
        }
     }
}