/**
 * @package		PickMeUp - jQuery datepicker plugin
 * @author		Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @author		Stefan Petre <www.eyecon.ro>
 * @copyright	Copyright (c) 2013, Nazar Mokrynskyi
 * @copyright	Copyright (c) 2008-2009, Stefan Petre
 * @license		MIT License, see license.txt
 */
    .pickmeup {
    border-radius: 0.4em;
    display: none;
    position: absolute; }
    .pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .pickmeup .pmu-instance {
    display: inline-block;
    height: 13.8em;
    padding: .5em;
    text-align: center;
    width: 15em; }
    .pickmeup .pmu-instance .pmu-button {
      color: #333;
      font-size: 14px;
    font-family: 'PT Sans', sans-serif;
      cursor: pointer;
      outline: none;
      text-decoration: none; }
    .pickmeup .pmu-instance .pmu-today {
      background: #0F70B3;
      color: #fff; }
    .pickmeup .pmu-instance .pmu-button:hover {
      color: #88c5eb; }
    .pickmeup .pmu-instance .pmu-not-in-month {
      color: #666666; }
    .pickmeup .pmu-instance .pmu-disabled,
    .pickmeup .pmu-instance .pmu-disabled:hover {
      color: #333333;
      cursor: default; }
    .pickmeup .pmu-instance .pmu-selected {
      background: #0F70B3; }
    .pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
      background: #17384d; }
    .pickmeup .pmu-instance nav {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      color: #eeeeee;
        position: relative;
      line-height: 2em; }
      .pickmeup .pmu-instance nav *:first-child :hover {
        color: #88c5eb; }
      .pickmeup .pmu-instance nav .pmu-prev,
      .pickmeup .pmu-instance nav .pmu-next {
        display: none;
        height: 2em;
        width: 1em; }
      .pickmeup .pmu-instance nav .pmu-month {
        width: 14em; }
    .pickmeup .pmu-instance .pmu-years *,
    .pickmeup .pmu-instance .pmu-months * {
      display: inline-block;
      line-height: 3.6em;
      width: 3.5em; }
    .pickmeup .pmu-instance .pmu-day-of-week {
      color: #999999;
      cursor: default; }
    .pickmeup .pmu-instance .pmu-day-of-week *,
    .pickmeup .pmu-instance .pmu-days * {
      display: inline-block;
      line-height: 1.5em;
      width: 2em; }
    .pickmeup .pmu-instance .pmu-day-of-week * {
      line-height: 1.8em; }
    .pickmeup .pmu-instance:first-child .pmu-prev,
    .pickmeup .pmu-instance:last-child .pmu-next {
    display: block; }
    .pickmeup .pmu-instance:first-child .pmu-month,
    .pickmeup .pmu-instance:last-child .pmu-month {
    width: 13.5em; }
    .pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em; }
    .pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none; }
/*    ----------------------------------------------                             -----------------------------------------------------------*/
.wrapper-calendars{
    
}
.pickmeup .pmu-instance{
    margin: 0 10px 0;
}
.pickmeup .pmu-instance:first-child{
    margin: 0;
}
.pmu-day-of-week,
.pmu-button{

}
.pmu-day-of-week div{
    font-weight: bold;
}
    .pmu-day-of-week >div:last-of-type{
        color: #f24841 !important;
        
    }
    .pmu-sunday{
         color: #f24841 !important;
    }
    .pmu-day-of-week>div:nth-child(6){
        color: #afb0b0 !important;
    }
    .pmu-saturday{
        color: #afb0b0 !important;
    }
.pmu-instance nav:first-child .pmu-month{
    border-bottom: 1px solid #cacbcb;   
}
.pmu-next.pmu-button {
    position: absolute;
    right: 0;
    top: 0;
}
.pmu-prev {
    left: 0;
    position: absolute;
    top: 0;
}
.pmu-days .pmu-button:hover{
    background: #0F70B3 !important;
    color: #fff !important;

}
.pmu-disabled{
    color: #ddd !important;
}
.pmu-days .pmu-disabled:hover{
    background: transparent !important;
    color: #ddd !important;
}