/*--------------------------------------------------MIXIN-------------------------------------------------*/
.gradient(@color_1, @color_2) {
	background-image: linear-gradient(bottom, @color_2 19%, @color_1 93%);
	background-image: -o-linear-gradient(bottom, @color_2 19%, @color_1 93%);
	background-image: -moz-linear-gradient(bottom, @color_2 19%, @color_1 93%);
	background-image: -webkit-linear-gradient(bottom, @color_2 19%, @color_1 93%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.19 @color_2), color-stop(0.93, @color_1));
	background-image: -ms-linear-gradient(bottom, @color_2 19%, @color_1 93%);
	-pie-background: linear-gradient(@color_1, @color_2);
}
.font(@size, @line_height) {
	font-size: @size;
	line-height: @line_height;
}
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
.font_pt {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
.font_pt_b {
	font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.font_pt_i {
	font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}
/*--------------------------------------------------COLOR-------------------------------------------------*/
@bg-header:#0f70b3;
@color: #333;
@blue-light: #e8f5fa;
@blue: #e1f2f9;
@red: #f24841;

/*--------------------------------------------------RESET-------------------------------------------------*/
* { margin: 0px; padding: 0px; box-sizing: border-box; -moz-box-sizing:border-box;}
html, body {height: 100%;width: 100%; min-width: 1290px;}
body {font: 14px/17px 'PT Sans'; color: #333; background:#f8fcff; }
a { outline: none; -moz-outline: 0; border: none; border-width: 0;  text-decoration: underline; color: #0f70b3;}
a:hover{text-decoration: none;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
img { border: none; border-width: 0px; }
p { font: 16px/21px 'PT Sans'; color: #333; margin: 0 0 10px;}
input:focus, textarea:focus, select:focus{outline: none!important;}
table { border-collapse: collapse; }
label{cursor: pointer;}
input { color: #575757; font-family: 'PT Sans';font-size: 14px; padding: 5px 6px;}
textarea { font-family: 'PT Sans'; padding: 2px 6px; font-size: 14px; color: #575757; }
ul{list-style: none; margin: 0;}
.br{
    display: block;
    display: block;
}
.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both!important;
    visibility: hidden;
}
#middle {
    height: 1%;
    position: relative;
    z-index: 1px;
    width: 100%;
    padding: 0 0 120px;
    background: #fff;
}
#wrapper {
    height: auto !important;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}
.inner-section{
    width: 100%;
    margin: 0 auto;
    min-width: 1290px;
        &:after{
            content: ".";
            display: block;
            height: 0;
            clear: both!important;
            visibility: hidden;
        }
}

/*--------------------------------------------------MODIFICATION-------------------------------------------*/
.order-container.mModel_top { // Гвоздь
    position: absolute;
    top: 40px;
    margin-left: 50%;
    padding-left: 250px;
    width: 800px;
}
/*--------------------------------------------------HEADER-------------------------------------------------*/
#header{
    width: 100%;
    padding: 0 0.5%;
    margin: 0 auto;
    background: @bg-header;
}
.header-inner{
    margin: 0 auto;
    position: relative;
    .logo{
        float: left;
        padding: 20px;
        font-size: 25px;
        color: #FFF;
        text-decoration: none;
        span {
            font-weight: bold;
        }
    }
}
.header-user-box{
    float: right;
    color: #fff;
    padding: 16px 20px;
    font-size: 16px;
        span{
            display: inline-block;
            margin: 0 0 0 7px;
        }
        .user-name{
            background: #3385be;
            padding: 5px 12px;
        }
	.callsWait{ //фича для показа числа ожидающих вызовов
		display: inline-block;
		width: auto;
		height: auto;
		padding: 3px 12px;
		border: 1px solid #b01916;
		border-radius: 4px;
		background: #f24841;
		color: #fff;
		cursor: pointer;
		.waits{width: 1em;}
		.waitTimeMax{width: 2em;}
		&:hover span{background: #f8665a;}
	}
}
.header-exit{
    width: 17px;
    height: 14px;
    background: url(../img/sprite.png) no-repeat;
    cursor: pointer;
}
/*--------------------------------------------------NAV-------------------------------------------------*/
.nav{
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #d9dada;
}
.new-applications{
    width: 30px;
    height: 20px;
    display: inline-block;
    background: url(../img/sprite.png) 0 -20px no-repeat;
    margin: 21px 0 0 0;
    float: left;
}
.nav-menu{
    .font_pt_b;
    font-size: 16px;
    padding-left: 10px;
    height: 60px;
	li{
        position: relative;
        float: left;
		height: 100%;
		text-align: center;
		box-sizing: border-box;
		span {
			display: block;
			font-size: 12px;
		}
		a {
			display: block;
			text-decoration: none;
			padding: 13px 15px 12px;
			color: #333;
			border-bottom: 2px solid transparent;
		}
		&:hover{
			a{
				color: #0F70B3;
				border-bottom: 2px solid #0F70B3;
			}
			span{
				color: #0F70B3;
			}
		}
		&.nocount a {
			padding-top: 30px;
		}
		&.active {
			color:#fff;
			a{
				color:#fff;
				background: #0f70b3;
			}
			span{
				color:#fff;
				opacity: 0.4;
			}
		}
		&.nav-failures, &.nav-incoming-calls {
			a {
				color: #f24841;
			}
			span {
				color: #f24841;
			}
			&:hover {
				a {
					border-color: #f24841;
				}
			}
			&.active {
				a {
					color: #fff;
					background: #f24841;
				}
				span {
					color: #fff;
				}
			}
		}
	}
}
/*--------------------------------------------------CALENDAR-------------------------------------------------*/
.wrapper-calendars{
    background: #f6f7f7;
    border-top: 1px solid #D9DADA;
    box-shadow: 0 -1px 2px #B7B8B8 inset;
    margin: -17px 0 40px;
    padding: 30px 0 40px;
    display: none;
        .calendars{
            margin: 0 0 30px;
        }
        .calendars-inner{
                width: 1536px;
                margin: 0 auto;
                position: relative;
                    &:before{
                        content: " ";
                        position: absolute;
                        left: -29px;
                        top: -95px;
                        //background: url(../img/calendar-shadow.png) no-repeat;
                        width: 200px;
                        height: 71px;
                    }
                    &:after{
                        content: " ";
                        height: 65px;
                        left: -30px;
                        position: absolute;
                        top: -95px;
                        width: 1px;
                        //background: #D9DADA;
                    }
        }
}
.top-calendars{
    padding: 0 17px 0 0;
    margin: 0 0 15px;
    width: 1130px;
    span.btn{
        position: relative;
        color: #333;
        font-size: 14px;
        .font_pt;
        border: 1px solid #cacbcb;
        padding: 5px 10px;
    }
    .btn.active{
        background: #424242;
        color: #fff;
        border: none;
        padding: 5px 10px 6.6px 10px;
            &:before{
                content: " ";
                position: absolute;
                left: 50%;
                bottom: -3px;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 3px solid #424242;
                margin: 0 0 0 -4px;
            }
    }
    .left{
        width: 50%;
        float: left;
            span.btn{
                cursor: pointer;
                display: inline-block;
                float: left;
                    &:first-child{
                        border-right: none;
                    }
                    &:last-of-type{
                        border-left: none;
                    }
            }
    }
    .right{
        float: right;
        width: 50%;
            span.btn{
                float: right;
                cursor: pointer;
                display: inline-block;
                    &:first-child{
                        border-left: none;
                    }
                    &:last-of-type{
                        border-right: none;
                    }
            }
    }
}
/*--------------------------------------------------CONTENT-------------------------------------------------*/
.content{
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    background: #fff;
}
.content-top-menu-section{
    padding: 20px 20px 25px 10px;
}
.calendar-box{
    float: left;
    margin-right: 15px;
    position: relative;
    z-index: 2;
//    top: 10px;
    .calendar{
        background: url(../img/sprite.png) -212px -188px no-repeat;
        width: 88px;
        height: 29px;
        display: block;
        cursor: pointer;
        position: relative;
    }
}
.calendar-date{
    display: block;
    font-size: 11px;
    width: 88px;
    text-align: center;
    .font_pt_b;
}
.restart{
    float: left;
    border: none;
    cursor: pointer;
//    margin: 10px 13px 0 0px;
	margin-right: 7px;
    display: none;
    position: relative;
    z-index: 2;
    background: #F7F7F7;
    border: 1px solid #D6D6D6;
    color: #C7C7C7;
    padding: 5px 10px;
    text-decoration: none;
        &:hover{
            background: #333;
            color: #fff;
        }
}
.restart2{
    position: absolute;
    right: 450px;
    border: none;
    cursor: pointer;
    display: none;
    background: #F7F7F7;
    border: 1px solid #D6D6D6;
    color: #C7C7C7;
    padding: 5px 10px;
        &:hover{
            background: #333;
            color: #fff;
        }
}
.items-project {
	 font-size: 14px;
    .font_pt_b;
    float: left;
//    padding: 10px 0 0 0;
	li {
		position: relative;
		float: left;
		border: 1px solid;
		margin-right: 7px;
		a {
			display: inline-block;
			text-decoration: none;
			padding: 5px;
		}
		span {
			display: inline-block;
			color: #fff;
			padding: 5px 7px;
		}
		
		&.active {
			&:before{
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid;
				content: "";
				position: absolute;
				left: 50%;
				margin: 0 0 0 -5px;
				bottom: -5px;
			}
		}
		
		&.medbooking {
			border-color: #8fc9df;
			background: #e9f9ff;
			a {
				color: #8fc9df;
			}
			span{
				background: #8fc9df;
			}
			&.active {
				background: #0e71b5;
				a{
					color: #fff;
				}
				span {
					background: #0c619a;
				}
				&:before {
					border-top-color: #0e71b5;
				}
			}
		}
		&.timetovisit {
			border-color: #b0d083;
			background: #f5fceb;
			a {
				color: #b0d083;
			}
			span{
				background: #b0d083;
			}
			&.active {
				background: #b0d083;
				a{
					color: #fff;
				}
				span {
					background: #50672a;
				}
				&:before {
					border-top-color: #b0d083;
				}
			}
		}	
		&.testpuls {
			border-color: #EDD29F;
			background: #fff6e5;
			a {
				color: #EDD29F;
			}
			span{
				background: #EDD29F;
			}
			&.active {
				background: #EDD29F;
				a{
					color: #fff;
				}
				span {
					background: #f09b08;
				}
				&:before {
					border-top-color: #EDD29F;
				}
			}
		}
		&.fromed {
			border-color: #e8aca9;
			background: #ffedec;
			a {
				color: #e8aca9;
			}
			span{
				background: #e8aca9;
			}
			&.active {
				background: #e8aca9;
				a{
					color: #fff;
				}
				span {
					background: #bf8885;
				}
				&:before {
					border-top-color: #e8aca9;
				}
			}
		}
		&.child {
			border-color: #dd8810;
			background: #ffe1a8;
			a {
				color: #dd8810;
			}
			span{
				background: #faa223;
			}
			&.active {
				background: #fcaf40;
				a{
					color: #fff;
				}
				span {
					background: #ff9700;
				}
				&:before {
					border-top-color: #fcaf40;
				}
			}
		}
		&.diagnostic, &.diagnostika  {
			border-color: #4d96a7;
			background: #d0e0e3;
			a {
				color: #4d96a7;
			}
			span{
				background: #619dac;
			}
			&.active {
				background: #619dac;
				a{
					color: #fff;
				}
				span {
					background: #4e8e9f;
				}
				&:before {
					border-top-color: #619dac;
				}
			}
		}
		&.oktell {
			border-color: #d5d6d6;
			background: #f6f7f7;
			a {
				color: #707070;
			}
			span{
				background: #d5d6d6;
			}
			&.active {
				background: #d5d6d6;
				a{
					color: #fff;
				}
				span {
					background: #707070;
				}
				&:before {
					border-top-color: #d5d6d6;
				}
			}
		}
	}
}
//.items-project .medbooking.active{
//    background: #0e71b5;
//    a{
//        color: #fff;
//    }
//    &:before{
//    width: 0;
//    height: 0;
//    border-left: 5px solid transparent;
//    border-right: 5px solid transparent;
//    border-top: 5px solid #0e71b5;
//        content: "";
//        position: absolute;
//        left: 50%;
//        margin: 0 0 0 -5px;
//        bottom: -5px;
//    }
//    span{
//        background: #0c619a;
//    }
//}
//.items-project .timetovisit.active{
//    background: #B0D083;
//    a{
//        color: #fff;
//    }
//    &:before{
//    width: 0;
//    height: 0;
//    border-left: 5px solid transparent;
//    border-right: 5px solid transparent;
//    border-top: 5px solid #B0D083;
//        content: "";
//        position: absolute;
//        left: 50%;
//        margin: 0 0 0 -5px;
//        bottom: -5px;
//    }
//    span{
//        background: #50672a;
//    }
//}
//.items-project .testpuls.active{
//    background: #EDD29F;
//    a{
//        color: #fff;
//    }
//    &:before{
//    width: 0;
//    height: 0;
//    border-left: 5px solid transparent;
//    border-right: 5px solid transparent;
//    border-top: 5px solid #EDD29F;
//        content: "";
//        position: absolute;
//        left: 50%;
//        margin: 0 0 0 -5px;
//        bottom: -5px;
//    }
//    span{
//        background: #f09b08;
//    }
//}
//.items-project .child.active{
//    background: #fcaf40;
//    a{
//        color: #fff;
//    }
//    &:before{
//    width: 0;
//    height: 0;
//    border-left: 5px solid transparent;
//    border-right: 5px solid transparent;
//    border-top: 5px solid #fcaf40;
//        content: "";
//        position: absolute;
//        left: 50%;
//        margin: 0 0 0 -5px;
//        bottom: -5px;
//    }
//    span{
//        background: #ff9700;
//    }
//}
//.items-project .diagnostic.active{
//    background: #619dac;
//    a{
//        color: #fff;
//    }
//    &:before{
//    width: 0;
//    height: 0;
//    border-left: 5px solid transparent;
//    border-right: 5px solid transparent;
//    border-top: 5px solid #619dac;
//        content: "";
//        position: absolute;
//        left: 50%;
//        margin: 0 0 0 -5px;
//        bottom: -5px;
//    }
//    span{
//        background: #4e8e9f;
//    }
//}
//.items-project{
//    font-size: 14px;
//    .font_pt_b;
//    float: left;
//    padding: 10px 0 0 0;
//    li{
//        float: left;
//        cursor: pointer;
//        position: relative;
//        height: 29px;
//        border: 1px solid;
//            &:first-child{
//
//            }
//    }
//    a{
//        text-decoration: none;
//    }
//    span{
//        display: block;
//        width: 29px;
//        height: 27px;
//        font-size: 14px;
//        color: #fff;
//        position: absolute;
//        right: 0;
//        top:0;
//        text-align: center;
//        padding: 4px 0 0;
//    }
//}
//.medbooking{
//    padding: 4px 49px 0 15px;
//    border-color: #8fc9df;
//    color: #8fc9df;
//    background: #e9f9ff;
//    width: 190px;
//        span{
//            background: #8fc9df;
//        }
//    a{
//        height: 100%;
//        left: 0;
//        padding: 6px 0 0;
//        position: absolute;
//        text-indent: 37px;
//        top: 0;
//        width: 100%;
//        z-index: 10;
//    }
//}
//.timetovisit{
//    margin: 0 0 0 6px;
//    padding: 4px 50px 0 21px;
//    border-color: #b0d083 !important;
//    background: #f5fceb;b0d083
//    width: 180px;
//        a{
//            color: #b0d083;
//                height: 100%;
//                left: 0;
//                padding: 6px 0 0;
//                position: absolute;
//                text-indent: 37px;
//                top: 0;
//                width: 100%;
//                z-index: 10;
//        }
//        span{
//            background: #b0d083;
//        }
//}
//.testpuls{
//    margin: 0 0 0 8px;
//    padding: 4px 51px 0 21px;
//    border-color: #edd29f !important;
//    background: #fff6e5;
//    width: 150px;
//        a{
//            color: #edd29f;
//            height: 100%;
//            left: 0;
//            padding: 6px 0 0;
//            position: absolute;
//            text-indent: 37px;
//            top: 0;
//            width: 100%;
//            z-index: 10;
//        }
//        span{
//            background: #edd29f;
//        }
//}
//.fromed{
//    margin: 0 0 0 8px;
//    padding: 4px 51px 0 21px;
//    border-color: #e8aca9 !important;e8aca9ffedec
//    background: #ffedec;
//    width: 150px;
//        a{
//            color: #c66f6a;
//            height: 100%;
//            left: 0;
//            padding: 6px 0 0;
//            position: absolute;
//            text-indent: 37px;
//            top: 0;
//            width: 100%;
//            z-index: 10;
//        }
//        span{
//            background: #e8aca9;
//        }
//}
//.child {
//	margin: 0 0 0 8px;
//	padding: 4px 51px 0 21px;
//	border-color: #dd8810 !important;
//	background: #ffe1a8;
//	width: 150px;
//	a{
//		color: #dd8810;
//		height: 100%;
//		left: 0;
//		padding: 6px 0 0;
//		position: absolute;
//		text-indent: 37px;
//		top: 0;
//		width: 100%;
//		z-index: 10;
//	}
//	span{
//		background: #faa223;
//	}
//}
//.diagnostic {
//	margin: 0 0 0 8px;
//	padding: 4px 51px 0 21px;
//	border-color: #4d96a7 !important;
//	background: #d0e0e3;
//	width: 150px;
//	a{
//		color: #4d96a7;
//		height: 100%;
//		left: 0;
//		padding: 6px 0 0;
//		position: absolute;
//		text-indent: 37px;
//		top: 0;
//		width: 100%;
//		z-index: 10;
//	}
//	span{
//		background: #619dac;
//	}
//}
//.items-project .fromed.active{
//    background: #e8aca9;
//    a{
//        color: #fff;
//    }
//    &:before{
//    width: 0;
//    height: 0;
//    border-left: 5px solid transparent;
//    border-right: 5px solid transparent;
//    border-top: 5px solid #e8aca9;
//        content: "";
//        position: absolute;
//        left: 50%;
//        margin: 0 0 0 -5px;
//        bottom: -5px;
//    }
//    span{
//        background: #bf8885;
//    }
//}
 .add-application{
                 cursor: pointer;
                width: auto;
                height: auto;
                background: #f24841;
                border: 1px solid #b01916;
                padding: 5px 20px;
                margin-left: 10px; 
                 display: inline-block;
                 float: right;
                &:hover{
                    background: #b11916;
                }
                &:active{
                    background: #9e1310;
                    box-shadow: 2px 2px 0 #750d0a inset;
                }
                     a{
                         color: #fff;
                         display: block;
                         text-decoration: none;
                     }
            }
.content-menu{
    float: right;
//    padding: 10px 0 0 0;
        li{
            cursor: pointer;
            width: 57px;
            height: 29px;
            font-size: 14px;
            .font_pt_b;
            display: inline-block;
            float: left;
            width: 57px;
            height: 29px;
            cursor: pointer;
            margin: 0 0 0 5px;
        }
    .call{
        background: #f6f7f7 url(../img/sprite.png) 0 -188px no-repeat;
        width: 57px;
        height: 29px;

        border: 1px solid #d5d6d6;
    }
    .application-site{
        background:#f6f7f7  url(../img/sprite.png) -71px -188px no-repeat;
                width: 57px;
        height: 29px;

        border: 1px solid #d5d6d6;
    }
    .feedback{
        background:#f6f7f7 url(../img/sprite.png) -143px -188px no-repeat;
        width: 57px;
        height: 29px;
        border: 1px solid #d5d6d6;
    }
    .house{
        background:#f6f7f7 url(../img/sprite.png) -304px -188px no-repeat;
        width: 57px;
        height: 29px;
        border: 1px solid #d5d6d6;
    }
}
/*-----------------------TABLE-----------------------*/

.span12 h3 {
    margin: 0 0 20px;
}
.records{
    margin: 0 0 100px;
    td{
        padding: 5px 10px;
        text-align: center;
    }
    tr td:first-child{
        text-align: left;
    }
    tr.item-rerecord  td:first-child{
        border: solid 2px #f24841;
        text-decoration: line-through;
    }
}
.nav-tabs.nav{
    min-height: 30px;
    margin: 15px 0 0 0;
}
.nav-tabs li {
    display: inline-block;
    margin: 0 20px 0 0;
}
.nav-tabs .active a{
    color: #911;
    text-decoration: none;
}
.summary {
    font-weight: bold;
    margin: 20px 0;
}
th {
    border: 1px solid #DCDDDD;
    padding: 10px 0;
}
hr{
    position: relative;
    z-index: -1;
}
.table{
    .table-api-main;
    tbody{

        tr:first-child{
            background-color: #E8F5FA !important;
            td{
                padding: 10px 5px !important;
                background-color: transparent !important;
                &:first-child{
                    text-align: center !important;
                }
            }
        }
    }
}
.table-api-main{
    width: 100%;
        tr{
            background: @blue-light;
            &:nth-child(odd){
               background: @blue; 
            }
            &:first-child{
                background: #f6f7f7;
                    td{
                        padding: 6px 1px 1px 1px;
                        vertical-align: top;
                        text-align: center;
                    }
                .time span{
                    border-bottom: 1px solid #dadbdb;
                    cursor: pointer;
                        &:hover{
                            border-color: transparent;
                        }
                }
                .edition span{
                    border-bottom: 1px solid #dadbdb;
                    cursor: pointer;
                        &:hover{
                            border-color: transparent;
                        }
                }
            }
        }
        td{
            border: 1px solid rgba(0,0,0,0.05);
            //min-width: 46px;
            padding: 0 5px;
            font-size: 13px !important;
                &:first-child{
                    text-align: center;
                    //padding: 15px 0 17px 0;
                    padding: 7px 0;
                }
            i{
                display: block;
                font-style: normal;
                margin: 0 0 3px;
            }
        }
    .text-inner{
        position: relative;
            input{
                padding-right: 40px;
            }
            &:before{
                content: " ";
                width: 25px;
                height: 32px;
                background: url(../img/sprite.png) 0 -101px no-repeat;
                position: absolute;
                right: 8px;
                top: 0;
            }
    }
    input{ 
            &:focus{
                border-color: #000;
            }
        padding: 1px 3px;
        border: 1px solid #DCDDDD;
        display: block;
        margin: 10px auto 0;
        text-align: center;
        width: 100%;
        height: 36px;
    }
    .id{
        width: 50px;
            input{

            }
    }
    .date-create_2, .date-create{
        width: 120px;
        max-width: 120px;
        text-align: center;
    }
    
    .time_2, .time{
        width: 120px;
        max-width: 120px;
        text-align: center;
    }
    .edition_2, .edition{
        width: 120px;
        max-width: 120px;
        text-align: center;
    }
    .name{
        min-width: 120px;
        max-width: 180px;
    }
    .phone{
        width: 100px; 
    }
    .clinic{
        min-width: 240px;
        max-width: 280px;
    }
    .doctor{
        min-width: 190px;
        max-width: 200px; 
    }
    .author{
        min-width: 150px;
        max-width: 170px; 
    }
    .status-application{
        width: 40px;
        min-width: 40px;
    }
    .note{
        min-width: 100px;
    }
    .edit{
        width: 40px;
        min-width: 40px;
    }
    .view{
        width: 40px;
        min-width: 40px;
    }
    .delete{
        width: 40px;
        min-width: 40px;
    }
    .ico-edit{
        width: 40px;
        max-width: 40px;
    }
    .ico-view{
        width: 40px;
        max-width: 40px;
    }
    .ico-delete{
        width: 40px;
        max-width: 40px;
    }
    .icon-share{
        width: 40px;
        max-width: 40px;
    }
    .row-green{
        background: #ddf8e7 !important;
    }
    .row-green-light{
        background: #ebfbf1 !important;
    }
    .row-gray{
        background: #fff6e5 !important;
    }
    .new{
        //background: url(../img/new.jpg) no-repeat !important;
        
    }
}
.ico-delete{
    a{
        display: block;
        height: 20px;
        background: url(../img/sprite.png) -205px -11px no-repeat;
        &:hover{
            background: url(../img/sprite.png) -273x -11px no-repeat;
        }
    }
}
.ico-view{
    padding: 0 !important;

    a{
        background: url(../img/sprite.png) -319px -11px no-repeat;
        &:hover{
            background: url(../img/sprite.png) -364px -11px no-repeat;
        }
    }
}
.ico-edit{
    padding: 0 !important;

    a{
        display: block;
        height: 54px;
        background: url(../img/sprite.png) -156px -11px no-repeat;
        &:hover{
            background: url(../img/sprite.png) -106px -11px no-repeat;
        }
    }
}
.ico-phone-status-application{
    //background: url(../img/sprite.png) -452px -6px no-repeat !important;
}
.ico-call-status-application{
    background: url(../img/sprite.png) -52px -6px no-repeat !important;
}
.ico-application{
    //background: url(../img/sprite.png) -410px -6px no-repeat !important;
}
.ico-application.house {
	//background: url(../img/sprite.png) -439px -103px no-repeat !important;
}
.calendar-submit{
    background: #F24841;
    border: 1px solid #B01916;
    color: #FFF;
    height: auto; 
    margin: 0 0 0 10px;
    padding: 5px 20px;
    width: auto;
    cursor: pointer;
                &:hover{
                    background: #b11916;
                }
                &:active{
                    background: #9e1310;
                    box-shadow: 2px 2px 0 #750d0a inset;
                }
}
/*--------------------------------------------------FOOTER-------------------------------------------------*/
#footer{
    height: 120px;
    margin: -120px auto;
    padding: 50px 0 0;
    min-width: 1290px;
    position: relative;
    overflow: hidden;
        .inner-section{
            text-align: center;
        }
    a{
        display: inline-block;
        margin: 0 0 5px;
    }
}
.copy{
    font-size: 12px;
}
/*--------------------------------------------------ORDER.html-------------------------------------------------*/
.order-container{
    margin: 0 auto 30px;
    width: 1024px;
    .top-order-box{
        padding: 50px 0 20px;
        margin: 0 0 20px;
        border-bottom: 1px solid #edeeee;
        text-align: center;
        .title-order{
            font-size: 48px;
            .font_pt_b;
            text-align: center;
            margin: 0 0 20px;
        }
        .edit_record,
        .status-order{
            font-size: 16px;
            font-weight: bold;
            &.status-order{
                color: @red;
                padding-right: 20px;
                margin-right: 20px;
                border-right: solid 1px #EAEAEA;
            }
        }
    }
    .order-boxes{
        .order-right,
        .order-left{
            float: left;
            width: 60%;
            box-sizing: border-box;
            margin: 0 0 20px 0;
            &.order-right{
                width: 35%;
                margin-left: 5%;
            }
            .order-description{
                border: 1px solid #dcdddd;
            }
            .order-description-top{
                background: #fafbfb;
                border-bottom: 1px solid #dcdddd;
                padding: 15px 25px;
            }
            .record-client{
                color: @red;
                font-size: 18px;
                .font_pt_b;
                display: block;
            }
            .order-description-bottom{
                padding: 15px 25px;
                .description{
                    font-size: 14px;
                    color: #333;
                    line-height: 1.2;    
                    margin: 15px 0 0 0;

                }
                p{
                    margin: 0;
                    color: #999;
                    font-size: 14px;
                }
            }
        }
    }
    table.history_order{
        border:1px solid #dfdfdf;
        border-top:4px solid #dfdfdf;
        color:#666;
        font:13px Arial;
        line-height:1.4em;
        width:100%;
        margin-top:20px;
        td{
            border:1px solid #dfdfdf;
            padding: 5px 10px;
        }
    }
}

.name-box{
    text-align: center;
    margin: 0 0 31px;
    p{
        display: inline-block;
        font-size: 21px;
        .font_pt_b;
    }
    span{
        display: block;
        color: #818181;
        font-size: 16px;
        .font_pt;
    }
}
.phone-box{
    text-align: center;
    p{
        display: inline-block;
        font-size: 18px;
        .font_pt_b;
    }
    span{
        display: block;
        color: #818181;
        font-size: 16px;
        .font_pt;
    }
}
.heed{
    position: relative;
        &:before{
            content: "";
            position: absolute;
            left: -14px;
            top: -6px;
            width: 3px;
            height: 100%;
            background: @red;
            border: 1px solid #d13630;
            padding: 0 0 13px;
        }
}
.heed-mini{
    position: relative;
        &:before{
            content: "";
            position: absolute;
            left: -14px;
            top: 0;
            width: 3px;
            height: 100%;
            background: @red;
            border: 1px solid #d13630;
        }
}
.title-order-description-bottom,
.title-order-description-top{
        font-size: 16px;
        color: #999;
        margin: 0 0 10px;
    }
.address-clinic,
.category-name,
.doctor-name{
    font-size: 18px;
    line-height: 1.4;
    .font_pt_b;
    display: block;
    margin-bottom: 10px;
    &.category-name{
        font-weight: normal;
        font-size: 16px;
        margin: 0;
        color: #333;
    }
}
.order-right{
    .status-box{
        border-bottom: 1px solid #e2e3e3;
        padding: 0 0 40px;
        margin: 0 0 5px;
            .link-inner{margin: 0 0 9px;}
            a{
                display: inline-block;
                .font_pt_b;
                font-size: 18px;
                text-decoration: none;
                color: #333;
                border-bottom: 1px solid #e2e3e3;
                padding: 0 0 3px;
                position: relative;
                    &:before{
                        content: " ";
                        position: absolute;
                        left: -30px;
                        top: 3px;
                        width: 13px;
                        height: 13px;
                        border-radius: 50px;
                        background: #0f70b3;
                    }
                    &:hover{
                        border-color: transparent;
                    }
            }
            span{
                display: block;
                font-size: 16px;
                .font_pt_b;
                position: relative;
                    &:before{
                        content: " ";
                        position: absolute;
                        left: -31px;
                        top: 0;
                        width: 25px;
                        height: 20px;
                        background: url(../img/sprite.png) -121px -112px  no-repeat;
                    }
            }
    }
    .date-box{
        border-bottom: 1px solid #e2e3e3;
        padding: 7px 0 0;
        margin: 0 0 5px;
        span{
            font-size: 12px;
            color: #999;
            display: block;
        }
        p{
            font-size: 16px;
            margin: 0 0 15px;
            .font_pt_b;
        }
    }
    .description-box{
        padding:15px 0 0 0;
        span{
            font-size: 12px;
            color: #999;
            display: block;
            margin: 0 0 6px;
        }
        strong{
            display: block;
            font-size: 18px;
            color: @red;
            .font_pt_b;
            margin: 0 0 32px;
        }
        p{
            
        }
    }
}
.line {
    font-size: 24px;
    font-weight: normal;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.line  a,
.line > span {
    display: inline-block;
    font-size: 14px;
    color: #0f70b3;
    .font_pt_b;
    margin: 0 1.4em;
}
.line > span:before, .line > span:after {
    border-top: 1px solid #edeeee;
    content: "";
    margin-top: 0.6em;
    position: absolute;
    width: 100%;
}

.line > span:before {
    margin-left: -101%;
}
.line  a{
    position: relative;
        &:before{
            content: "";
            height: 25px;
            left: -19px;
            position: absolute;
            top: 0;
            width: 20px;
            background: url(../img/sprite.png) -167px -114px  no-repeat;
        }
}

.application-content{
    max-width: 800px;
    padding: 51px 0 0;
    margin: 0 auto;
}
.title{
    font-size: 48px;
    .font_pt_b;
    text-align: center;
    margin: 0 0 29px;
}
.remark{
    text-align: center;
    color: #424242;
    font-size: 18px;
        i{
            display: inline-block;
            background: @red;
            border: 1px solid #d13630;
            width: 5px;
            height: 22px;
            position: relative;
            top: 4px;
            left: 4px;
        }
}
.man.active{
    border: 1px solid #000 !important;
    background: #424242;
    box-shadow: 1px 1px 0 #000 inset !important;
}
.woman.active{
                 border: 1px solid #000;
             background: none repeat scroll 0 0 #424242;
             box-shadow: 1px 1px 0 #000 inset; 
}
.application-form{
    max-width: 800px;
    padding: 8px 0 0;
    margin: 0 auto;
        .active-label{
             border: 1px solid #000;
             background: none repeat scroll 0 0 #424242;
             box-shadow: 1px 1px 0 #000 inset; 
         }
        label{
            position: relative;
        }
        input[type="text"]{
            border: 1px solid #DDD;
//            border-left: none;
            height: 28px;
            padding: 3px 10px;
            font-size: 16px;
            color: #444;
                &:focus{
                    border-color: #000;
                    color: #000;
                }
        }
    .row{
        margin: 0 0 10px;
        position: relative;
//            &:last-of-type{
//                margin: 0 0 150px;
//            }
        div{
            float: left;
        }
    }
}
.text-name{
    width: 600px;
        input{
            width: 556px;
            float: left;
            position: relative;
        }
        label{
            width: 44px;
            height: 43px;
            float: left;
            background: #F6F7F7;
            border: 1px solid #D5D6D6;
            border-right: none;
                &:before{
                    content: " ";
                    width: 15px;
                    height: 22px;
                    background: url(../img/sprite.png)  -201px -114px no-repeat;
                    position: absolute;
                    left: 11px;
                    top: 8px;
                }
        }
}
.note-form{
    position: relative;
        &:before{
            content: "";
            width: 3px;
            height: 41px;
            background: @red;
            border: 1px solid #d13630;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
        }
}

.select-new-project.note-form:before{
    top: 19px;
}
.select-new{
    width: 200px;
    .chosen-single{width: 155px;}
    .chosen-container .chosen-drop{width: 155px; top: 44px;}
    label{
        width: 44px;
        height: 43px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        border-right: none;
        position: relative;
            &:before{
                content: " ";
                position: absolute;
                left: 14px;
                top: 9px;
                width: 12px;
                height: 19px;
                background: url(../img/sprite.png)  -230px -113px no-repeat;
            }
    }
}
.text-phone{
    width: 310px;
    margin: 0 27px 0 0;
    label{
        width: 44px;
        height: 43px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        position: relative;
            &:before{
                content: " ";
                height: 17px;
                left: 12px;
                position: absolute;
                top: 11px;
                width: 17px;
                background: url(../img/sprite.png)  -197px -274px no-repeat;
            }
    }
        input{
            width: 265px;
        }
}
.text-email{
    width: 310px;
        label{
        width: 44px;
        height: 43px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        position: relative;
            &:before{
                content: " ";
                position: absolute;
                left: 14px;
                top: 11px;
                width: 18px;
                height: 19px;
                background: url(../img/sprite.png)  -263px -113px no-repeat;
            }
    }
        input{
            width: 265px;
        }
}
.title-calendar{

}
.rewrite_btn{
    border: 1px solid #d5d6d6;
    background: #f6f7f7;
    color: #c7c7c7;
    .font_pt_b;
    font-size: 18px;
    margin: 19px 0 0 5px;
    padding: 7px 32px;
    cursor: pointer;
}
.time1{
    margin: 0 23px 0 0;
    width: 320px;
        .tips-box{
            top: 29px;
        }
}
.time2{
    display: none;
}
.time1.note-form:before{
    top: 19px;
}
.time2.note-form:before{
    top: 19px;
}
.datepicker-box{
    float: left;

    margin: 0 0 8px;
        input{
            width: 270px;
        }
        label{
        width: 44px;
        height: 43px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        position: relative;
            &:before{
                content: " ";
                position: absolute;
                left: 14px;
                top: 14px;
                width: 16px;
                height: 16px;
                background: url(../img/sprite.png)  -324px -113px no-repeat;
            }
    }
}
.title-calendar{
    display: block;
    margin: 0 0 2px 3px;
    .font_pt_i;
    font-size: 14px;
    color: #6d6e6e;
}
.application-form .row .source{
    border-left: 1px solid #dcdddd;
    width: 443px;
    float: left;
    margin: 19px 14px 20px 0;
}
.select-new-project{
    width: 184px;
         .chosen-single{
            width: 185px;
        }
       .chosen-container .chosen-drop{
           width: 185px;
       }
}
.application-form .row .clinic-text{
    width: 798px;
    border-left: 1px solid #dcdddd;
}
.application-form .row .doctor-text{
      width: 798px;
      border-left: 1px solid #dcdddd;
}
.application-form .row textarea{
    width: 500px;
    height: 300px;
    border: 1px solid #dcdddd;
    width: 798px;
    min-width: 798px;
    max-width: 798px;
    font-style: normal;
    height: 113px;
    font-size: 16px; 
    margin: 0 0 5px;
    color: #444;
    float: left;
        &:focus{
            border-color: #000;
            color: #000;
        }
}
.row-inner{
    width: 798px;
    margin: 0 0 13px;
    text-align: center;
}
.sms-box{
    display: inline;
    float: none !important;
    label{
        color: #7a7b7b;
        font-size: 14px;
        .font_pt_i;
        vertical-align: middle;
    }
    input{
        vertical-align: middle;
    }
}
.row-max{
    padding: 13px 0 20px 0;
    position: relative;
    margin: 0 0 38px !important;
}
.status{
    display: block;
    color: @red;
    .font_pt_b;
    font-size: 18px;
    margin: 0 0 7px;
}
.select-status{
    margin: 0 0 5px;
    .chosen-single{
        width: 247px;
    }
    .chosen-container .chosen-drop{
        width: 247px;
    }
}
.add-comment{
    display: table;
    clear: both;
    .font_pt;
    font-size: 16px;
    cursor: pointer;
    padding: 0 0 3px;
    border-bottom: 1px dashed #949595;
    transition: all 0.4s;
        &:hover{
            border-color: transparent;
            transition: all 0.4s;
        }
}
.add-comment-text{
    display: table;
    clear: both;
}
.select-failure-cause{
    clear: both;
        .chosen-single{
            width: 799px;
                span{
                    text-align: left;
                }
        }
    .chosen-container .chosen-drop{
        width: 799px;
    }
    .chosen-container .chosen-results li{
        text-align: left;
        padding: 10px;
    }
}
.save_btn{
    border: 1px solid #b01916;
    background: @red;
    color: #fff;
    .font_pt_b;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
}
._save_btn{
    border: 1px solid #b01916;
    background: @red;
    color: #fff;
    .font_pt_b;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
    margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
}
.cancel_btn{
    border: 1px solid #d5d6d6;
    background: #f6f7f7;
    color: #c7c7c7;
    .font_pt_b;
    font-size: 18px;
    padding: 7px 45px;
    cursor: pointer;
            &:hover{
            background: #d6d6d6;
                border-color: #d6d6d6;
        }
        &:active{
            background: #424242;
            border-color: transparent;
            box-shadow: 2px 2px 0 #313131 inset;
        }
}
.remove_btn{
    background:  #F6F7F7;
    border: 1px solid #D5D6D6;
    margin: 0 129px 0 0;
    float: right;
    height: 43px;
    position: relative;
    width: 44px;
    position: relative;
    cursor: pointer;
        &:before{
                content: " ";
                position: absolute;
                left: 14px;
                top: 14px;
                width: 16px;
                height: 16px;
                background: url(../img/sprite.png)  -353px -112px no-repeat;
        }
}
.tips-box{
    color: #f24841;
    position: relative;
    display: block;
    font-size: 12px;
    width: 100%;
    clear: both;
//        &:before{
//            position: absolute;
//            right: -5px;
//            top: 5px;
//            content: "";
//            width: 0;
//            height: 0;
//            border-top: 5px solid transparent;
//            border-left: 5px solid #f24841;
//            border-bottom: 5px solid transparent;
//        }
}
.select-new.select-new-project{
    position: relative;
}
//.error-text{
//    input{
//        border-color: #f24841 !important;
//        background: #ffeceb !important;
//    }
//    label{
//        border-color: #f24841 !important;
//        background: #f24841 !important;
//    }
//}
// POPUP
.popup-wrapper{
    width: 703px;
    background: #f2f2f2;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -346px 0 0 -410px;
    padding: 5px;
    z-index: 9;
    display: none;
}
.inner-popup{
    width: 100%;
    background: #f6f7f7;
    border: 1px solid #d5d6d6;
    text-align: center;
    padding: 46px 0 51px  0;
    position: relative;
        .close{
            width: 10px;
            height: 10px;
            background: url(../img/sprite.png)  -387px -115px no-repeat;
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }
}
.title-popup{
    display: block;
    font-size: 24px;
    .font_pt_b;
    text-align: center;
    margin: 0 0 43px 0;
}
.btn_wrap{
    display: inline;
    float: none !important;
}
.yes-popup{
    display: inline-block;
    padding: 11px 42px;
    background: @red;
    border: 1px solid #b01916;
    .font_pt_b;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px 0 0;
    position: relative;
            &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
        &:before{
            height: 17px;
            left: 19px;
            position: absolute;
            top: 12px;
            width: 21px;
            content: "";
            background: url(../img/sprite.png)  -412px -111px no-repeat;
        }
}
.no-popup{
    display: inline-block;
    padding: 11px 42px;
    background: #f6f7f7;
    border: 1px solid #d5d6d6;
    color: #c7c7c7;
    .font_pt_b;
    font-size: 18px;
    cursor: pointer;
        &:hover{
            background: #d6d6d6;
                border-color: #d6d6d6;
        }
        &:active{
            background: #424242;
            border-color: transparent;
            box-shadow: 2px 2px 0 #313131 inset;
        }
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    opacity: 0.7;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}
.ui-timepicker-div-timeContainer{

}
.ui-widget{
        dt{
        .font_pt_i;
    }
}
.ui_tpicker_time_label {
    float: left;
    margin: 0 24px 0 0;
}
.ui-datepicker {
    display: none;
    padding: 0.2em 0.6em 0;
    width: 17em;
}
.ui_tpicker_time {
    margin: 15px 0 10px;
}
.ui_tpicker_hour_label {
    margin: 0 0 5px;
}
.ui_tpicker_minute_label {
    margin: 15px 0 5px;
}
.ui_tpicker_time{
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    margin: 0.5em 0 0.4em !important;
    padding: 0.2em 0.2em 0.3em !important;
}
.ui-datepicker{
    z-index: 4 !important;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    cursor: pointer;
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
    background:  #17384D;
    color: #FFF !important;
}

.index-wrapper{
    background: #0F70B3;
        #header{
            border:none;
            padding: 100px 0 0;
        }
    .content{
        width: 250px;
        background-color: transparent;
    }
    #admin-form{
        text-align: center;
        width: 250px;
            input[type="text"],
            input[type="password"]{
                width: 580px;
                height: 40px;
                margin: 0 0 20px;
                border-radius: 5px;
                background: #FFF !important;
                text-align: center;
                width: 250px;
                font-family: Open Sans, sans;
                border: none;
                font-size: 14px;
            }
            input[type="submit"]{
                height: 40px;
                padding: 0 20px;
                font-family: Open Sans, sans;
                border: none;
                font-size: 14px;
                border-radius: 5px;
                cursor: pointer;
                width: 250px;
            }
    }
    .logo{
        display: block;
        float: none;
        text-align: center;
    }
}
.index #footer{
    background: #fff;
}
.paginator.iblock {
    margin: 0 auto;
    width: 660px;
}

.pagination,
.yiiPager{
    float: left !important;
    font-size: 18px !important;
    font-weight: bold !important;
    margin: 25px 0 !important;
    text-align: center !important;
    width: 100% !important;
}
.pagination li,
.yiiPager li{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DADADA #DADADA #DADADA;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    float: left;
    &.hidden{
        display: none !important;
    }
}
.pagination li:first-child,
.yiiPager li:first-child {
    border-left: 1px solid #DADADA !important;
}
.pagination li:hover,
.yiiPager li:hover {

    background: #fff !important;
}
.pagination li:hover a,
.yiiPager li:hover a {
    color: #363636 !important;
}
.pagination li.selected,
.yiiPager li.selected {
    background: none repeat scroll 0 0 #EA675D !important;
    border: 1px solid #D7483D !important;
    position: relative !important;
}
.pagination li.selected a,
.yiiPager li.selected a {
    color: #FFFFFF !important;
}
.pagination li.first a, .pagination li.last a,
.yiiPager li.first a, .yiiPager li.last a {
    width: 97px !important;
}
.pagination li a,
.yiiPager li a {
    color: #DADADA !important;
    display: block !important;
    height: 37px !important;
    line-height: 37px !important;
    text-decoration: none !important;
    width: 37px !important;
}
ul.yiiPager a:link, ul.yiiPager a:visited{border: none;}
.pagination li.selected a, .yiiPager li.selected a{
    background: #D7483D;
}
.yiiPager{
    margin: 10px auto 10px !important;
    .first,
    .last{
        display: block!important;
    }
    .previous.hidden{
        display: none !important;
    }
    .next{
        display: none !important;
    }
    .last,
    .last a{
        width: 150x !important;
    }
}
.yiiPager li.first a, .yiiPager li.last a {
    width: 130px !important;
}
.yiiPager li.last a{
    width: 150px !important;
}
.grid-view .pager{
    text-align: left !important;
}
.form-horizontal{
    width: 650px;
    margin: 0 auto;
        select{
            height: 20px;
            width: 90px;
        }
    .control-group {
        margin: 0 0 10px;
    }
    
    label {
        margin: 0 0 2px;
        display: block;
        font-size: 15px;
    }
    input[type="text"]{
        
    }
    input[type="submit"]{
        height: 40px;
        padding: 0 20px;
        font-family: Open Sans, sans;
        border: none;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        width: 250px;
    }
    textarea{
        width: 480px;
        font-style: normal;
    }
}
.table-api-main .row-green,
.table .row-green{
    background: none repeat scroll 0 0 #DDF8E7 !important;
}
.table-api-main tr:nth-child(2n+1),
.table tr:nth-child(2n+1){
    background: none repeat scroll 0 0 #E1F2F9;
}
.table-api-main .row-gray,
.table .row-gray{
    background: none repeat scroll 0 0 #FFF6E5 !important;
}
.table-api-main .row-testpuls,
.table .row-testpuls{
    background: #FFF6E5 !important;
}
.table-api-main .row-testpuls:nth-child(2n+1),
.table .row-testpuls:nth-child(2n+1){
    background: #fcf0d9 !important;
}
.table-api-main .row-timetovisit,
.table .row-timetovisit{
    background: #F5FCEB !important;
}
.table-api-main .row-timetovisit:nth-child(2n+1){
    background: #eefadd !important;
}
.table-api-main .row-fromed,
.table .row-fromed{
    background: #fcf5f5!important;
}
.table-api-main .row-fromed:nth-child(2n+1),
.table .row-fromed:nth-child(2n+1){
    background: #f8eaea !important;
}
.table-api-main{
    tr:first-child td{
        background: #f7f7f7;
    }
}
// 404

.error_content_wrap {
    width: 720px;
    a{
        text-decoration: none;
    }
        .title{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 60px;
    margin: 0 0 130px 0;
        }
    
        strong {
            color: #FFFFFF;
            font-size: 230px;
            margin: 0 0 0 120px;
        }
}
.error_page_title {
    margin: 100px 0 150px -220px;
    width: 720px;
}
.not_found {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    margin: 50px 0 10px -37px;
    text-align: center;
}
#admin-tbody{
    tr:first-child{
        td{
            vertical-align: middle;
            border: 1px solid rgba(0,0,0,0.05);
            padding: 0 5px !important;
//            padding-left: 5px;
            font-size: 13px !important;
            text-align: left;
            background-color: transparent;
                &:first-child{
                    text-align: center !important;
                }
        }
        td.ico-edit{
            padding: 0 !important;
        }
        td.ico-view{
            padding: 0 !important;
        }
        td.ico-delete{
            padding: 0 5px !important;
        }

    }
    tr.item-rerecord { 
        td:first-child{
            color: #f24841;
            border: solid 2px #f24841;
            text-decoration: line-through;
        }
    }
    .ico-delete{

    a{
        display: block !important;
        height: 22px;
        display: inline-block;
            background: url(../img/sprite.png) -205px -11px no-repeat !important;
        &:hover{
            background: url(../img/sprite.png) -273px -11px no-repeat !important;
        }
    }
}
.ico-view{
    padding: 0 !important;

    a{
        display: block;
        height: 20px;
            background: url(../img/sprite.png) -319px -11px no-repeat;
        &:hover{
            background: url(../img/sprite.png) -364px -11px no-repeat;
        }
    }
}
.ico-edit{
    padding: 0 !important;

    a{
        display: block;
        height: 20px;
            background: url(../img/sprite.png) -156px -11px no-repeat;
        &:hover{
            background: url(../img/sprite.png) -106px -11px no-repeat;
        }
    }
}
    .ico-application {
		position: relative;
		background: none !important;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			margin-left: -8px;
			background: url('../img/sprite.png') no-repeat scroll -427px -12px;
		}
		&.house {
			background: url(../img/sprite.png) -451px -112px no-repeat;
		}
	}
	.ico-phone-status-application {
		position: relative;
		background: none !important;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			margin-left: -8px;
			background: url('../img/sprite.png') no-repeat scroll -467px -15px;
		}
	}
}
.grid-view select{
    height: 33px;
}
.filters{
    td{
        background: #f7f7f7;
    }
}

.table thead tr:first-child{
    .edit{
        background: #f7f7f7 url(../img/sprite.png) -156px -1px no-repeat !important;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
    .view{
        background: #f7f7f7 url(../img/sprite.png) -319px -3px no-repeat !important;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
    .delete{
        background: #f7f7f7 url(../img/sprite.png) -201px -3px no-repeat!important;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
}
.table-api-main tr:first-child{
        .edit{
        background: #f7f7f7 url(../img/sprite.png) -156px 13px no-repeat !important;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        padding: 20px 0;
    }
    .view{
        background: #f7f7f7 url(../img/sprite.png) -319px 13px no-repeat !important;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
    .delete{
        background: #f7f7f7 url(../img/sprite.png) -201px 13px no-repeat!important;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
}
#create {
  label{
      width: 80px;
      float: left;
      padding: 10px 0 0;
      text-align: right;
      margin: 0 30px 0 0px;
  } 
    padding: 40px 0 0;
        input[type="text"],
        input[type="email"]{
            border: 1px solid #DCDDDD;
            color: #ACADAD;
            font-family: 'PT Sans',sans-serif;
            font-size: 16px;
            font-weight: 400;
            height: 28px;
            padding: 3px 10px;
			max-width: 520px;
    		min-width: 520px;
                &:focus{
                    border-color: #000;
                    color: #000;
                }
        }
    #MbUser_role_chosen {
        width: 520px !important;
    }

        input[type="reset"]{
            .cancel_btn;
            float: right;
            margin: 0 20px 0 0;
                    &:hover{

                    }
        }
        input[type="submit"]{
            .save_btn;
            border-radius: 0;
            &:hover{
         
            }
        }
    textarea {
    border: 1px solid #DCDDDD;
    color: #ACADAD;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 113px;
    margin: 0 0 5px;
    max-width: 520px;
    min-width: 520px;
    width: 520px;
}
    .form-actions {
        padding: 0 0 0 110px;
    }
    #MbUser_gender_chosen{
        width: 155px !important;
    }
}
.filters td {
    padding: 1px 1px 0 !important;
    input{
        margin: 0;
    }
}
.odd{
    td:last-of-type{
        text-align: left !important;
    }
}
th{
    background: #f7f7f7 !important;
}
#clinics-grid .table tr:first-child td{
    text-align: left;
}
.hid{
    padding: 10px 0 0;
    display: none; 
    overflow: visible !important;
}
.hid > span {
    display: block;
    float: left;
}
.hid .chosen-container{
    margin: -10px 10px 30px;
    width: 100px !important;
}
.hid-select-title{
        color: #6D6E6E;
    display: block;
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 10px 12px 2px 11px;
}
.select-new.select-new-last {
    margin: 0 0 0 -2px;
    width: 100px;
}
.text-name {
    width: 400px;
}
.text-name input {
    width: 401px;
}
.error-text label,
.error-text select,
.error-text input{
    border: 1px solid #F24841 !important; 
    background: #ffeceb !important;
}
//.text-phone.error-text label{
//    background: #F6F7F7 !important;
//    border: 1px solid #D5D6D6 !important;
//}
//.text-name.error-text input{
//    border-right: 1px solid #F24841 !important; 
//}
//.text-name.error-text label{
//    background: #F6F7F7 !important;
//    border: 1px solid #D5D6D6 !important;
//}
//.time1.error-text input{
//    
//}
//.time1.error-text label{
//    background: #F6F7F7 !important;
//    border: 1px solid #D5D6D6 !important;
//}
.select-new label.man:before {
    background: url(../img/sprite.png) no-repeat -166px -272px;
    content: " ";
    height: 22px;
    left: 50%;
    position: absolute;
    top: 50%;
    margin: -15px 0 0 -9px;
    width: 15px;
}
.select-new label.man {

    margin: 0 -1px 0 0px;
}
.select-new {
    width: 244px;
}
.application-form  #MbRecord_reason_chosen .chosen-search{
    float: none !important;
}
.content-menu .call.active{
   background: #333 url(../img/sprite.png) -1px -220px no-repeat;
}
.content-menu .application-site.active{
   background: #333 url(../img/sprite.png) -69px -220px no-repeat;
}
.content-menu .feedback.active{
   background: #333 url(../img/sprite.png) -142px -222px no-repeat;
}
.content-menu .house.active{
   background: #333 url(../img/sprite.png) -304px -222px no-repeat;
}
.fast-change {
    display: block;
    height: 50px;
}
.hid a{
        display: block;
    height: 50px;
}
i.icon-share{
    display: inline;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) -120px -274px no-repeat;
    position: relative;
    left: 20px;
    top: 12px;
    opacity: .2;
        &:hover{
            opacity: 1;
        }
}
i.icon-check-empty{
    display: inline;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) -8px -274px no-repeat;
    position: relative;
    left: 0;
    top: 15px;
        opacity: .2;
        &:hover{
            opacity: 1;
        }
}
i.icon-pencil{
    display: inline;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) -54px -274px no-repeat;
    position: relative;
    left: 0;
    top: 13px;
        opacity: .2;
        &:hover{
            opacity: 1;
        }
}
.unedit{
    float: left;
    height: 63px !important;
    position: relative;
    top: -2px;
    left: 0;
    width: 50%;
}
.update{
    float: left;
    height: 63px !important;
    position: relative;
    top: -2px;
    left: 0;
    width: 50%;
}
.grid-view select {
    height: 36px;
//    margin: 10px 0 0;
//    padding: 8px 0 0;
}
.errorSummary {
    background: #fad96c;
    color: #c00;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    margin: 0 0 20px;
    padding: 5px 10px;
        p{
            display: none;
        }
}
.ui-autocomplete{
    max-width: 797px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    border-top: none;
    border-color: #000;
        li{
            color: #333;
            padding: 5px 20px;
            background-color: transparent !important;
                &:hover{
                    cursor: pointer;
                    color: #fff;
                    border:none;
                    background: #F24841 !important;
                }
        }
        .ui-menu-item{
            background: transparent !important;
            border: none !important;
        }
}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{
    background: #ddd !important;
}
.pickmeup .pmu-instance .pmu-selected{
    background: #0F70B3 !important;
    color: #fff !important;
}
.pmu-not-in-month.pmu-button {
    opacity: 0;
    position: relative;
    z-index: -1;
}
.pmu-button.day_one{
 
}
.pmu-instance  .pmu-disabled-n{
    background: none !important;
    color: #ddd !important;
}
.pickmeup .pmu-instance  .pmu-today{
    opacity: 0.5;
    background: #ddd;
}
.row-call .table-api-main tbody tr:first-child .delete {
    background: none ;
    background-color: transparent !important;
    border: none !important;
}
.row-call .table-api-main tbody tr:first-child .delete{
    background: none !important;
}
.row-call .table tbody tr:first-child td {
    padding: 0 5px !important;
}
.mb-user .table-api-main tbody tr:first-child .delete {
    background: none ;
    background-color: transparent !important;
    border: none !important;
}
.mb-user .table-api-main tbody tr:first-child .delete{
    background: none !important;
}
.mb-user .table tbody tr:first-child td {
    padding: 0 5px !important;
}
//
.mb-template .table-api-main tbody tr:first-child .delete {
    background: none ;
    background-color: transparent !important;
    border: none !important;
}
.mb-template .table-api-main tbody tr:first-child .delete{
    background: none !important;
}
.mb-template .table tbody tr:first-child td {
    padding: 0 5px !important;
}
.mb-template i.icon-share{
    left: 0;
}
//
.row-price .table-api-main tbody tr:first-child .delete {
    background: none ;
    background-color: transparent !important;
    border: none !important;
}
.row-price .table-api-main tbody tr:first-child .delete{
    background: none !important;
}
.row-price .table tbody tr:first-child td {
    padding: 0 5px !important;
}
.row-price i.icon-share{
    left: 10px;
}
.old{

}
.ico-create a {
    display: block;
    height: 20px;
}
.ico-create a{
    background: url(../img/create_ico.png) center 2px no-repeat   !important;
    cursor: pointer;
    opacity: 0.2;
        &:hover{
            opacity: 1;
        }
}

.row-call .table .text-inner:before{
    top: 0 !important;
}
.row-call .hid  {
    padding: 0;
}
.row-call .hid  input{
    margin: 0 auto;
}
//
.mb-template .table .text-inner:before{
    top: 0 !important;
}
.mb-template .hid  {
    padding: 0;
}
.mb-template .hid  input{
    margin: 0 auto;
}
//
.mb-user .table .text-inner:before{
    top: 0 !important;
}
.mb-user .hid  {
    padding: 0;
}
.mb-user .hid  input{
    margin: 0 auto;
}
//
.row-price .table .text-inner:before{
    top: 0 !important;
}
.row-price .hid  {
    padding: 0;
}
.row-price .hid  input{
    margin: 0 auto;
}
.title-textarea-hide{
    clear: both !important;
    float: none !important;
}
.row-max.row div{
    float: none !important;
}
.row-max.row .chosen-container {
    float: left !important;
    margin: 0 0 10px;
}
.hid{
    clear: both !important;
}
.source-text input{
    margin-top: 0 !important;
}
.select-new.select-new-last {
    display: none;
}
#admin-tbody tr:first-child td:first-child {
    padding: 7px 0 !important;
    text-align: center !important;
}
.select-failure-cause .chosen-container .chosen-results li{
    padding: 3px 0 3px 10px !important;
    font-size: 14px;
}


/******* 31.10.2014 ******/
.control_block_row {
	margin-bottom: 15px;
}
.control_block_row.leads {
	.table_btn, .diagram_btn {
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px;
		background: #f6f7f7;
		border: 1px solid #d5d6d6;
		padding: 5px 15px;
		color: #707070;
	}
}
.waiting_list {
	display: inline-block;
	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		background: #f6f7f7;
		border: 1px solid #d5d6d6;
		padding: 5px 15px;
		a {
			color: #707070;
			text-decoration: none;
		}
	}
}
.diagrams_wrap {
	display: inline-block;
//	margin-left: 50px;
	vertical-align: middle;
	margin-right: 10px;
	background: #f6f7f7;
	border: 1px solid #d5d6d6;
	padding: 5px 15px;
	a {
		color: #707070;
		text-decoration: none;
	}
}
.diagrams_wrap + .waiting_list {
	margin-left: 10px;
}
.select_styled {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 180px;
	overflow: hidden;
	border: 1px solid #d5d6d6;

	select {
		position: relative;
		z-index: 2;
		width: 200px;
		height: 27px;
		border-radius: 0;
		border: none;
		background: transparent;
		option {
			background: #fff;
			border-color: #d5d6d6;
		}
	}
	span {
		position: absolute;
		z-index: 0;
		cursor: pointer;
		top: -1px;
		right:  -1px;
		width: 17px;
		height: 29px;
		background: url('../img/sprite.png') no-repeat -246px -268px;
	}
}
.row_cart, .row_flag {
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	.flag-calendar {
		font-size: 15px;
	}
	.chosen-container {
		float: none !important;
		width: 160px !important;
		margin-right: 40px;
	}
}
.nav_report.nav-tabs.nav {
	padding-bottom: 15px;
}
.row_cart {
	.deleted-item {
		vertical-align: middle;
	}
	input[type="checkbox"]{
		width: 16px;
		height: 16px;
		border-radius: 0;
		border: 1px solid #d5d6d6;
		vertical-align: middle;
	}
}
.row_flag  .flag-title {
	vertical-align: middle;
}
.control-submit {
	 cursor: pointer;
	width: auto;
	height: auto;
	background: #f24841;
	border: 1px solid #b01916;
	padding: 5px 20px;
	 display: inline-block;
	 color: #fff;
	&:hover{
		background: #b11916;
	}
	&:active{
		background: #9e1310;
		box-shadow: 2px 2px 0 #750d0a inset;
	}
}

/******** flag *******/
.table-api-main td {
	position: relative;
    &.phone_td_j{
        position: relative;
//        white-space: nowrap;
        text-align: center !important;
        a{
//            padding-right: 20px;
        }
        .updatedStatus_time,
        .updateStatus_time {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            color: #fff;
            width: 0;
            height: 0;
            border-top: 20px solid red; 
            border-left: 20px solid transparent;
            cursor: pointer;
            &:before{
                position: absolute;
                display: block;
                width: 12px;
                height: 12px;
                content: '';
                background: url(../img/svg/check12.svg) center no-repeat;
                left: -12px;
                top: -20px;
            }
            &:hover{
                border-top-color: #b01916; 
            }
            &.updatedStatus_time{
                border-top-color: green;
            }
        }
    }
}
td span.flag {
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 0;
}

/****** create *******/
.note-form.select-status-repeat:before {
	top: 19px;
}
#admin-form {
	.row_flag {
		.chosen-container {
			margin-right: 15px;
		}
	}
	.chosen-results li {
		font-size: 14px;
		text-align: left;
		padding-left: 10px;
	}
	.select-new-project .chosen-container {
		width: 200px;
		a {
			width: 200px;
		}
		.chosen-drop {
			width: 200px;
		}
	}
}

/******* multiple select ********/
.failure-form {
	input[type="submit"] {
		vertical-align: bottom;
	}
	#report_list .added {
		background: #0f70b3;
		color: #fff;
	}
	.fio_item {
		position: relative;
		cursor: pointer;
		display: inline-block;
		vertical-align: bottom;
		padding: 7px 10px;
		color: #fff;
		background: #0f70b3;
		font-weight: bold;
		margin: 0 10px;
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 2px;
			right: 2px;
		}
	}
	.fake_select_operator {
		display: inline-block;
		margin-right: 15px;
		.fake_select_operator_title {
			box-sizing: border-box;
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 180px;
			padding: 4px;
			overflow: hidden;
			border: 1px solid #d5d6d6;
			&:after {
				content: '';
				position: absolute;
				z-index: 0;
				cursor: pointer;
				top: -1px;
				right: -1px;
				width: 17px;
				height: 29px;
				background: url("../img/sprite.png") no-repeat -246px -268px;
			}
		}
		#report_list {
			display: none;
		}
	}
}

._create_block{
    .text-name{
        width: 798px;
         
        input[type='text']{
            width: 100%;
            border: 1px solid  #dcdddd !important;
                &:focus{
                    border-color: #000 !important;
                }
        }
    }
    .text-phone {
        margin: 0 27px 15px 0;
    }
    .select-new.select-new-last{
        display: block;
        width: 798px;
        margin: 0;
            input[type='text']{
                width: 100%;
                border: 1px solid  #dcdddd !important;
                    &:focus{
                        border-color: #000 !important;
                    }
            }
    }
}
#wrapper .is_error{
    border: 1px solid #c00 !important; 
}
.row-lb.note-form:before{
    top: 18px;
}
.row-lb + .tips-box{
    top: 30px;
}
.application-form  .row.row_link{
    float: right;
        a{
            margin: 0 10px;
        }
}
//----------------------------------------_create-block--------------------
._create-block{
    .text-name{
        width: 798px;
            input[type='text']{
                width: 100%;
                border: 1px solid  #dcdddd !important;
                    &:focus{
                        border-color: #000 !important;
                    }
            }
    }
    .row{
        span{
            display: block;
        }
    }
    .label_comment{
        font-size: 12px;
        color: #000;
        font-style: italic;
    }
    ._save_btn{
        
    }
}
._application-content{
    font-size: 37px;
    max-width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 0 29px;
    .application-form input[type="text"] {
        width: 250px;
    }
}
.table_row{
    border: 1px solid #ccc;
    width: 513px;
    margin:20px auto;
}
.table_line{
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    padding: 10px;
    border-top: 1px solid #ccc;
        &:first-child{
            border: none;
        }
}
.order-left.full_block{
    width: 800px;
    margin: 0 auto;
    float: none;
    padding: 0;
        .order-description{
            margin: 20px auto;
        }
        .order-description-top{
            &:last-of-type{
                border: none;
            }
        }
}
.table_link{
    width: 800px;
    margin: 0 auto;
    text-align: center;
        a{
            float: none !important;
        }
}
/////-----------------_header_bottom_menu
._header_bottom_menu{
    padding: 10px 0;
        .llink_wrap{
            margin: 0 0 5px;
            a{
                margin: 0 0 0 20px;
                    &:first-child{
                        margin: 0;
                    }
            }
        }
    input[type=checkbox] {
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: 1px solid #d5d6d6;
        vertical-align: middle;
    }
    label{
        margin: 0 20px 0 0;
            &:first-child{
                margin: 0;
            }
    }
    .import_exel{
        border: 1px solid #b01916;
        background: @red;
        color: #fff;
        .font_pt_b;
        font-size: 18px;
        padding: 7px 45px;
        cursor: pointer;
        margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
    }
}
._create_block{
    .text-email{
        margin: 0 27px 0 0;
    }
}
.text-uid {

    input[type='text']{
        width: 266px;
    }
    label{
        width: 44px;
        height: 28px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                background: url('../img/sprite.png') no-repeat -230px -113px;
                width: 12px;
                height: 19px;
                margin: -10px 0 0 -6px;
            }
    }

}
.list_charts{
    .title{
        margin: 0 0 70px;
        padding: 50px 0 0;
    }
    canvas {
        margin: 0 0 70px;
    }
}
.exel_form{
    input[type="checkbox"]{
        width: 16px;
        height: 16px;
        border-radius: 0;
        border: 1px solid #d5d6d6;
        vertical-align: middle;
    }
    label{
        margin: 0 10px 0 0;
    }
    .import_exel{
        border: 1px solid #b01916;
        background: @red;
        color: #fff;
        .font_pt_b;
        font-size: 18px;
        padding: 7px 45px;
        cursor: pointer;
        margin: 0 12px 0 0;
        &:hover{
            background: #b11916;
        }
        &:active{
            background: #9e1310;
            box-shadow: 2px 2px 0 #750d0a inset;
        }
    }
}
._width_header_bottom_menu{
    .table-api-main {
        width: 2075px;
    }
    .number_agree{
        a{
            white-space: nowrap;
        }
    }
}
/* iCheck plugin Polaris skin
----------------------------------- */
.icheckbox_polaris,
.iradio_polaris {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    background: url(../img/polaris.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_polaris {
    background-position: 0 0;
}
.icheckbox_polaris.hover {
    background-position: -31px 0;
}
.icheckbox_polaris.checked {
    background-position: -62px 0;
}
.icheckbox_polaris.disabled {
    background-position: -93px 0;
    cursor: default;
}
.icheckbox_polaris.checked.disabled {
    background-position: -124px 0;
}

.iradio_polaris {
    background-position: -155px 0;
}
.iradio_polaris.hover {
    background-position: -186px 0;
}
.iradio_polaris.checked {
    background-position: -217px 0;
}
.iradio_polaris.disabled {
    background-position: -248px 0;
    cursor: default;
}
.iradio_polaris.checked.disabled {
    background-position: -279px 0;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_polaris,
    .iradio_polaris {
        background-image: url(../img/polaris@2x.png);
        -webkit-background-size: 310px 31px;
        background-size: 310px 31px;
    }
}
.skin:hover .arrows .top,.skin:hover .arrows .bottom{left:0}
.skin h3{position:relative;z-index:20;float:left;height:60px;padding:0 57px;line-height:58px;background:#fff;border:3px solid #ddd8ce;border-bottom:none;}
.skin h3:before{content:'';position:absolute;top:100%;left:0;width:100%;height:2px;margin-top:-1px;background:#fff}
.skin.skin-polaris h3{color:#cacdd1;background:#2c323c;}
.skin.skin-polaris h3:before{background:#2c323c}
.skin.skin-futurico h3{color:#c3c3c3;background:#2e3035;}
.skin.skin-futurico h3:before{background:#2e3035}
.skin dl{z-index:10;width:100%;margin:0}
.skin dt{position:relative;top:-53px;right:-3px;float:right;height:47px;margin-right:-3px;padding:0 57px;line-height:47px;border:3px solid #ddd8ce;cursor:pointer;}
.skin dt:hover{background:#f0ede7;border-bottom:3px solid #ddd8ce}
.skin dt.selected{height:50px;background:#fff;border-bottom:none;cursor:default;}
.skin dt.selected:before{content:'';position:absolute;top:100%;left:0;width:100%;height:2px;margin-top:-1px;background:#fff}
.skin.skin-polaris dt{color:#cacdd1;background:#647083;}
.skin.skin-polaris dt:hover{background:#4a5361}
.skin.skin-polaris dt.selected{background:#2c323c;}
.skin.skin-polaris dt.selected:before{background:#2c323c}
.skin.skin-futurico dt{color:#c3c3c3;background:#676c77;}
.skin.skin-futurico dt:hover{background:#4b4e56}
.skin.skin-futurico dt.selected{background:#2e3035;}
.skin.skin-futurico dt.selected:before{background:#2e3035}
.skin dd{position:relative;display:none;float:left;width:100%;margin:-3px -100% 0 0;overflow:hidden;color:#444;background:#fff;border:3px solid #ddd8ce;}
.skin dd.selected{display:block}
.skin dd a{color:#444;}
.skin dd a:hover{color:#111}
.skin.skin-polaris dd{color:#7a828b;background:#2c323c;}
.skin.skin-polaris dd a{color:#7a828b;border-bottom-color:#4e596b;}
.skin.skin-polaris dd a:hover{color:#a2a7ae}
.skin.skin-futurico dd{color:#888;background:#2e3035;}
.skin.skin-futurico dd a{color:#888;border-bottom-color:#545861;}
.skin.skin-futurico dd a:hover{color:#aaa}
.skin-section{float:left;padding:42px 0 31px 57px;line-height:18px;}
.skin-section h4{padding-bottom:18px;}
.skin-polaris .skin-section h4{color:#959ba2}
.skin-futurico .skin-section h4{color:#a0a0a0}
.skin-section .list{float:left;padding-right:60px;}
.skin-section .list li{position:relative;padding-bottom:15px}
.skin-minimal .skin-section .list li{padding-left:38px}
.skin-square .skin-section .list li{padding-left:42px}
.skin-flat .skin-section .list li,.skin-line .skin-section label{padding-left:40px}
.skin-line .skin-section h4{padding-bottom:24px}
.skin-line .skin-section .list{padding-right:40px;}
.skin-line .skin-section .list li{padding-bottom:10px}
.skin-polaris .skin-section .list li{padding-left:37px}
.skin-futurico .skin-section .list li{padding-left:36px}
.icheckbox_minimal,.icheckbox_minimal-red,.icheckbox_minimal-green,.icheckbox_minimal-blue,.icheckbox_minimal-aero,.icheckbox_minimal-grey,.icheckbox_minimal-orange,.icheckbox_minimal-yellow,.icheckbox_minimal-pink,.icheckbox_minimal-purple,.iradio_minimal,.iradio_minimal-red,.iradio_minimal-green,.iradio_minimal-blue,.iradio_minimal-aero,.iradio_minimal-grey,.iradio_minimal-orange,.iradio_minimal-yellow,.iradio_minimal-pink,.iradio_minimal-purple{position:absolute;top:1px;left:0}
.skin input[type=checkbox],.skin input[type=radio]{position:absolute;top:2px;left:0}
.icheckbox_square,.icheckbox_square-red,.icheckbox_square-green,.icheckbox_square-blue,.icheckbox_square-aero,.icheckbox_square-grey,.icheckbox_square-orange,.icheckbox_square-yellow,.icheckbox_square-pink,.icheckbox_square-purple,.iradio_square,.iradio_square-red,.iradio_square-green,.iradio_square-blue,.iradio_square-aero,.iradio_square-grey,.iradio_square-orange,.iradio_square-yellow,.iradio_square-pink,.iradio_square-purple{position:absolute;top:-1px;left:0}
.icheckbox_flat,.icheckbox_flat-red,.icheckbox_flat-green,.icheckbox_flat-blue,.icheckbox_flat-aero,.icheckbox_flat-grey,.icheckbox_flat-orange,.icheckbox_flat-yellow,.icheckbox_flat-pink,.icheckbox_flat-purple,.iradio_flat,.iradio_flat-red,.iradio_flat-green,.iradio_flat-blue,.iradio_flat-aero,.iradio_flat-grey,.iradio_flat-orange,.iradio_flat-yellow,.iradio_flat-pink,.iradio_flat-purple{position:absolute;top:0;left:0}
.icheckbox_polaris,.iradio_polaris{position:absolute;top:-4px;left:-6px}
.icheckbox_futurico,.iradio_futurico{position:absolute;top:2px;left:0}
.skin-states{float:right;padding-right:57px;padding-left:0;}
.skin-states .state{cursor:default !important}
.skin-states .list{padding-right:0}
.skin-minimal .skin-states .list li{padding-left:71px}
.skin-square .skin-states .list li{padding-left:79px}
.skin-flat .skin-states .list li{padding-left:75px}
.skin-line .skin-states .list{padding-right:0}
.skin-polaris .skin-states .list li{padding-left:69px}
.skin-futurico .skin-states .list li{padding-left:67px}
.skin-states .iradio_minimal,.skin-states .iradio_minimal-red,.skin-states .iradio_minimal-green,.skin-states .iradio_minimal-blue,.skin-states .iradio_minimal-aero,.skin-states .iradio_minimal-grey,.skin-states .iradio_minimal-orange,.skin-states .iradio_minimal-yellow,.skin-states .iradio_minimal-pink,.skin-states .iradio_minimal-purple{left:33px}
.skin-states .iradio_square,.skin-states .iradio_square-red,.skin-states .iradio_square-green,.skin-states .iradio_square-blue,.skin-states .iradio_square-aero,.skin-states .iradio_square-grey,.skin-states .iradio_square-orange,.skin-states .iradio_square-yellow,.skin-states .iradio_square-pink,.skin-states .iradio_square-purple{left:37px}
.skin-states .iradio_flat,.skin-states .iradio_flat-red,.skin-states .iradio_flat-green,.skin-states .iradio_flat-blue,.skin-states .iradio_flat-aero,.skin-states .iradio_flat-grey,.skin-states .iradio_flat-orange,.skin-states .iradio_flat-yellow,.skin-states .iradio_flat-pink,.skin-states .iradio_flat-purple{left:35px}
.skin-states .iradio_polaris{left:26px}
.skin-states .iradio_futurico{left:31px}
.colors{clear:both;padding:24px 0 9px;}
.skin-line .colors{padding-top:28px}
.colors strong{float:left;line-height:20px;margin-right:20px}
.colors li{position:relative;float:left;width:16px;height:16px;margin:2px 1px 0 0;background:#000;cursor:pointer;filter:alpha(opacity=50);opacity:.5;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-ms-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s;}
.colors li:hover{filter:alpha(opacity=100);opacity:1}
.colors li.active{height:20px;margin-top:0;filter:alpha(opacity=75);opacity:.75}
.colors li.red{background:#d54e21}
.colors li.green{background:#78a300}
.colors li.blue{background:#0e76a8}
.colors li.aero{background:#9cc2cb}
.colors li.grey{background:#73716e}
.colors li.orange{background:#f70}
.colors li.yellow{background:#fc0}
.colors li.pink{background:#ff66b5}
.colors li.purple{background:#6a5a8c}
.skin-square .colors li.red{background:#e56c69}
.skin-square .colors li.green{background:#1b7e5a}
.skin-square .colors li.blue{background:#2489c5}
.skin-square .colors li.aero{background:#9cc2cb}
.skin-square .colors li.grey{background:#73716e}
.skin-square .colors li.yellow{background:#fc3}
.skin-square .colors li.pink{background:#a77a94}
.skin-square .colors li.purple{background:#6a5a8c}
.skin-square .colors li.orange{background:#f70}
.skin-flat .colors li.red{background:#ec7063}
.skin-flat .colors li.green{background:#1abc9c}
.skin-flat .colors li.blue{background:#3498db}
.skin-flat .colors li.grey{background:#95a5a6}
.skin-flat .colors li.orange{background:#f39c12}
.skin-flat .colors li.yellow{background:#f1c40f}
.skin-flat .colors li.pink{background:#af7ac5}
.skin-flat .colors li.purple{background:#8677a7}
.skin-line .colors li.yellow{background:#ffc414}
.skins-info{padding:13px 0 57px;font-size:16px;line-height:22px;text-align:center;}
.skins-info p{margin-bottom:17px}
.skins-info .skins-banner{margin:34px 0 3px;}
.skins-info .skins-banner a{display:block;width:728px;height:90px;margin:0 auto;overflow:hidden;text-indent:100%;white-space:nowrap;background:url(banner.jpg);-webkit-transition:opacity 0.4s ease;-moz-transition:opacity 0.4s ease;-o-transition:opacity 0.4s ease;transition:opacity 0.4s ease;border:none;}
.skins-info .skins-banner a:hover{opacity:.8;}
.skin-pre{padding:43px 60px 0}
.skin-usage{padding:19px 60px 8px;list-style:decimal outside;}
.skin-usage li{margin-bottom:23px}
.skin-usage .schemes{margin-bottom:-3px;padding:13px 0 0 20px;color:#888;}
.skin-usage .schemes ul{float:left;padding-right:60px}
.skin-usage .schemes li{margin:0;padding-bottom:3px}
.usage{position:relative;margin-bottom:80px;background:#fff;}
.usage a{border-bottom-color:#ddd}
.usage .self{border-bottom-color:#bbb}
.usage .arrows{top:0}
.usage:hover .arrows .top,.usage:hover .arrows .bottom{left:0}
.usage h2{color:#fff;background:#1f7f5c}
.usage h4{margin:26px 0 10px;}
.usage h4.indeterminate{margin-top:28px}
.usage p{margin-bottom:5px;}
.usage p.offset{margin-top:10px}
.usage p.callbacks-info{margin-bottom:19px}
.usage p.methods-info{margin-bottom:10px}
.usage p.methods-callback{margin-top:10px}
.usage p.issue-tracker{margin-top:31px}
.usage .markup{margin:9px 0 16px}
.usage .usage-inner{font-size:15px;line-height:23px;padding:41px 60px 39px}
.markup{margin:10px 0 18px;padding:8px 0 9px 17px;font:14px/20px 'MontserratRegular',Helvetica,Arial,sans-serif;color:#777;background:#e7e5e0;border-left:3px solid #d7d5cb;}
.markup .comment{color:#999;}
.markup .comment .self{color:#555;}
.markup .comment .self:hover{color:#333}
.skin-polaris .markup{background:#232830;border-left-color:#1f232a}
.skin-futurico .markup{background:#25262a;border-left-color:#202225}
.skin-polaris .markup .comment,.skin-futurico .markup .comment{color:#555}
.browsers{margin-bottom:74px;}
.browsers h2{margin-bottom:29px;font-size:24px}
.browsers-inner{padding:0 60px;font-size:15px;line-height:23px;}
.browsers-inner p{margin-bottom:15px}
.benefits{position:relative;margin-bottom:59px;color:#888;background:#232323;}
.benefits .arrows{top:0}
.benefits:hover .arrows .top,.benefits:hover .arrows .bottom{left:0}
.benefits h2{color:#fff;background:#6a5b8c}
.benefits a{color:#888;border-bottom-color:#444;}
.benefits a:hover{color:#aaa}
.benefits .mark{color:#777;background:#393939}
.benefits-inner{padding:41px 60px 29px;font-size:15px;line-height:23px;}
.benefits-inner p{margin-bottom:15px}
.benefits-inner ul{margin:-10px 0 15px}
.download{height:63px;text-align:center;}
.download a{display:block;height:60px;font-size:18px;line-height:58px;color:#fff;border-bottom:0 solid #e24f49;background:#e76b66;-webkit-transition:border-bottom .2s;-moz-transition:border-bottom .2s;-ms-transition:border-bottom .2s;-o-transition:border-bottom .2s;transition:border-bottom .2s;}
.download a:before{content:'';display:inline-block;width:26px;height:26px;margin-right:12px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAACYUlEQVR4Xr3VPWhTURjH4VOt0ES7ZRJbEJpsNsaimx9E0GpRCdgU/NhsRAdNBYcK0RirQcSkIIK2cRBRiragVayDhqBDLVWatFvsIKK2UMEp4KBcf8N/KNdwvcHWAw8c/rzvebk5yU2dZVnmf6wVNdb70Ca+5Rrkx0e8E/ZkyzCoAyuxBZu17/jXQV34jjwCytowjUk90Ywyo5q8errcDoriPgpoRhEj6MQrGHmpbARF1RbUG3Uz6Bae4iBacQNNSKEPRi4pa1JNq3pGcds+qNrXu4B1CKKCWtZqlPAZO/72RDGsRdKWh5ATIdOSpHpjbu6ojBfYBiPdOIQeHJMeZd0wsh1jKDsNakEc97AHo8o3IYCz2I1nGMYuZQHVGPXs1RlxtNgH+TCFtBpvIqua40ghqkGdOIp27VOqMcigX8PTKIKzWXwZDDbAQhDG5o6yx2iAkQY80T4HYxOEpbP/uCOnN+wq1Nlq6x3qrWp3NIcKJvAWV+FVzU804i6uwyNZZY34BaOeyzpjQmfOLR70DSGcwyxOIa7mAZzHQ+QxLHllCdUYnMYZzOqsjeBsPbp8QFZ7Lw7gCt4jhGu4qCEGa5SVVWPUM4Yjbn5HfrTjNYzk8AAZ5CSjbBBG3qjXr0CqX+YAviJpy6cQg9NKIoJBN6+gIGbwA16kMY5eeGDEo2xcNV71TCPo5qM7iX14hJIueB4XkICRhLJ51ZTUsx8n3AwawmGE8QUhRDR4J4yElUUQUm1YvUPOfxPO4khj66KL70W/m+Z6uF3P0YdJBRVlZqkHlbEezQo+YWHJB8mC1Lx+Ayeq7nRIoewwAAAAAElFTkSuQmCC");*background-image:url("ie/icon-options.png");vertical-align:middle}
.download a:hover{border-bottom-width:3px}
.license{color:#444;text-align:center;padding:30px 0 75px}
.footer{padding-top:28px;height:60px;color:#666;background:#e2dfd8;}
.footer ul{float:left;}
.footer ul li{float:left;padding:2px 10px 0 0}
.footer ul.local li{padding:0 30px 0 0}
.footer .code{float:right}
.footer a{color:#444;}
.footer a:hover{color:#222}
.footer-inner{width:930px;margin:0 auto;overflow:hidden}
.fork-me{position:fixed;*position:absolute;top:0;right:0;width:40px;height:40px;overflow:hidden;text-indent:100%;white-space:nowrap;background:#28545b url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAnElEQVR4XqVSgQmEMAyszw/gCI7wK7iBblBHcISfxG6gG/gjuIGO0A3ygaYQCCG2HhweF+6aShsAcDcBJBpuvlwFagqGJwUf5EL6kgV2eEe2yIgc9QI73CMPs8AOywI7nHDSzCxYxcnJ6+hrFnQkJrb2nGclP3Fj+vf0IUV1AgCZHiS86lOObxD4qqSD5mtXmAq1e2fB3vqXact3f/JmXumJlVq1AAAAAElFTkSuQmCC") 50% no-repeat;*background-image:url("ie/icon-fork.png");}
.fork-me:hover{background-color:#1f7f5c}
.skin dt,.fork-me{-webkit-transition:background-color .2s;-moz-transition:background-color .2s;-ms-transition:background-color .2s;-o-transition:background-color .2s;transition:background-color .2s}
.icheckbox_polaris, .iradio_polaris{
    position: relative !important;
    left: 5px;
    margin: 0 0 0 -10px;
}
.table-api-main_wrapper{
    overflow-x: scroll;
}
._create_block .text-uid {
    margin: 0 28px 10px 0px;
}
.text-dollar label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('http://a.medbooking.com/themes/apinew/css/../img/dollar.png') no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 0.2;
}
.text-pen label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('http://a.medbooking.com/themes/apinew/css/../img/dollar.png') no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 0.2;
}
.text-pencil label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('http://a.medbooking.com/themes/apinew/css/../img/pencil.png') no-repeat;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    opacity: 0.2;
}
.text-uid.text-phone{
    width: 310px;
    margin: 0 27px 0 0;
    label{
        width: 44px;
        height: 28px;
        float: left;
        background: #e9e9e9;
        border: 1px solid #d5d6d6;
        position: relative;
            &:before{
                content: " "; 
                height: 17px;
                left: 12px;
                position: absolute;
                top: 11px;
                width: 17px;
                background: url(../img/sprite.png)  -197px -274px no-repeat;
            }
    }
}
#domain_id_chosen .chosen-search{
    display: none;
}
.long_select{
    width: 250px !important;
}
#admin-form .select-new-project .chosen-container a {
  width: 340px;
}
#admin-form .select-new-project .chosen-container .chosen-drop {
  width: 340px;
}



//-------------------------------------------createPage---------------------------------------------------------//
.createPage{
    .title{
        font-size: 26px !important;
        font-weight: bold !important;
        color: #696969 !important;
        margin: 0 0 10px !important;
    }
    .remark{
      font-size: 11px !important;
      color: #777777 !important;
      font-style: italic !important;
      span{
          color: #f35953;
        }
    }
    .note-form:before{
        display: none;
    }
    .application-form input[type="text"]{
        border: 1px solid #ddd7d9;
    }
    .row label,
    .add-comment{
        width: 190px !important;
        height: auto !important;
        background-color: transparent !important;
        border: none !important;
        font-size: 14px;
        color: #333;
        margin: 5px 20px 0 0;
        float: left;
        text-align: right;
            &:before{
                display: none !important;
            }
        span{
            color: #f35953;
            position: absolute;
            margin-left: 5px;
        }
        i{
            display: block !important;
            font-size: 12px !important;
            color: #696969 !important;
        }
    }
    .add-comment{
        i{
            border-bottom: 1px dashed #949595 !important;
            font-style: normal;
            display: inline-block !important;
            font-size: 16px !important;
                &:hover{
                    border-bottom-color: transparent !important;
                }
        }
    }
//    .application-form .row:last-of-type{
////        margin: 0 !important;
//    }
    .application-form .row .clinic-text,
    .application-form .row .doctor-text,
    .application-form .row .doctor-text,
    .select-status .chosen-single,
    .select-status .chosen-container .chosen-drop,
    .createPage .select-failure-cause .chosen-single,
    .select-failure-cause .chosen-container .chosen-drop,
    .select-new,
    .select-new .chosen-single,
    {
        width: 400px !important;
    }
  
    .application-form .row textarea {
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;
        float: right !important;
        margin: 0 190px 0 0;
    }
    .createPage__box{
        padding: 35px 0;
        margin: 30px 0;
    }
    .row-max{
        margin: 0 !important;
    }
    .row-max.row div {
        float: left!important;
        margin: 0;
    }
    .select-failure-cause .chosen-single{
        width: 400px !important;
    }
    .select-failure-cause{
        clear: none !important;
    }
    .hid > span {
        display: block;
        float: left;
        margin: 5px 0 0 15px;
        font-size: 16px !important;
    }
    #MbRecord_review{
        margin: 0 190px 0 0;
        min-width: 400px !important;
        width: 400px !important;
        max-width: 400px !important;
    }
    #MbRecord_koll_repeat{
        margin: 20px 0 0;
    }
    .select-failure-cause .chosen-single span {
        text-align: center;
        color: #000;
    }
    #email,
    #timeContainer,
    #MbRecord_source,
    #admin-form .select-new-project .chosen-container a,
    #admin-form .select-new-project .chosen-container .chosen-drop{
        width: 400px !important;
    }
    #phone,
    #phone_record{
        width: 200px !important;
    }
    .blueBox{
        background: #E4F3FF;    
    }
    .yellowBox{
        background: #FFF3CB;
    }
    select{
        width: 400px !important;
    }
    .small_select{
        select{
            width: 200px !important;
        }
        .chosen-single,
        .chosen-drop{
            width: 200px !important;
        }
    }
    input[type="text"]:focus,
    textarea:focus{
        border-color: #ddd7d9 !important;
        -moz-box-shadow: 0 0 7px rgba(0,0,0,.15);
        -webkit-box-shadow: 0 0 7px rgba(0,0,0,.15);
        box-shadow: 0 0 7px rgba(0,0,0,.15);
        border-radius: 3px;
    }
    select{
        height: 28px;
        border-color: #ddd7d9;
    }
    .application-form .row .source{
        margin: 0 !important;
    }
    .row-max{
        padding: 0 20px 10px 0 !important; 
    }
}













