@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic);
* {
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
    
}

body {
    color: #000;
    background: #EAEAEA;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    background: #FFF;
    min-width: 1245px;
      overflow-x: hidden;
}

.wrapper {
    width: 1085px;
    margin: 0 auto;
}
.h2_style{
    position: relative;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
    color: #3064b8;
    font-family: "Arimo";
    &:before {
          content: "";
          position: absolute;
          width: 100px;
          margin-left: 95px;
          margin-top: 43px;
          border-bottom: 3px solid #3064b8;
    }
}

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

header {
    background: transparent;
    display: block;
    position: relative;
    .wrapper_head {
        max-width: 1185px;
        margin: 0 auto;
        background: url(../img/back_head.png) no-repeat;
        background-size: cover;
    }
    .logo {
        display: inline-block;
        background: url(../img/logo.png) 0 0 no-repeat;
        width: 210px;
        height: 35px; 
        margin: 20px;
    }
	.btn_call {
		text-decoration: none;
		display: block;
		text-align: center;
		font-size: 14px;
		color: #FFF;
		font-weight: normal;
	} 
    .telephone {
        float: right;
        display: inline-block;
        margin: 20px;
        font-size: 21px;
        font-weight: bold;
        color: #FFF;

    }
}
#home {
	background: #3064b8 url(../img/patern.png) center 0 repeat fixed #3064b8; 
	background-size: 100%;
	margin: 0 auto;
	color: #FFF;
    .block_img {
        float: right;
        display: inline-block;
        width: 410px;
        margin-right: -70px;
        margin-top: 40px;
    }
    .glow {
        position: absolute;
        width: 1025px;
        height: 675px;
        background-image: radial-gradient(rgba(255,255,255,0.4) -300px, rgba(255,255,255,0) 70%);
    }
    .block_text {
        float: left;
        display: block;
        margin: 145px 0 0 60px;
        .block_text_preview {
            display: block;
            margin-top: 15px;
            color: #94afdd;
        }
        h2 {
            position: relative;
            font-size: 52px;
            font-family: "Arimo";

            span {
                display: inline-block;
                position: relative;
                padding-bottom: 15px;
                font-size: 52px;
                border-bottom: 2px solid #7597d0;
                color: #FFF;
                font-weight: normal;
                &:before {
                    content: "";
                    position: absolute;
                    width: 80px;
                    border-bottom: 3px solid #FFF;
                    bottom: -2px;
                }
            }
        }
        h3 {
            margin-top: 50px;
            font-size: 30px;
        }
        form{
            display: block;
            position: relative;
            margin-top: 75px;
            background: #FFF;
            overflow: hidden;
            border-radius: 3px;
            label {
                padding: 15.5px 25px;
                background: #f4f8ff url(../img/email.png) no-repeat center;
                border-right: 1px solid #e0e7f1;
            }
            input[type="email"] {
                display: inline-block;
                padding: 13px 164px 10px 20px;
                border: none;
                font-size: 16px;
            }
            input[type="submit"] {
                float: right;
                background: #96cd3d;
                padding: 11px 35px;
                border: none;
                font-size: 20px;
                font-weight: bold;
                color: #FFF;
                cursor: pointer;
                &:hover {opacity: 0.8 }
                &:active {
                    box-shadow: inset 15px 15px 3px -12px #7ca932;
                    -webkit-box-shadow: inset 15px 15px 3px -12px #7ca932;
                    -moz-box-shadow: inset 15px 15px 3px -12px #7ca932;
                    -o-box-shadow: inset 15px 15px 3px -12px #7ca932;
                    opacity: 1;
                }
            }
        }
    }
}


#modules {
	position: relative;
    width: 100%;
	background: #f3f6f9;
    padding-bottom: 100px;
    .angle {
        width: 100%;
        height: 30px;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            height: 50px;
            width: 100%;
            transform: rotate(-1deg);
            top: -18px;
            background: #f3f6f9; 
        }
    }    
    h2 {.h2_style;}
    .block_modules {
        margin-top: 60px;
        .modul {
            display: inline-block;
            width: 245px;
            height: 350px;
            margin-bottom: 70px;
            background: #FFF;
            margin: 15px;
            border-radius: 3px;
            -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.21);
            -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.21);
            box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.21);
			overflow: hidden;
            h3 {
				display: block;
				position: relative;
                font-size: 15px;
                margin: 15px;
                color: #587dc1;
				 &:before {
					content: '';
					position: absolute;
					width: 45px;
					border-bottom: 1px solid #587dc1;
					bottom: 0px;
					margin-bottom: -8px;
				 }

            }
//            img {
//                display: block;
//                height: 40px;
//                width: 40px;
//                margin-left: 100px;
//                margin-top: 25px;
//            }
            p {
                margin: 15px;
                color: #555;
                font-size: 12px;
            }
            &:first-child, &:nth-child(5) { margin-left: 0;}        
            &:last-child, &:nth-child(4n) {margin-right: 0;}
            &:nth-child(9) {margin-left: 25.8%;}
        }
    }
}

#made {
    position: relative;
    background: #FFF;
    padding-bottom: 50px;
    .angle {
        height: 30px;
        width: 100%;
        &:before {
            content: "";
            position: absolute;
            height: 50px;
            width: 100%;
            transform: rotate(1deg);
            top: -30px;
            background: #FFF; 
        }
    }
    h2 {
        .h2_style;
        &:before {
            margin-left: 85px;
        }
    }
    .made_step {
        display: block;
        list-style: none;
        margin-top: 40px;
        li {
            display: inline-block;
            height: 235px;
            img{
                float: left;
            }
            h3 {
                display: inline-block;
                margin: 50px 0 20px;
                font-size: 20px;
                font-weight: bold;
            }
            p {
                display: inline-block;
                width: 660px;
                font-size: 16px;
            }
        }
        .made_step_1 {
            position: relative;
            img {
                margin: 0 95px 0 120px;
            }
            &:after {
                content: "";
                position: absolute;
                background: url(../img/line_1.png) no-repeat;
                height: 65px;
                width: 35px;
                left: 135px;
                bottom: 0px;
            }
        }
        .made_step_3 {
            position: relative;
            img {
                margin: 0 95px 0 111px;
            }
            &:after {
                content: "";
                position: absolute;
                background: url(../img/line_1.png) no-repeat;
                height: 65px;
                width: 35px;
                left: 135px;
                bottom: 0px;
            }
        }  
        .made_step_2 {
            position: relative;
            img {
                margin: 0 80px 0 50px;
            }
            &:after {
                content: "";
                position: absolute;
                background: url(../img/line_2.png) no-repeat;
                height: 65px;
                width: 35px;
                left: 175px;
                bottom: 0px;
            }
        }
        .made_step_4 {
            position: relative;
            img {
                margin: 0 80px 0 50px;
            }
        }
    }  
}

#advantages {
    position: relative;
    background: #f3f6f9;
    overflow: hidden;
    .angle {
        height: 30px;
        width: 100%;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            height: 50px;
            width: 100%;
            transform: rotate(1deg);
            top: -18px;
            background: #f3f6f9; 
        }
    }
    h2 {
        .h2_style;
        &:before {
            margin-left: 105px;
        }
    }
    p {
        display: block;
        margin: 70px auto;
        width: 820px;
        color: #333;
        text-align: center;

    }
    ul {
        display: inline-block;
        position: relative;
        list-style: none;
        padding-top: 100px;
        padding-bottom: 100px;
        li {
            display: inline-block;
            position: relative;
            white-space: pre-line;
            text-align: center;
            font-size: 15px;
            padding: 0 25px;
            margin: 80px 0px;
            width: 33%;
            &:before {
                content: "";
                position: absolute;
                background: url('../img/sprite_advant.png') no-repeat center;
                width: 120px;
                height: 100px;
                bottom: 60px;
            }
            &:first-child:before{ 
                background-position: 27px 11px;
                text-align: left;
            }
            &:nth-child(2):before{ 
                background-position: 0 -92px;
                margin-left: -13px;
            }
            &:nth-child(3):before{ 
                background-position: 15px -288px;
                text-align: right;
            }
            &:nth-child(4):before{ 
                background-position: -12px -392px;
                text-align: left;
            }
            &:nth-child(5):before{ 
                background-position: 23px -192px;
                margin-left: 13px;
            }
            &:last-child:before{ 
                background-position: -8px -501px;
                text-align: right;
            }

        } 
    }
}


#registration {
	background: #3064b8 url(../img/patern_reg.png) center 0 repeat fixed; 
	height: 415px;
	margin: 0 auto;
	width: 100%;
	position: relative;
	color: #FFF;
    .block_form {
        display: block;
        position: relative;
        margin: 0 auto;
        top: 50px;
        width: 570px;
        height: 315px;
        background: #f3f6f9;
        color: #000;
        h2 {
            position: relative;
            font-size: 37px;
            font-family: "Arimo";
            padding: 35px 50px;
            span {
                display: inline-block;
                position: relative;
                padding-bottom: 15px;
                border-bottom: 2px solid #b9bbbd;
                font-size: 38px;
                font-family: "Arimo";
                font-weight: normal;
                color: #000;
                &:before {
                    content: "";
                    position: absolute;
                    width: 60px;
                    border-bottom: 3px solid #000;
                    bottom: -2px;
                }
            }
        }
        form {
            display: inline-block;
			position: relative;
            margin-left: 35px;
            border: 1px solid #e4e4e4;
            input[type="email"]{
                padding: 17px 20px;
                width: 335px;
                border: none;
                font-size: 18px;
                font-family: 'PT Sans', sans-serif;
            }
            input[type="submit"]{
                padding: 17px 25px;
                margin-left: -5px;
                background: #f95a52;
                border: none;
                font-weight: bold;
                font-size: 18px;
                font-family: 'PT Sans', sans-serif;
                color: #FFF;
                cursor: pointer;
                &:hover {opacity: 0.8 }
                &:active {
                    box-shadow: inset 15px 15px 3px -12px #c74842;
                    -webkit-box-shadow: inset 15px 15px 3px -12px #c74842;
                    -moz-box-shadow: inset 15px 15px 3px -12px #c74842;
                    -o-box-shadow: inset 15px 15px 3px -12px #c74842;
                    opacity: 1;
                }
            }
        }
        .block_form_preview {
            display: inline-block;
            padding: 10px 35px;
            font-size: 12px;
            color: #848484;
        }
    } 
}

#partners{
    h2{
        padding-top: 50px;
        .h2_style;
        &:before {
            margin-left: 90px;
        }
    }
    ul {
        display: block;
        margin-top: 80px;
        list-style: none;
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 30px;
        }
    }
    span {
        display: block;
        margin: 10px auto;
        color: #333;
        text-align: center;
    }
}
#footer {
    text-align: center;
    .reg_btn {
        display: inline-block;
        position: relative;
        padding: 19px 45px;
        margin: 100px 0;
        background: #f95a52;
        font-weight: bold;
        font-size: 20px;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
        &:hover {opacity: 0.8 }
        &:active {
            box-shadow: inset 15px 15px 3px -12px #c74842;
            -webkit-box-shadow: inset 15px 15px 3px -12px #c74842;
            -moz-box-shadow: inset 15px 15px 3px -12px #c74842;
            -o-box-shadow: inset 15px 15px 3px -12px #c74842;
            opacity: 1;
        }
        &:hover:after, &:hover:before{
            cursor: text;
            opacity: 0.5;
        }
        &:after {
            content: "";
            position: absolute;
            width: 1085px;
            border-bottom: 1px solid #eee;
            bottom: -30px;
            right: -293px;

        }
        &:before {
            content: "";
            position: absolute;
            width: 1085px;
            border-bottom: 1px solid #eee;
            top: -30px;
            right: -293px;
        }
    }
    .anchor_menu {
        display: inline-block;
        list-style: none;
        li{
            float: left;
            padding: 0 65px;
            a {
                color: #4c79c1;
                font-size: 16px;
                text-decoration: none;
                &:hover {
                    border-bottom: 1px solid #4c79c1;
                }
            }
        }
    }
    .social{
        display: inline-block;
        margin: 45px auto;
        list-style: none;
        li{
            float: left;
            padding: 0 15px;
            a {
                color: #4c79c1;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
    p {
        display: block;
        margin-bottom: 35px;
        text-align: center;
        color: #a1a1a1;
    }
}
#popup_reg {
	display: none;
	position: fixed;
	background-color: #fff;
	width: 770px;
	height: 415px;
	left: 50%;
	margin-left: -385px;
	border-radius: 4px;
	top: 15%;
	font-size: 24px;
	overflow: hidden;
	z-index: 99999;
	.popup_head {
		background: url(../img/patern_pop.png) #f95a52;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		text-align: left;
		h2{
			display: inline-block;
			position: relative;
			padding: 20px 45px;
			font-size: 24px;
			color: #FFF;
		}
		i {
			float: right;
			background: url(../img/close.png) no-repeat center;
			background-position: 0px 0px;
			height: 46px;
			width: 46px;
			margin: 10px 25px;
			cursor: pointer;
		}
	}
	.popup_body {
		display: inline-block;
		margin: 10px 0 0 45px;
		text-align: left;

		p { 
			margin: 30px 0px;
			white-space: pre;
			text-align: left;
			color: #8b8b8b;
		}
		span {
			font-weight: bold;
			font-size: 24px;
			
		}
		.mail_user {
			text-decoration: none;
			color: #5a84c7;
		}
	}
}
#popup_call {
		display: none;
		position: fixed;
		background-color: #fff;
		width: 465px;
		height: 136px;
		left: 50%;
		margin-left: 110px;
		border-radius: 4px;
		top: 75px;
		overflow: hidden;
		z-index: 99999;
	.popup_head_call {
		background: url(../img/patern_pop.png) #f95a52;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		text-align: left;
		h2{
			display: inline-block;
			position: relative;
			padding: 15px;
			font-size: 18px;
			color: #FFF;
			
		}
		i {
			float: right;
			background: url(../img/close.png) no-repeat center;
			background-size: cover;
			height: 30px;
			width: 30px;
			margin: 10px;
			cursor: pointer;
		}
	}
	.popup_body_cell {
		display: inline-block;
		margin: 20px 0 0 20px;
		text-align: left;
		form {
			
			input[type="text"]{
				width: 295px;
				background: #e7e7e7;
				border: none;
				padding: 10px;
				font-size: 20px;
				color: #000;
				
			}			
			input[type="submit"]{
				display: inline-block;
				background: #f95a52;
				border: none;
				color: #FFF;
				padding: 11px 15px;
				font-size: 18px;
				font-weight: bold;
				cursor: pointer;
				text-decoration: none;
				vertical-align: top;
				&:hover {opacity: 0.8 }
				&:active {
					box-shadow: inset 15px 15px 3px -12px #c74842;
					-webkit-box-shadow: inset 15px 15px 3px -12px #c74842;
					-moz-box-shadow: inset 15px 15px 3px -12px #c74842;
					-o-box-shadow: inset 15px 15px 3px -12px #c74842;
					opacity: 1;

					}
			}
		}
	}
}
.overlay {
      background: #333;
      opacity: 0.3;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 12;
}




.tooltip, .tooltip_bottom {
  position: absolute;
  display: none;
  color: #FFFFFF;
  background: #F95A52;
  text-align: center;
  padding: 5px;
  margin-top: 8px;
}
.tooltip:after, .tooltip_bottom:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #F95A52;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
