@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext,cyrillic,cyrillic-ext);

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: 100.01%;
  text-decoration: none;
}

@black: #555;
@dark-blue: #5a7098;
@white-blue: #5e7da4;
@white: #FFF;
@green: #2BA87C;
@green-btn: #5abe9d;
@btn-box-shadow: inset 18px 18px 10px -19px  rgba(0, 0, 0, 0.75);
body {
  //	background: url(../img/bg.png) #627ba4;
  background: #627ba4;
  font-family: 'PT Sans', Arial sans-serif;
  font-size: 14px;
  font-weight: normal;

}

.clearfix:before, .clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.scrollFixed {
  position: fixed;
  width: 100%;
  min-width: 1235px;
  left: 0;
  top: 0;
  z-index: 99;
}

//.errorMessage {
//	display: none !important;
//	
//}

.is_error {
  position: absolute;
  display: none;
  max-width: 400px;
  min-width: 350px;
  font-size: 12px;
  margin-top: -25px;
  margin-left: 105px;
  z-index: 1;
  color: #c55;

}

.opacity_banner {
  opacity: 0.2;
}

.wrapper_modul {
  min-width: 1350px;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  //    min-width: 780px;
  color: #FFF;
  overflow: hidden;
}

.errorMessage {
  position: absolute;
  max-width: 400px;
  min-width: 350px;
  font-size: 12px;
  margin-top: -25px;
  margin-left: 105px;
  z-index: 1;
  color: #cc5555;
}

.errors {
  display: none;
  position: absolute;
  max-width: 450px;
  min-width: 350px;
  font-size: 12px;
  margin-top: 55px;
  margin-left: 105px;
  z-index: 1;
}

input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
}

.cpa_btn {
  width: 100%;
  padding: 24px 10px;
  background-color: @green-btn;
  background-image: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
  cursor: pointer;
  color: #ffffff;
  &:hover {
    color: #FFF;
    opacity: 0.9;
  }
  &:active {
    background: @green-btn;
    color: #FFF;
    box-shadow: @btn-box-shadow;
    opacity: 1;
  }
}

.input_enter {
  width: 74%;
  padding: 28px 35px 30px 105px;
  background: url(../img/bg_gradient.png) repeat-y left,
  url(../img/sprite_reg.png) no-repeat left #fff;
  border: none;
  color: #333333;
  font-family: 'PT Sans', Arial sans-serif
}

header {
  margin: 0px;
  padding: 0px;
  .preview_stat {
    overflow: hidden;
    padding: 10px 0;
    background: @white;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    .right_stat,
    .left_stat {
      float: left;
    }
    .left_stat {
      text-align: left;
      width: 60%;
      color: @black;
    }
    .right_stat {
      text-align: right;
      width: 40%;
      color: @dark-blue;
    }
    .preview_bold {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .personal_panel {
    clear: both;
    background: @white-blue;
    .cpa_logo {
      float: left;
      width: 230px;
      padding-top: 15px;
      img {
        width: 100%;
      }
    }
    .nav {
      float: right;
      position: relative;
      list-style: none;
      height: 60px;
      li {
        float: left;
        a {
          display: block;
          position: relative;
          padding: 26px 30px 30px;
          border: none;
          border-top: 4px solid transparent;
        }
        a {
          &:hover, &.active {
            border-top-color: #3bbc8f;
            border-top: solid 4px #3bbc8f;
          }
          &:after {
            position: absolute;
            display: inline-block;
            font-size: 14px;
            top: 20px;
            left: 35px;
          }
        }
        .nav_star {
          padding-right: 103px;
          background: url(../img/svg/star.svg) 5px no-repeat;
          background-size: 25px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/star_active.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Рекомендации';
          }
          img {
            width: 25px;
            top: 11px;
            left: 5px;
            position: absolute;
          }
          &.unread {
            background: url(../img/svg/star_unread.svg) 5px no-repeat;
            &:hover, &.active {
              background-color: #FFF;
            }
          }
        }
        .nav_contract {
          padding-right: 84px;
          background: url(../img/svg/contract_active.svg) 5px no-repeat;
          background-size: 25px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/contract.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Соглашение';
          }
        }
        .nav_disallow {
          padding-right: 37px;
          background: url(../img/svg/disallow.svg) 5px no-repeat;
          background-size: 25px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/disallow_active.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'ЗВТ';
          }
        }
        .nav_api {
          padding-right: 37px;
          background: url(../img/svg/api.svg) 5px no-repeat;
          background-size: 25px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/api_active.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'API';
          }
        }
        .nav_sites {
          padding-right: 48px;
          background: url(../img/svg/sites.svg) 5px no-repeat;
          background-size: 24px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/sites_active.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Сайты';
          }
        }
        .nav_modul {
          padding-right: 57px;
          background: url(../img/svg/server_active.svg) 5px no-repeat;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/server.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Модули';
          }
        }
        .nav_docs {
          padding-right: 78px;
          background: url(../img/svg/google_active.svg) 5px no-repeat;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/google.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Статистика';
          }
        }
        .nav_gear {
          padding-right: 76px;
          background: url(../img/svg/gear_active.svg) 5px no-repeat;
          background-size: 25px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/gear.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Настройки';
          }
        }
        .nav_exit {
          padding-right: 50px;
          background: url(../img/svg/exit_active.svg) 5px no-repeat;
          background-size: 25px !important;
          color: #afbed2;
          &:hover, &.active {
            background: url(../img/svg/exit.svg) #FFF 5px no-repeat;
            color: #456387;
          }
          &:after {
            content: 'Выход';
          }
        }
      }
    }
  }
}

.personal_menu {
  display: block;
  overflow: hidden;
  background: @dark-blue;
  width: 100%;
  .userInfo {
    float: left;
    position: relative;
    font-size: 14px;
    padding: 11px 30px;
    &:before {
      content: "";
      position: absolute;
      background: url(../img/svg/user185.svg) center no-repeat;
      width: 18px;
      height: 18px;
      left: 0px;
    }
    a {
      color: #FFF;
      margin-right: 15px;
      border-bottom: 1px solid #FFF;
      &:hover {
        border-bottom: none;
      }
    }
    .userEmail {
      margin: 0 10px;
      font-size: 12px;
    }

  }
  .gotoUser {
    float: right;
    background: #46597c;
    .select2-selection.select2-selection--single {
      margin-bottom: 9px;
    }
    .select2.select2-container.select2-container--default {
      padding-left: 5px;
    }
    form {
      select {
        padding: 0 20px;
        color: #FFF;
        background: #46597c;
        border: none;
        cursor: pointer;
      }
      input[name="gouserback"] {
        background: url(../img/svg/user185_back.svg) center right 15px no-repeat #46597c;
        color: #FFF;
        padding: 12px 45px 12px 15px;
        border: none;
        cursor: pointer;
        &:hover {
          background: url(../img/svg/user185.svg) center right 15px no-repeat #a3acbe;
        }
      }
      input[name="gouser"] {
        background: url(../img/svg/iris.svg) center no-repeat #46597c;
        color: #FFF;
        padding: 12px 30px;
        border: none;
        cursor: pointer;
        border-left: 1px solid #6b7a96;
        &:hover {
          background: url(../img/svg/iris_hover.svg) center no-repeat #46597c;
        }

      }
    }
  }
}

.menu {
  display: block;
  background-color: @white;
  .menu_left {
    float: left;
    list-style: none;
    height: 100%;
    li {
      float: left;
      a {
        display: block;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        font-size: 14px;
        font-weight: 700;
        color: @black;
        &:hover, &.active {
          color: @green;
          border-bottom: 4px solid @green;
        }
      }
    }
  }
  #touch-menu-status {
    display: none;
  }
}

footer {
  display: block;
  position: relative;
  padding: 40px 0;
  font-size: 12px;
  color: #8fa5cd;
  text-align: left;
  a {
    font-weight: bold;
    font-size: 18px;
    color: #8fa5cd;
  }
  p {
    width: 80%;
    margin: 10px 0;
    color: #8fa5cd;
    font-weight: bold;
    font-size: 12px;
    &:last-child {
      color: #FFF;
    }
  }
  span {
    color: #ffffff;
    strong {
      font-size: 16px;
    }
  }

  .btn_support {
    float: right;
    display: inline-block;
    padding: 10px 35px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

/***************Support & Enter & Register & Popup******************/

.form_header {
  display: block;
  text-align: center;
  position: relative;
  margin: 100px 0 30px 0px;
}

.form_content {
  display: inline-block;
  width: 100%;
  max-width: 900px;
  min-width: 700px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  #touch-menu-content {
    display: none;
  }
  .cpa_form_enter {
    float: left;
    width: 60%;
    min-width: 420px;
    max-width: 540px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    input {
      .input_enter;
      &[name="LoginForm[username]"] {
        border-bottom: 1px solid #e0e4ed;
        background-position: 0 -225px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[name="LoginForm[password]"] {
        background-position: 0 -45px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[type="submit"] {
        .cpa_btn;
      }
    }
  }
  .cpa_sidebar {
    float: right;
    width: 35%;
    margin-top: 35px;
    list-style: none;
    li {
      padding: 5px 0;
      a {
        display: inline-block;
        padding: 10px 35px;
        color: #ffffff;
        &:hover, &.active {
          background-color: rgba(0, 0, 0, 0.1);
        }

      }
    }
  }
  .cpa_form_support {
    float: left;
    width: 60%;
    min-width: 420px;
    max-width: 540px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .preview_text {
      display: block;
      position: absolute;
      max-width: 450px;
      min-width: 350px;
      font-size: 12px;
      margin-top: 165px;
      margin-left: 105px;
      color: #bfbfbf;
      z-index: 1;
    }
    input, textarea {
      .input_enter;
      display: block;
      position: relative;
      &[name="SupportForm[name]"] {
        background-position: 0 -165px;
      }
      &[name="SupportForm[phone]"] {
        border-bottom: 1px solid #e0e4ed;
        border-top: 1px solid #e0e4ed;
        background-position: 0 -105px;
      }
      &[name="SupportForm[message]"] {
        overflow: hidden;
        padding-top: 45px;
        padding-bottom: 5px;
        margin-bottom: -5px;
        background-position: 0 -350px;
      }
      &[name="SupportForm[message]"]:focus, &[name="SupportForm[phone]"]:focus, &[name="SupportForm[name]"]:focus {
        opacity: 0.9;
      }
      &[type="submit"] {
        .cpa_btn;
      }
    }
  }
  .cpa_form_register {
    float: left;
    position: relative;
    width: 60%;
    min-width: 420px;
    max-width: 540px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    .preview_text {
      display: block;
      position: absolute;
      max-width: 450px;
      min-width: 350px;
      margin-left: 105px;
      margin-top: -25px;
      font-size: 12px;
      color: #999999;
    }
    .checkbox {
      width: 74%;
      padding: 28px 35px 30px 105px;
      background: url(../img/bg_gradient.png) #fff repeat-y left;
      border: none;
      color: #999999;
      border-top: 1px solid #e0e4ed;
      input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        &[type="checkbox"] + label {
          display: block;
          height: 23px;
          background: url(../img/chek.png) 0 -25px no-repeat;
          padding-left: 80px;
          margin-left: -83px;
          border: none;
          cursor: pointer;
          color: #333;
          font-size: 14px;
          a {
            color: #738bae
          }
        }
        &[type="checkbox"]:checked + label {
          background-position: 0 0;
        }
      }
    }
    input {
      position: relative;
      .input_enter;
      &[name="MbUser[fio]"] {
        background-position: 0 -165px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[name="MbUser[email]"] {
        border-top: 1px solid #e0e4ed;
        background-position: 0 -225px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[name="MbUser[password]"] {
        border-top: 1px solid #e0e4ed;
        background-position: 0 19px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[name="MbUser[verifyPassword]"] {
        border-top: 1px solid #e0e4ed;
        background-position: 0 -42px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[name="Partner[payment_number]"] {
        padding: 39px 35px 30px 105px;
        border-top: 1px solid #e0e4ed;
        background-position: 0 -283px;
        color: #999;
        &:focus {
          color: #333;
          opacity: 0.9;
        }
      }
      &[name="MbUser[telephone]"] {
        border-top: 1px solid #e0e4ed;
        background-position: 0 -105px;
        &:focus {
          opacity: 0.9;
        }
      }
      &[type="submit"] {
        .cpa_btn;
      }
    }
    select {
      position: absolute;
      margin-left: 73px;
      margin-top: 1px;
      padding: 2px 277px 0px 27px;
      background: transparent;
      border: none;
      color: #999999;
      font-weight: bold;
      border-bottom: 1px solid #e0e4ed;
      z-index: 1;
      cursor: pointer;
      option {
        background: #f8faff;
        &:hover {
          background-color: #FFF;
        }
      }
    }
  }
}

#popup_reg {
  display: none;
  position: fixed;
  background-color: #fff;
  margin: 0 auto;
  width: 825px;
  height: 97%;
  border-radius: 3px;
  top: 2%;
  box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
  z-index: 15;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  overflow: hidden;
  z-index: 99999;

  .popup_head {
    background: #f6f8fe;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    h2 {
      display: inline-block;
      position: relative;
      padding: 15px;
      font-size: 20px;
      font-weight: bold;
      color: rgb(51, 51, 51);
    }
    i {
      float: right;
      background: url(../img/close.png) no-repeat center;
      background-position: 0px 0px;
      height: 30px;
      width: 28px;
      margin: 12px;
      cursor: pointer;
    }
  }
  .popup_body {
    height: 90%;
    overflow: auto;
    h2 {
      margin: 0 20px;
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      margin: 20px 20px;
    }
    span {
      font-weight: bold;
    }
    ul {
      margin: 20px 20px;
      list-style: none;
      li {
        margin: 20px 0;
      }
    }
  }
}

.overlay, .overlay_popup, .overlay_agreement {
  background: #333;
  opacity: 0.3;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
}

/**************Data-building*************/

.building {
  display: block;
  background-color: @green;
  #touch-menu-times {
    display: none;
  }
  .sort_times {
    float: left;
    list-style: none;
    li {
      float: left;
      display: block;
      a {
        display: block;
        padding: 20px 10px;
        color: #FFF;
        text-decoration: none;
        &:hover, &.active {
          background: @white;
          color: @green;
        }
      }
    }
  }
  form {
    float: right;
    margin-top: 8px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    input {
      width: 100px;
      padding: 10px 0 13px 25px;
      border: none;
      &[type="submit"] {
        padding: 13px 10px;
        border: none;
        background: #FFFFFF;
        color: #2BA87C;
        font-weight: 700;
        cursor: pointer;
        border-left: 1px solid #E5E8EA;
        &:hover {
          background: @green-btn;
          color: #FFF;
          opacity: 0.8;
        }
        &:active {
          background: @green-btn;
          color: #FFF;
          box-shadow: @btn-box-shadow;
          opacity: 1;
        }
      }
    }
    label {
      display: inline-block;
      background: #f3f3f3;
      padding: 12px 22px;
      font-family: 'PT Sans', sans-serif;
      font-weight: 700;
      color: #545454;
      &[for="date_2"] {
        border-left: 1px solid #c1c1c1;
        padding: 12px 18px;
      }
    }
  }
}

/**************header__showing***************/
.header__showing {
  max-width: 1300px;
  width: 100%;
  margin: 0px auto;
  padding: 10px 0;
  .header__upload {
    float: left;
    button {
      padding: 10px 7px 10px 32px;
      position: relative;
      border: 1px solid #cdcdcd;
      cursor: pointer;
      background: #FFF;
      font-size: 14px;
      color: @dark-blue;
      font-family: 'PT Sans', sans-serif;
      &:hover {
        background: #6279a4;
        color: #FFF;
      }
      &:active {
        background: #6279a4;
        color: #FFF;
        box-shadow: @btn-box-shadow;

      }
      &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 10px;
        width: 16px;
        height: 16px;
        display: block;
        background: url(../img/svg/microsoft-excel.svg) center no-repeat;

      }
      &:hover:after {
        background: url(../img/svg/microsoft_active.svg) center no-repeat;
      }
    }
  }
  .showing {
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    font-family: 'PT Sans', sans-serif;
    select {
      padding: 5px;
      border: 1px solid #cdcdcd;
      cursor: pointer;
    }
    span {
      margin-right: 5px;
      font-size: 14px;
      color: #666666;

    }
  }
  .menu_right {
    float: right;
    position: relative;
    list-style: none;
    form {
      display: block;
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      border: 1px solid #d0d7e4;
      border-radius: 3px;
      .menu_search, #filter {
        position: relative;
        background: #FFF;
        width: 400px;
        padding: 13px 10px;
        font-style: italic;
        border: none;
      }
      label {
        float: right;
        position: relative;
        padding: 21px 30px;
        background: url(../img/svg/search24.svg) center no-repeat #FFF;
        cursor: pointer;
      }
    }
  }
}

/*******************TABS******************/

.groop-table {
  display: block;
  position: relative;
  padding-bottom: 30px;
  background: url(../img/back_table.png);
  .cpa_table {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto 10px;
    border: 0;
    border-collapse: collapse;
    color: #333333;
    thead {
      background: @white-blue;
      color: rgba(255, 255, 255, 0.5);
      text-align: center;
      th {
        border: none;
        a {
          display: block;
          position: relative;
          padding: 10px 5px;
          color: rgba(255, 255, 255, 0.5);
          font-size: 14px;
          font-weight: normal;
          text-transform: uppercase;
          &:hover {
            background: @dark-blue;
            color: #fff;
          }
        }
        span {
          display: inline-block;
          position: relative;
          color: rgba(255, 255, 255, 0.5);
          font-size: 13px;
          padding: 0 5px;
          font-weight: normal;
          text-transform: uppercase;
        }
        .asc, .desc {
          background: @dark-blue;
          color: #fff;
          &:after {
            content: "";
            position: absolute;
            bottom: -16px;
            left: 50%;
            margin-left: -10px;
            border: 10px solid transparent;
            border-top: 10px solid @dark-blue;
          }
        }
      }
    }
    tbody {
      background: #fff;
      text-align: left;
      tr:nth-child(2n) {
        background: #f5f5f5;
      }
      td {
        position: relative;
        padding: 10px 5px;
        font-size: 13px;
        color: #333333;
        &.price {
          span {

            &:after {
              content: 'Р';
              position: absolute;
              font-size: 10px;
              top: 5px;
              margin-left: 2px;
            }
          }

        }
        &.no_services {
          color: #bababa
        }
      }
    }
  }
}

/***************Pagination****************/

.pagination {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  .hidden {
    display: none;
  }
  ul {
    display: inline-block;
    background: #f2f2f2;
    list-style: none;
    li {
      position: relative;
      float: left;
      &:hover {
        background: #e6e6e6;
      }
      a {
        display: block;
        padding: 23px 26px;
        border-right: 1px solid #e6e6e6;
        color: #555555;
        font: 700 18px Arial;
      }
      &.selected {
        background: @green;
        color: #ffffff;
        &:hover {
          background: @green;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 63px;
          left: 50%;
          margin-left: -10px;
          border: 10px solid transparent;
          border-bottom: 10px solid @green;
        }
        a {
          color: #FFF;
        }
      }
    }
  }
}

/******************Setting****************/
.setting {
  background: #5a7098;
  height: 700px;
  h3 {
    display: inline-block;
    font-size: 18px;
    margin-top: 160px;
    font-weight: 400;
  }
  .setting_bar {
    display: block;
    position: relative;
    width: 645px;
    margin: auto;
    margin-top: 45px;
    list-style: none;
    .norm {
      display: block;
      position: relative;
      margin-top: 5px;
      width: 645px;
      height: 65px;
      &:hover {
        background: url(../img/edit.png) no-repeat right 38px center #6279a4;
      }
      &:nth-child(3):hover {
        background: #6279a4
      }
      span {
        display: block;
        position: relative;
        width: 450px;
        margin-left: 25px;
        color: rgba(255, 255, 255, 0.2);
        font-size: 12px;
        margin-top: -8px;
      }
      input {
        padding: 15px 25px 10px 25px;
        width: 360px;
        background: rgba(0, 0, 0, 0.0);
        border: none;
        color: #fff;
        font-size: 18px;
        font-family: 'PT Sans', Arial sans-serif
      }
      a {
        float: right;
        padding: 22px 16px;
        color: rgba(0, 0, 0, 0.0);
        &:hover {
          background: url(../img/edit_hover.png) no-repeat center;
        }
      }

    }
    .active {
      display: block;
      position: relative;
      overflow: hidden;
      width: 645px;
      height: 65px;
      margin-top: 5px;
      background: url(../img/bg_gradient.png) repeat-y left,
      url(../img/sprite_reg.png) no-repeat left #fff;
      border: none;
      color: #333333;
      font-weight: bold;
      box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
      &:first-child {
        background-position: 0 -175px;
      }
      &:nth-child(2) {
        background-position: 0 -235px;
      }
      &:nth-child(3) {
        background-position: 0 -112px;
      }
      &:nth-child(4) {
        background-position: 0 -296px;
      }
      &:last-child {
        background-position: 0 -50px;
      }
      span {
        display: inline-block;
        position: relative;
        margin-left: 90px;
        color: #bfbfbf;
        font-size: 12px;
        font-weight: normal;
      }
      input {
        display: inline-block;
        padding: 15px 10px 0px 90px;
        width: 360px;
        background: rgba(0, 0, 0, 0.0);
        border: none;
        color: #000;
        font-size: 18px;
        font-weight: bold;
      }
      a {
        display: inline-block;
        float: right;
        padding: 20px 30px;
        background-color: @green-btn;
        background-image: none;
        color: #ffffff;
        font-size: 21px;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
        cursor: pointer;
        color: #ffffff;
        &:hover {
          background: @green-btn;
          color: #FFF;
          opacity: 0.8;
        }
        &:active {
          background: @green-btn;
          color: #FFF;
          box-shadow: @btn-box-shadow;
          opacity: 1;
        }
      }

    }

  }
}

/***************Modules****************/

.nav_modules {
  background: #FFF;
  border-bottom: 1px solid #d9d9d9;
  .nav_modules_wrap {
    margin: 0 auto;
    max-width: 1035px;
    min-width: 780px;
  }

  .menu_modules, .menu_modules_2 {
    position: relative;
    list-style: none;
    li {
      height: 55px;
      border-bottom: 5px solid transparent;
      display: table-cell;
      width: 94px;
      box-sizing: border-box;
      vertical-align: middle;

      //			&:nth-child(1){width: 14%;}
      //			&:nth-child(2){width: 14%;}
      //			&:nth-child(3){width: 14%;}
      &:hover, &.active {
        border-bottom-color: #5abe9d;
        background: #FFF;
        //				box-shadow: 0px 3px 15px 0px rgba(201, 201, 201, 0.75);
        a {
          color: #5abe9d;
        }
      }
      a {
        display: table-cell;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        color: #5a7098;
        width: 100%;
        height: 100%;
        padding: 10px 15px;
      }
    }
  }
  .menu_modules_2 {
    li {
      width: 20%;
    }
  }
}

.modul {
  background: #f4f8fb;
  .wrapper_mod, .wrapper_mod_4, .wrapper_mod_7, .wrapper_mod_11, .wrapper_mod_all, .wrapper_mod_9 {
    margin: 0 auto;
    max-width: 1335px;
    min-width: 900px;
    position: relative;
    .modules {
      float: left;
      position: relative;
      width: 260px;
      height: 335px;
      margin: 30px 15px 30px 30px;
      background: #FFF;
      border: 1px solid #efefef;
      border-radius: 3px;
      h2 {
        display: block;
        margin: 15px 15px 0px 15px;
        color: #5a7098;
        font-size: 18px;
        font-weight: bold;
      }
      span {
        display: block;
        color: #5a7098;
        font-size: 14px;
        margin: 0 15px 20px;
      }
      img {
        display: block;
        height: 100px;
        width: 135px;
        margin: 0 auto;
      }
      p {
        margin: 35px 25px 15px;
        color: #555;
        font-size: 12px;
        max-height: 45px;
        overflow: hidden;
      }
      .modules_btn_wrapper {
        display: block;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        a {
          display: inline-block;
          margin: 15px 0;
          padding: 7px 25px;
          border-radius: 5px;
          background-color: #5abe9d;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }

        }
      }
      &:hover {
        box-shadow: -6px -8px 29.4px 0.6px rgba(2, 3, 4, 0.2);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
      }
    }

    .btn_support {
      display: inline-block;
      margin: 15px 1px;
      padding: 15px 63px;
      font-size: 20px;
      color: #ffffff;
      background: #6279a4;
      &:hover {
        opacity: 0.9;
      }
    }
    .modul_preview, .modul_preview_11 {
      display: block;
      width: 1090px;
      margin: 50px auto;
      background: #FFF;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      .browser_preview {
        background: #fff;
        img {
          width: 100%;
        }
        .site_preview {
          margin: 20px 60px;
          img {
            display: block;
            margin: 20px 0;
          }
        }
      }
    }
    .modul_preview_11 {
      width: 1220px;
    }
  }
  .wrapper_mod_all {
    min-width: 780px;
    max-width: 1235px;
  }
  .wrapper_mod_4 {
    max-width: 1450px;
    .modul_preview {
      width: 1350px;

    }
    .browser-wrapper {
      overflow: hidden;
      .content_browser {
        padding: 0 0 100px 10px;
        display: inline-block;
      }
    }
    #moduleSidebar {
      float: left;
    }
    #medbooking-doctor {
      float: left;
      width: 1090px;

    }
  }
  .content_browser_wrapper {
    text-align: center;
    .content_browser {
      display: inline-block;
    }
  }
  .wrapper_mod_7 {
    .content_browser {
      padding: 30px 0;
    }
  }
  .wrapper_mod_9 {
    .content_browser {
      display: inline-block;
      position: relative;
      padding-bottom: 80px;
      .medbooking-minimized {
        position: absolute;
      }
    }
  }
  .js_form_modul {
    border: 1px solid #d9d9d9;
    border-top: none;
    box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.1);
    background: #fbfbfb;
    .form_modul {
      width: 100%;
      .form_modul_preview, .form_modul_preview_7, .form_modul_preview_8, .form_modul_preview_11 {
        float: left;
        width: 405px;
        padding-bottom: 10px;
        //                    h2 {
        //                        display: inline-block;
        //                        margin: 5px 0 0 20px;
        //                        color: #333;
        //                        font-size: 18px;
        //                        font-weight: bold;
        //                    }
        p {
          margin: 15px 5px;
          font-size: 12px;
          color: #767676;

        }
        input[type="button"] {
          padding: 9px 35px;
          border-radius: 3px;
          border: none;
          background-color: #5abe9d;
          color: #fff;
          font-size: 16px;
          font-weight: 700;
          text-shadow: 0 1px 1px rgba(156, 186, 108, .75);
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
        }
      }
      .btn_opacity {
        opacity: 0.5 !important;
        cursor: default !important;
      }
      .form_modul_preview_7 {
        width: 330px;
      }
      .form_modul_preview_11 {
        width: 500px;
      }
      .form_modul_preview_8 {
        input[type="button"] {
          -webkit-appearance: none;
        }
      }

      i {
        display: block;
        border-top: 1px solid #d9d9d9;
      }
      .form_setting {
        float: right;
        background: #f8f8f8;
        border-left: 1px solid #e4e4e4;
        .vh {
          visibility: hidden;
        }

        .form_design {
          display: inline-block;
          position: relative;
          border: none;
          h3 {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 14px;
            color: #6e6e6e;
            font-weight: bold;

          }
          h2 {
            display: inline-block;
            color: #333;
            font-size: 18px;
            font-weight: bold;
          }

        }
        .form_size, .form_size_2, .form_size_4, .form_size_6, .form_size_7, .form_size_top, .form_size_11 {
          width: 205px;
          display: inline-block;
          position: relative;
          margin-left: 15px;
          margin-top: 5px;
          border: none;
          h2 {
            display: inline-block;
            color: #333;
            font-size: 18px;
            font-weight: bold;
          }
          h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            font-size: 14px;
            color: #6e6e6e;
            font-weight: bold;
          }
          select {
            display: inline-block;
            box-sizing: border-box;
            padding: 5px 10px;
            height: 30px;
            width: 168px;
            border: 1px solid #e4e4e4;
            color: #333;
            cursor: pointer;
            background: #F8F8F8;
            option {
              background: #F8F8F8;
            }
          }
          label[for="menu"] {
            display: inline-block;
            box-sizing: border-box;
            height: 30px;
            padding: 5px 9px;
            border: 1px solid #e4e4e4;
            border-left: none;
            background: #f4f4f4;
            color: #b4b4b4;
            font-size: 13.5px;
          }
          input[type="button"] {
            margin-top: 35px;
            padding: 9px 35px;
            border-radius: 3px;
            border: none;
            background-color: #5abe9d;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            text-shadow: 0 1px 1px rgba(156, 186, 108, .75);
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }
          }
          .color_picker {
            height: 30px;
          }
          .bold, .italic, .underline {
            display: inline-block;
            padding: 7px;
            color: #b2b2b2;
            font-size: 14px;
            font-family: Arial sans-serif;
            cursor: pointer;
            &.bold {
              font-weight: bold;
            }
            &.italic {
              font-style: italic;
            }
            &.underline {
              text-decoration: underline;
            }
            &.active {
              color: #FFF;
              background: #5A7098;
              font-weight: bold;
            }
          }
          input[type="radio"] {
            position: absolute;
            display: inline-block;
            left: -9999px;
            &[type="radio"] + label {
              display: inline-block;
              margin: 6px 0;
              padding-left: 27px;
              background: url(../img/chek.png) 0 -69px no-repeat;
              border: none;
              cursor: pointer;
              color: #818181;
              font-size: 14px;
            }
            &[type="radio"]:checked + label {
              background-position: 0 -50px;
            }
          }
          input[type="checkbox"] {
            position: absolute;
            left: -9999px;
            &[type="checkbox"] + label {
              display: inline-block;
              padding-left: 30px;
              margin: 10px 0px;
              background: url(../img/chek.png) 0 -130px no-repeat;
              border: none;
              cursor: pointer;
              color: #4d4d4d;
              font-size: 16px;
            }
            &[type="checkbox"]:checked + label {
              background-position: 0 -88px;
            }
          }
          input[type="text"] {
            border: 1px solid #e4e4e4;
            font-family: 'PT Sans', sans-serif;
            padding: 5px;
            width: 193px;
            background: #F8F8F8;
          }
          #err-site-folder {
            display: none;
            position: absolute;
            background: #CD7163;
            width: 260px;
            color: #fff;
            text-align: center;
            font-style: italic;
            font-size: 12px;
          }
          #js-site-folder {
            width: 203px;
          }
          #limitSlider_slider {
            width: 155px;
            margin-left: 8px;
            border: 1px solid #e4e4e4;
            margin: 10px 0;
            .ui-slider-range-max {
              background: #FFF;

            }
            .ui-state-default {
              background: #5a7098;
              border: 1px solid #e4e4e4;
              cursor: pointer;
            }
          }
          .slider {
            h3 {
              display: inline-block;
            }
            input {
              display: inline-block;
              color: #000;
              width: 20px;
              font-weight: bold;
              border: none;
              background: transparent;
            }
            #slider-range-max {
              width: 155px;
              margin-left: 8px;
              border: 1px solid #e4e4e4;
              margin: 10px 0;
              .ui-slider-range-max {
                background: #FFF;

              }
              .ui-state-default {
                background: #5a7098;
                border: 1px solid #e4e4e4;
                cursor: pointer;
              }

            }
          }
          .chosen-container {
            input {
              width: 155px;
            }
            .chosen-single {
              position: relative;
              width: 203px;
              height: 30px;
              border: 1px solid #e4e4e4;
              padding: 2px 0 0 8px;
              box-shadow: none;
              background: #F8F8F8;
              border-radius: 0px;
              div {
                width: 35px;
                background: url(../img/svg/male100.svg) center no-repeat #f4f4f4;
                border-left: 1px solid #e4e4e4;
                &:after {
                  content: '';
                  position: absolute;
                  border: 3px solid transparent;
                  border-top: 6px solid black;
                  top: 13px;
                  right: 40px;
                }
              }
            }
            .chosen-drop {
              border: 1px solid #e4e4e4;
              border-radius: 0px;
              box-shadow: none;
            }
            .chosen-container-active.chosen-with-drop .chosen-single {
              height: 30px;
              border: 1px solid #e4e4e4;
              padding: 2px 0 0 8px;
              box-shadow: none;
              background: #fbfbfb;
              border-radius: 0px;
            }
          }
        }
        .form_size_top {
          vertical-align: top;
        }
        .form_size_11 {
          width: 280px;
          padding-left: 50px;
          height: 140px;
        }
        .form_size_2 {
          width: 300px;
          margin: 0 40px;
          height: 230px;
          sup {
            color: red;
          }
          p {
            margin-top: 20px;
            font-size: 12px;
            color: #767676;
            span {
              font-size: 16px;
              font-weight: bold;
              color: @black;
            }
          }
          input[type="text"] {
            width: 260px !important;
            background: #FFF;
          }
        }
        .form_size_7 {
          vertical-align: top;
          width: 300px;
          .chosen-container {
            .chosen-single {
              width: 295px;
            }
          }
          .chosen-drop {
            width: 260px;
            .chosen-results {
              li {
                padding: 5px;
              }
            }
          }
          input[type="text"] {
            width: 245px;
          }
          .type_diagnostics {
            .chosen-container {
              .chosen-single {
                div {
                  background: url(../img/svg/electrocard.svg) center no-repeat #f4f4f4;
                }
              }
            }
          }
          .services_diagnostics {
            .chosen-container {
              .chosen-single {
                div {
                  background: url(../img/svg/list45.svg) center no-repeat #f4f4f4;
                }
              }
            }
          }
        }
        .form_size_6 {
          top: -28px;

        }
        .form_size_4 {
          width: 255px;
        }
        .form_color {
          display: inline-block;
          position: relative;
          border: none;
          color: #b6b6b6;
          font-size: 14px;
          margin: 0px 50px;
          h3 {
            margin-top: 20px;
            margin-bottom: 5px;
            color: #6e6e6e;
            font-weight: 700;
          }
        }
        .form_tool, .form_tool_8, .form_tool_6, .form_tool_1, .form_tool_2, .form_tool_4, .form_tool_7, .form_tool_9, .form_tool_15 {
          float: right;
          height: 205px;
          width: 450px;
          border: none;
          //                        background: #f8f8f8;
          //                        border-left: 1px solid #e4e4e4;
          input[type="checkbox"] {
            position: absolute;
            left: -9999px;
            &[type="checkbox"] + label {
              display: inline-block;
              padding-left: 30px;
              margin: 30px 25px;
              background: url(../img/chek.png) 0 -130px no-repeat;
              border: none;
              cursor: pointer;
              color: #4d4d4d;
              font-size: 16px;
            }
            &[type="checkbox"]:checked + label {
              background-position: 0 -88px;
            }
          }
          .text_click {
            display: block;
            font-size: 12px;
            color: #a6a6a6;
            text-align: center;
            padding: 0 50px;
          }
        }
        .form_tool_8 {
          width: 259px;
          input[type="checkbox"] {
            &[type="checkbox"] + label {
              margin: 13px 25px 0px 25px;
            }
          }
          .text_click {
            padding: 20px 23px;
          }
        }
        .form_tool_15 {
          width: 259px;
          height: 160px;
          input[type="checkbox"] {
            &[type="checkbox"] + label {
              margin: 13px 25px 0px 25px;
            }
          }
        }
        .form_tool_2 {
          width: 259px;
          input[type="checkbox"] {
            &[type="checkbox"] + label {
              margin: 30px 25px 0;
            }
          }
          .text_click {
            padding: 20px 23px;
          }
        }
        .form_tool_7 {
          height: 160px;
          width: 400px;
          input[type="checkbox"] {
            &[type="checkbox"] + label {
              margin: 20px 15px;
            }
          }
          .text_click {
            padding: 20px 15px;
          }

        }
        .form_tool_1 {
          height: 160px;
        }
        .form_tool_4 {
          height: 180px;
        }
        .form_tool_6 {
          width: 259px;
          input[type="checkbox"] {
            &[type="checkbox"] + label {
              margin: 40px 25px 0;
            }
          }
          .text_click {
            padding: 30px 23px;
          }
        }
        .form_tool_9 {
          height: 160px;
          input[type="checkbox"] {
            &[type="checkbox"] + label {
              margin: 47px 25px;
            }
          }
        }
      }
    }
  }
}

#picker_back, #picker_text {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 70px;
  height: 20px;
  border-right: 20px solid #bad478;
  color: #a2a2a2;
  background: #fbfbfb;
}

#picker_text {
  border-right: 20px solid #FFF;
}

label[for="picker_text"], label[for="picker_back"] {
  display: inline-block;
  position: absolute;
  border: 1px solid #e4e4e4;
  height: 19px;
  width: 20px;
  margin-left: -21px;
  border-radius: 2px;
  cursor: pointer;

}

.mbTable__popup {
  position: fixed;
  left: 50%;
  top: 20%;
  margin-left: -250px;
  z-index: 999;
  .cpa_sidebar {
    display: none;
  }
  .close_support {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    width: 25px;
    height: 25px;
    background: url(../img/svg/cross.svg) no-repeat;
    cursor: pointer;
    z-index: 3;
  }
  .form_content {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    max-width: 100%;
    min-width: 100%;
    form {
      display: block;
      width: 500px;
      position: relative;
      input, textarea {
        width: 500px;
        padding: 28px 35px 30px 105px;
        box-sizing: border-box;
        &[type="submit"]:focus,
        &[type="submit"]:hover,
        &[name="SupportForm[message]"]:focus,
        &[name="SupportForm[phone]"]:focus,
        &[name="SupportForm[name]"]:focus {
          opacity: 1;
        }
        &[name="SupportForm[message]"] {
          min-height: 95px;
        }
      }
    }
  }
}

.success_popup {
  position: fixed;
  left: 50%;
  top: 30%;
  padding: 24px 20px;
  margin-left: -125px;
  z-index: 99999;
  width: 250px;
  background: #5abe9d;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

#popup_mod, #popup_mod_2 {
  display: none;
  position: fixed;
  width: 755px;
  margin-left: 50%;
  left: -377px;
  top: 10%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
  z-index: 99999;
  .popup_head_mod {
    background: #6279a4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFF;
    h2 {
      display: inline-block;
      position: relative;
      margin: 10px 0 0px 20px;
      font-size: 18px;
      font-weight: bold;
    }
    span {
      display: block;
      margin: 0 20px;
      padding-bottom: 10px;
    }
    i {
      float: right;
      background: url(../img/close.png) no-repeat center;
      background-position: 0px -28px;
      height: 30px;
      width: 28px;
      margin: 15px;
      cursor: pointer;
    }
  }
  .popup_body-mod {
    form {
      .code_msg {
        margin: 15px;
        padding: 10px 15px;
        min-height: 100px;
        max-height: 500px;
        overflow: auto;
        border: none;
        background: #FFF;
        border: 1px solid #ccc;
        cursor: text;
        color: #000;
        line-height: 1.5em;
        font-size: 16px;
      }
      input[type="button"] {
        float: right;
        margin: 15px;
        padding: 10px 35px;
        border-radius: 3px;
        border: none;
        background-color: #5abe9d;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 0px 1px 1px rgba(156, 186, 108, 0.75);
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

#popup_mod_2 {

}

.code_msg_script_inner {
  padding-left: 15px;
}

.btn_copy {
  opacity: 0.75;
  cursor: default !important;
}

/*************************Browzer****************************/

.browser-wrapper {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 4px 35px -10px rgba(0, 0, 0, 0.7);
  border: 1px solid #c6c6c6;
  font-family: 'Lucida Grande', 'helvetica Neue', 'helvetica', 'arial', 'sans-serif';
  font-size: 12px;
  line-height: 1em;
}

.row {
  clear: both;
  padding: 0.8em;
  background-color: lightGrey;
}

.row.small {
  padding: 0.5em;
  float: left;
  width: 100%;
  padding-bottom: 0;
}

.row.flex {
  display: flex;
}

.row.active {
  background-color: #f1f1f1;
}

.circle {
  width: 1em;
  height: 1em;
  background-color: blue;
  margin: 0.5em 0.5em 0 0.5em;
  float: left;
  border-radius: 50%;
  box-shadow: inset 1px 2px 5px -2px rgba(0, 0, 0, 0.3);
}

.close {
  background-image: radial-gradient(100% 100%, #ff6047 0%, #eb4932 50%, #9e2a00 100%);
  box-shadow: inset 1px 2px 5px -2px #941111;
}

.minify {
  background-image: radial-gradient(100% 100%, #ffd240 0%, #ebc548 50%, #e88700 100%);
  box-shadow: inset 1px 2px 3px #f59611;
}

.zoom {
  background-image: radial-gradient(100% 100%, #b3d952 0%, #97cf73 50%, #75ad57 100%);
  box-shadow: inset 1px 2px 5px -2px #577A3C;
}

.tab {
  font-size: 0.8em;
  border-bottom: 2em solid #F1F1F1;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  height: 0;
  float: left;
  margin-left: 0.5em;
  padding: 0 0.5em;
  margin-top: 0.5em;
  line-height: 2em;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  color: #333;
}

.button {
  width: 1.2em;
  height: 1.2em;
  margin: 0 1em 0 0;
  flex: none;
  position: relative;
}

.button.reload-button {
  border-radius: 50%;
  border: 0.3em solid grey;
  background-color: transparent;
  position: relative;
}

.button.forward, .button.back {
  width: 1.2em;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid grey;
  position: absolute;
  right: -0.6em;
  top: 1px;
  padding: 0px;
  background-color: #F1F1F1;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.top-block, .bottom-block, .straight-block {
  height: 0.3em;
  width: 1em;
  background-color: grey;
  border-radius: 0.5em;
  position: absolute;
  top: -2px;
  right: 0;
  -webkit-transform: rotate(50deg);
  -webkit-transform-origin: center bottom;
  -moz-transform: rotate(50deg);
  -moz-transform-origin: center bottom;
  transform: rotate(50deg);
  transform-origin: center bottom;
}

.bottom-block {
  -webkit-transform: rotate(-50deg);
  -webkit-transform-origin: center top;
  -moz-transform: rotate(-50deg);
  -moz-transform-origin: center top;
  transform: rotate(-50deg);
  transform-origin: center top;
  top: 0.5em;
}

.straight-block {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  top: 0.15em;
  left: 0;
  width: 1em;
  height: 0.33em;
}

.back.button .top-block {
  top: 0.5em;
  left: 0;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

.back.button .bottom-block {
  top: -2px;
  left: 0;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  transform-origin: center bottom;
}

.back.button .straight-block {
  right: -1px;
  left: auto;
}

.button.forward, .button.back {
  margin-top: 0.8em;
}

.button.reload-button {
  margin-top: 0.3em;
}

.address-bar {
  background-color: white;
  flex-grow: 1;
  border: 1px solid lightGrey;
  box-shadow: inset 1px 2px 5px -2px rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  line-height: 1.8em;
}

.favicon {
  width: 0.8em;
  height: 1em;
  background-color: lightGrey;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  margin-right: 0.2em;
}

.sandwich-button {
  width: 2.5em;
  padding-left: 1em;
  padding-top: 0.2em;
}

.sandwich-line {
  height: 0.3em;
  width: 100%;
  background-color: grey;
  margin-bottom: 0.25em;
  border-radius: 0.25em;
}

.sandwich-line:last-child {
  margin-bottom: 0;
}

.content_browser {
  padding: 30px;
  line-height: 2em;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
}

.site_block {
  display: block;
  height: 50px;
  background: #DBDADD;
  border-bottom: 2px solid #C6C6C5;
  .site_block_logo {
    float: left;
    position: relative;
    padding: 9px 20px;
    margin: 10px 25px;
    background: #C6C6C5;
    border-radius: 5px;
    color: #E3E3E3;
    font-weight: bold;
    font-size: 16px;
  }
  .site_block_log {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 40px;
    margin: 10px 40px;
    border-radius: 5px;
    background: #C6C6C5;
    &:after, &:before {
      content: " ";
      position: absolute;
      height: 30px;
      width: 40px;
      left: 50px;
      border-radius: 5px;
      background: #C6C6C5;
    }
    &:before {
      left: -50px;
    }
  }
  .site_block_search {
    display: inline-block;
    position: relative;
    background: #FFF;
    height: 28px;
    width: 350px;
    margin: 10px 20px;
    border-radius: 5px;
    border: 1px solid #C6C6C5;
    &:after {
      content: " ";
      position: absolute;
      background: #FFF;
      height: 28px;
      width: 150px;
      border-radius: 5px;
      border: 1px solid #C6C6C5;
      right: -180px;
      top: -1px;
    }
  }
}

.site_block_1 {
  position: relative;
  display: inline-block;
  height: 70px;
  width: 230px;
  border: 1px solid #E3E3E3;
  margin: 20px 50px;
  border-radius: 5px;
  overflow: hidden;
  &:after, &:before {
    content: " ";
    position: absolute;
    width: 260px;
    border: 1px solid #E3E3E3;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
    left: -6px;
    top: 34px;
  }
  &:before {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

.site_block_line {
  float: left;
  width: 660px;
  .site_line {
    position: relative;
    height: 12px;
    background: #f9f9f9;
    width: 100%;
    margin: 50px 0;
    &:after {
      content: '';
      position: absolute;
      height: 12px;
      background: #f9f9f9;
      width: 100%;
      margin-top: 40px;
    }
    &:before {
      content: '';
      position: absolute;
      height: 12px;
      background: #f9f9f9;
      width: 100%;
      margin-top: 80px;
    }
  }
}

/*******************Agreement*************************/

.agreement {
  background: #FFF;
  .container {
    color: #000;
    padding: 50px 0;
    h2 {
      margin: 0 20px;
      font-size: 20px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      margin: 20px 20px;
    }
    span {
      font-weight: bold;
    }
    a {
      color: #5a7098;
    }
    ul {
      margin: 20px 20px;
      list-style: none;
      li {
        margin: 20px 0;
      }
    }
  }
}

/************************Error********************************/
.error_page_title {
  .error_content_wrap {
    color: #FFF;
    text-align: center;
    strong {
      font-size: 235px;
    }
    .not_found {
      font-size: 35px;
    }
    .title {
      font-size: 18px;
      padding: 50px 0;
    }
    .right_coloumn {
      a {
        display: inline-block;
        background: #627ba4;
        padding: 20px;
        margin-bottom: 50px;
        color: #FFF;
        font-size: 18px;
        border: 2px solid #FFF;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          box-shadow: @btn-box-shadow;
          opacity: 1;
        }
      }
    }
  }
}

.error_color {
  display: block;
  text-align: center;
  color: pink;
  font-size: 16px;
}

.menu-collapser {
  position: relative;
  background-color: #999;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

.collapse-button {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 40px;
  background-color: #0E0E0E;
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  color: #FFFFFF;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.075);
  padding: 7px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-size: 14px;
  text-align: center;

  transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

.collapse-button:hover, .collapse-button:focus {
  background-image: none;
  background-color: #040404;
  color: #FFF;
}

.collapse-button .icon-bar {
  background-color: #F5F5F5;
  border-radius: 1px 1px 1px 1px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  display: block;
  height: 2px;
  width: 18px;
  margin: 2px 0;
}

ul.slimmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.slimmenu li {
  position: relative;
  display: inline-block;
  background-color: #AAA;
}

ul.slimmenu > li {
  margin-right: -5px;
  border-left: 1px solid #999
}

ul.slimmenu > li:first-child {
  border-left: 0
}

ul.slimmenu > li:last-child {
  margin-right: 0
}

ul.slimmenu li a {
  display: block;
  color: #333;
  padding: 12px 64px 12px 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
}

ul.slimmenu li a:hover {
  background-color: #999;
  text-decoration: none;
}

ul.slimmenu li .sub-collapser {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.075);
  position: absolute;
  right: 0;
  top: 0;
  width: 48px;
  height: 100%;
  text-align: center;
  z-index: 999;
  cursor: pointer;
}

ul.slimmenu li .sub-collapser:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

ul.slimmenu li .sub-collapser > i {
  color: #333;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

ul.slimmenu li ul {
  margin: 0;
  list-style-type: none;
}

ul.slimmenu li ul li {
  background-color: #BBB
}

ul.slimmenu li > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999;
  width: 100%;
}

ul.slimmenu li > ul > li ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 999;
  width: 100%;
}

ul.slimmenu.collapsed li {
  display: block;
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}

ul.slimmenu.collapsed li .sub-collapser {
  height: 40px;
}

ul.slimmenu.collapsed li > ul {
  display: none;
  position: static;
}

.inline-block {
  display: inline-block;
  width: 100%;
}

.sites-block {
  tr.active {
    background-color: rgb(94, 125, 164) !important;
    a {
      color: white;
    }
  }
  td a:not(.glyphicon) {
    display: inline-block;
    width: 100%;
  }
  padding-top: 30px;
  .cpa_table {
    thead tr {
      height: 40px;
      text-transform: uppercase;
    }
  }

  tr:hover .hided a {
    display: inline-block;
  }
}

.full {
  width: 100%;
}

.text-center {
  text-align: center;
}

.hided a {
  display: none;
}

.recommendation {
  &-item {
    border: solid 2px #627BA4;
    padding: 5px;
    color: black;
    margin-bottom: 10px;
    border-radius: 5px;
    background: white;
    &.unread {
      background: rgb(230, 240, 244);
    }
  }
  &-title {
    text-align: center;
    font-size: 16px;
  }
  &-message {
    padding-left: 30px;
    padding-right: 30px;
    p {
      margin-bottom: 10px;
    }
  }
  &-toolbox {
    text-align: right;
  }
}

.hide {
  display: none;
}

.referer {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

#showReferrer .modal-body {
  word-wrap: break-word;
}

.errorSummary {
  margin-bottom: 30px;
  text-align: center;
  color: red;
}