@media screen and (max-width: 960px) {
	.wrapper {
		margin: 0 auto;
		max-width: 560px;
	}
	.form_content {
		display: inline-block;
		width: 100%;
		max-width: 900px;
		min-width: 541px;
		font-size: 18px;
		font-weight: 400;
		color: #fff;
		.cpa_sidebar {
			float: none;
			width: 100%;
			text-align: center;
			display: inline-block;
			position: relative;
			margin: 35px auto 35px;
			list-style: none;
			li {
				padding: 5px 0;
				float: left;
				a {
					padding: 10px 20px;
					color: #fff;
					&:hover, &.active{background-color: rgba(0, 0, 0, 0.1);}

				}
			}
		}
		.cpa_form_enter {
			float: none;
			margin: 0 auto;
			width: 100%;
			max-width: 560px;
			input{
				width: 75%;
			}
		}
		.cpa_form_support {
			float: none;
			margin: 0 auto;
			width: 100%;
			max-width: 560px;
			input, textarea{
				width: 75%;
			}
		}
		.cpa_form_register {
			width: 100%;
			max-width: 650px;
			min-width: 320px;
			input, .checkbox {
				width: 80%;
				padding: 25px 20px 25px 105px;
				font-size: 25px;
			}
			input[type="submit"]{
				font-size: 30px;
			}
			input[name="Partner[payment_number]"]{
				padding: 30px 20px 25px 105px;
			}
			.checkbox {
				input[type="checkbox"] {
					&[type="checkbox"] + label {
						background: url(../img/chek.png) 7px -25px no-repeat;
					}
					&[type="checkbox"]:checked + label {
						background-position: 7px 0;
					}
				}
			}
		}
	}
}



@media screen and (max-width: 750px) {
	.wrapper_modul{
		max-width: 750px;
		min-width: 550px;
	}
	.wrapper {
		max-width: 750px;
		min-width: 550px;
		padding: 50px;
	}
	.container {
		max-width: 750px;
		min-width: 550px;
		color: #FFF;
	}
	.wrapper_mod{
		max-width: 750px;
		min-width: 550px;
	}

	header{
//		position: fixed;
//		z-index: 444;
		.preview_stat{
			font-size: 20px;
			.right_stat,
			.left_stat {
				display: block;
				width: 100%;
				text-align: center;
			}
			.preview_bold {
				font-size: 20px;
			}
		}
	.personal_menu{
		.userInfo{
			float: left;
			position: relative;
			font-size: 20px;
			padding: 17px 30px;
			&:before{
				width: 30px;
				height: 25px;
			}
			.userEmail{
				display: none;
			}
		}
		.gotoUser{
			font-size: 20px;
			form{
				select{
					padding: 11px 20px;
					border: none;
					width: 280px;
				}
				input[name="gouser"] {
					padding: 18px 29px;

				}
				input[name="gouserback"]{
					padding: 19px 45px 19px 15px;
				}
			}
		}
	}
	.personal_panel {   
			.cpa_logo {
				display: block;
				position: relative;
				width: 360px;
				padding: 20px 0;
				left: 50%;
				margin-left: -180px;
			}
			.nav {
				display: none;
				position: relative;
				width: 100%;
				height: auto;
				list-style: none;
				background: #5A7098;
				
				li {
					display: block;
					float: none;
					a {
						background-image: none;
						color: #afbed2;
						border-top: none;
						border-bottom: 1px solid #7389a5;
					}
					a {
						&:hover, &.active{
							border-top: none;
							border-bottom: 1px solid #7389a5;
						}
						&:after {
							position: absolute;
							display: inline-block;
							font-size: 20px;
							top: 16px;
							left: 40px;
						}
					}
					.nav_contract{
						background: url(../img/svg/contract_active.svg)  15px no-repeat;
						&:hover, &.active{
							background: url(../img/svg/contract_active.svg)  15px no-repeat;
							color: #afbed2;
						}
						&:after {
							content: 'Пользовательское соглашение';
						}
					}
					.nav_modul{
						padding: 26px 45px 30px;
						background: url(../img/svg/server_active.svg) 15px no-repeat;
						color: #afbed2;
						&:hover, &.active{
						background: url(../img/svg/server_active.svg) 15px no-repeat;
						color: #afbed2;
						}
						&:after {
							content: 'Модули';
							font-size: 20px;
							top: 16px;
							left: 40px;
						}
					}
					.nav_docs{
						padding: 26px 55px 30px;
						background: url(../img/svg/google_active.svg) 15px no-repeat;
						&:hover, &.active{
						background: url(../img/svg/google_active.svg) 15px no-repeat;
						color: #afbed2;
						}
						&:after {
							content: 'Статистика';
							font-size: 20px;
							top: 16px;
							left: 40px;
						}
					}
					.nav_gear{
						background: url(../img/svg/gear_active.svg)  15px no-repeat;
						&:hover, &.active{
						background: url(../img/svg/gear_active.svg) 15px no-repeat;
						color: #afbed2;
						}
						&:after {
							content: 'Настройки';
						}
					}
					.nav_exit{
						background: url(../img/svg/exit_active.svg)  15px no-repeat;
						&:hover, &.active{
						background: url(../img/svg/exit_active.svg) 15px no-repeat;
						color: #afbed2;
						}
						&:after {
							content: 'Выход';
						}
					}
				}
			}
		}
	
		#touch-menu {
			float: right;
			position: relative;
			width: 90px;
			height: 90px;
			span{
				display: inline-block;
				position: absolute;
				top: 44px;
				left: 18px;
				right: 18px;
				height: 4px;
				background: #fff;
				-webkit-transition: background 0 0.3s;
						transition: background 0 0.3s;
				&:before, &:after{
						position: absolute;
						display: block;
						left: 0;
						width: 100%;
						height: 4px;
						background-color: #fff;
						content: "";
					-webkit-transition-duration: 0.3s, 0.3s;
							transition-duration: 0.3s, 0.3s;
					-webkit-transition-delay: 0.3s, 0;
							transition-delay: 0.3s, 0;
				}
				&:before{
					-webkit-transition-property: top, -webkit-transform;
							transition-property: top, transform;
							top: -15px
				}		
				&:after{
					-webkit-transition-property: bottom, -webkit-transform;
							transition-property: bottom, transform;
							bottom: -15px;
				}
			}
			&.active{
				background: #5A7098;
				span{
					background: none;
					&:before, &:after{
						position: absolute;
						display: block;
						left: 0;
						width: 100%;
						height: 4px;
						background-color: #fff;
						content: "";
						-webkit-transition-delay: 0, 0.3s;
							  transition-delay: 0, 0.3s;
					}
					&:before{
						top: 0;
						-webkit-transform: rotate(45deg);
						  -ms-transform: rotate(45deg);
							  transform: rotate(45deg);
					}		
					&:after{
						bottom: 0;
						-webkit-transform: rotate(-45deg);
						  -ms-transform: rotate(-45deg);
							  transform: rotate(-45deg);
					}
				}
			}
		}
	}
	.menu {
		display: block;
		.menu_left {
			display: none;
			width: 245px;
			height: auto;
			position: absolute;
			background: #FFF;
			z-index: 3333;
			border: 1px solid #506b8e;
			li {
				display: block;
				float: none;
				a {
					display: block;
					padding: 13px 10px;
					border-bottom: 0px solid transparent;
					font-size: 22px;
					font-weight: 400;
					color: #555;
					&:hover, &.active{
					color: #555;
					border-bottom: 0px solid transparent;
					}
				} 
			}
			   &:before, &:after {
					content: '';
					position: absolute;
					left: 20px;
					top: -21px;
					border: 10px solid transparent;
					border-bottom: 10px solid #506b8e;
			   }
			   &:after {
					border-bottom: 10px solid #fff;
					top: -20px;
			}
		}
		#touch-menu-status{
			display: inline-block;
			padding: 20px;
			color: #333;
			font-weight: bold;
			span{
				position: relative;
				font-size: 25px;
				&:before{
					content: '';
					position: absolute;
					border: 7px solid transparent;
					border-top: 8px solid #000;
					top: 15px;
					right: -25px;
				}
			}
			&.active{
				span{
					&:before{
						content: '';
						position: absolute;
						border: 7px solid transparent;
						border-bottom: 8px solid #000;
						top: 7px;
						right: -25px;
					}
				}
			}
		}
	}
	.building{
		#touch-menu-times{
			display: inline-block;
			padding: 20px;
			color: #fff;
			span{
				position: relative;
				font-size: 25px;
				&:before{
					content: '';
					position: absolute;
					border: 7px solid transparent;
					border-top: 8px solid #fff;
					top: 15px;
					right: -25px;
				}
			}
			&.active{
				span{
					&:before{
						content: '';
						position: absolute;
						border: 7px solid transparent;
						border-bottom: 8px solid #fff;
						top: 7px;
						right: -25px;
					}
				}
			}
		}
		.sort_times{
			display: none;
			width: 245px;
			position: absolute;
			background: #FFF;
			z-index: 3333;
			border: 1px solid #2ba87c;
			li {
				display: block;
				float: none;
				a {
					display: block;
					padding: 13px 10px;
					border-bottom: 0px solid transparent;
					font-size: 22px;
					font-weight: 400;
					color: #555;
					&:hover, &.active{
					color: #555;
					border-bottom: 0px solid transparent;
					}
				} 
			}
			   &:before, &:after {
					content: '';
					position: absolute;
					left: 20px;
					top: -21px;
					border: 10px solid transparent;
					border-bottom: 10px solid #2ba87c;
			   }
			   &:after {
					border-bottom: 10px solid #fff;
					top: -20px;
			}
		}
		form{
			font-size: 20px;
			margin-top: 10px;
			input {
				width: 105px;
				padding: 10px 5px 13px 10px;
				border: none;
				&[type="submit"]{
					width: 130px;
					padding: 14px 10px;
					font-size: 20px;
					&:hover {
						background: transparent;
						color: #2BA87C;
						opacity: 1;
					}
					&:active {
						background: transparent;
						color: #2BA87C;
						box-shadow: none;
						opacity: 1;
					}
				}
			}
			label {
				padding: 12px 20px;  
				&[for="date_2"] {
					padding: 12px 13px;
				}
			}
		}
	}
	.groop-table{
		.header__showing{
			.showing{
				display: none;
			}
			.header__upload{
				display: none;
			}
		
			.menu_right {
				float: none;
				background: #FFF;
				form {
					.menu_search, {
						font-size: 20px;
						width: 60%;
						padding: 18px 13px;
					}
					label{
						padding: 30px;
					}
				}
			}
		}
		.cpa_table {
			thead {
				th {
                    border: none;
					a {
						font-size: 20px;
					}
                    span {
						font-size: 20px;
                    }
				}
			}
			tbody {
				background: #fff;
				text-align: left;
				tr:nth-child(2n) {background: #FFF;}
				.footable-row-detail-cell{
					background: #f5f5f5;
				}
				td {
                    position: relative;
					padding: 10px 5px;
					font-size: 20px;
					color: #333333;
					&.price{
						span{

							&:after {
								content: 'Р';
								position: absolute;
								font-size: 10px;
								top: 5px;
								margin-left: 2px;
							}
						}
					}
                    &.no_services { color: #bababa}
				}
			}
			.footable-first-column{
				font-weight: bold;
			}
		}
	}
	.pagination {
		max-width: 1200px;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		margin-top: 20px;
		.hidden {
			display: none;
		}
		ul{
			display: inline-block;
			background: #f2f2f2;
			list-style: none;
			li {
				position: relative;
				float: left;
				&:hover {background: #e6e6e6;}
				a {
					padding: 10px 15px;
					font-size: 20px;
				}
				&.selected {
					&:hover {background: transparent;}
					&:after {
						bottom: 40px;
					}
					a{
							color: #FFF;
						}
				}
			}
		}	
	}
	footer {
		padding: 80px 0;
		text-align: center;
		font-size: 25px;
		a {
			font-weight: bold;
			color: #8fa5cd;
			font-size: 25px;
		}
		p {
			width: 100%;
			margin: 10px 0; 
			color: #8fa5cd;
			font-weight: normal;
			font-size: 25px;
			&:last-child{
				color: #FFF;
			}
		}
		span {
			strong{
				display: block;
				font-size: 40px;
			}
		}
		.btn_support{
			float: none;
			display: block;
			font-size: 25px;
		}
	}
	/***************Support & Enter & Register & Popup******************/
	.form_header{
		display: block;
		text-align: center;
		position: relative;
		margin: 30px 0;
		.cpa_logo{
			display: block;
			width: 80%;
			margin: 0 auto;
			img{
				width: 100%;
				height: auto;
			}
		}
		}
	.form_content {
		width: 100%;
		min-width: 320px;
		.cpa_sidebar {
			position: absolute;
			float: none;
			display: none;
			width: 385px;
			margin-top: 0px;
			background: #FFF none repeat scroll 0% 0%;
			z-index: 3333;
			border: 1px solid #2BA87C;
			list-style: none;
			margin-top: 16px;
			li {
				padding: 5px 0;
				float: none;
				a {
					display: block;
					padding: 13px 10px;
					font-size: 22px;
					font-weight: 400;
					color: #555;
					&:hover, &.active{background-color: rgba(0, 0, 0, 0.0);}

				}
			}
			.active{
				display: none;
			}
		}
		.cpa_form_enter {
			width: 100%;
			max-width: 650px;
			min-width: 320px;
			margin-top: 50px;
			input{
				padding: 25px 20px 25px 105px;
				width: 80%;
				font-size: 25px;
			}
			input[type="submit"]{
				font-size: 30px;
			}
		}
		.cpa_form_support {
			width: 100%;
			max-width: 650px;
			min-width: 320px;
			margin-top: 50px;
			input, textarea{
				width: 100%;
				padding: 25px 20px 25px 105px;
				font-size: 25px;
			}
			input[type="submit"]{
				font-size: 30px;
			}
		}
		.cpa_form_register {
			width: 100%;
			max-width: 650px;
			min-width: 320px;
			margin-top: 50px;
			input, .checkbox {
				width: 80%;
				padding: 25px 20px 25px 105px;
				font-size: 25px;
			}
			input[type="submit"]{
				font-size: 30px;
			}
			input[name="Partner[payment_number]"]{
				padding: 30px 20px 25px 105px;
			}
			.checkbox {
				input[type="checkbox"] {
					&[type="checkbox"] + label {
						background: url(../img/chek.png) 7px -25px no-repeat;
					}
					&[type="checkbox"]:checked + label {
						background-position: 7px 0;
					}
				}
			}
		}
		#touch-menu-content{
			display: inline-block;
			background-color: #5abe9d;
			color: #FFF;
			font-size: 25px;
			padding: 9px 70px 9px 50px;
			span{
				position: relative;
				font-size: 25px;
				&:before{
					content: '';
					position: absolute;
					border: 7px solid transparent;
					border-top: 8px solid #FFF;
					top: 15px;
					right: -25px;
				}
				&:after{
					content: '';
					position: absolute;
					border: 15px solid transparent;
					border-top: 16px solid #5abe9d;
					top: 39px;
					left: 50%;
					margin-left: -7px;
				}
			}
			&.active{
				span{
					&:before{
						content: '';
						position: absolute;
						border: 7px solid transparent;
						border-bottom: 8px solid #FFF;
						top: 7px;
						right: -25px;
					}
				}
			}
		}
	}
	#popup_reg {
		display: none;
		position: fixed;
		margin: 0 auto;
		width: 100%;
		height: 80%;
		top: 5%;
		.popup_head {
			h2{
				padding: 15px 35px 15px 15px;
			}
			i {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}

	.overlay, .overlay_popup, .overlay_agreement {
		  background: #333;
		  opacity: 0.3;
		  height: 100%;
		  left: 0;
		  position: fixed;
		  top: 0;
		  width: 100%;
		  z-index: 800;
	}
/***************Modules****************/
.nav_modules {
	display: none;
}
.modul {
	padding-top: 5px;
    .wrapper_mod_all {
		display: block;
        min-width: 320px;
//		margin-top: 230px;
        .modules {
			float: none;
			display: block;
			position: relative;
			width: 505px;
			margin: 50px auto;
			height: 520px;
            h2 {
                font-size: 30px;
            }
			span {
                display: block;
                color: #5a7098;
                font-size: 25px;
				margin: 0 15px 20px;
			}
            img {
				height: auto;
				width: 50%;
            }
            p {
				margin: 35px 25px 15px;
				color: #555;
				font-size: 20px;
				max-height: 180px;
				overflow: hidden;
            }
            .modules_btn_wrapper {
                display: none;
            }
        }
		
	}
}	
/******************Setting****************/
.setting {
	h3{
		margin-top: 50px;
		font-size: 25px;
	}
	.setting_bar {
		max-width: 645px;
		margin: auto;
		margin-top: 25px;
		list-style: none;
		.norm {
			display: block;
			position: relative;
			margin-top: 5px;
			max-width: 75%;
			height: 65px;
			background: url(../img/edit_hover.png) no-repeat right 38px center #5a7098;
			&:hover { background: none;}
			&:nth-child(3):hover{background: none;}
			span {
				display: block;
			    position: relative;
				width: 70%;
				margin-left: 25px;
				color: rgba(255, 255, 255, 0.2);
				font-size: 12px;
                margin-top: -8px;
			}
			
			input {
				padding: 15px 25px 10px 25px;
				width: 70%;
				background: rgba(0, 0, 0, 0.0);
				border: none;
				color: #fff;
				font-size: 18px;
                font-family: 'PT Sans', 'Arial' sans-serif;
			}
			a {
				float: right;
				padding: 22px 16px;
				color: rgba(0, 0, 0, 0.0);
				&:hover {
					background: url(../img/edit_hover.png) no-repeat center;
				} 
			}
			
		}
		.active{
			display: block;
			position: relative;
			overflow: hidden;
			width: 500px;
			height: 65px;
			margin-top: 5px;
			background: 
		url(../img/bg_gradient.png) repeat-y left,
		url(../img/sprite_reg.png) no-repeat left #fff;
			border: none;
			color: #333333;
			font-weight: bold;
			box-shadow: 0px 0px 10px 0.00px rgba(0, 0, 0, 0.3);
			&:first-child{background-position: 0 -175px;}
			&:nth-child(2){background-position: 0 -235px;}
			&:nth-child(3){background-position: 0 -112px;}
            &:nth-child(4){background-position: 0 -296px;}
			&:last-child{background-position: 0 -50px;}
			span {
				display: inline-block;
			    position: relative;
				margin-left: 90px;
				color: #bfbfbf;
				font-size: 12px;
				font-weight: normal;
			}
			input {
				display:inline-block;
				padding: 15px 10px 0px 90px;
				width: 55%;
				background: rgba(0, 0, 0, 0.0);
				border: none;
				color: #000;
				font-size: 18px;
				font-weight: bold;
			}
			a{
				padding: 20px 15px;
			}
			
		}	
		
	}
}
}



		
		
		
		
		
		
		
@media screen and (max-width: 550px) {
	.wrapper_modul{
		max-width: 550px;
		min-width: 320px;
	}
	.wrapper {
		max-width: 550px;
		min-width: 320px;
		padding: 0px;
	}
	.container {
		max-width: 550px;
		min-width: 320px;
		color: #FFF;
	}
	.wrapper_mod{
		max-width: 550px;
		min-width: 320px;
	}
	#filter{
		display: block;
	}
	header{
	.personal_menu{
		.userInfo{
			float: none;
			display: block;
			position: relative;
		}
		.gotoUser{
			width: 100%;
			display: block;
			form{
				float: none;
				select{
					padding: 18px 5px;
					width: 260px;
				}
				input[name="gouserback"]{
					font-size: 19px;
					float: left;
				}
				input[type="submit"]{
					float: right;
				}
			}
		}
	}
	.personal_panel {   
			.cpa_logo {
				width: 60%;
				padding: 22px 0;
				margin-left: 10%;
				left: 0;
			}
		}
	}
	.building{
		form{
			display: none;
		}
	}
	.groop-table{
		.header__showing{
			.menu_right {
				form {
					.menu_search, #filter{
						font-size: 18px;
					}
				}
			}
		}
		.cpa_table {
			thead {
				th {
					a {
						font-size: 18px;
					}
                    span {
						font-size: 18px;
                    }
				}
			}
			tbody {
				td {
					font-size: 18px;
				}
				tr:nth-child(2n) {
					background: #FFF;
					.footable-row-detail-cell{
						background: #f5f5f5;
					}
				}

			}
		}
	}
	.pagination {
		ul{
			li {
				a {
				  padding: 5px 6px;
				  font-size: 18px;
				}
				&.selected {
					&:hover {background: transparent;}
					&:after {
						bottom: 27px;
					}
				}
			}
		}	
	}
	/***************Support & Enter & Register & Popup******************/
	.form_content {
		.cpa_form_enter {
			input{
				padding: 25px 35px 25px 85px;
				font-size: 20px;
			}
			input[type="submit"]{
				font-size: 20px;
			}
			.preview_text{
				margin-left: 85px;
			}
		}
		.cpa_form_support {
			input, textarea{
				padding: 25px 35px 25px 85px;
				font-size: 20px;
			}
			input[type="submit"]{
				font-size: 20px;
			}
			.preview_text{
				margin-left: 85px;
			}
		}
		.cpa_form_register {
			input, .checkbox {
				padding: 25px 35px 25px 85px;
				font-size: 20px;
			}
			input[type="submit"]{
				font-size: 20px;
			}
			input[name="Partner[payment_number]"]{
				padding: 30px 35px 25px 85px;
			}
			.checkbox {
				input[type="checkbox"] {
					&[type="checkbox"] + label {
						background: url(../img/chek.png) 20px -25px no-repeat;
					}
					&[type="checkbox"]:checked + label {
						background-position: 20px 0;
					}
				}
			}
			.preview_text{
				margin-left: 85px;
			}
		}
		#touch-menu-content{
			padding: 9px 35px 9px 10px;
		}
	}
	footer {
		font-size: 18px;
		a {
			font-size: 18px;
		}
		p {
			font-size: 20px;
		}
		span {
			strong{
				font-size: 25px;
			}
		}
		.btn_support{
			font-size: 18px;
		}
	}
/***************Modules****************/

	.modul {
		.wrapper_mod_all {
			.modules {
				width: 90%;
				h2 {
					font-size: 25px;
				}
				span {
					font-size: 20px;
				}
				p {
					font-size: 16px;
				}
			}

		}
	}
	
}


