*,html,body{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    line-height: 1;
    overflow: hidden;
    font-family: PT Sans, sans-serif;
}


header{
    background: #0f70b3;
    .header-inner{
        overflow: hidden;
        padding: 5px 0 15px;
        a.logo{
            position: relative;
            display: block;
            width: 100px;
            height: 40px;
            float: left;
            img{
                display: none;
            }
            &:after{
                position: absolute;
                content: 'API';
                width: 100px;
                height: 40px;
                display: block;
                font-size: 40px;
                font-weight: bold;
                color: #FFF;
                left: 10px;
                top: 5px;
            }
        }
    }
    .header-user-box{
        float: right;
        width: 200px;
        margin: 0 10px 0 0;
        font-size: 14px;
        text-align: right;
        color: #FFF;
        a.noactive,
        .desc{
            display: none;
        }
        .user-name{
            width: 160px;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 15px 30px 0 0;
            line-height: 1;
            display: inline-block;
        }
        .header-exit{
            display: block;
            content: '';
            right: 5px;
            top: 15px;
            position: absolute;
            width: 24px;
            height: 24px;
            background: transparent;
            border:solid 1px rgba(0,0,0,0.2);
        }
    }
}


.nav{
    .inner-section{
        ul.nav-menu{
            li{
                display: none;
                &:first-child{
                    display: block;
                    padding: 10px 20px 10px 20px;
                    background: #F1F1F1;
                    font-size: 24px;
                    a{
                        color: #333;
                        text-decoration: none;
                        font-weight: bold;
                        position: relative;
                        span{
                            position: absolute;
                            right: -30px;
                            top: 10px;
                            font-size: 16px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}


.content-top-menu-section{
    display: none;
}

.inner-section{
    .control_block_row{
        display: none;
    }
    .summary{
        padding: 0 20px 20px;
        background: #F1F1F1;
        color: #777;
        font-size: 14px;
    }
}    
